Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        exclude: source_list.cmake
        entry: poetry run cmake-format -i
      - id: update-source-list
        name: update-source-list
        description: Update the list of source codes.
        language: system
        files: \.(h|cpp)$
        entry: poetry run python scripts/update_source_list.py
      - id: check-encoding
        name: check-encoding
        description: Check encoding of files.
        language: system
        entry: poetry run python scripts/check_encoding.py
# Automatically generated files should not be checked.
exclude: "\\.approved\\."

:white_check_mark: Change the function for tests for verification of thin plate spline in dimensions.
  test/integ/rbf_interp_comb/dimensions/approvals/gaussian_process_interpolator_with_dimensions_-_2.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/gaussian_process_interpolator_with_dimensions_-_3.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/gaussian_process_interpolator_with_dimensions_-_4.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/gaussian_process_interpolator_with_dimensions_-_5.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/gaussian_process_interpolator_with_dimensions_-_6.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/global_rbf_polynomial_interpolator_with_dimensions_-_2.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/global_rbf_polynomial_interpolator_with_dimensions_-_3.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/global_rbf_polynomial_interpolator_with_dimensions_-_4.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/global_rbf_polynomial_interpolator_with_dimensions_-_5.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/global_rbf_polynomial_interpolator_with_dimensions_-_6.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_csrbf_interpolator_with_dimensions_-_2.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_csrbf_interpolator_with_dimensions_-_3.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_csrbf_interpolator_with_dimensions_-_4.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_csrbf_interpolator_with_dimensions_-_5.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_csrbf_interpolator_with_dimensions_-_6.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_rbf_interpolator_with_dimensions_-_2.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_rbf_interpolator_with_dimensions_-_3.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_rbf_interpolator_with_dimensions_-_4.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_rbf_interpolator_with_dimensions_-_5.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_rbf_interpolator_with_dimensions_-_6.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/thin_plate_spline_interpolator_with_dimensions_-_2.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/thin_plate_spline_interpolator_with_dimensions_-_3.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/thin_plate_spline_interpolator_with_dimensions_-_4.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/thin_plate_spline_interpolator_with_dimensions_-_5.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/thin_plate_spline_interpolator_with_dimensions_-_6.approved.txt
  test/integ/rbf_interp_comb/dimensions/gaussian_process_interpolator.cpp
  test/integ/rbf_interp_comb/dimensions/global_rbf_polynomial_interpolator.cpp
  test/integ/rbf_interp_comb/dimensions/local_csrbf_interpolator.cpp
  test/integ/rbf_interp_comb/dimensions/local_rbf_interpolator.cpp
  test/integ/rbf_interp_comb/dimensions/thin_plate_spline_interpolator.cpp
Due: clang-format, update-source-list

:recycle: Remove unnecessary length parameter calculation from thin plate spline.
  include/num_collect/rbf/length_parameter_calculators/identity_length_parameter_calculator.h
  include/num_collect/rbf/length_parameter_calculators/local_length_parameter_calculator.h
  include/num_collect/rbf/thin_plate_spline_interpolator.h
  test/integ/rbf_interp_comb/dimensions/approvals/thin_plate_spline_interpolator_with_dimensions_-_2.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/thin_plate_spline_interpolator_with_dimensions_-_3.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/thin_plate_spline_interpolator_with_dimensions_-_4.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/thin_plate_spline_interpolator_with_dimensions_-_5.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/thin_plate_spline_interpolator_with_dimensions_-_6.approved.txt
Due: clang-format, update-source-list

:sparkles: Derivative of thin plate spline.
  include/num_collect/rbf/rbfs/thin_plate_spline_rbf.h
  test/integ/rbf_interp_comb/operators/approvals/derivative_of_thin_plate_spline_interpolator_with_different_degrees_-_1.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/derivative_of_thin_plate_spline_interpolator_with_different_degrees_-_2.approved.txt
  test/integ/rbf_interp_comb/operators/derivative.cpp
  test/units/rbf/rbfs/thin_plate_spline_rbf_test.cpp
Due: clang-format, update-source-list

:white_check_mark: More degrees in tests.
  test/units/rbf/rbfs/thin_plate_spline_rbf_test.cpp
Due: clang-format, update-source-list

:sparkles: Second order derivative of thin plate spline.
  include/num_collect/rbf/rbfs/thin_plate_spline_rbf.h
  test/integ/rbf_interp_comb/operators/approvals/derivative_of_thin_plate_spline_interpolator_with_different_degrees_-_1.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/derivative_of_thin_plate_spline_interpolator_with_different_degrees_-_3.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/second-order_derivative_of_thin_plate_spline_interpolator_with_different_degrees_-_2.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/second-order_derivative_of_thin_plate_spline_interpolator_with_different_degrees_-_3.approved.txt
  test/integ/rbf_interp_comb/operators/derivative.cpp
  test/integ/rbf_interp_comb/operators/second_derivative.cpp
  test/units/rbf/rbfs/thin_plate_spline_rbf_test.cpp
Due: clang-format, update-source-list

:recycle: Review implementations and tests.
  include/num_collect/constants/gamma_half_plus.h
  include/num_collect/rbf/length_parameter_calculators/identity_length_parameter_calculator.h
  include/num_collect/rbf/rbfs/thin_plate_spline_rbf.h
  test/units/constants/gamma_half_plus_test.cpp
  test/units/constants/source_list.cmake
  test/units/constants/unity_source.cpp
Due: clang-format, update-source-list

:books: Update documentation.
  doc/doxygen/Doxyfile.in
  doc/doxygen/namespaces.h
  doc/sphinx/src/algorithm_list.md
  include/num_collect/base/precondition.h
Due: clang-format, update-source-list

:alembic: Experimental RBFs derived from Gaussian for stabler interpolation.
  include/num_collect/rbf/rbfs/gaussian_from_square_rbf.h
  include/num_collect/rbf/rbfs/gaussian_m1_rbf.h
  test/integ/rbf_interp_comb/polynomials/approvals/global_rbf_polynomial_interpolator_with_different_RFBs_and_degrees_-_gaussian_from_square_rbf_double_,_2.approved.txt
  test/integ/rbf_interp_comb/polynomials/approvals/global_rbf_polynomial_interpolator_with_different_RFBs_and_degrees_-_gaussian_from_square_rbf_double_,_3.approved.txt
  test/integ/rbf_interp_comb/polynomials/approvals/global_rbf_polynomial_interpolator_with_different_RFBs_and_degrees_-_gaussian_from_square_rbf_double_,_4.approved.txt
  test/integ/rbf_interp_comb/polynomials/approvals/global_rbf_polynomial_interpolator_with_different_RFBs_and_degrees_-_gaussian_m1_rbf_double_,_0.approved.txt
  test/integ/rbf_interp_comb/polynomials/approvals/global_rbf_polynomial_interpolator_with_different_RFBs_and_degrees_-_gaussian_m1_rbf_double_,_1.approved.txt
  test/integ/rbf_interp_comb/polynomials/approvals/global_rbf_polynomial_interpolator_with_different_RFBs_and_degrees_-_gaussian_m1_rbf_double_,_2.approved.txt
  test/integ/rbf_interp_comb/polynomials/approvals/global_rbf_polynomial_interpolator_with_different_RFBs_and_degrees_-_gaussian_m1_rbf_double_,_3.approved.txt
  test/integ/rbf_interp_comb/polynomials/approvals/global_rbf_polynomial_interpolator_with_different_RFBs_and_degrees_-_gaussian_m1_rbf_double_,_4.approved.txt
  test/integ/rbf_interp_comb/polynomials/approvals/global_rbf_polynomial_interpolator_with_different_RFBs_and_degrees_-_gaussian_rbf_double_,_0.approved.txt
  test/integ/rbf_interp_comb/polynomials/approvals/global_rbf_polynomial_interpolator_with_different_RFBs_and_degrees_-_gaussian_rbf_double_,_1.approved.txt
  test/integ/rbf_interp_comb/polynomials/approvals/global_rbf_polynomial_interpolator_with_different_RFBs_and_degrees_-_gaussian_rbf_double_,_2.approved.txt
  test/integ/rbf_interp_comb/polynomials/global_rbf_polynomial_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_gaussian_m1_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/global_rbf_polynomial_interpolator.cpp
Due: clang-format, update-source-list

:white_check_mark: Add tests to gaussian_m1_rbf class.
  cspell.json
  mypy.ini
  poetry.lock
  pyproject.toml
  test/units/rbf/rbfs/gaussian_m1_rbf_calc.py
  test/units/rbf/rbfs/gaussian_m1_rbf_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:books: Add comments to gaussian_from_square_rbf class.
  include/num_collect/rbf/rbfs/gaussian_from_square_rbf.h
Due: clang-format, update-source-list

:sparkles: Derivatives of gaussian_from_square_rbf and tests.
  include/num_collect/rbf/rbfs/gaussian_from_square_rbf.h
  test/units/rbf/rbfs/gaussian_from_square_rbf_calc.py
  test/units/rbf/rbfs/gaussian_from_square_rbf_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Change the default RBF used in global_rbf_polynomial_interpolator class.
  include/num_collect/rbf/rbf_polynomial_interpolator.h
  test/bench/rbf/interp_1d.cpp
  test/bench/rbf/interp_2d.cpp
  test/bench/rbf/interp_3d.cpp
  test/integ/rbf_interp_comb/dimensions/approvals/global_rbf_polynomial_interpolator_with_dimensions_-_2.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/global_rbf_polynomial_interpolator_with_dimensions_-_3.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/global_rbf_polynomial_interpolator_with_dimensions_-_4.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/global_rbf_polynomial_interpolator_with_dimensions_-_5.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/global_rbf_polynomial_interpolator_with_dimensions_-_6.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_0.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_1.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_2.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/fourth-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_0.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/fourth-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_1.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/fourth-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_2.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/second-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_0.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/second-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_1.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/second-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_2.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/third-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_0.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/third-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_1.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/third-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_2.approved.txt
  test/integ/rbf_interp_comb/operators/derivative.cpp
  test/integ/rbf_interp_comb/operators/fourth_derivative.cpp
  test/integ/rbf_interp_comb/operators/second_derivative.cpp
  test/integ/rbf_interp_comb/operators/third_derivative.cpp
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_gaussian_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_inverse_quadratic_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_sech_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_wendland_csrbf_double,_3,_1_.approved.txt
  test/units/rbf/approvals/global_rbf_polynomial_interpolator_(for_scalar_variable).interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/approvals/global_rbf_polynomial_interpolator_(for_scalar_variable).interpolate_with_a_optimal_scale.approved.txt
  test/units/rbf/approvals/global_rbf_polynomial_interpolator_(for_vector_variable).interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/approvals/global_rbf_polynomial_interpolator_(for_vector_variable).interpolate_with_a_optimal_scale.approved.txt
Due: clang-format, update-source-list

:bug: Remove unstable tests.
  test/integ/rbf_interp_comb/operators/approvals/fourth-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_2.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/third-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_2.approved.txt
  test/integ/rbf_interp_comb/operators/fourth_derivative.cpp
  test/integ/rbf_interp_comb/operators/third_derivative.cpp
Due: clang-format, update-source-list

:books: Add comments to gaussian_m1_rbf class.
  include/num_collect/rbf/rbfs/gaussian_m1_rbf.h
Due: clang-format, update-source-list

:wrench: Update dependencies.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:recycle: Add check of Python scripts and fix existing warnings.
  .flake8
  .pre-commit-config.yaml
  config_schema/tests/config_validator.py
  config_schema/tests/test_log_sink_config.py
  config_schema/tests/test_log_tag_configs.py
  cspell.json
  doc/sphinx/src/conf.py
  mypy.ini
  poetry.lock
  pyproject.toml
  scripts/check_encoding.py
  scripts/check_iwyu.py
  scripts/ci_linux_test.py
  scripts/create_cpp_file.py
  scripts/perform_profiling.py
  scripts/update_source_list.py
  test/integ/assertions/conftest.py
  test/integ/assertions/test_assertions.py
  test/integ/logging_test/conftest.py
  test/integ/logging_test/create_scrubber.py
Due: none

:sparkles: Asynchronous logging.
  CMakeLists.txt
  cspell.json
  include/num_collect/logging/config/toml/toml_async_log_sink_config_parser.h
  include/num_collect/logging/config/toml/toml_async_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_log_config_parser.h
  include/num_collect/logging/sinks/async_log_sink.h
  src/CMakeLists.txt
  src/num_collect/logging/sinks/async_log_sink.cpp
  src/source_list.cmake
  src/unity_source.cpp
  test/integ/logging_test/approvals/file_log_test.test_async_file_console_log.approved.txt
  test/integ/logging_test/config/async_file_log.toml
  test/integ/logging_test/file_log_test.py
  test/units/logging/config/toml/toml_async_log_sink_config_parser_test.cpp
  test/units/logging/sinks/async_log_sink_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
  vcpkg.json
Due: clang-format, cmake-format, update-source-list

:books: Update JSON schema of configuration files.
  config_schema/CMakeLists.txt
  config_schema/tests/constants.py
  config_schema/tests/test_log_sink_config.py
  config_schema/v3/config_schema.json
  examples/logging/configs/use_default_log_sink.toml
  examples/logging/configs/write_to_console_and_file.toml
  examples/logging/configs/write_to_single_file.toml
  examples/regularization/ct_simulation_config.toml
  examples/regularization/ct_simulation_config_small.toml
  examples/regularization/image_denoising_config.toml
  examples/regularization/image_denoising_config_small.toml
  examples/regularization/upsampling_config.toml
  examples/regularization/upsampling_config_small.toml
Due: cmake-format

:books: Update documentation of configuration files.
  doc/sphinx/src/user_guide/logging/config_example.rst
  doc/sphinx/src/user_guide/logging/config_reference.rst
  examples/logging/configs/write_to_single_file_async.toml
Due: none

:bug: Workaround for MSVC.
  test/integ/logging_test/approvals/console_log_test.test_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_async_file_console_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_combined_file_console_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_trace_log.approved.txt
  test/integ/logging_test/writer.cpp
Due: clang-format, update-source-list

:recycle: Prevent ignoring some logs.
  src/num_collect/logging/sinks/async_log_sink.cpp
Due: clang-format, update-source-list

:wrench: Write CMakePresets.json for MSVC.
  CMakePresets.json
Due: none

:recycle: Remove sleep.
  test/integ/logging_test/writer.cpp
Due: clang-format, update-source-list

:wrench: Use cmake-variants.yaml in VSCode.
  .vscode/settings.json
Due: none

:recycle: Reset logging before the end of test.
  include/num_collect/logging/reset_logging.h
  src/num_collect/logging/log_tag_config_node.cpp
  test/integ/logging_test/approvals/console_log_test.test_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_async_file_console_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_combined_file_console_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_trace_log.approved.txt
  test/integ/logging_test/writer.cpp
Due: clang-format, update-source-list

:books: Update documentation.
  examples/logging/write_logs.cpp
  include/num_collect/logging/reset_logging.h
Due: clang-format, update-source-list

:white_check_mark: Add a test of integrated log sinks.
  test/integ/logging_test/approvals/file_log_test.test_async_file_log.approved.txt
  test/integ/logging_test/config/async_file_console_log.toml
  test/integ/logging_test/file_log_test.py
Due: none

:white_check_mark: Update configuration of unit tests.
  test/integ/catch_event_listner.cpp
  test/units/catch_event_listner.cpp
Due: clang-format, update-source-list

:books: Add PNG output to image denoising with TGV2.
  examples/regularization/CMakeLists.txt
  examples/regularization/image_denoising_tgv2_admm.cpp
  examples/regularization/image_denoising_write_png.h
Due: clang-format, cmake-format, update-source-list

:wrench: Update the format of pyproject.toml.
  poetry.lock
  pyproject.toml
Due: none

:construction: Basic functions of trivial_vector.
  .clang-tidy
  include/num_collect/util/trivial_vector.h
  test/units/util/source_list.cmake
  test/units/util/trivial_vector_test.cpp
  test/units/util/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Add a class to wrap pointers as iterators for implementation of trivial_vector.
  include/num_collect/util/impl/pointer_iterator.h
  test/units/util/impl/pointer_iterator_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, update-source-list

:rotating_light: Remove a warning.
  test/units/util/trivial_vector_test.cpp
Due: clang-format, update-source-list

:construction: Iterators in trivial_vector.
  include/num_collect/util/trivial_vector.h
  test/units/util/trivial_vector_test.cpp
Due: clang-format, update-source-list

:construction: shrink_to_fit, insert in trivial_vector.
  include/num_collect/util/impl/pointer_iterator.h
  include/num_collect/util/trivial_vector.h
  test/units/util/trivial_vector_test.cpp
Due: clang-format, update-source-list

:recycle: Some refactoring of trivial_vector.
  include/num_collect/util/impl/pointer_iterator.h
  test/units/util/trivial_vector_test.cpp
Due: clang-format, update-source-list

:sparkles: Implemented trivial_vector.
  include/num_collect/util/trivial_vector.h
  test/units/util/trivial_vector_test.cpp
Due: clang-format, update-source-list

:recycle: Review implementation of trivial_vector.
  include/num_collect/util/trivial_vector.h
  test/units/util/trivial_vector_test.cpp
Due: clang-format, update-source-list

:alembic: Benchmark of push_back of trivial_vector.
  test/bench/util/CMakeLists.txt
  test/bench/util/push_back_test.cpp
Due: clang-format, cmake-format, update-source-list
