Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: pipenv run cmake-format -i

update-unity-source-in-unit-test:
  name: update-unity-source-in-unit-test
  description: Update the source code for the unity build of unit tests.
  language: system
  entry: pipenv run python test/units/create_unity_file.py

:sparkles: Add iteration_logger.
  include/num_collect/logging/iterations/iteration_logger.h
  test/units/logging/iterations/approvals/iteration_logger_test.num_collect__logging__iterations__iteration_logger.write_iterations_of_algorithms.approved.txt
  test/units/logging/iterations/approvals/iteration_logger_test.num_collect__logging__iterations__iteration_logger.write_iterations_without_an_algorithm.approved.txt
  test/units/logging/iterations/iteration_logger_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:white_check_mark: More test of iteration_parameter.
  include/num_collect/logging/iterations/iteration_parameter.h
  include/num_collect/logging/iterations/iteration_paramter_formatter.h
  test/units/logging/iterations/iteration_parameter_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:rotating_light: Silence a false positive of clang-tidy.
  test/units/logging/iterations/iteration_logger_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Add function_iteration_parameter_value.
  include/num_collect/logging/iterations/function_iteration_parameter_value.h
  include/num_collect/logging/iterations/iteration_logger.h
  include/num_collect/logging/iterations/iteration_paramter_formatter.h
  test/units/logging/iterations/approvals/iteration_logger_test.num_collect__logging__iterations__iteration_logger.write_iterations_of_algorithms.approved.txt
  test/units/logging/iterations/approvals/iteration_logger_test.num_collect__logging__iterations__iteration_logger.write_iterations_without_an_algorithm.approved.txt
  test/units/logging/iterations/function_iteration_parameter_value_test.cpp
  test/units/logging/iterations/iteration_logger_test.cpp
  test/units/logging/iterations/iteration_paramter_formatter_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:white_check_mark: Use new version of iteration_logger in integration test.
  test/integ/logging_test/approvals/console_log_test.test_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_async_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_combined_file_console_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_trace_log.approved.txt
  test/integ/logging_test/writer.cpp
Due: clang-format

:wrench: Include outputs of ApprovalTest in artifacts.
  .gitlab-ci.yml
Due: none

:recycle: Use the new iteration_logger.
  examples/logging/write_logs.cpp
  include/num_collect/base/concepts/iterative_solver.h
  include/num_collect/base/iterative_solver_base.h
  include/num_collect/logging/concepts/member_getter_of.h
  include/num_collect/logging/iteration_logger.h
  include/num_collect/logging/iterations/iteration_logger.h
  include/num_collect/logging/iterations/member_function_iteration_parameter_value.h
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/inexact_newton_slope_equation_solver.h
  include/num_collect/ode/inexact_newton_update_equation_solver.h
  include/num_collect/ode/simple_solver.h
  include/num_collect/ode/solver_base.h
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/bfgs_optimizer.h
  include/num_collect/opt/conjugate_gradient_optimizer.h
  include/num_collect/opt/dfp_optimizer.h
  include/num_collect/opt/dividing_rectangles.h
  include/num_collect/opt/downhill_simplex.h
  include/num_collect/opt/golden_section_search.h
  include/num_collect/opt/heuristic_global_optimizer.h
  include/num_collect/opt/newton_optimizer.h
  include/num_collect/opt/sampling_optimizer.h
  include/num_collect/opt/steepest_descent.h
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/iterative_regularized_solver_base.h
  include/num_collect/roots/newton_raphson.h
  test/bench/logging/iteration_logger.cpp
  test/bench/logging/log_sinks_test.cpp
  test/bench/ode/diagram_common.h
  test/bench/ode/fixed_step_bench_executor.h
  test/integ/logging_test/writer.cpp
  test/units/logging/iteration_logger_test.cpp
  test/units/logging/iterations/iteration_parameter_test.cpp
  test/units/logging/iterations/member_function_iteration_parameter_value_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Applied IWYU to new headers.
  include/num_collect/logging/concepts/getter_of.h
  include/num_collect/logging/concepts/member_getter_of.h
  include/num_collect/logging/impl/iteration_layer_handler.h
  include/num_collect/logging/iterations/iteration_logger.h
  include/num_collect/logging/iterations/iteration_parameter.h
  include/num_collect/logging/iterations/iteration_paramter_formatter_decl.h
  include/num_collect/logging/iterations/member_function_iteration_parameter_value.h
  include/num_collect/logging/iterations/member_variable_iteration_parameter_value.h
  iwyu_mappings.imp
  test/units/logging/iterations/function_iteration_parameter_value_test.cpp
  test/units/logging/iterations/iteration_logger_test.cpp
  test/units/logging/iterations/member_function_iteration_parameter_value_test.cpp
  test/units/logging/iterations/member_variable_iteration_parameter_value_test.cpp
  test/units/logging/iterations/variable_iteration_parameter_value_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:bug: Fix build error with GCC.
  include/num_collect/opt/heuristic_global_optimizer.h
Due: clang-format

:recycle: Reuse iteration logger.
  include/num_collect/base/iterative_solver_base.h
  include/num_collect/logging/iterations/iteration_logger_mixin.h
  include/num_collect/logging/logging_mixin.h
  include/num_collect/ode/solver_base.h
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/downhill_simplex.h
  include/num_collect/regularization/iterative_regularized_solver_base.h
  test/units/opt/adaptive_diagonal_curves_test.cpp
  test/units/opt/heuristic_global_optimizer_test.cpp
  test/units/roots/newton_raphson_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:white_check_mark: More test of iteration_logger.
  test/units/logging/iterations/approvals/iteration_logger_test.num_collect__logging__iterations__iteration_logger.reuse.approved.txt
  test/units/logging/iterations/approvals/iteration_logger_test.num_collect__logging__iterations__iteration_logger.write_no_log.approved.txt
  test/units/logging/iterations/approvals/iteration_logger_test.num_collect__logging__iterations__iteration_logger.write_only_a_summary.approved.txt
  test/units/logging/iterations/iteration_logger_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:whtie_check_mark: Test of invalid parameters.
  test/units/logging/iterations/iteration_parameter_test.cpp
  test/units/logging/iterations/iteration_paramter_formatter_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:books: Fix namespace documentation.
  doc/doxygen/namespaces.h
Due: clang-format

:wrench: Set CI jobs interruptible.
  .gitlab-ci.yml
Due: none

:zap: Faster implementation of check of periods in iteration_logger.
  include/num_collect/logging/iterations/iteration_logger.h
  include/num_collect/util/iteration_period_checker.h
  test/units/util/iteration_period_checker_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Stop sharing owner of pointers.
  include/num_collect/logging/iterations/iteration_logger.h
Due: clang-format

:recycle: Remove unnecessary deletion of copy functions.
  include/num_collect/logging/iterations/iteration_logger_mixin.h
Due: clang-format

:books: Add comments to classes not used by usual user programs.
  include/num_collect/logging/iterations/function_iteration_parameter_value.h
  include/num_collect/logging/iterations/iteration_parameter.h
  include/num_collect/logging/iterations/iteration_paramter_formatter.h
  include/num_collect/logging/iterations/member_function_iteration_parameter_value.h
  include/num_collect/logging/iterations/member_variable_iteration_parameter_value.h
  include/num_collect/logging/iterations/variable_iteration_parameter_value.h
Due: clang-format

:wrench: Update Python packages.
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
  doc/doxygen/Doxyfile.in
  include/num_collect/logging/log_tag_config.h
Due: clang-format

:wrench: Enable spell check.
  .gitlab-ci.yml
  .vscode/settings.json
  cspell.json
Due: none

:bug: Fixing some spells.
  cspell.json
  include/num_collect/auto_diff/backward/graph/node_differentiator.h
  include/num_collect/auto_diff/backward/variable.h
  include/num_collect/auto_diff/backward/variable_math.h
  include/num_collect/base/concepts/integral.h
  include/num_collect/integration/gauss_legendre_kronrod_integrator.h
  include/num_collect/multi_double/quad.h
  include/num_collect/opt/dividing_rectangles.h
  include/num_collect/util/kahan_adder.h
Due: clang-format

:bug: Fixing spells.
  CMakeLists.txt
  cspell.json
  doc/sphinx/src/conf.py
  include/num_collect/logging/concepts/formattable_iteration_parameter_value.h
  include/num_collect/logging/iterations/iteration_parameter.h
  include/num_collect/logging/iterations/iteration_parameter_formatter.h
  include/num_collect/logging/iterations/iteration_parameter_formatter_decl.h
  include/num_collect/roots/newton_raphson.h
  include/num_collect/util/bidirectional_vector.h
  include/num_collect/util/format_dense_matrix.h
  include/num_collect/util/format_dense_vector.h
  include/num_collect/util/format_sparse_matrix.h
  include/num_collect/util/impl/assertion_decomposer.h
  test/units/auto_diff/backward/variable_math_test.cpp
  test/units/auto_diff/forward/variable_math_test.cpp
  test/units/logging/iterations/iteration_logger_test.cpp
  test/units/logging/iterations/iteration_parameter_formatter_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
  test/units/multi_double/quad_test.cpp
  test/units/opt/adaptive_diagonal_curves_test.cpp
  test/units/util/bidirectional_vector_test.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:bug: Fixing spells.
  cspell.json
  doc/articles.bib
Due: none

:bug: Fixing spells.
  .gitlab-ci.yml
  .vscode/settings.json
  cspell.json
  test/CMakeLists.txt
  test/bench/CMakeLists.txt
Due: cmake-format

:bug: Fixing spells.
  .vscode/settings.json
  cspell.json
Due: none

:bug: Fix spells.
  cspell.json
Due: none

:construction: Write schema of log tag configurations.
  CMakeLists.txt
  Pipfile
  Pipfile.lock
  config_schema/CMakeLists.txt
  config_schema/tests/config_validator.py
  config_schema/tests/conftest.py
  config_schema/tests/constants.py
  config_schema/tests/test_example_configs.py
  config_schema/tests/test_log_tag_configs.py
  config_schema/v1/config_schema.json
  cspell.json
  doc/CMakeLists.txt
Due: cmake-format

:sparkles: Schema of logging configuration.
  config_schema/tests/test_log_sink_config.py
  config_schema/tests/test_log_tag_configs.py
  config_schema/v1/config_schema.json
Due: none

:white_check_mark: Execute tests from CMake.
  config_schema/CMakeLists.txt
Due: cmake-format

:white_check_mark: More test of schema.
  config_schema/tests/test_log_sink_config.py
Due: none

:recycle: Refactor schema using "if".
  config_schema/CMakeLists.txt
  config_schema/tests/config_validator.py
  config_schema/tests/conftest.py
  config_schema/tests/constants.py
  config_schema/v1/config_schema4.json
  config_schema/v1/config_schema7.json
Due: cmake-format

:recycle: Refactor schema using "const".
  config_schema/v1/config_schema7.json
Due: none

:alembic: Experiment to write description in another place.
  config_schema/v1/config_schema7.json
Due: none

:books: More descriptions in schema.
  config_schema/v1/config_schema7.json
Due: none

:books: Fix descriptions in schema.
  config_schema/v1/config_schema7.json
Due: none

Update Conan packages.
  conanfile.py
Due: none

:wrench: Update Python packages.
  Pipfile.lock
Due: none

:wrench: Update Conan package used in tests.
  conanfile.py
Due: none

:wrench: Make environment clean.
  .devcontainer/devcontainer.json
Due: none

Path conditions:
  clang-format: any of: \.(h|cpp)$
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$
  update-unity-source-in-unit-test: any of: test/units/.*\.cpp$
