Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        entry: pipenv run cmake-format -i
      - id: update-unity-source-in-unit-test
        name: update-unity-source-in-unit-test
        description: Update the source code for the unity build of unit tests.
        language: system
        files: test/units/.*\.cpp$
        entry: pipenv run python test/units/create_unity_file.py

:white_check_mark: Additional test of invalid configuration filepath.
  test/integ/logging_test/approvals/invalid_config_test.test_nonexisting_file.approved.txt
  test/integ/logging_test/invalid_config_test.py
Due: none

:wrench: Collect approved files which may be changed in CI.
  .gitlab-ci.yml
Due: none

:bug: Fix CI configuration.
  .gitlab-ci.yml
Due: none

:wrench: Fix CI configuration.
  .gitlab-ci.yml
Due: none

:bug: Line number can't be used in test because of different results between Clang and GCC.
  test/integ/logging_test/approvals/invalid_config_test.test_directory.approved.txt
  test/integ/logging_test/approvals/invalid_config_test.test_nonexisting_file.approved.txt
  test/integ/logging_test/create_scrubber.py
Due: none

:books: Update release note.
  doc/sphinx/src/release_notes/v0.6.0.md
Due: none

:sparkles: Additional log levels.
  .vscode/settings.json
  doc/sphinx/src/index.rst
  doc/sphinx/src/user_guide/index.rst
  doc/sphinx/src/user_guide/logging.rst
  examples/logging/write_logs.cpp
  include/num_collect/logging/impl/colored_log_formatter.h
  include/num_collect/logging/impl/load_logging_config_toml.h
  include/num_collect/logging/impl/log_formatter.h
  include/num_collect/logging/log_level.h
  include/num_collect/logging/logger.h
  test/integ/logging_test/approvals/console_log_test.test_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_trace_log.approved.txt
  test/integ/logging_test/writer.cpp
  test/units/logging/impl/load_logging_config_toml_test.cpp
  test/units/logging/impl/log_formatter_test.cpp
  test/units/logging/log_level_test.cpp
  test/units/logging/logger_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Re-implementation of a simple log formatter.
  include/num_collect/logging/formatters/detailed_log_formatter.h
  include/num_collect/logging/formatters/get_log_level_str_for_log.h
  include/num_collect/logging/formatters/iso8601_time.h
  include/num_collect/logging/formatters/log_formatter_base.h
  test/units/logging/formatters/approvals/detailed_log_formatter_test.num_collect__logging__formatters__detailed_log_formatter.format.approved.txt
  test/units/logging/formatters/detailed_log_formatter_test.cpp
  test/units/logging/formatters/get_log_level_str_for_log_test.cpp
  test/units/logging/formatters/iso8601_time_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:books: Update namespace documentation.
  doc/doxygen/namespaces.h
Due: clang-format

:recycle: Re-implementation of colored log formatter.
  include/num_collect/logging/formatters/colored_compact_log_formatter.h
  test/units/logging/formatters/approvals/colored_compact_log_formatter_test.num_collect__logging__formatters__colored_compact_log_formatter.format.approved.txt
  test/units/logging/formatters/colored_compact_log_formatter_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add compact_log_formatter.
  include/num_collect/logging/formatters/compact_log_formatter.h
  test/units/logging/formatters/approvals/compact_log_formatter_test.num_collect__logging__formatters__compact_log_formatter.format.approved.txt
  test/units/logging/formatters/compact_log_formatter_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Apply IWYU.
  include/num_collect/logging/formatters/colored_compact_log_formatter.h
  include/num_collect/logging/formatters/compact_log_formatter.h
  include/num_collect/logging/formatters/detailed_log_formatter.h
  include/num_collect/logging/formatters/iso8601_time.h
  test/units/logging/formatters/colored_compact_log_formatter_test.cpp
  test/units/logging/formatters/compact_log_formatter_test.cpp
  test/units/logging/formatters/detailed_log_formatter_test.cpp
  test/units/logging/formatters/get_log_level_str_for_log_test.cpp
  test/units/logging/formatters/iso8601_time_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Re-implement log sink.
  include/num_collect/logging/sinks/file_wrapper.h
  include/num_collect/logging/sinks/log_sink_base.h
  include/num_collect/logging/sinks/simple_log_sink.h
  include/num_collect/util/format_errno.h
  test/units/logging/sinks/file_wrapper_test.cpp
  test/units/logging/sinks/simple_log_sink_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
  test/units/util/format_errno_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Change implementation of log sinks to new one.
  .vscode/settings.json
  examples/logging/write_logs.cpp
  include/num_collect/logging/colored_console_log_sink.h
  include/num_collect/logging/impl/colored_log_formatter.h
  include/num_collect/logging/impl/load_logging_config_toml.h
  include/num_collect/logging/impl/log_formatter.h
  include/num_collect/logging/iteration_logger.h
  include/num_collect/logging/load_logging_config.h
  include/num_collect/logging/log_sink_base.h
  include/num_collect/logging/log_tag_config.h
  include/num_collect/logging/logger.h
  include/num_collect/logging/simple_log_sink.h
  include/num_collect/logging/sinks/file_wrapper.h
  include/num_collect/logging/sinks/simple_log_sink.h
  include/num_collect/util/format_errno.h
  iwyu_mappings.imp
  profiling/logging/write_trace_logs.cpp
  test/bench/logging/iteration_logger.cpp
  test/bench/logging/write_trace_logs.cpp
  test/integ/logging_test/approvals/console_log_test.test_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_trace_log.approved.txt
  test/integ/logging_test/create_scrubber.py
  test/integ/logging_test/writer.cpp
  test/units/catch_event_listner.cpp
  test/units/logging/impl/load_logging_config_toml_test.cpp
  test/units/logging/impl/log_formatter_test.cpp
  test/units/logging/iteration_logger_test.cpp
  test/units/logging/logger_test.cpp
  test/units/logging/mock_log_sink.h
  test/units/logging/simple_log_sink_test.cpp
  test/units/logging/sinks/simple_log_sink_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:books: Update documentation.
  doc/doxygen/namespaces.h
  doc/sphinx/src/modules.rst
Due: clang-format

:bug: Initialize solutions before use in solvers.
  test/units/ode/inexact_newton_slope_equation_solver_test.cpp
  test/units/ode/inexact_newton_update_equation_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:rotating_light: Silence warnings because of use of external libraries.
  test/units/logging/mock_log_sink.h
Due: clang-format

:books: Model of configuration of logging.
  doc/sphinx/src/basic_design/index.rst
  doc/sphinx/src/basic_design/logging.rst
  doc/sphinx/src/basic_design/uml/logging/config.puml
  doc/sphinx/src/basic_design/uml/logging/logger.puml
Due: none

:sparkles: Add log_sink_factory_table, log_sink_factory_base, log_config_parser_base.
  doc/sphinx/src/basic_design/uml/logging/config.puml
  include/num_collect/logging/config/log_config_parser_base.h
  include/num_collect/logging/config/log_sink_factory_base.h
  include/num_collect/logging/config/log_sink_factory_table.h
  test/units/logging/config/log_sink_factory_table_test.cpp
  test/units/logging/config/mock_log_sink_factory.h
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add toml_console_log_sink_config_parser, toml_console_log_sink_log_sink_factory, toml_log_sink_config_parser_base.
  doc/sphinx/src/basic_design/uml/logging/config.puml
  doc/sphinx/src/user_guide/logging.rst
  include/num_collect/logging/config/log_sink_factory_table.h
  include/num_collect/logging/config/toml/toml_console_log_sink_config_parser.h
  include/num_collect/logging/config/toml/toml_console_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_helper.h
  include/num_collect/logging/config/toml/toml_log_sink_config_parser_base.h
  test/units/logging/config/toml/toml_console_log_sink_config_parser_test.cpp
  test/units/logging/config/toml/toml_helper_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add toml_single_file_log_sink_factory, toml_single_file_log_sink_config_parser.
  include/num_collect/logging/config/toml/toml_console_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_single_file_log_sink_config_parser.h
  include/num_collect/logging/config/toml/toml_single_file_log_sink_factory.h
  test/units/logging/config/toml/toml_single_file_log_sink_config_parser_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add toml_log_config_parser.
  include/num_collect/logging/config/default_log_sink_factory.h
  include/num_collect/logging/config/log_sink_factory_table.h
  include/num_collect/logging/config/parse_output_log_level_str.h
  include/num_collect/logging/config/toml/toml_log_config_parser.h
  include/num_collect/logging/log_tag_config.h
  test/units/logging/config/log_sink_factory_table_test.cpp
  test/units/logging/config/toml/toml_log_config_parser_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Apply IWYU to added files.
  include/num_collect/logging/config/default_log_sink_factory.h
  include/num_collect/logging/config/log_sink_factory_table.h
  include/num_collect/logging/config/parse_output_log_level_str.h
  include/num_collect/logging/config/toml/toml_console_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_log_config_parser.h
  include/num_collect/logging/config/toml/toml_single_file_log_sink_factory.h
  test/units/logging/config/toml/toml_log_config_parser_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:white_check_mark: Add tests to log_tag_config.
  test/units/logging/log_tag_config_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Use new version of TOML logging configuration parser.
  include/num_collect/logging/impl/load_logging_config_toml.h
  include/num_collect/logging/load_logging_config.h
  test/integ/logging_test/approvals/invalid_config_test.test_directory.approved.txt
  test/integ/logging_test/approvals/invalid_config_test.test_nonexisting_file.approved.txt
  test/integ/logging_test/config/console_log_trace.toml
  test/units/logging/impl/load_logging_config_toml_test.cpp
  test/units/logging/load_logging_config_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Implemented producer_consumer_circular_queue.
  include/num_collect/util/cache_line.h
  include/num_collect/util/object_storage.h
  include/num_collect/util/producer_consumer_circular_queue.h
  test/units/util/object_storage_test.cpp
  test/units/util/producer_consumer_circular_queue_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:white_check_mark: More test of producer_consumer_circular_queue.
  include/num_collect/util/object_storage.h
  include/num_collect/util/producer_consumer_circular_queue.h
  test/units/util/producer_consumer_circular_queue_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:zap: Use of memory orders in producer_consumer_circular_queue.
  include/num_collect/util/producer_consumer_circular_queue.h
Due: clang-format

:white_check_mark: Check of validation.
  test/units/util/producer_consumer_circular_queue_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:construction: Implemented async_log_queue.
  doc/doxygen/namespaces.h
  include/num_collect/logging/sinks/async_logging_worker.h
  include/num_collect/util/producer_consumer_circular_queue.h
  test/units/logging/sinks/async_logging_worker_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Implemented async_logging_worker.
  include/num_collect/logging/sinks/async_logging_worker.h
  test/units/logging/sinks/async_logging_worker_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Add async_log_sink.
  include/num_collect/logging/sinks/async_log_sink.h
  test/units/logging/sinks/async_log_sink_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add toml_async_log_sink_factory, toml_async_log_sink_config_parser.
  doc/sphinx/src/user_guide/logging.rst
  include/num_collect/logging/config/toml/toml_async_log_sink_config_parser.h
  include/num_collect/logging/config/toml/toml_async_log_sink_factory.h
  include/num_collect/logging/sinks/async_log_sink.h
  test/units/logging/config/toml/toml_async_log_sink_config_parser_test.cpp
  test/units/logging/sinks/async_log_sink_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Own memory of strings in async_log_request for safety.
  include/num_collect/logging/sinks/async_logging_worker.h
  test/units/logging/sinks/async_log_sink_test.cpp
  test/units/logging/sinks/async_logging_worker_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Remove unused definitions.
  include/num_collect/logging/sinks/async_logging_worker.h
Due: clang-format

:white_check_mark: Add test of async_logging_worker_config::log_wait_time.
  test/units/logging/sinks/async_logging_worker_test.cpp
Due: clang-format, update-unity-source-in-unit-test
