Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        entry: pipenv run cmake-format -i
      - id: update-unity-source-in-unit-test
        name: update-unity-source-in-unit-test
        description: Update the source code for the unity build of unit tests.
        language: system
        files: test/units/.*\.cpp$
        entry: pipenv run python test/units/create_unity_file.py

:wrench: Update URLs.
  .devcontainer/Dockerfile
  .devcontainer/setup.bash
  .gitlab-ci.yml
  README.md
  conanfile.py
  doc/sphinx/src/how_to_build_in_repository.md
  doc/sphinx/src/how_to_use.md
  doc/sphinx/src/index.rst
  doc/sphinx/src/release_notes/old.md
  doc/sphinx/src/release_notes/v0.5.0.md
  doc/sphinx/src/release_notes/v0.6.0.md
Due: none

:wrench: Use poetry.
  .devcontainer/devcontainer.json
  .devcontainer/setup.bash
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  Pipfile
  Pipfile.lock
  README.md
  cmake/poetry.cmake
  doc/sphinx/src/acknowledgement.rst
  doc/sphinx/src/convention.rst
  doc/sphinx/src/how_to_build_in_repository.md
  doc/sphinx/start_auto_build.sh.in
  poetry.lock
  pyproject.toml
Due: cmake-format

:bug: Fix CMake script.
  CMakeLists.txt
  config_schema/CMakeLists.txt
  doc/sphinx/CMakeLists.txt
  examples/CMakeLists.txt
  test/bench/CMakeLists.txt
  test/integ/logging_test/CMakeLists.txt
Due: cmake-format

:books: Fix document.
  doc/sphinx/src/convention.rst
Due: none

:rotating_light: Ignore spell in a command.
  cspell.json
Due: none

:sparkles: Add a function to check characters in log tags.
  include/num_collect/logging/impl/is_log_tag_element_char.h
  test/units/logging/impl/is_log_tag_element_char_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Refactor is_log_tag_element_char function.
  include/num_collect/logging/impl/is_log_tag_element_char.h
Due: clang-format

:sparkles: Functions to parse separators in log tags.
  include/num_collect/logging/impl/parse_log_tag_separator.h
  test/units/logging/impl/parse_log_tag_separator_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Function to parse elements in log tags.
  .clang-format
  include/num_collect/logging/impl/parse_log_tag_element.h
  scripts/create_cpp_file.py
  test/units/logging/impl/parse_log_tag_element_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Refactor existing function to separate elements in log tags.
  include/num_collect/logging/impl/separate_top_log_tag_element.h
  test/units/logging/impl/separate_top_log_tag_element_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:bug: Fix existing log tags.
  examples/logging/write_logs.cpp
  test/integ/logging_test/approvals/console_log_test.test_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_async_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_combined_file_console_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_trace_log.approved.txt
  test/integ/logging_test/writer.cpp
Due: clang-format

:wrench: Rewrite check_iwyu.py script.
  poetry.lock
  pyproject.toml
  scripts/check_iwyu.py
Due: none

:recycle: Apply IWYU to recent source codes.
  include/num_collect/logging/impl/separate_top_log_tag_element.h
  test/units/logging/impl/is_log_tag_element_char_test.cpp
  test/units/logging/impl/parse_log_tag_element_test.cpp
  test/units/logging/impl/parse_log_tag_separator_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Refactor schema.
  config_schema/v1/config_schema4.json
  config_schema/v1/config_schema7.json
Due: none

:books: Fix descriptions in schema.
  config_schema/v1/config_schema7.json
Due: none

:recycle: Add validation of log tags in schema.
  config_schema/tests/test_log_tag_configs.py
  config_schema/v1/config_schema4.json
  config_schema/v1/config_schema7.json
Due: none

:wrench: Use schema in existing configuration files.
  examples/logging/configs/async_write_to_console_and_file.toml
  examples/logging/configs/use_async_log_sink.toml
  examples/logging/configs/use_default_log_sink.toml
  examples/logging/configs/write_to_console_and_file.toml
  examples/logging/configs/write_to_single_file.toml
Due: none

:books: Prepare for release.
  .gitlab-ci.yml
  CMakeLists.txt
  conanfile.py
  doc/sphinx/src/release_notes/v0.6.0.md
Due: cmake-format

:wrench: Add poetry.lock to keys of caches.
  .gitlab-ci.yml
Due: none

:wrench: Update Python packages.
  poetry.lock
Due: none

:sparkles: Function to calculate greatest common divisor.
  include/num_collect/util/greatest_common_divisor.h
  test/units/util/greatest_common_divisor_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add a function to calculate least common multiple.
  include/num_collect/util/least_common_multiple.h
  include/num_collect/util/multiply_safely.h
  test/units/util/least_common_multiple_test.cpp
  test/units/util/multiply_safely_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:books: Fix release note.
  doc/sphinx/src/release_notes/v0.6.0.md
Due: none

:recycle: Applied IWYU.
  include/num_collect/util/greatest_common_divisor.h
  include/num_collect/util/iteration_period_checker.h
  include/num_collect/util/least_common_multiple.h
  include/num_collect/util/multiply_safely.h
  iwyu_mappings.imp
  test/units/util/greatest_common_divisor_test.cpp
  test/units/util/iteration_period_checker_test.cpp
  test/units/util/least_common_multiple_test.cpp
  test/units/util/multiply_safely_test.cpp
  test/units/util/object_storage_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:wrench: Update environment.
  .devcontainer/devcontainer.json
  .devcontainer/setup.bash
  .vscode/settings.json
  poetry.lock
Due: none

:wrench: Updated Conan packages.
  conanfile.py
  doc/sphinx/src/release_notes/index.rst
  doc/sphinx/src/release_notes/v0.7.0.md
  test/bench/auto_diff/auto_diff_fixture.h
  test/bench/auto_diff/sum_test.cpp
  test/bench/integration/exp_integration_test.cpp
  test/bench/integration/inv_sqrt_1mx2_test.cpp
  test/bench/integration/sqrt_1mx2_test.cpp
  test/bench/logging/iteration_logger.cpp
  test/bench/logging/write_trace_logs.cpp
  test/bench/multi_double/two_prod_test.cpp
  test/bench/ode/sparse_linear_equation_test.cpp
  test/bench/opt/multi_quadratic_function_test.cpp
  test/bench/opt/powell4_function_test.cpp
  test/bench/opt/quadratic_function_test.cpp
  test/bench/opt/rosenbrock_function_test.cpp
  test/bench/opt/shekel_function_test.cpp
  test/bench/opt/vibrated_quadratic_function_test.cpp
  test/bench/regularization/blur_sine_test.cpp
  test/bench/util/summation_test.cpp
Due: clang-format

:wrench: Use matrix in CI.
  .gitlab-ci.yml
Due: none

:wrench: Fix CI job for documentation.
  .gitlab-ci.yml
Due: none

:wrench: Use vcpkg to install dependencies.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.bash
  .gitmodules
  .vscode/settings.json
  CMakeLists.txt
  README.md
  conanfile.py
  cspell.json
  doc/sphinx/src/how_to_build_in_repository.md
  poetry.lock
  pyproject.toml
  test/bench/CMakeLists.txt
  vcpkg-configuration.json
  vcpkg.json
Due: cmake-format

:wrench: Configure CI to use vcpkg.
  .gitlab-ci.yml
Due: none

:wrench: Fix error in spell check.
  cspell.json
Due: none

:wrench: Fix configuration of static analysis.
  .clang-tidy-checker
Due: none

:wrench: Use pybind11 installed via poetry.
  CMakeLists.txt
  poetry.lock
  pyproject.toml
  vcpkg.json
Due: cmake-format

:wrench: Remove Conan from configuration and documents.
  .gitignore
  .gitlab-ci.yml
  README.md
  doc/sphinx/src/acknowledgement.rst
  doc/sphinx/src/convention.rst
  doc/sphinx/src/directories.rst
  doc/sphinx/src/how_to_use.md
  scripts/collect_llvm_coverage.sh
  scripts/install_conan_dependencies.py
  test/conan_package/CMakeLists.txt
  test/conan_package/conanfile.py
  test/conan_package/example.cpp
Due: clang-format, cmake-format

:wrench: Fix CI configuration.
  .gitlab-ci.yml
Due: none

:wrench: Updated libraries.
  .devcontainer/setup.bash
  .gitlab-ci.yml
  .vscode/cmake-variants.yaml
  README.md
  cspell.json
  doc/sphinx/src/how_to_build_in_repository.md
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
  vcpkg_conf/triplets/x64-linux-llvm.cmake
Due: cmake-format

:wrench: Change the way to specify C++ standard.
  CMakeLists.txt
Due: cmake-format

:wrench: Configure installation of this library via CMake.
  .gitignore
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/ParseVersion.cmake
  cmake/num-collect-config.cmake.in
  cspell.json
  include/num_collect/version.h
Due: clang-format, cmake-format
