Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: pipenv run cmake-format -i

update-unity-source-in-unit-test:
  name: update-unity-source-in-unit-test
  description: Update the source code for the unity build of unit tests.
  language: system
  entry: pipenv run python test/units/create_unity_file.py

:sparkles: Add ark54_esdirk_formula.
  include/num_collect/ode/runge_kutta/ark54_esdirk_formula.h
  test/bench/ode/exponential_test.cpp
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/kaps_problem_test.cpp
  test/bench/ode/spring_movement_test.cpp
  test/units/ode/runge_kutta/approvals/ark54_esdirk_formula_test.num_collect__ode__runge_kutta__ark54_esdirk_formula.step.approved.txt
  test/units/ode/runge_kutta/approvals/ark54_esdirk_formula_test.num_collect__ode__runge_kutta__ark54_esdirk_formula.step_embedded.approved.txt
  test/units/ode/runge_kutta/approvals/ark54_esdirk_formula_test.num_collect__ode__runge_kutta__ark54_esdirk_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/ark54_esdirk_formula_test.num_collect__ode__runge_kutta__ark54_esdirk_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/ark54_esdirk_formula_test.num_collect__ode__runge_kutta__ark54_esdirk_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/ark54_esdirk_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add esdirk45_formula.
  .vscode/settings.json
  doc/articles.bib
  include/num_collect/ode/runge_kutta/esdirk45_formula.h
  test/bench/ode/exponential_test.cpp
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/kaps_problem_test.cpp
  test/bench/ode/spring_movement_test.cpp
  test/units/ode/runge_kutta/approvals/esdirk45_formula_test.num_collect__ode__runge_kutta__esdirk45_formula.step.approved.txt
  test/units/ode/runge_kutta/approvals/esdirk45_formula_test.num_collect__ode__runge_kutta__esdirk45_formula.step_embedded.approved.txt
  test/units/ode/runge_kutta/approvals/esdirk45_formula_test.num_collect__ode__runge_kutta__esdirk45_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/esdirk45_formula_test.num_collect__ode__runge_kutta__esdirk45_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/esdirk45_formula_test.num_collect__ode__runge_kutta__esdirk45_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/esdirk45_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Use different line styles in diagrams.
  test/bench/ode/diagram_common.h
Due: clang-format

:wrench: Introduce lizard into CI.
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
Due: none

:wrench: Fix CI configuration.
  .gitlab-ci.yml
Due: none

:wrench: Use other Python packages via pipenv.
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
Due: none

:wrench: Trying to fix CI.
  .gitlab-ci.yml
Due: none

:wrench: Stop using "sync pipenv" job in CI.
  .gitlab-ci.yml
  .vscode/settings.json
Due: none

:wrench: Refactoring CI configuration.
  .gitlab-ci.yml
Due: none

:wrench: Re-install certifi.
  .gitlab-ci.yml
Due: none

:wrench: Refactor CI configuration.
  .gitlab-ci.yml
Due: none

:wrench: Workaround for CI error.
  .gitlab-ci.yml
Due: none

:wrench: Re-resolve Python package dependencies.
  Pipfile.lock
Due: none

:sparkles: Add ark43_erk_formula.
  include/num_collect/ode/runge_kutta/ark43_erk_formula.h
  test/bench/ode/diagram_common.h
  test/bench/ode/exponential_test.cpp
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/kaps_problem_test.cpp
  test/bench/ode/spring_movement_test.cpp
  test/units/ode/runge_kutta/approvals/ark43_erk_formula_test.num_collect__ode__runge_kutta__ark43_erk_formula.step.approved.txt
  test/units/ode/runge_kutta/approvals/ark43_erk_formula_test.num_collect__ode__runge_kutta__ark43_erk_formula.step_embedded.approved.txt
  test/units/ode/runge_kutta/approvals/ark43_erk_formula_test.num_collect__ode__runge_kutta__ark43_erk_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/ark43_erk_formula_test.num_collect__ode__runge_kutta__ark43_erk_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/ark43_erk_formula_test.num_collect__ode__runge_kutta__ark43_erk_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/ark43_erk_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Reduce time of CI.
  .gitlab-ci.yml
Due: none

:books: Update CHANGELOG.
  CHANGELOG.md
Due: none

:sparkles: Add leap_frog_formula.
  .vscode/settings.json
  doc/articles.bib
  include/num_collect/ode/concepts/multi_variate_problem.h
  include/num_collect/ode/symplectic/leap_frog_formula.h
  test/units/ode/source_list.cmake
  test/units/ode/symplectic/approvals/leap_frog_formula_test.num_collect__ode__symplectic__leap_frog_formula.step.approved.txt
  test/units/ode/symplectic/approvals/leap_frog_formula_test.num_collect__ode__symplectic__leap_frog_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/symplectic/leap_frog_formula_test.cpp
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:zap: Benchmark of leap_frog_formula.
  .vscode/settings.json
  test/bench/ode/CMakeLists.txt
  test/bench/ode/fixed_step_bench_executor.h
  test/bench/ode/spring_movement_fixed_step_test.cpp
  test/bench/ode/spring_movement_test.cpp
Due: clang-format, cmake-format

:sparkles: Add symplectic_forest4_formula.
  doc/doxygen/namespaces.h
  include/num_collect/ode/symplectic/symplectic_forest4_formula.h
  test/units/ode/source_list.cmake
  test/units/ode/symplectic/approvals/symplectic_forest4_formula_test.num_collect__ode__symplectic__symplectic_forest4_formula.step.approved.txt
  test/units/ode/symplectic/approvals/symplectic_forest4_formula_test.num_collect__ode__symplectic__symplectic_forest4_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/symplectic/symplectic_forest4_formula_test.cpp
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:zap: Benchmark of fourth-order symplectic integration.
  test/bench/ode/diagram_common.h
  test/bench/ode/spring_movement_fixed_step_test.cpp
Due: clang-format

:zap: Benchmark of pendulum movement.
  test/bench/ode/CMakeLists.txt
  test/bench/ode/pendulum_movement_fixed_step_test.cpp
  test/bench/ode/pendulum_movement_test.cpp
Due: clang-format, cmake-format

:white_check_mark: Test of check in symplectic formulas.
  test/units/ode/symplectic/leap_frog_formula_test.cpp
  test/units/ode/symplectic/symplectic_forest4_formula_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Add gmres.
  .clang-tidy
  .vscode/settings.json
  doc/articles.bib
  include/num_collect/ode/impl/gmres.h
  test/units/ode/impl/approvals/gmres_test.num_collect__ode__impl__gmres.solve_at_once.approved.txt
  test/units/ode/impl/approvals/gmres_test.num_collect__ode__impl__gmres.solve_iteratively.approved.txt
  test/units/ode/impl/gmres_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:zap: Parameter tuning using benchmark.
  .vscode/settings.json
  include/num_collect/ode/impl/gmres.h
  test/bench/ode/CMakeLists.txt
  test/bench/ode/sparse_linear_equation_test.cpp
  test/units/ode/impl/gmres_test.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:zap: Fix the benchmark.
  test/bench/ode/sparse_linear_equation_test.cpp
Due: clang-format

:sparkles: Add gmres_rosenbrock_equation_solver.
  include/num_collect/base/concepts/real_scalar_dense_vector.h
  include/num_collect/ode/concepts/multi_variate_differentiable_problem.h
  include/num_collect/ode/concepts/time_differentiable_problem.h
  include/num_collect/ode/rosenbrock/gmres_rosenbrock_equation_solver.h
  test/include/comparison_approvals.h
  test/units/ode/rosenbrock/approvals/gmres_rosenbrock_equation_solver_test.num_collect__ode__rosenbrock__gmres_rosenbrock_equation_solver.solve_an_equation.approved.txt
  test/units/ode/rosenbrock/approvals/gmres_rosenbrock_equation_solver_test.num_collect__ode__rosenbrock__gmres_rosenbrock_equation_solver.update_Jacobian.approved.txt
  test/units/ode/rosenbrock/gmres_rosenbrock_equation_solver_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:zap: Benchmark of the new solver.
  include/num_collect/ode/impl/gmres.h
  include/num_collect/ode/rosenbrock/gmres_rosenbrock_equation_solver.h
  test/bench/ode/diagram_common.h
  test/bench/ode/rosenbrock_equation_solvers_test.cpp
Due: clang-format

:recycle: Use tolerances same as solvers.
  include/num_collect/ode/rosenbrock/gmres_rosenbrock_equation_solver.h
  include/num_collect/ode/rosenbrock/rodasp_formula.h
  include/num_collect/ode/rosenbrock/rodaspr_formula.h
  include/num_collect/ode/rosenbrock/ros34pw3_formula.h
  include/num_collect/ode/rosenbrock/ros3w_formula.h
  test/bench/ode/rosenbrock_equation_solvers_test.cpp
  test/units/ode/rosenbrock/gmres_rosenbrock_equation_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Apply IWYU to rosenbrock namespace.
  include/num_collect/ode/impl/gmres.h
  include/num_collect/ode/rosenbrock/gmres_rosenbrock_equation_solver.h
  include/num_collect/ode/rosenbrock/rodasp_formula.h
  include/num_collect/ode/rosenbrock/rodaspr_formula.h
  include/num_collect/ode/rosenbrock/ros34pw3_formula.h
  include/num_collect/ode/rosenbrock/ros3w_formula.h
  iwyu_mappings.imp
  test/units/ode/rosenbrock/gmres_rosenbrock_equation_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:wrench: Introduced clang-tidy-checker.
  .clang-tidy-checker
  .gitlab-ci.yml
  .vscode/settings.json
  Pipfile
  Pipfile.lock
  include/num_collect/logging/iteration_logger.h
  include/num_collect/logging/logger.h
  include/num_collect/util/impl/compiler_builtins.h
  test/units/logging/iteration_logger_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:wrench: Fix CI command.
  .gitlab-ci.yml
Due: none

:rotating_light: Fix warnings in opt module.
  .clang-tidy-checker
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/conjugate_gradient_optimizer.h
  include/num_collect/opt/impl/ternary_vector.h
Due: clang-format

:wrench: Fixed warnings in regularization module.
  .clang-tidy-checker
  include/num_collect/regularization/fista.h
Due: clang-format

:wrench: Enable check of clang-tidy for all tests.
  .clang-tidy-checker
  .gitlab-ci.yml
Due: none

:wrench: Change configuration of CI to remove differences.
  .gitlab-ci.yml
Due: none

:construction: Implement BiCGstab.
  include/num_collect/ode/impl/bicgstab.h
  include/num_collect/ode/impl/gmres.h
Due: clang-format

:white_check_mark: Test of BiCGstab.
  include/num_collect/ode/impl/bicgstab.h
  test/units/ode/impl/approvals/bicgstab_test.num_collect__ode__impl__bicgstab.solve.approved.txt
  test/units/ode/impl/approvals/bicgstab_test.num_collect__ode__impl__bicgstab.solve_from_true_solution.approved.txt
  test/units/ode/impl/approvals/gmres_test.num_collect__ode__impl__gmres.solve_from_true_solution.approved.txt
  test/units/ode/impl/bicgstab_test.cpp
  test/units/ode/impl/gmres_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:zap: Benchmark of BiCGstab.
  include/num_collect/ode/impl/bicgstab.h
  test/bench/ode/sparse_linear_equation_test.cpp
Due: clang-format

:sparkles: Add bicgstab_rosenbrock_equation_solver.
  include/num_collect/ode/rosenbrock/bicgstab_rosenbrock_equation_solver.h
  test/bench/ode/diagram_common.h
  test/bench/ode/rosenbrock_equation_solvers_test.cpp
  test/units/ode/rosenbrock/approvals/bicgstab_rosenbrock_equation_solver_test.num_collect__ode__rosenbrock__bicgstab_rosenbrock_equation_solver.solve_an_equation.approved.txt
  test/units/ode/rosenbrock/approvals/bicgstab_rosenbrock_equation_solver_test.num_collect__ode__rosenbrock__bicgstab_rosenbrock_equation_solver.update_Jacobian.approved.txt
  test/units/ode/rosenbrock/bicgstab_rosenbrock_equation_solver_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

Path conditions:
  clang-format: any of: \.(h|cpp)$
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$
  update-unity-source-in-unit-test: any of: test/units/.*\.cpp$
