Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: poetry run cmake-format -i

update-source-list:
  name: update-source-list
  description: Update the list of source codes.
  language: system
  entry: poetry run python scripts/update_source_list.py

:sparkles: Function to calculate the divergence of 2D images.
  CMakeLists.txt
  examples/regularization/image_denoising_tv_admm.cpp
  experiments/regularization/CMakeLists.txt
  experiments/regularization/calculate_derivatives_of_2d_images.cpp
  problems/include/num_prob_collect/regularization/sparse_diff_matrix_2d.h
  problems/include/num_prob_collect/regularization/sparse_div_matrix_2d.h
Due: clang-format, cmake-format, update-source-list

:recycle: Changed color scales.
  experiments/regularization/calculate_derivatives_of_2d_images.cpp
Due: clang-format, update-source-list

:wrench: Fix cache key.
  .gitlab-ci.yml
Due: none

:construction: Documentation of the new solver.
  cspell.json
  doc/articles.bib
  include/num_collect/regularization/tgv2_admm.h
  include/num_collect/regularization/tv_admm.h
Due: clang-format, update-source-list

:sparkles: Implemented TGV solver.
  include/num_collect/regularization/tgv2_admm.h
  include/num_collect/regularization/tv_admm.h
  test/units/regularization/approvals/tgv2_admm.solve_1D_problem.solve.approved.txt
  test/units/regularization/source_list.cmake
  test/units/regularization/tgv2_admm_test.cpp
  test/units/regularization/unity_source.cpp
Due: clang-format, update-source-list

:books: Implemented an example of TGV2 regulariztion.
  examples/doxygen_specifications.h
  examples/regularization/CMakeLists.txt
  examples/regularization/image_denoising_common.h
  examples/regularization/image_denoising_tgv2_admm.cpp
Due: clang-format, cmake-format, update-source-list

:alembic: Better divergence matrix.
  examples/regularization/image_denoising_tgv2_admm.cpp
  experiments/regularization/calculate_derivatives_of_2d_images.cpp
  problems/include/num_prob_collect/regularization/sparse_div_matrix_2d.h
Due: clang-format, update-source-list

:alembic: Smoother sample image for test of TGV2.
  examples/regularization/image_denoising_common.h
  experiments/regularization/calculate_derivatives_of_2d_images.cpp
  problems/include/num_prob_collect/regularization/generate_sparse_sample_image.h
Due: clang-format, update-source-list

:bug: Fix the name of variables in TGV.
  examples/regularization/image_denoising_tgv2_admm.cpp
  include/num_collect/regularization/tgv2_admm.h
  test/units/regularization/tgv2_admm_test.cpp
Due: clang-format, update-source-list

:bug: Fixed the second derivative matrix in TGV2 regularization.
  examples/regularization/image_denoising_tgv2_admm.cpp
  experiments/regularization/CMakeLists.txt
  experiments/regularization/calculate_tgv2_derivatives_of_2d_images.cpp
  problems/include/num_prob_collect/regularization/tgv2_second_derivative_matrix_2d.h
Due: clang-format, cmake-format, update-source-list

:zap: Made TGV2 faster by avoiding memory allocations in iterations.
  include/num_collect/regularization/tgv2_admm.h
Due: clang-format, update-source-list

:zap: Made TV faster by avoiding memory allocation in iterations.
  examples/regularization/image_denoising_tv_admm.cpp
  include/num_collect/regularization/tv_admm.h
Due: clang-format, update-source-list

:zap: Parameter tuning.
  examples/regularization/image_denoising_tv_admm.cpp
  include/num_collect/regularization/implicit_gcv.h
  include/num_collect/regularization/tgv2_admm.h
Due: clang-format, update-source-list

:recycle: Make the example of regularization configurable.
  examples/regularization/image_denoising_common.h
  examples/regularization/image_denoising_config.toml
  examples/regularization/image_denoising_config_small.toml
  examples/regularization/image_denoising_fista.cpp
  examples/regularization/image_denoising_tgv2_admm.cpp
  examples/regularization/image_denoising_tv_admm.cpp
Due: clang-format, update-source-list

:wrench: Update C++ dependencies.
  vcpkg-configuration.json
Due: none

:recycle: Change sample images before implementing another example.
  examples/regularization/image_denoising_common.h
  examples/regularization/image_denoising_config.toml
  problems/include/num_prob_collect/regularization/generate_sparse_sample_image.h
Due: clang-format, update-source-list

:books: Example of upsampling.
  .clang-tidy
  cspell.json
  examples/regularization/CMakeLists.txt
  examples/regularization/upsampling_common.h
  examples/regularization/upsampling_config.toml
  examples/regularization/upsampling_config_small.toml
  examples/regularization/upsampling_tgv2_admm.cpp
  examples/regularization/upsampling_tv_admm.cpp
  include/num_collect/regularization/tgv2_admm.h
  problems/include/num_prob_collect/regularization/sparse_downsampling_matrix_2d.h
Due: clang-format, cmake-format, update-source-list

:books: Example of CT simulation.
  examples/regularization/CMakeLists.txt
  examples/regularization/ct_simulation_common.h
  examples/regularization/ct_simulation_config.toml
  examples/regularization/ct_simulation_config_small.toml
  examples/regularization/ct_simulation_fista.cpp
  examples/regularization/ct_simulation_tgv2_admm.cpp
  examples/regularization/ct_simulation_tv_admm.cpp
  problems/include/num_prob_collect/regularization/add_noise.h
  problems/include/num_prob_collect/regularization/sparse_ct_matrix_2d.h
Due: clang-format, cmake-format, update-source-list

:zap: Reduced the number of matrix products in TGV2 regularization.
  include/num_collect/regularization/tgv2_admm.h
Due: clang-format, update-source-list

:zap: Reduce the number of matrix products in TGV2 regularization.
  include/num_collect/regularization/tgv2_admm.h
Due: clang-format, update-source-list

:zap: Enable parallelization in TGV2 regularization.
  examples/regularization/image_denoising_tgv2_admm.cpp
  include/num_collect/regularization/tgv2_admm.h
Due: clang-format, update-source-list

:bug: Remove unwanted include.
  examples/regularization/image_denoising_tgv2_admm.cpp
Due: clang-format, update-source-list

:zap: Update other examples.
  examples/regularization/ct_simulation_config_small.toml
  examples/regularization/ct_simulation_tgv2_admm.cpp
  examples/regularization/upsampling_config.toml
  examples/regularization/upsampling_config_small.toml
  examples/regularization/upsampling_tgv2_admm.cpp
  problems/include/num_prob_collect/regularization/sparse_ct_matrix_2d.h
Due: clang-format, update-source-list

:alembic: Update benchmark of linear solvers.
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
  test/bench/linear/laplacian_2d_grid_main.cpp
  test/bench/linear/laplacian_2d_grid_sparse_direct_test.cpp
Due: clang-format, update-source-list

:wrench: Set number of threads in OpenMP automatically.
  .devcontainer/set_num_threads.bash
  .devcontainer/setup.bash
Due: none

:alembic: Add some benchmarks.
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
  test/bench/linear/laplacian_2d_grid_main.cpp
Due: clang-format, update-source-list

:zap: Reduce the number of matrix products and enable parallelization of TV regularization.
  examples/regularization/ct_simulation_tv_admm.cpp
  examples/regularization/image_denoising_tv_admm.cpp
  examples/regularization/upsampling_tv_admm.cpp
  include/num_collect/regularization/tv_admm.h
Due: clang-format, update-source-list

:wrench: Update CMake configuration.
  .vscode/cmake-variants.yaml
  CMakeLists.txt
  cmake/CppFlags.cmake
  cspell.json
  src/CMakeLists.txt
Due: cmake-format

:wrench: Update develop environment
  .devcontainer/Dockerfile
Due: none

:recycle: Re-format C++ source code
  test/integ/linear_solvers/laplacian_2d_grid_test.cpp
Due: clang-format, update-source-list

:wrench: Update Clang in CI environment.
  .clang-tidy-checker
  .gitlab-ci.yml
Due: none

:bug: Fix errors in CI.
  .clang-tidy
  include/num_collect/auto_diff/backward/differentiate.h
  include/num_collect/base/exception.h
  include/num_collect/util/assert.h
Due: clang-format, update-source-list

:wrench: Update Python packages.
  .github/copilot-instructions.md
  poetry.lock
  pyproject.toml
Due: none

:zap: Remove dynamic memory allocations in iterations of AMG
  include/num_collect/linear/algebraic_multigrid_solver.h
  include/num_collect/util/scoped_eigen_no_malloc.h
Due: clang-format, update-source-list

:recycle: Concatenate namespaces.
  .clang-tidy
  include/num_collect/base/concepts/assertion_condition.h
  include/num_collect/base/concepts/const_reference_of.h
  include/num_collect/base/concepts/convertible_to.h
  include/num_collect/base/concepts/decayed_to.h
  include/num_collect/base/concepts/dense_matrix.h
  include/num_collect/base/concepts/dense_matrix_of.h
  include/num_collect/base/concepts/dense_vector.h
  include/num_collect/base/concepts/dense_vector_of.h
  include/num_collect/base/concepts/eigen_solver_of.h
  include/num_collect/base/concepts/formattable.h
  include/num_collect/base/concepts/implicitly_convertible_to.h
  include/num_collect/base/concepts/integral.h
  include/num_collect/base/concepts/invocable.h
  include/num_collect/base/concepts/invocable_as.h
  include/num_collect/base/concepts/iterative_solver.h
  include/num_collect/base/concepts/real_scalar.h
  include/num_collect/base/concepts/real_scalar_dense_matrix.h
  include/num_collect/base/concepts/real_scalar_dense_vector.h
  include/num_collect/base/concepts/real_scalar_sparse_matrix.h
  include/num_collect/base/concepts/reference_of.h
  include/num_collect/base/concepts/same_as.h
  include/num_collect/base/concepts/signed_integral.h
  include/num_collect/base/concepts/sparse_matrix.h
  include/num_collect/base/concepts/sparse_matrix_of.h
  include/num_collect/base/exception.h
  include/num_collect/base/get_size.h
  include/num_collect/base/index_type.h
  include/num_collect/base/isfinite.h
  include/num_collect/base/iterative_solver_base.h
  include/num_collect/base/norm.h
Due: clang-format, update-source-list

Revert ":recycle: Concatenate namespaces."
  .clang-tidy
  include/num_collect/base/concepts/assertion_condition.h
  include/num_collect/base/concepts/const_reference_of.h
  include/num_collect/base/concepts/convertible_to.h
  include/num_collect/base/concepts/decayed_to.h
  include/num_collect/base/concepts/dense_matrix.h
  include/num_collect/base/concepts/dense_matrix_of.h
  include/num_collect/base/concepts/dense_vector.h
  include/num_collect/base/concepts/dense_vector_of.h
  include/num_collect/base/concepts/eigen_solver_of.h
  include/num_collect/base/concepts/formattable.h
  include/num_collect/base/concepts/implicitly_convertible_to.h
  include/num_collect/base/concepts/integral.h
  include/num_collect/base/concepts/invocable.h
  include/num_collect/base/concepts/invocable_as.h
  include/num_collect/base/concepts/iterative_solver.h
  include/num_collect/base/concepts/real_scalar.h
  include/num_collect/base/concepts/real_scalar_dense_matrix.h
  include/num_collect/base/concepts/real_scalar_dense_vector.h
  include/num_collect/base/concepts/real_scalar_sparse_matrix.h
  include/num_collect/base/concepts/reference_of.h
  include/num_collect/base/concepts/same_as.h
  include/num_collect/base/concepts/signed_integral.h
  include/num_collect/base/concepts/sparse_matrix.h
  include/num_collect/base/concepts/sparse_matrix_of.h
  include/num_collect/base/exception.h
  include/num_collect/base/get_size.h
  include/num_collect/base/index_type.h
  include/num_collect/base/isfinite.h
  include/num_collect/base/iterative_solver_base.h
  include/num_collect/base/norm.h
Due: clang-format, update-source-list

:books: Rewriting some documentations.
  include/num_collect/base/concepts/assertion_condition.h
  include/num_collect/base/concepts/const_reference_of.h
Due: clang-format, update-source-list

:recycle: Updated documentation of num_collect::base::concepts.
  doc/sphinx/src/conventions.md
  include/num_collect/base/concepts/convertible_to.h
  include/num_collect/base/concepts/decayed_to.h
  include/num_collect/base/concepts/dense_matrix.h
  include/num_collect/base/concepts/dense_matrix_of.h
  include/num_collect/base/concepts/dense_vector.h
  include/num_collect/base/concepts/dense_vector_of.h
  include/num_collect/base/concepts/eigen_solver_of.h
  include/num_collect/base/concepts/formattable.h
  include/num_collect/base/concepts/implicitly_convertible_to.h
  include/num_collect/base/concepts/integral.h
  include/num_collect/base/concepts/invocable.h
  include/num_collect/base/concepts/invocable_as.h
  include/num_collect/base/concepts/iterative_solver.h
  include/num_collect/base/concepts/real_scalar_dense_matrix.h
  include/num_collect/base/concepts/real_scalar_dense_vector.h
  include/num_collect/base/concepts/real_scalar_sparse_matrix.h
  include/num_collect/base/concepts/reference_of.h
  include/num_collect/base/concepts/sparse_matrix.h
  include/num_collect/base/concepts/sparse_matrix_of.h
Due: clang-format, update-source-list

:recycle: Use C++ standard library for some concepts.
  include/num_collect/base/concepts/convertible_to.h
  include/num_collect/base/concepts/invocable.h
  include/num_collect/base/concepts/same_as.h
Due: clang-format, update-source-list

Path conditions:
  clang-format: any of: \.(h|cpp)$, but not: \.approved\.
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$ and not (source_list.cmake) and not (\.approved\.)
  update-source-list: any of: \.(h|cpp)$, but not: \.approved\.
