Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        exclude: source_list.cmake
        entry: poetry run cmake-format -i
      - id: update-source-list
        name: update-source-list
        description: Update the list of source codes.
        language: system
        files: \.(h|cpp)$
        entry: poetry run python scripts/update_source_list.py
      - id: check-encoding
        name: check-encoding
        description: Check encoding of files.
        language: system
        entry: poetry run python scripts/check_encoding.py
# Automatically generated files should not be checked.
exclude: "\\.approved\\."

:recycle: Better usage of fmt::memory_buffer.
  src/num_collect/logging/sinks/simple_log_sink.cpp
Due: clang-format, update-source-list

:bug: Fix build of binaries for profiling.
  profiling/logging/write_trace_logs.cpp
Due: clang-format, update-source-list

:books: Update design document.
  doc/sphinx/src/basic_design/uml/logging/config.puml
  doc/sphinx/src/basic_design/uml/logging/iterations.puml
  doc/sphinx/src/basic_design/uml/logging/logger.puml
Due: none

:alembic: Check performance when ignoring logs.
  profiling/logging/CMakeLists.txt
  profiling/logging/ignore_logs.cpp
Due: clang-format, cmake-format, update-source-list

:alembic: Implemented a benchmark of single-variate optimization using random quadratic functions.
  problems/include/num_prob_collect/opt/random_quadratic_function.h
  test/bench/opt/CMakeLists.txt
  test/bench/opt/random_quadratic_function_test.cpp
Due: clang-format, cmake-format, update-source-list

:alembic: Benchmark of single-variate global optimization.
  problems/include/num_prob_collect/opt/random_quadratic_function.h
  problems/include/num_prob_collect/opt/single_variate_multi_optima_function.h
  test/bench/opt/CMakeLists.txt
  test/bench/opt/single_variate_multi_optima_function_test.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Remove non-random version of benchmarks.
  test/bench/opt/CMakeLists.txt
  test/bench/opt/quadratic_function_test.cpp
  test/bench/opt/vibrated_quadratic_function_test.cpp
Due: clang-format, cmake-format, update-source-list

:alembic: Benchmark of multi-variate optimization using quadratic functions.
  problems/include/num_prob_collect/opt/random_multi_quadratic_function.h
  test/bench/opt/CMakeLists.txt
  test/bench/opt/multi_quadratic_function_test.cpp
  test/bench/opt/random_multi_quadratic_function_test.cpp
Due: clang-format, cmake-format, update-source-list

:alembic: Benchmark of global multi-variate optimizaiton.
  problems/include/num_prob_collect/opt/multi_variate_multi_optima_function.h
  test/bench/opt/CMakeLists.txt
  test/bench/opt/multi_variate_difficult_multi_optima_function_test.cpp
  test/bench/opt/multi_variate_multi_optima_function_test.cpp
Due: clang-format, cmake-format, update-source-list

:white_check_mark: Check that Cuthill-McKee ordering works correctly.
  scripts/update_source_list.py
  test/integ/CMakeLists.txt
  test/integ/linear_solvers/CMakeLists.txt
  test/integ/linear_solvers/laplacian_2d_grid_test.cpp
  test/integ/linear_solvers/source_list.cmake
  test/integ/linear_solvers/unity_source.cpp
Due: clang-format, cmake-format, update-source-list

:alembic: Benchmark of CM / RCM orderings.
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
Due: clang-format, update-source-list

:bug: Fix compile error of cuthill_mckee_ordering when used in Eigen library.
  include/num_collect/linear/cuthill_mckee_ordering.h
  test/integ/linear_solvers/laplacian_2d_grid_test.cpp
Due: clang-format, update-source-list

:bug: Fix compile error of reverse_cuthill_mckee_ordering when used in Eigen library.
  include/num_collect/linear/cuthill_mckee_ordering.h
  include/num_collect/linear/reverse_cuthill_mckee_ordering.h
  test/integ/linear_solvers/laplacian_2d_grid_test.cpp
Due: clang-format, update-source-list

:alembic: Benchmark of RCM ordering in ICCG.
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
  test/bench/linear/laplacian_2d_grid_sparse_direct_test.cpp
Due: clang-format, update-source-list

:construction: Implemented a class to save connected nodes in AMG solver.
  doc/doxygen/namespaces.h
  include/num_collect/linear/impl/node_connection_list.h
  test/units/linear/impl/node_connection_list_test.cpp
  test/units/linear/source_list.cmake
  test/units/linear/unity_source.cpp
Due: clang-format, update-source-list

:construction: Function to compute list of strongly connected nodes.
  include/num_collect/linear/impl/compute_strong_connection_list.h
  test/units/linear/impl/compute_strong_connection_list_test.cpp
  test/units/linear/source_list.cmake
  test/units/linear/unity_source.cpp
Due: clang-format, update-source-list

:books: Add citation.
  cspell.json
  doc/articles.bib
  include/num_collect/linear/impl/compute_strong_connection_list.h
Due: clang-format, update-source-list

:rotating_light: Fix warnings.
  include/num_collect/linear/impl/node_connection_list.h
Due: clang-format, update-source-list

:construction: Implemented a function to transpose a list of connections between nodes.
  include/num_collect/linear/impl/node_connection_list.h
  test/units/linear/impl/node_connection_list_test.cpp
Due: clang-format, update-source-list

:recycle: Change the directory structure to distinguish internal implementations of AMG method.
  doc/doxygen/.clang-format
  doc/doxygen/namespaces.h
  include/num_collect/linear/impl/amg/compute_strong_connection_list.h
  include/num_collect/linear/impl/amg/node_connection_list.h
  test/units/linear/impl/amg/compute_strong_connection_list_test.cpp
  test/units/linear/impl/amg/node_connection_list_test.cpp
  test/units/linear/source_list.cmake
  test/units/linear/unity_source.cpp
Due: clang-format, update-source-list

:rotating_light: Fix a warning.
  include/num_collect/linear/impl/amg/node_connection_list.h
Due: clang-format, update-source-list

:sparkles: Add a function to create first choise of coarse grid in AMG method.
  include/num_collect/linear/impl/amg/build_first_coarse_grid_candidate.h
  include/num_collect/linear/impl/amg/grid_type.h
  test/units/linear/impl/amg/build_first_coarse_grid_candidate_test.cpp
  test/units/linear/source_list.cmake
  test/units/linear/unity_source.cpp
Due: clang-format, update-source-list

:white_check_mark: Check the result of build_first_coarse_grid_candidate for laplacian_2d_grid.
  test/units/linear/impl/amg/approvals/build_first_coarse_grid_candidate_test.num_collect__linear__impl__amg__build_first_coarse_grid_candidate.build_a_candidate_for_laplacian_2d_grid.approved.txt
  test/units/linear/impl/amg/build_first_coarse_grid_candidate_test.cpp
Due: clang-format, update-source-list

:books: Update document.
  doc/sphinx/src/acknowledgement.rst
  doc/sphinx/src/convention.rst
  doc/sphinx/src/index.rst
  examples/linear/laplacian_2d_grid.cpp
  examples/linear/ordering_methods.cpp
  include/num_collect/ode/concepts/time_differentiable_problem.h
  problems/doc/.clang-format
  problems/doc/.clang-tidy
  problems/doc/namespaces.h
  problems/include/num_prob_collect/linear/laplacian_2d_grid.h
  test/bench/linear/laplacian_2d_grid_dense_test.cpp
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
  test/bench/linear/laplacian_2d_grid_make_sol.h
  test/bench/linear/laplacian_2d_grid_sparse_direct_test.cpp
  test/integ/linear_solvers/laplacian_2d_grid_test.cpp
  test/units/linear/cuthill_mckee_ordering_test.cpp
  test/units/linear/gauss_seidel_iterative_solver_test.cpp
  test/units/linear/impl/amg/build_first_coarse_grid_candidate_test.cpp
  test/units/linear/parallel_symmetric_successive_over_relaxation.cpp
  test/units/linear/reverse_cuthill_mckee_ordering_test.cpp
  test/units/linear/symmetric_successive_over_relaxation.cpp
Due: clang-format, update-source-list

:wrench: Update Python packages.
  poetry.lock
  pyproject.toml
Due: none

:recycle: Prevent many static_cast statements.
  .vscode/settings.json
  doc/doxygen/Doxyfile.in
  include/num_collect/linear/impl/amg/build_first_coarse_grid_candidate.h
  include/num_collect/linear/impl/amg/node_connection_list.h
  include/num_collect/util/vector.h
  test/units/linear/impl/amg/build_first_coarse_grid_candidate_test.cpp
Due: clang-format, update-source-list

:sparkles: Implemented a function to generate coarse grid in AMG method.
  include/num_collect/linear/impl/amg/build_first_coarse_grid_candidate.h
  include/num_collect/linear/impl/amg/create_coarse_grid.h
  include/num_collect/linear/impl/amg/node_layer.h
  include/num_collect/linear/impl/amg/tune_coarse_grid_selection.h
  include/num_collect/util/vector.h
  test/units/linear/impl/amg/approvals/create_coarse_grid_test.num_collect__linear__impl__amg__create_coarse_grid.apply_to_laplacian_2d_grid.approved.txt
  test/units/linear/impl/amg/approvals/tune_coarse_grid_selection_test.num_collect__linear__impl__amg__tune_coarse_grid_selection.apply_to_laplacian_2d_grid.approved.txt
  test/units/linear/impl/amg/build_first_coarse_grid_candidate_test.cpp
  test/units/linear/impl/amg/create_coarse_grid_test.cpp
  test/units/linear/impl/amg/tune_coarse_grid_selection_test.cpp
  test/units/linear/source_list.cmake
  test/units/linear/unity_source.cpp
Due: clang-format, update-source-list

:bug: Fix includes.
  include/num_collect/linear/impl/amg/compute_strong_connection_list.h
  include/num_collect/linear/impl/amg/create_coarse_grid.h
  include/num_collect/linear/impl/amg/tune_coarse_grid_selection.h
  test/units/linear/impl/amg/build_first_coarse_grid_candidate_test.cpp
  test/units/linear/impl/amg/compute_strong_connection_list_test.cpp
  test/units/linear/impl/amg/create_coarse_grid_test.cpp
  test/units/linear/impl/amg/node_connection_list_test.cpp
  test/units/linear/impl/amg/tune_coarse_grid_selection_test.cpp
Due: clang-format, update-source-list

:bug: Fix error of Doxygen.
  include/num_collect/linear/impl/amg/create_coarse_grid.h
Due: clang-format, update-source-list

:bug: Prevent difference of coarse grid due to different implementations of hash functions.
  test/units/linear/impl/amg/approvals/tune_coarse_grid_selection_test.num_collect__linear__impl__amg__tune_coarse_grid_selection.apply_to_laplacian_2d_grid.approved.txt
  test/units/linear/impl/amg/tune_coarse_grid_selection_test.cpp
Due: clang-format, update-source-list

:construction: Writing new version of design for implementation of RBF.
  doc/sphinx/src/basic_design/uml/interp/rbf.puml
Due: none

:construction: Writing design of new version of RBF implementation.
  doc/sphinx/src/basic_design/uml/interp/rbf.puml
Due: none

:construction: Configure installation of Python packages for CI with MSVC.
  .gitlab-ci.yml
Due: none

:construction: Add commands to configure using CMake and MSVC.
  .gitlab-ci.yml
  scripts/ci_win.cmd
Due: none

:wrench: Try to fix error due to pkgconfig.
  cspell.json
  vcpkg.json
Due: none

:wrench: Check build with MSVC in CI.
  scripts/ci_win.cmd
Due: none

:wrench: Change the way to install Python 3.11.
  .gitlab-ci.yml
Due: none

:wrench: Update packages.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none
