Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: pipenv run cmake-format -i

update-unity-source-in-unit-test:
  name: update-unity-source-in-unit-test
  description: Update the source code for the unity build of unit tests.
  language: system
  entry: pipenv run python test/units/create_unity_file.py

:wrench: Updated vcpkg.
  vcpkg-configuration.json
Due: none

:zap: Faster implementation of log_tag_config_tree.
  include/num_collect/logging/impl/log_tag_config_tree.h
Due: clang-format

:wrench: Updated cpp-hash-tables to v0.7.0.
  vcpkg-configuration.json
Due: none

:recycle: Refactor adc_sample_dict.
  include/num_collect/opt/adaptive_diagonal_curves.h
Due: clang-format

:zap: Slightly better performance of ADC using the new hash table.
  include/num_collect/opt/adaptive_diagonal_curves.h
Due: clang-format

:wrench: Updated environment configurations.
  .devcontainer/devcontainer.json
  .devcontainer/setup.bash
  .vscode/copyright.code-snippets
Due: none

:wrench: Update packages.
  poetry.lock
  vcpkg-configuration.json
Due: none

:construction: Implementing fraction.
  include/num_collect/numbers/fraction.h
  test/units/numbers/fraction_test.cpp
  test/units/numbers/source_list.cmake
  test/units/numbers/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:bug: Handling of all cases in fraction::normalize.
  include/num_collect/numbers/fraction.h
  test/units/numbers/fraction_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:rotating_light: Remove noexcept from the function which may throw an exception.
  include/num_collect/numbers/fraction.h
Due: clang-format

:construction: Addition of fractions.
  include/num_collect/numbers/fraction.h
  test/units/numbers/fraction_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Normalize fractions in constructors.
  include/num_collect/numbers/fraction.h
  test/units/numbers/fraction_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:construction: Comparison of fractions using operator==, operator!=.
  include/num_collect/numbers/fraction.h
  test/units/numbers/fraction_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Remove unnecessary conditions.
  include/num_collect/numbers/fraction.h
Due: clang-format

:construction: Functions to format fractions.
  include/num_collect/numbers/fraction.h
  test/units/numbers/fraction_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:construction: Addition of fractions using operator+.
  include/num_collect/numbers/fraction.h
  test/units/numbers/fraction_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:construction: Subtraction of fractions.
  include/num_collect/numbers/fraction.h
  test/units/numbers/fraction_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:white_check_mark: Test of validations of fractions.
  test/units/numbers/fraction_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:wrench: Update environment.
  poetry.lock
  vcpkg-configuration.json
Due: none

:sparkles: Implemented basic operations of fractions.
  include/num_collect/numbers/fraction.h
  test/units/numbers/fraction_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:rotating_light: Fix warning of clang-tidy.
  include/num_collect/numbers/fraction.h
Due: clang-format

:wrench: Prepare for release.
  doc/sphinx/src/release_notes/v0.7.0.md
  include/num_collect/version.h
Due: clang-format

:bug: Do not require pybind11 always
  CMakeLists.txt
Due: cmake-format

:wrench: Prepare release.
  doc/sphinx/src/release_notes/index.rst
  doc/sphinx/src/release_notes/v0.7.1.md
  include/num_collect/version.h
Due: clang-format

:bug: Fix installation via CMake.
  cmake/num-collect-config.cmake.in
Due: none

:wrench: Prepare release.
  doc/sphinx/src/release_notes/index.rst
  doc/sphinx/src/release_notes/v0.7.2.md
  include/num_collect/version.h
Due: clang-format

:sparkles: Add a class to generate Laplacian matrix.
  cspell.json
  examples/CMakeLists.txt
  examples/linear/CMakeLists.txt
  examples/linear/laplacian_2d_grid.cpp
  examples/linear/laplacian_2d_grid.toml
  problems/include/num_prob_collect/linear/laplacian_2d_grid.h
Due: clang-format, cmake-format

:wrench: Parameter tuning.
  examples/linear/laplacian_2d_grid.toml
Due: none

:bug: Fix implementation.
  examples/linear/laplacian_2d_grid.cpp
  problems/include/num_prob_collect/linear/laplacian_2d_grid.h
Due: clang-format

:alembic: Benchmark of conjugate gradient.
  examples/linear/laplacian_2d_grid.cpp
  test/bench/CMakeLists.txt
  test/bench/linear/CMakeLists.txt
  test/bench/linear/laplacian_2d_grid_make_sol.h
  test/bench/linear/laplacian_2d_grid_sparse_test.cpp
Due: clang-format, cmake-format

:alembic: Benchmark of more solvers.
  cspell.json
  test/bench/linear/CMakeLists.txt
  test/bench/linear/laplacian_2d_grid_dense_test.cpp
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
Due: clang-format, cmake-format

:alembic: Benchmark of other solvers.
  cspell.json
  test/bench/linear/CMakeLists.txt
  test/bench/linear/laplacian_2d_grid_sparse_direct_test.cpp
Due: clang-format, cmake-format

:books: Add a note.
  cspell.json
  problems/include/num_prob_collect/linear/laplacian_2d_grid.h
Due: clang-format

:alembic: Experiment of use of reordering in CG.
  cspell.json
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
Due: clang-format

:sparkles: Implement Gauss-Seidel iteration.
  cspell.json
  include/num_collect/base/concepts/dense_vector_of.h
  include/num_collect/base/concepts/sparse_matrix_of.h
  include/num_collect/linear/gauss_seidel_iterative_solver.h
  problems/include/num_prob_collect/linear/laplacian_2d_grid.h
  scripts/update_source_list.py
  test/units/CMakeLists.txt
  test/units/base/concepts/dense_vector_of_test.cpp
  test/units/base/concepts/sparse_matrix_of_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
  test/units/linear/CMakeLists.txt
  test/units/linear/gauss_seidel_iterative_solver_test.cpp
  test/units/linear/source_list.cmake
  test/units/linear/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:white_check_mark: Test of long double in Gauss-Seidel iteration.
  test/units/linear/gauss_seidel_iterative_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:bug: Fix check of zero diagonal coefficients.
  include/num_collect/linear/gauss_seidel_iterative_solver.h
  test/units/linear/gauss_seidel_iterative_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:alembic: Benchmark of Gauss-Seidel iteration.
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
Due: clang-format

:recycle: Change the interface of gauss_seidel_iterative_solver similar to solvers in Eigen library.
  cspell.json
  include/num_collect/linear/gauss_seidel_iterative_solver.h
  include/num_collect/linear/iterative_solver_base.h
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
  test/units/linear/gauss_seidel_iterative_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

Path conditions:
  clang-format: any of: \.(h|cpp)$
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$
  update-unity-source-in-unit-test: any of: test/units/.*\.cpp$
