Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        entry: pipenv run cmake-format -i
      - id: update-unity-source-in-unit-test
        name: update-unity-source-in-unit-test
        description: Update the source code for the unity build of unit tests.
        language: system
        files: test/units/.*\.cpp$
        entry: pipenv run python test/units/create_unity_file.py

doc: update version
  .gitlab-ci.yml
  CHANGELOG.md
  CMakeLists.txt
  conanfile.py
Due: cmake-format

chore: CI settings for dependency scanning
  .gitlab-ci.yml
Due: none

chore: fix CI setting
  .gitlab-ci.yml
Due: none

chore: update dependency graph of CI settings
  .gitlab-ci.yml
Due: none

doc: Model of regularization
  doc/sphinx/src/basic_design/index.rst
  doc/sphinx/src/basic_design/regularization.rst
  doc/sphinx/src/modules.rst
Due: none

feat: class of Tikhonov regularization
  doc/doxygen/namespaces.h
  doc/sphinx/src/basic_design/regularization.rst
  include/num_collect/regularization/explicit_regularized_solver_base.h
  include/num_collect/regularization/tikhonov.h
  problems/include/num_prob_collect/regularization/blur_sine.h
  test/units/regularization/tikhonov_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

test: check of effect of regularization in unit test
  test/units/regularization/tikhonov_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: complete required functions in tikhonov class
  .clang-format
  include/num_collect/regularization/impl/coeff_param.h
  include/num_collect/regularization/tikhonov.h
  test/units/regularization/tikhonov_test.cpp
Due: clang-format, update-unity-source-in-unit-test

style: prevent warning
  include/num_collect/regularization/tikhonov.h
Due: clang-format

feat: implement L-curve
  include/num_collect/regularization/explicit_l_curve.h
  include/num_collect/regularization/param_searcher_base.h
  test/units/regularization/explicit_l_curve_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

test: benchmark of regularization
  test/bench/CMakeLists.txt
  test/bench/regularization/CMakeLists.txt
  test/bench/regularization/blur_sine_test.cpp
  test/bench/regularization/log_error_udm.h
Due: clang-format, cmake-format

feat: implement GCV
  doc/sphinx/src/basic_design/regularization.rst
  include/num_collect/regularization/explicit_gcv.h
  include/num_collect/regularization/explicit_regularized_solver_base.h
  include/num_collect/regularization/tikhonov.h
  test/units/regularization/explicit_gcv_test.cpp
  test/units/regularization/tikhonov_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

test: benchmark of GCV
  test/bench/regularization/blur_sine_test.cpp
Due: clang-format

doc: remove unnecessary classes in model
  doc/sphinx/src/basic_design/regularization.rst
Due: none

refactor: add functions in interface
  include/num_collect/regularization/explicit_gcv.h
  include/num_collect/regularization/explicit_l_curve.h
  include/num_collect/regularization/param_searcher_base.h
Due: clang-format

test: check regularization parameter in benchmarks
  test/bench/regularization/blur_sine_test.cpp
  test/bench/regularization/log_param_udm.h
Due: clang-format

feat: implement full_gen_tikhonov class
  doc/articles.bib
  doc/sphinx/src/basic_design/regularization.rst
  include/num_collect/regularization/full_gen_tikhonov.h
  include/num_collect/regularization/tikhonov.h
  problems/include/num_prob_collect/regularization/dense_diff_matrix.h
  test/units/regularization/full_gen_tikhonov_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

test: benchmark of full_gen_tikhonov class
  test/bench/regularization/blur_sine_test.cpp
Due: clang-format

fix: safer implementation of full_gen_tikhonov class
  include/num_collect/regularization/full_gen_tikhonov.h
Due: clang-format

chore: upgrade Eigen
  conanfile.py
Due: none

doc: check warnings in documentation
  doc/doxygen/CMakeLists.txt
  doc/sphinx/CMakeLists.txt
Due: cmake-format

chore: check of encoding of files
  .pre-commit-config.yaml
  scripts/check_encoding.py
Due: none

feat: add helper function to get size
  include/num_collect/util/get_size.h
  test/units/source_list.cmake
  test/units/unity_source.cpp
  test/units/util/get_size_test.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

feat: support scalar variables in dividing rectanbles method
  include/num_collect/opt/dividing_rectangles.h
  problems/include/num_prob_collect/opt/vibrated_quadratic_function.h
  test/units/opt/dividing_rectangles_test.cpp
Due: clang-format, update-unity-source-in-unit-test

test: benchmark of 1-dimensional global optimization
  test/bench/opt/CMakeLists.txt
  test/bench/opt/vibrated_quadratic_function_test.cpp
Due: clang-format, cmake-format

test: benchmark of 1-dimensional optimization
  test/bench/opt/CMakeLists.txt
  test/bench/opt/quadratic_function_test.cpp
Due: clang-format, cmake-format

style: fix warnings
  include/num_collect/util/get_size.h
Due: clang-format

feat: optimization with sampling
  include/num_collect/opt/sampling_optimizer.h
  test/bench/opt/quadratic_function_test.cpp
  test/bench/opt/vibrated_quadratic_function_test.cpp
  test/units/opt/sampling_optimizer_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

feat: 1-dimensional global optimization using heuristics
  include/num_collect/opt/heuristic_1dim_optimizer.h
  include/num_collect/opt/sampling_optimizer.h
  test/bench/opt/quadratic_function_test.cpp
  test/bench/opt/vibrated_quadratic_function_test.cpp
  test/units/opt/heuristic_1dim_optimizer_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

fix: check rank of QR decomposition in full_gen_tikhonov class
  include/num_collect/regularization/full_gen_tikhonov.h
  problems/include/num_prob_collect/regularization/dense_diff_matrix.h
  test/units/regularization/full_gen_tikhonov_test.cpp
Due: clang-format, update-unity-source-in-unit-test

doc: add documentation for undocumented namespaces
  doc/doxygen/namespaces.h
  problems/doc/namespaces.h
Due: clang-format

fix: re-implement assertion without lambda function
  doc/doxygen/namespaces.h
  include/num_collect/util/assert.h
Due: clang-format

doc: write about the change in the previous commit
  doc/adr/0004-Stop-using-lambda-functions-in-macros.md
Due: none

perf: change optimization method in GCV and L-curve
  include/num_collect/regularization/explicit_gcv.h
  include/num_collect/regularization/explicit_l_curve.h
Due: clang-format

doc: documentation of directory structure
  doc/sphinx/src/directories.rst
  doc/sphinx/src/index.rst
Due: none

doc: example of Tikhonov regularization with a graph
  .gitignore
  Pipfile
  conanfile.py
  examples/CMakeLists.txt
  examples/regularization/CMakeLists.txt
  examples/regularization/blur_sine_tikhonov.cpp
Due: clang-format, cmake-format

doc: parameter tuning of the example
  examples/regularization/blur_sine_tikhonov.cpp
Due: clang-format

feat: funciton to cast integers safely
  include/num_collect/util/safe_cast.h
  test/units/source_list.cmake
  test/units/unity_source.cpp
  test/units/util/safe_cast_test.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

refactor: use safe_cast function in existing implementations
  include/num_collect/auto_diff/backward/differentiate.h
  include/num_collect/integration/gauss_legendre_kronrod_integrator.h
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/dividing_rectangles.h
  include/num_collect/opt/downhill_simplex.h
  include/num_collect/opt/sampling_optimizer.h
Due: clang-format

refactor: move functions to calculate L-curve curvature and GCV function value to explicit_regularized_solver_base class
  examples/regularization/blur_sine_tikhonov.cpp
  include/num_collect/regularization/explicit_gcv.h
  include/num_collect/regularization/explicit_l_curve.h
  include/num_collect/regularization/explicit_regularized_solver_base.h
Due: clang-format
