Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        entry: pipenv run cmake-format -i
      - id: update-unity-source-in-unit-test
        name: update-unity-source-in-unit-test
        description: Update the source code for the unity build of unit tests.
        language: system
        files: test/units/.*\.cpp$
        entry: pipenv run python test/units/create_unity_file.py

:zap: Helper script to perform profiling.
  .gitignore
  .vscode/settings.json
  Pipfile
  Pipfile.lock
  scripts/perform_profiling.py
Due: none

:zap: :recycle: Refactor configuration of profiling.
  .devcontainer/Dockerfile
  profiling/CMakeLists.txt
  profiling/opt/CMakeLists.txt
Due: cmake-format

:books: Update CHANGELOG.
  CHANGELOG.md
Due: none

:recycle: Rename existing heuristic global optimizer in 1 dimension.
  include/num_collect/interp/kernel/impl/auto_regularizer.h
  include/num_collect/opt/heuristic_global_optimizer.h
  include/num_collect/regularization/explicit_gcv.h
  include/num_collect/regularization/explicit_l_curve.h
  test/bench/opt/quadratic_function_test.cpp
  test/bench/opt/vibrated_quadratic_function_test.cpp
  test/units/catch_event_listner.cpp
  test/units/opt/heuristic_global_optimizer_test.cpp
  test/units/opt/source_list.cmake
  test/units/opt/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Heuristic global optimizer for multi-variate problems.
  include/num_collect/opt/heuristic_global_optimizer.h
  test/units/opt/heuristic_global_optimizer_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:zap: Benchmark of heuristic_global_optimizer for multi-variate problems.
  test/bench/opt/multi_quadratic_function_test.cpp
  test/bench/opt/powell4_function_test.cpp
  test/bench/opt/rosenbrock_function_test.cpp
  test/bench/opt/shekel_function_test.cpp
Due: clang-format

:recycle: Use heuristic_global_optimizer in kernel_parameter_optimizer for better performance.
  include/num_collect/interp/kernel/impl/kernel_parameter_optimizer.h
  test/units/catch_event_listner.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Add modes to heuristic_global_optimizer.
  include/num_collect/interp/kernel/impl/kernel_parameter_optimizer.h
  include/num_collect/opt/heuristic_global_optimizer.h
  test/units/opt/heuristic_global_optimizer_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:zap: Benchmark of heuristic_global_optimizer with modes.
  test/bench/opt/shekel_function_test.cpp
Due: clang-format

:sparkles: Add logging_mixin class.
  include/num_collect/logging/logging_mixin.h
  test/units/logging/logging_mixin_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Use logging_mixin in existing algorithms.
  include/num_collect/base/iterative_solver_base.h
  include/num_collect/ode/runge_kutta/semi_implicit_formula_solver.h
  include/num_collect/ode/solver_base.h
  include/num_collect/regularization/implicit_regularized_solver_base.h
Due: clang-format

:wrench: Update Python version in CI on MSVC.
  .gitlab-ci.yml
Due: none

:wrench: Update Docker image used in devcontainer.
  .devcontainer/Dockerfile
Due: none

:wrench: Update Docker images used in CI.
  .gitlab-ci.yml
Due: none

:wrench: Fix CI command.
  .gitlab-ci.yml
Due: none

:books: Update documentation.
  README.md
  doc/sphinx/src/how_to_build_in_repository.md
Due: none

:wrench: Update environment.
  .devcontainer/Dockerfile
  .devcontainer/setup.bash
  .vscode/settings.json
  Pipfile
  Pipfile.lock
  conanfile.py
  doc/doxygen/Doxyfile.in
  scripts/check_encoding.py
  scripts/install_conan_dependencies.py
  scripts/perform_profiling.py
  scripts/update_source_list.py
  test/units/catch_event_listner.cpp
Due: clang-format, update-unity-source-in-unit-test

:wrench: Update CI configuration.
  .gitlab-ci.yml
Due: none

:recycle: Tune format of summary log in iteration_logger.
  .clang-tidy
  include/num_collect/logging/iteration_logger.h
  test/units/logging/iteration_logger_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Change output of log level.
  .clang-tidy
  .vscode/settings.json
  include/num_collect/logging/impl/log_formatter.h
  test/units/logging/impl/log_formatter_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:white_check_mark: Test to write console logs.
  .gitlab-ci.yml
  CMakeLists.txt
  conanfile.py
  doc/CMakeLists.txt
  doc/sphinx/CMakeLists.txt
  test/CMakeLists.txt
  test/integ/CMakeLists.txt
  test/integ/logging/CMakeLists.txt
  test/integ/logging/approvals/write_logs_test.logging_to_console.write.approved.txt
  test/integ/logging/write_logs_test.cpp
  test/integ/logging/writer.cpp
Due: clang-format, cmake-format

:white_check_mark: Test to write logs to files.
  test/integ/logging/approvals/write_logs_test.write_logs.to_console.approved.txt
  test/integ/logging/approvals/write_logs_test.write_logs.to_file.approved.txt
  test/integ/logging/write_logs_test.cpp
Due: clang-format

:wrench: Disable integration test in MSVC because MSVC try to link to unnecessary libraries to fail.
  .gitlab-ci.yml
Due: none

:sparkles: Add log_tag_config_tree.
  .clang-tidy
  CMakeLists.txt
  conanfile.py
  include/num_collect/base/exception.h
  include/num_collect/logging/impl/log_tag_config_tree.h
  include/num_collect/logging/impl/log_tag_element.h
  include/num_collect/logging/impl/separate_top_log_tag_element.h
  include/num_collect/util/concepts/hash_function.h
  include/num_collect/util/concurrent_map.h
  test/units/base/exception_test.cpp
  test/units/logging/impl/log_tag_config_tree_test.cpp
  test/units/logging/impl/separate_top_log_tag_element_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Use implemented tree in log_config.
  include/num_collect/logging/log_config.h
Due: clang-format

:recycle: Change configuration of log levels.
  examples/configure_logging.h
  examples/logging/write_logs.cpp
  include/num_collect/logging/impl/colored_log_formatter.h
  include/num_collect/logging/impl/log_formatter.h
  include/num_collect/logging/iteration_logger.h
  include/num_collect/logging/log_level.h
  include/num_collect/logging/log_tag.h
  include/num_collect/logging/log_tag_config.h
  include/num_collect/logging/log_tag_view.h
  include/num_collect/logging/logger.h
  test/bench/logging/iteration_logger.cpp
  test/integ/logging/writer.cpp
  test/units/catch_event_listner.cpp
  test/units/logging/impl/log_tag_element_test.cpp
  test/units/logging/iteration_logger_test.cpp
  test/units/logging/log_level_test.cpp
  test/units/logging/log_tag_config_test.cpp
  test/units/logging/log_tag_test.cpp
  test/units/logging/log_tag_view_test.cpp
  test/units/logging/logger_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Change the way to specify loggers to iteration_loggers
  examples/logging/write_logs.cpp
  include/num_collect/base/iterative_solver_base.h
  include/num_collect/logging/iteration_logger.h
  include/num_collect/logging/logging_mixin.h
  include/num_collect/ode/solver_base.h
  include/num_collect/regularization/iterative_regularized_solver_base.h
  test/bench/logging/iteration_logger.cpp
  test/integ/logging/writer.cpp
  test/units/logging/iteration_logger_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:zap: Faster implementation of iteration_logger.
  include/num_collect/logging/iteration_logger.h
  include/num_collect/logging/logger.h
Due: clang-format

:sparkles: Add iteration_layer_handler.
  .vscode/settings.json
  include/num_collect/logging/impl/iteration_layer_handler.h
  test/units/logging/impl/iteration_layer_handler_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Limit logs of internal algorithms.
  include/num_collect/logging/impl/iteration_layer_handler.h
  include/num_collect/logging/iteration_logger.h
  include/num_collect/logging/log_tag_config.h
  include/num_collect/logging/logger.h
  test/units/logging/iteration_logger_test.cpp
  test/units/logging/log_tag_config_test.cpp
  test/units/logging/logger_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Configure algorithms to handle iteration layers.
  include/num_collect/base/iterative_solver_base.h
  include/num_collect/interp/kernel/impl/auto_regularizer.h
  include/num_collect/interp/kernel/impl/auto_regularizer_wrapper.h
  include/num_collect/interp/kernel/impl/kernel_coeff_solver.h
  include/num_collect/interp/kernel/impl/kernel_parameter_optimizer.h
  include/num_collect/interp/kernel/kernel_interpolator.h
  include/num_collect/logging/impl/iteration_layer_handler.h
  include/num_collect/logging/iteration_logger.h
  include/num_collect/logging/logger.h
  include/num_collect/ode/solver_base.h
  include/num_collect/regularization/implicit_regularized_solver_base.h
  test/units/catch_event_listner.cpp
  test/units/logging/impl/iteration_layer_handler_test.cpp
  test/units/logging/iteration_logger_test.cpp
  test/units/logging/logger_test.cpp
  test/units/ode/runge_kutta/rk4_formula_test.cpp
  test/units/ode/simple_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Miscellaneous refactoring.
  examples/logging/write_logs.cpp
  include/num_collect/base/iterative_solver_base.h
  include/num_collect/logging/impl/iteration_layer_handler.h
  include/num_collect/logging/iteration_logger.h
  include/num_collect/ode/solver_base.h
  include/num_collect/regularization/iterative_regularized_solver_base.h
  test/bench/logging/iteration_logger.cpp
  test/integ/logging/writer.cpp
  test/units/logging/iteration_logger_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Load toml files for configurations of logging.
  .devcontainer/devcontainer.json
  .vscode/settings.json
  CMakeLists.txt
  conanfile.py
  include/num_collect/logging/colored_console_log_sink.h
  include/num_collect/logging/impl/load_logging_config_toml.h
  include/num_collect/logging/load_logging_config.h
  include/num_collect/logging/simple_log_sink.h
  test/units/logging/impl/load_logging_config_toml_test.cpp
  test/units/logging/load_logging_config_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:zap: Profiling of trace logs.
  profiling/CMakeLists.txt
  profiling/logging/CMakeLists.txt
  profiling/logging/write_trace_logs.cpp
Due: clang-format, cmake-format

:zap: Benchmark of trace logs.
  test/bench/logging/CMakeLists.txt
  test/bench/logging/write_trace_logs.cpp
Due: clang-format, cmake-format

:wrench: Configure ccache for local environment.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/cmake-variants.yaml
  .vscode/settings.json
  CMakeLists.txt
  cmake/ConfigureCcache.cmake
Due: cmake-format

:wrench: Use ccache in CI configuration.
  .gitlab-ci.yml
Due: none
