Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: pipenv run cmake-format -i

update-unity-source-in-unit-test:
  name: update-unity-source-in-unit-test
  description: Update the source code for the unity build of unit tests.
  language: system
  entry: pipenv run python test/units/create_unity_file.py

:bug: Fix CMakeLists.txt.
  CMakeLists.txt
Due: cmake-format

:books: Change modeling of implicit formulas in ode module.
  .gitlab-ci.yml
  doc/sphinx/src/basic_design/uml/ode/embedded_formulas.puml
  doc/sphinx/src/basic_design/uml/ode/formula_and_problems.puml
  doc/sphinx/src/basic_design/uml/ode/runge-kutta/implicit_formulas.puml
Due: none

:sparkles: Add inexact_newton_stage_equation_solver for vector case.
  include/num_collect/ode/inexact_newton_stage_equation_solver.h
  test/units/ode/approvals/inexact_newton_stage_equation_solver_test.num_collect__ode__inexact_newton_stage_equation_solver(vector).solve_for_implicit_Euler_method.approved.txt
  test/units/ode/inexact_newton_stage_equation_solver_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Make error_tolerances class to be default constructible.o
  include/num_collect/ode/basic_step_size_controller.h
  include/num_collect/ode/concepts/step_size_controller.h
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/error_tolerances.h
  include/num_collect/ode/inexact_newton_stage_equation_solver.h
  include/num_collect/ode/pi_step_size_controller.h
  include/num_collect/ode/step_size_controller_base.h
  test/bench/ode/diagrams/diagram_common.h
  test/units/ode/basic_step_size_controller_test.cpp
  test/units/ode/error_tolerances_test.cpp
  test/units/ode/initial_step_size_calculator_test.cpp
  test/units/ode/pi_step_size_controller_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Add inexact_newton_stage_equation_solver for scalars.
  include/num_collect/ode/inexact_newton_stage_equation_solver.h
  test/units/ode/approvals/inexact_newton_stage_equation_solver_test.num_collect__ode__inexact_newton_stage_equation_solver(scalar).solve_for_implicit_Euler_method.approved.txt
  test/units/ode/inexact_newton_stage_equation_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Use the new solver for implicit equations.
  include/num_collect/ode/concepts/stage_equation_solver.h
  include/num_collect/ode/implicit_formula_solver_strategies.h
  include/num_collect/ode/runge_kutta/implicit_euler_formula.h
  include/num_collect/ode/runge_kutta/implicit_formula_base.h
  include/num_collect/ode/runge_kutta/semi_implicit_formula_solver.h
  include/num_collect/ode/runge_kutta/tanaka1_formula.h
  include/num_collect/ode/runge_kutta/tanaka2_formula.h
  include/num_collect/ode/solver_base.h
  test/units/ode/inexact_newton_stage_equation_solver_test.cpp
  test/units/ode/runge_kutta/approvals/implicit_euler_formula_test.num_collect__ode__runge_kutta__implicit_euler_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/implicit_euler_formula_test.num_collect__ode__runge_kutta__implicit_euler_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/tanaka1_formula_test.num_collect__ode__runge_kutta__tanaka1_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/implicit_euler_formula_test.cpp
  test/units/ode/runge_kutta/semi_implicit_formula_solver_test.cpp
  test/units/ode/runge_kutta/tanaka1_formula_test.cpp
  test/units/ode/runge_kutta/tanaka2_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Common base class for explicit and implicit formulas.
  include/num_collect/ode/runge_kutta/implicit_formula_base.h
Due: clang-format

:recycle: Configure tolerances in several positions at once.
  include/num_collect/ode/embedded_solver.h
  test/bench/ode/diagrams/diagram_common.h
Due: clang-format

:bug: Initialize slopes.
  include/num_collect/ode/inexact_newton_stage_equation_solver.h
  include/num_collect/ode/runge_kutta/implicit_euler_formula.h
  include/num_collect/ode/runge_kutta/tanaka1_formula.h
  include/num_collect/ode/runge_kutta/tanaka2_formula.h
  include/num_collect/ode/step_size_controller_base.h
Due: clang-format

:white_check_mark: Add test of error_tolerances.
  test/units/ode/error_tolerances_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:white_check_mark: Add test of error cases in inexact_newton_stage_equation_solver class.
  test/units/ode/inexact_newton_stage_equation_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:wrench: Update packages.
  Pipfile.lock
  conanfile.py
Due: none

:zap: Add a benchmark using another stiff equation.
  .vscode/settings.json
  doc/articles.bib
  problems/include/num_prob_collect/ode/kaps_problem.h
  test/bench/ode/CMakeLists.txt
  test/bench/ode/kaps_problem_test.cpp
Due: clang-format, cmake-format

:books: Update CHANGELOG.
  CHANGELOG.md
Due: none

:zap: Benchmark of Kaps' problem using multiple tolerances.
  test/bench/ode/diagrams/CMakeLists.txt
  test/bench/ode/diagrams/diagram_common.h
  test/bench/ode/diagrams/kaps_problem_test.cpp
Due: clang-format, cmake-format

:recycle: Remove include of bad header.
  test/bench/ode/diagrams/diagram_common.h
Due: clang-format

:recycle: Rename existing solver before adding a solver with similar function.
  .vscode/settings.json
  doc/sphinx/src/basic_design/uml/ode/runge-kutta/implicit_formulas.puml
  include/num_collect/ode/concepts/slope_equation_solver.h
  include/num_collect/ode/inexact_newton_slope_equation_solver.h
  include/num_collect/ode/runge_kutta/implicit_euler_formula.h
  include/num_collect/ode/runge_kutta/implicit_formula_base.h
  include/num_collect/ode/runge_kutta/tanaka1_formula.h
  include/num_collect/ode/runge_kutta/tanaka2_formula.h
  test/units/ode/inexact_newton_slope_equation_solver_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add inexact_newton_update_equation_solver for stiffly accurate formulas to be implemented.
  .vscode/settings.json
  include/num_collect/ode/concepts/update_equation_solver.h
  include/num_collect/ode/inexact_newton_update_equation_solver.h
  test/units/ode/approvals/inexact_newton_slope_equation_solver_test.num_collect__ode__inexact_newton_slope_equation_solver(scalar).solve_for_implicit_Euler_method.approved.txt
  test/units/ode/approvals/inexact_newton_slope_equation_solver_test.num_collect__ode__inexact_newton_slope_equation_solver(vector).solve_for_implicit_Euler_method.approved.txt
  test/units/ode/approvals/inexact_newton_update_equation_solver_test.num_collect__ode__inexact_newton_update_equation_solver(scalar).solve_for_Hammer-Hollingsworth_method.approved.txt
  test/units/ode/approvals/inexact_newton_update_equation_solver_test.num_collect__ode__inexact_newton_update_equation_solver(vector).solve_for_Hammer-Hollingsworth_method.approved.txt
  test/units/ode/inexact_newton_slope_equation_solver_test.cpp
  test/units/ode/inexact_newton_update_equation_solver_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Relaxed condition for implicit Runge-Kutta methods.
  include/num_collect/ode/runge_kutta/implicit_euler_formula.h
  include/num_collect/ode/runge_kutta/tanaka1_formula.h
  include/num_collect/ode/runge_kutta/tanaka2_formula.h
Due: clang-format

:recycle: Applied IWYU to ode module.
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/inexact_newton_slope_equation_solver.h
  include/num_collect/ode/inexact_newton_update_equation_solver.h
  include/num_collect/ode/runge_kutta/implicit_formula_base.h
  include/num_collect/ode/step_size_controller_base.h
  scripts/check_iwyu.py
  test/units/ode/avf/avf2_formula_test.cpp
  test/units/ode/avf/avf3_formula_test.cpp
  test/units/ode/avf/avf4_formula_test.cpp
  test/units/ode/basic_step_size_controller_test.cpp
  test/units/ode/embedded_solver_test.cpp
  test/units/ode/error_tolerances_test.cpp
  test/units/ode/inexact_newton_slope_equation_solver_test.cpp
  test/units/ode/inexact_newton_update_equation_solver_test.cpp
  test/units/ode/initial_step_size_calculator_test.cpp
  test/units/ode/pi_step_size_controller_test.cpp
  test/units/ode/rosenbrock/rodasp_formula_test.cpp
  test/units/ode/rosenbrock/rodaspr_formula_test.cpp
  test/units/ode/rosenbrock/ros34pw3_formula_test.cpp
  test/units/ode/rosenbrock/ros3w_formula_test.cpp
  test/units/ode/runge_kutta/implicit_euler_formula_test.cpp
  test/units/ode/runge_kutta/rk4_formula_test.cpp
  test/units/ode/runge_kutta/rkf45_formula_test.cpp
  test/units/ode/runge_kutta/tanaka1_formula_test.cpp
  test/units/ode/runge_kutta/tanaka2_formula_test.cpp
  test/units/ode/simple_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Coefficients of DOPRI5.
  .vscode/settings.json
  include/num_collect/ode/runge_kutta/dopri5_formula.h
  test/units/ode/runge_kutta/dopri5_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Added DOPRI5.
  include/num_collect/ode/runge_kutta/dopri5_formula.h
  test/units/ode/runge_kutta/approvals/dopri5_formula_test.num_collect__ode__runge_kutta__dopri5_formula.step.approved.txt
  test/units/ode/runge_kutta/approvals/dopri5_formula_test.num_collect__ode__runge_kutta__dopri5_formula.step_embedded.approved.txt
  test/units/ode/runge_kutta/approvals/dopri5_formula_test.num_collect__ode__runge_kutta__dopri5_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/dopri5_formula_test.num_collect__ode__runge_kutta__dopri5_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/dopri5_formula_test.num_collect__ode__runge_kutta__dopri5_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/dopri5_formula_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:zap: Benchmarks of DOPRI5.
  test/bench/ode/diagrams/exponential_test.cpp
  test/bench/ode/diagrams/external_force_vibration_test.cpp
  test/bench/ode/diagrams/free_fall_in_resistance_test.cpp
  test/bench/ode/diagrams/kaps_problem_test.cpp
  test/bench/ode/diagrams/spring_movement_test.cpp
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/kaps_problem_test.cpp
  test/bench/ode/pendulum_movement_test.cpp
  test/bench/ode/spring_movement_test.cpp
Due: clang-format

:recycle: Implement better stop criterion in inexact Newton method.
  include/num_collect/ode/inexact_newton_slope_equation_solver.h
  include/num_collect/ode/inexact_newton_update_equation_solver.h
Due: clang-format

:construction: Implement coefficients of 4th order SDIRK.
  .vscode/settings.json
  include/num_collect/ode/runge_kutta/implicit_formula_base.h
  include/num_collect/ode/runge_kutta/sdirk4_formula.h
  test/units/ode/runge_kutta/sdirk4_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: 4th-order SDIRK formula.
  include/num_collect/ode/concepts/update_equation_solver.h
  include/num_collect/ode/inexact_newton_update_equation_solver.h
  include/num_collect/ode/runge_kutta/implicit_euler_formula.h
  include/num_collect/ode/runge_kutta/sdirk4_formula.h
  include/num_collect/ode/runge_kutta/tanaka1_formula.h
  include/num_collect/ode/runge_kutta/tanaka2_formula.h
  test/units/ode/runge_kutta/approvals/sdirk4_formula_test.num_collect__ode__runge_kutta__sdirk4_formula.step.approved.txt
  test/units/ode/runge_kutta/approvals/sdirk4_formula_test.num_collect__ode__runge_kutta__sdirk4_formula.step_embedded.approved.txt
  test/units/ode/runge_kutta/approvals/sdirk4_formula_test.num_collect__ode__runge_kutta__sdirk4_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/sdirk4_formula_test.num_collect__ode__runge_kutta__sdirk4_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/sdirk4_formula_test.num_collect__ode__runge_kutta__sdirk4_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/sdirk4_formula_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:zap: Efficient method to generate zeros.
  include/num_collect/ode/runge_kutta/sdirk4_formula.h
Due: clang-format

:recycle: Common concept for two solvers.
  include/num_collect/ode/concepts/ode_equation_solver.h
  include/num_collect/ode/concepts/slope_equation_solver.h
  include/num_collect/ode/concepts/update_equation_solver.h
  include/num_collect/ode/runge_kutta/implicit_formula_base.h
Due: clang-format

:zap: Benchmarks of SDIRK.
  test/bench/ode/diagrams/exponential_test.cpp
  test/bench/ode/diagrams/external_force_vibration_test.cpp
  test/bench/ode/diagrams/free_fall_in_resistance_test.cpp
  test/bench/ode/diagrams/kaps_problem_test.cpp
  test/bench/ode/diagrams/spring_movement_test.cpp
Due: clang-format

:sparkles: Add mixed_broyden_rosenbrock_equation_solver.
  .vscode/settings.json
  doc/articles.bib
  include/num_collect/ode/rosenbrock/mixed_broyden_rosenbrock_equation_solver.h
  test/units/ode/rosenbrock/approvals/mixed_broyden_rosenbrock_equation_solver_test.num_collect__ode__rosenbrock__mixed_broyden_rosenbrock_equation_solver.approx_evaluation.apply_Jacobian.approved.txt
  test/units/ode/rosenbrock/approvals/mixed_broyden_rosenbrock_equation_solver_test.num_collect__ode__rosenbrock__mixed_broyden_rosenbrock_equation_solver.approx_evaluation.solve.approved.txt
  test/units/ode/rosenbrock/approvals/mixed_broyden_rosenbrock_equation_solver_test.num_collect__ode__rosenbrock__mixed_broyden_rosenbrock_equation_solver.first_evaluation.apply_Jacobian.approved.txt
  test/units/ode/rosenbrock/approvals/mixed_broyden_rosenbrock_equation_solver_test.num_collect__ode__rosenbrock__mixed_broyden_rosenbrock_equation_solver.first_evaluation.solve.approved.txt
  test/units/ode/rosenbrock/approvals/mixed_broyden_rosenbrock_equation_solver_test.num_collect__ode__rosenbrock__mixed_broyden_rosenbrock_equation_solver.second_evaluation_with_the_same_time.apply_Jacobian.approved.txt
  test/units/ode/rosenbrock/approvals/mixed_broyden_rosenbrock_equation_solver_test.num_collect__ode__rosenbrock__mixed_broyden_rosenbrock_equation_solver.second_evaluation_with_the_same_time.solve.approved.txt
  test/units/ode/rosenbrock/approvals/mixed_broyden_rosenbrock_equation_solver_test.num_collect__ode__rosenbrock__mixed_broyden_rosenbrock_equation_solver.second_evaluation_with_the_same_variable.apply_Jacobian.approved.txt
  test/units/ode/rosenbrock/approvals/mixed_broyden_rosenbrock_equation_solver_test.num_collect__ode__rosenbrock__mixed_broyden_rosenbrock_equation_solver.second_evaluation_with_the_same_variable.solve.approved.txt
  test/units/ode/rosenbrock/mixed_broyden_rosenbrock_equation_solver_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:zap: Benchmark of implemented Broyden's update.
  include/num_collect/ode/rosenbrock/mixed_broyden_rosenbrock_equation_solver.h
  test/bench/ode/diagrams/CMakeLists.txt
  test/bench/ode/diagrams/kaps_problem_test.cpp
  test/bench/ode/diagrams/rosenbrock_equation_solvers_test.cpp
Due: clang-format, cmake-format

:recycle: Applied IWYU to implemented class.
  include/num_collect/ode/rosenbrock/mixed_broyden_rosenbrock_equation_solver.h
  test/units/ode/rosenbrock/mixed_broyden_rosenbrock_equation_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Refactor existing benchmarks.
  test/bench/ode/diagrams/diagram_common.h
  test/bench/ode/diagrams/exponential_test.cpp
  test/bench/ode/diagrams/external_force_vibration_test.cpp
  test/bench/ode/diagrams/free_fall_in_resistance_test.cpp
  test/bench/ode/diagrams/kaps_problem_test.cpp
  test/bench/ode/diagrams/rosenbrock_equation_solvers_test.cpp
  test/bench/ode/diagrams/spring_movement_test.cpp
Due: clang-format

:recycle: Rewrite existing benchmark without diagrams.
  test/bench/ode/diagrams/CMakeLists.txt
  test/bench/ode/diagrams/step_size_controllers_test.cpp
Due: clang-format, cmake-format

:recycle: Remove old files.
  test/bench/ode/CMakeLists.txt
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/kaps_problem_test.cpp
  test/bench/ode/pendulum_movement_test.cpp
  test/bench/ode/spring_movement_test.cpp
  test/bench/ode/step_size_controllers_test.cpp
Due: clang-format, cmake-format

:wrench: Move files from subdirectory.
  test/bench/ode/CMakeLists.txt
  test/bench/ode/diagram_common.h
  test/bench/ode/exponential_test.cpp
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/kaps_problem_test.cpp
  test/bench/ode/rosenbrock_equation_solvers_test.cpp
  test/bench/ode/spring_movement_test.cpp
  test/bench/ode/step_size_controllers_test.cpp
Due: clang-format, cmake-format

:recycle: Remove unnecessary prefix.
  test/bench/ode/CMakeLists.txt
Due: cmake-format

:recycle: Show titles in diagrams.
  test/bench/ode/diagram_common.h
  test/bench/ode/exponential_test.cpp
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/kaps_problem_test.cpp
  test/bench/ode/rosenbrock_equation_solvers_test.cpp
  test/bench/ode/spring_movement_test.cpp
  test/bench/ode/step_size_controllers_test.cpp
Due: clang-format

:sparkles: Add ark43_esdirk_formula.
  .vscode/settings.json
  include/num_collect/ode/runge_kutta/ark43_esdirk_formula.h
  test/units/ode/runge_kutta/approvals/ark43_esdirk_formula_test.num_collect__ode__runge_kutta__ark43_esdirk_formula.step.approved.txt
  test/units/ode/runge_kutta/approvals/ark43_esdirk_formula_test.num_collect__ode__runge_kutta__ark43_esdirk_formula.step_embedded.approved.txt
  test/units/ode/runge_kutta/approvals/ark43_esdirk_formula_test.num_collect__ode__runge_kutta__ark43_esdirk_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/ark43_esdirk_formula_test.num_collect__ode__runge_kutta__ark43_esdirk_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/ark43_esdirk_formula_test.num_collect__ode__runge_kutta__ark43_esdirk_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/ark43_esdirk_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:zap: Benchmarks of ark43_esdirk.
  test/bench/ode/exponential_test.cpp
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/kaps_problem_test.cpp
  test/bench/ode/spring_movement_test.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(h|cpp)$
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$
  update-unity-source-in-unit-test: any of: test/units/.*\.cpp$
