Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: poetry run cmake-format -i

update-source-list:
  name: update-source-list
  description: Update the list of source codes.
  language: system
  entry: poetry run python scripts/update_source_list.py

:bug: Set length parameter scale.
  include/num_collect/rbf/rbf_fd_polynomial_assembler.h
Due: clang-format, update-source-list

:construction: Test another implementation.
  include/num_collect/rbf/rbf_fd_assembler.h
  include/num_collect/rbf/rbf_fd_polynomial_assembler.h
Due: clang-format, update-source-list

:white_check_mark: Tests of dimensions in rbf_fd_assembler class.
  scripts/update_source_list.py
  test/integ/CMakeLists.txt
  test/integ/rbf_fd_comb/CMakeLists.txt
  test/integ/rbf_fd_comb/dimensions/approvals/Poisson_equation_with_rbf_fd_assembler_in_1D.approved.txt
  test/integ/rbf_fd_comb/dimensions/approvals/Poisson_equation_with_rbf_fd_assembler_in_2D.approved.txt
  test/integ/rbf_fd_comb/dimensions/approvals/Poisson_equation_with_rbf_fd_assembler_in_3D.approved.txt
  test/integ/rbf_fd_comb/dimensions/rbf_fd_assembler_poisson.cpp
  test/integ/rbf_fd_comb/source_list.cmake
  test/integ/rbf_fd_comb/unity_source.cpp
Due: clang-format, cmake-format, update-source-list

:white_check_mark: Tests of different dimensions in phs_rbf_fd_polynomial_assembler class.
  test/integ/rbf_fd_comb/dimensions/phs_rbf_fd_polynomial_assembler_poisson.cpp
  test/integ/rbf_fd_comb/source_list.cmake
  test/integ/rbf_fd_comb/unity_source.cpp
Due: clang-format, update-source-list

:white_check_mark: Prevent large files.
  test/integ/rbf_fd_comb/dimensions/approvals/Poisson_equation_with_rbf_fd_assembler_in_1D.approved.txt
  test/integ/rbf_fd_comb/dimensions/approvals/Poisson_equation_with_rbf_fd_assembler_in_2D.approved.txt
  test/integ/rbf_fd_comb/dimensions/approvals/Poisson_equation_with_rbf_fd_assembler_in_3D.approved.txt
  test/integ/rbf_fd_comb/dimensions/rbf_fd_assembler_poisson.cpp
Due: clang-format, update-source-list

:white_check_mark: Test of polynomials degrees in RBF-FD.
  test/integ/rbf_fd_comb/polynomials/phs_rbf_fd_polynomial_assembler_poisson.cpp
  test/integ/rbf_fd_comb/source_list.cmake
  test/integ/rbf_fd_comb/unity_source.cpp
Due: clang-format, update-source-list

:white_check_mark: Add logs to check errors later.
  test/integ/rbf_fd_comb/dimensions/phs_rbf_fd_polynomial_assembler_poisson.cpp
  test/integ/rbf_fd_comb/dimensions/rbf_fd_assembler_poisson.cpp
  test/integ/rbf_fd_comb/polynomials/phs_rbf_fd_polynomial_assembler_poisson.cpp
Due: clang-format, update-source-list

:white_check_mark: Test of equations with RBF-FD method.
  scripts/update_source_list.py
  test/integ/CMakeLists.txt
  test/integ/rbf_fd_equations/CMakeLists.txt
  test/integ/rbf_fd_equations/poisson_1d.cpp
  test/integ/rbf_fd_equations/poisson_2d.cpp
  test/integ/rbf_fd_equations/poisson_3d.cpp
  test/integ/rbf_fd_equations/source_list.cmake
  test/integ/rbf_fd_equations/unity_source.cpp
Due: clang-format, cmake-format, update-source-list

:white_check_mark: Test of different degrees of polyharmonic splines in RBF-FD method.
  test/integ/rbf_fd_comb/rbfs/phs_degrees.cpp
  test/integ/rbf_fd_comb/source_list.cmake
  test/integ/rbf_fd_comb/unity_source.cpp
Due: clang-format, update-source-list

:bug: Fix error in GCC.
  test/integ/rbf_fd_equations/poisson_1d.cpp
Due: clang-format, update-source-list

:books: Add citations of formulas of ODE solvers.
  cspell.json
  doc/articles.bib
  doc/sphinx/src/algorithm_list.md
  include/num_collect/ode/runge_kutta/rk4_formula.h
  include/num_collect/ode/runge_kutta/rkf45_formula.h
  include/num_collect/ode/runge_kutta/tanaka1_formula.h
  include/num_collect/ode/runge_kutta/tanaka2_formula.h
Due: clang-format, update-source-list

:books: Document about properties of formulas.
  cspell.json
  doc/sphinx/src/algorithm_list.md
  doc/sphinx/src/user_guide/index.rst
  doc/sphinx/src/user_guide/ode/formula_properties.md
  doc/sphinx/src/user_guide/ode/index.rst
Due: none

:books: Update documentation.
  doc/sphinx/src/algorithm_list.md
  doc/sphinx/src/conf.py
  doc/sphinx/src/user_guide/ode/formula_properties.md
Due: none

:white_check_mark: Organize tests.
  test/README.md
  test/integ/README.md
  test/integ/linear_solvers/laplacian_2d_grid_test.cpp
Due: clang-format, update-source-list

:alembic: Benchmark of linear solvers with Laplacian matrices assembled by RBF-FD.
  test/bench/linear/CMakeLists.txt
  test/bench/linear/rbf_fd_poisson_2d_test.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Move solvers of implicit equations in Runge-Kutta mathods to the right namespace of Runge-Kutta methods.
  include/num_collect/ode/runge_kutta/ark43_esdirk_formula.h
  include/num_collect/ode/runge_kutta/ark54_esdirk_formula.h
  include/num_collect/ode/runge_kutta/esdirk45_formula.h
  include/num_collect/ode/runge_kutta/implicit_euler_formula.h
  include/num_collect/ode/runge_kutta/inexact_newton_slope_equation_solver.h
  include/num_collect/ode/runge_kutta/inexact_newton_update_equation_solver.h
  include/num_collect/ode/runge_kutta/sdirk4_formula.h
  include/num_collect/ode/runge_kutta/tanaka1_formula.h
  include/num_collect/ode/runge_kutta/tanaka2_formula.h
  test/units/ode/runge_kutta/inexact_newton_slope_equation_solver_test.cpp
  test/units/ode/runge_kutta/inexact_newton_update_equation_solver_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, update-source-list

:white_check_mark: Update approved files.
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_slope_equation_solver(scalar).solve_for_implicit_Euler_method.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_slope_equation_solver(vector).solve_for_implicit_Euler_method.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_update_equation_solver(scalar).solve_for_Hammer-Hollingsworth_method.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_update_equation_solver(vector).solve_for_Hammer-Hollingsworth_method.approved.txt
Due: none

:sparkles: Add a utility function for implementation.
  include/num_collect/functions/pow.h
  test/units/functions/pow_test.cpp
Due: clang-format, update-source-list

:sparkles: Polyharmonic operator for polyharmonic spline RBFs.
  doc/doxygen/namespaces.h
  include/num_collect/rbf/operators/impl/generate_polyharmonic_operator_differentiations.h
  include/num_collect/rbf/operators/polyharmonic_operator.h
  test/units/rbf/operators/polyharmonic_operator_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:white_check_mark: Fix error in GCC.
  test/units/rbf/operators/polyharmonic_operator_test.cpp
Due: clang-format, update-source-list

:recycle: Separate kernel_matrix_solver implementation into multiple files.
  include/num_collect/rbf/impl/kernel_matrix_solver.h
  include/num_collect/rbf/impl/kernel_matrix_solver_csrbf.h
  include/num_collect/rbf/impl/kernel_matrix_solver_decl.h
  include/num_collect/rbf/impl/kernel_matrix_solver_general_rbf.h
  include/num_collect/rbf/impl/kernel_matrix_solver_global_positive_rbf.h
Due: clang-format, update-source-list

:recycle: Separate general_spline_equation_solver implementation into multiple files.
  include/num_collect/rbf/impl/general_spline_equation_solver.h
  include/num_collect/rbf/impl/general_spline_equation_solver_decl.h
  include/num_collect/rbf/impl/general_spline_equation_solver_global_positive_rbf.h
Due: clang-format, update-source-list

:sparkles: Add constants to distinguish between positive definite RBFs and RBFs which are not positive definite.
  include/num_collect/rbf/concepts/rbf.h
  include/num_collect/rbf/rbfs/gaussian_from_square_rbf.h
  include/num_collect/rbf/rbfs/gaussian_m1_rbf.h
  include/num_collect/rbf/rbfs/gaussian_rbf.h
  include/num_collect/rbf/rbfs/inverse_multi_quadric_rbf.h
  include/num_collect/rbf/rbfs/inverse_quadratic_rbf.h
  include/num_collect/rbf/rbfs/multi_quadric_rbf.h
  include/num_collect/rbf/rbfs/polyharmonic_spline_rbf.h
  include/num_collect/rbf/rbfs/sech_rbf.h
  include/num_collect/rbf/rbfs/thin_plate_spline_rbf.h
  include/num_collect/rbf/rbfs/wendland_csrbf.h
Due: clang-format, update-source-list

:sparkles: Support of non-positive-definite RBFs in RBF interpolators.
  include/num_collect/rbf/gaussian_process_interpolator.h
  include/num_collect/rbf/impl/general_spline_equation_solver.h
  include/num_collect/rbf/impl/general_spline_equation_solver_decl.h
  include/num_collect/rbf/impl/general_spline_equation_solver_general_rbf.h
  include/num_collect/rbf/impl/general_spline_equation_solver_global_positive_rbf.h
  include/num_collect/rbf/impl/kernel_matrix_solver_csrbf.h
  include/num_collect/rbf/impl/kernel_matrix_solver_decl.h
  include/num_collect/rbf/impl/kernel_matrix_solver_general_rbf.h
  include/num_collect/rbf/impl/kernel_matrix_solver_global_positive_rbf.h
  include/num_collect/rbf/rbf_interpolator.h
  include/num_collect/rbf/rbf_polynomial_interpolator.h
  include/num_collect/rbf/rbfs/gaussian_m1_rbf.h
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_interpolator_with_different_RBFs_-_gaussian_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_interpolator_with_different_RBFs_-_inverse_multi_quadric_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_interpolator_with_different_RBFs_-_inverse_quadratic_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_interpolator_with_different_RBFs_-_multi_quadric_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_interpolator_with_different_RBFs_-_sech_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_multi_quadric_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_rbf_interpolator_with_different_RBFs_-_multi_quadric_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/global_rbf_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/global_rbf_polynomial_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/local_rbf_interpolator.cpp
  test/integ/rbf_interp_comb/source_list.cmake
  test/integ/rbf_interp_comb/unity_source.cpp
  test/units/rbf/impl/general_spline_equation_solver_test.cpp
  test/units/rbf/impl/kernel_matrix_solver_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Test support of RBFs which are not positive definite.
  test/units/rbf/impl/general_spline_equation_solver_test.cpp
  test/units/rbf/impl/kernel_matrix_solver_test.cpp
  test/units/rbf/non_positive_definite_rbf.h
Due: clang-format, update-source-list

:bug: Fix CI with MSVC.
  test/units/rbf/operators/polyharmonic_operator_test.cpp
Due: clang-format, update-source-list

:wrench: Remove Sonar Qube from CI other than main branch.
  .gitlab-ci.yml
Due: none

:recycle: Change the default degree of PHS to 5 in rbf_fd_polynomial_assembler.
  include/num_collect/rbf/rbf_fd_polynomial_assembler.h
Due: clang-format, update-source-list

:white_check_mark: Fix CI.
  test/integ/rbf_fd_equations/poisson_2d.cpp
Due: clang-format, update-source-list

:alembic: Experiment to solve diffusion equation using RBF-FD with Dirichlet boundary conditions.
  .gitignore
  experiments/pde/CMakeLists.txt
  experiments/pde/rbf_fd_diffusion_equation_2d.cpp
  experiments/pde/rbf_fd_diffusion_equation_2d.toml
Due: clang-format, cmake-format, update-source-list

:recycle: Refactor the implementation of the experiment.
  doc/doxygen/namespaces.h
  experiments/pde/rbf_fd_diffusion_equation_2d.cpp
  include/num_collect/ode/problems/linear_first_order_ode_problem.h
Due: clang-format, update-source-list

:white_check_mark: Test of the diffusion equation in 2D with Dirichlet boundary conditions using RBF-FD method.
  test/integ/rbf_fd_equations/diffusion_equation_2d_dirichlet.cpp
  test/integ/rbf_fd_equations/source_list.cmake
  test/integ/rbf_fd_equations/unity_source.cpp
Due: clang-format, update-source-list

:books: Fix a comment.
  experiments/pde/rbf_fd_diffusion_equation_2d.toml
Due: none

:bug: Temporary fix for too many logs in Rosenbrock methods.
  include/num_collect/ode/impl/bicgstab.h
  test/integ/catch_event_listner.cpp
Due: clang-format, update-source-list

:sparkles: Utility classes for PDEs.
  include/num_collect/ode/problems/linear_first_order_dae_problem.h
Due: clang-format, update-source-list

:recycle: Change the name of the experiment before adding Neumann boundary conditions.
  experiments/pde/CMakeLists.txt
  experiments/pde/rbf_fd_diffusion_equation_2d_dirichlet.cpp
  experiments/pde/rbf_fd_diffusion_equation_2d_dirichlet.toml
Due: clang-format, cmake-format, update-source-list

:alembic: Experiment to solve 2D diffusion equation with Neumann boundary conditions using RBF-FD method.
  cspell.json
  experiments/pde/CMakeLists.txt
  experiments/pde/rbf_fd_diffusion_equation_2d_neumann.cpp
  experiments/pde/rbf_fd_diffusion_equation_2d_neumann.toml
  include/num_collect/rbf/operators/partial_derivative_operator.h
  include/num_collect/util/generate_rectangle_boundary_nodes.h
  test/units/rbf/operators/partial_derivative_operator_test.cpp
Due: clang-format, cmake-format, update-source-list

:white_check_mark: Test to solve 2D diffusion equation with Neumann boundary conditions using RBF-FD method.
  test/integ/rbf_fd_equations/diffusion_equation_2d_neumann.cpp
  test/integ/rbf_fd_equations/source_list.cmake
  test/integ/rbf_fd_equations/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Separate functions for writing VTP and VTU files for comparison in PDE experiments.
  examples/example_common/include/write_vtp_file_for_comparison.h
  examples/example_common/include/write_vtu_file_for_comparison.h
  experiments/pde/rbf_fd_diffusion_equation_2d_dirichlet.cpp
  experiments/pde/rbf_fd_diffusion_equation_2d_neumann.cpp
  experiments/pde/rbf_fd_poisson_equation_2d.cpp
  experiments/pde/rbf_fd_poisson_equation_3d.cpp
Due: clang-format, update-source-list

:recycle: Make parsing of configurations simpler.
  examples/example_common/include/toml_parser.h
  experiments/pde/rbf_fd_diffusion_equation_2d_dirichlet.cpp
  experiments/pde/rbf_fd_diffusion_equation_2d_neumann.cpp
  experiments/pde/rbf_fd_poisson_equation_1d.cpp
  experiments/pde/rbf_fd_poisson_equation_2d.cpp
  experiments/pde/rbf_fd_poisson_equation_3d.cpp
Due: clang-format, update-source-list

Path conditions:
  clang-format: any of: \.(h|cpp)$, but not: \.approved\.
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$ and not (source_list.cmake) and not (\.approved\.)
  update-source-list: any of: \.(h|cpp)$, but not: \.approved\.
