Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: pipenv run cmake-format -i

update-unity-source-in-unit-test:
  name: update-unity-source-in-unit-test
  description: Update the source code for the unity build of unit tests.
  language: system
  entry: pipenv run python test/units/create_unity_file.py

:books: Fix namespace documentation.
  doc/doxygen/namespaces.h
Due: clang-format

:books: Fix module documentation.
  .vscode/settings.json
  doc/sphinx/src/modules.rst
Due: none

:sparkles: Add log_tag.
  include/num_collect/logging/log_tag.h
  test/units/logging/log_tag_test.cpp
  test/units/logging/log_tag_view_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Comparison of log_tag.
  include/num_collect/logging/log_tag.h
  include/num_collect/logging/log_tag_view.h
  test/units/logging/log_tag_test.cpp
  test/units/logging/log_tag_view_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:zap: Faster implementation of comparison of log tags.
  include/num_collect/logging/log_tag.h
  include/num_collect/logging/log_tag_view.h
Due: clang-format

:bug: Fix CI.
  .gitlab-ci.yml
Due: none

:sparkles: Add log_level.
  doc/doxygen/namespaces.h
  include/num_collect/logging/log_level.h
  test/units/logging/log_level_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add log_formatter.
  doc/doxygen/namespaces.h
  include/num_collect/logging/impl/log_formatter.h
  test/units/logging/impl/log_formatter_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add simple_log_sink.
  .clang-tidy
  include/num_collect/logging/log_sink_base.h
  include/num_collect/logging/simple_log_sink.h
  include/num_collect/util/exception.h
  test/units/logging/simple_log_sink_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
  test/units/util/exception_test.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add log_tag_config.
  .vscode/settings.json
  CMakeLists.txt
  conanfile.py
  include/num_collect/logging/log_tag_config.h
  test/CMakeLists.txt
  test/include/trompeloeil_catch2.h
  test/units/logging/log_tag_config_test.cpp
  test/units/logging/mock_log_sink.h
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:bug: Fix compile.
  test/units/logging/impl/log_formatter_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:bug: Fix CI.
  test/units/CMakeLists.txt
Due: cmake-format

:bug: Make log sinks thread-safe.
  include/num_collect/logging/log_sink_base.h
  include/num_collect/logging/simple_log_sink.h
Due: clang-format

:sparkles: Add log_config.
  .clang-tidy
  include/num_collect/logging/log_config.h
  test/units/logging/log_config_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add logger.
  include/num_collect/logging/logger.h
  test/units/logging/logger_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Add info level in log levels.
  include/num_collect/logging/impl/log_formatter.h
  include/num_collect/logging/log_level.h
  include/num_collect/logging/logger.h
  test/units/logging/log_level_test.cpp
  test/units/logging/logger_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:white_check_mark: Add log in unit tests.
  test/units/CMakeLists.txt
  test/units/catch_event_listner.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:white_check_mark: Check skipping logging.
  test/units/logging/logger_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: :construction: Add iteration_logger_item to implement iteration_logger.
  include/num_collect/logging/iteration_logger.h
  include/num_collect/logging/log_sink_base.h
  include/num_collect/logging/logger.h
  test/units/logging/iteration_logger_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:wrench: Change order of tests.
  test/units/CMakeLists.txt
Due: cmake-format

:recycle: Use concepts.
  doc/doxygen/namespaces.h
  doc/sphinx/src/modules.rst
  include/num_collect/concepts/floating_point.h
  include/num_collect/logging/iteration_logger.h
Due: clang-format

:sparkles: Add iteration_logger.
  include/num_collect/logging/iteration_logger.h
  include/num_collect/logging/log_tag_config.h
  test/units/logging/iteration_logger_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Logging in assertions.
  CHANGELOG.md
  doc/sphinx/src/modules.rst
  include/num_collect/logging/iteration_logger.h
  include/num_collect/logging/log_tag_config.h
  include/num_collect/regularization/full_gen_tikhonov.h
  include/num_collect/util/assert.h
  test/units/util/assert_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Use source info in iteration_logger.
  include/num_collect/logging/iteration_logger.h
Due: clang-format

:recycle: Separate function to write log and throw exception.
  include/num_collect/logging/log_and_throw.h
  include/num_collect/util/assert.h
Due: clang-format

:books: Example of logging.
  examples/CMakeLists.txt
  examples/logging/CMakeLists.txt
  examples/logging/write_logs.cpp
  include/num_collect/logging/log_tag_config.h
Due: clang-format, cmake-format

:sparkles: Support functions in iteration_logger.
  examples/logging/write_logs.cpp
  include/num_collect/logging/iteration_logger.h
  test/units/logging/iteration_logger_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Use the new iteration_logger in opt and roots modules.
  .vscode/settings.json
  examples/configure_logging.h
  examples/opt/adaptive_diagonal_curves.cpp
  examples/opt/dividing_rectangles.cpp
  examples/opt/downhill_simplex.cpp
  examples/opt/golden_section_search.cpp
  examples/opt/steepest_descent.cpp
  examples/roots/newton_raphson.cpp
  include/num_collect/logging/iteration_logger.h
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/bfgs_optimizer.h
  include/num_collect/opt/conjugate_gradient_optimizer.h
  include/num_collect/opt/descent_method_base.h
  include/num_collect/opt/dfp_optimizer.h
  include/num_collect/opt/dividing_rectangles.h
  include/num_collect/opt/downhill_simplex.h
  include/num_collect/opt/golden_section_search.h
  include/num_collect/opt/heuristic_1dim_optimizer.h
  include/num_collect/opt/newton_optimizer.h
  include/num_collect/opt/optimizer_base.h
  include/num_collect/opt/sampling_optimizer.h
  include/num_collect/opt/steepest_descent.h
  include/num_collect/roots/function_root_finder_base.h
  include/num_collect/roots/newton_raphson.h
  include/num_collect/util/iterative_solver_base.h
  test/units/opt/adaptive_diagonal_curves_test.cpp
  test/units/opt/bfgs_optimizer_test.cpp
  test/units/opt/conjugate_gradient_optimizer_test.cpp
  test/units/opt/dfp_optimizer_test.cpp
  test/units/opt/dividing_rectangles_test.cpp
  test/units/opt/downhill_simplex_test.cpp
  test/units/opt/golden_section_search_test.cpp
  test/units/opt/heuristic_1dim_optimizer_test.cpp
  test/units/opt/newton_optimizer_test.cpp
  test/units/opt/sampling_optimizer_test.cpp
  test/units/opt/steepest_descent_test.cpp
  test/units/roots/newton_raphson_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Prevent massive logging.
  include/num_collect/logging/log_tag_config.h
  test/units/catch_event_listner.cpp
  test/units/logging/log_tag_config_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:books: Fix example.
  examples/opt/steepest_descent.cpp
Due: clang-format

:recycle: :construction: Use the new iteration_logger in ode module.
  examples/ode/rk4_solver.cpp
  examples/ode/rkf45_solver.cpp
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/simple_solver.h
  include/num_collect/ode/solver_base.h
  test/units/ode/embedded_solver_test.cpp
  test/units/ode/simple_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Remove the old iteration_logger.
  include/num_collect/util/iteration_logger.h
  test/units/util/iteration_logger_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Add log tags in ode module.
  .vscode/settings.json
  include/num_collect/ode/avf/avf2_formula.h
  include/num_collect/ode/avf/avf3_formula.h
  include/num_collect/ode/avf/avf4_formula.h
  include/num_collect/ode/non_embedded_formula_wrapper.h
  include/num_collect/ode/runge_kutta/implicit_euler_formula.h
  include/num_collect/ode/runge_kutta/rk4_formula.h
  include/num_collect/ode/runge_kutta/rkf45_formula.h
  include/num_collect/ode/runge_kutta/ros34pw3_formula.h
  include/num_collect/ode/runge_kutta/ros3w_formula.h
  include/num_collect/ode/runge_kutta/tanaka1_formula.h
  include/num_collect/ode/runge_kutta/tanaka2_formula.h
  include/num_collect/ode/solver_base.h
Due: clang-format

:sparkles: Add summary information.
  examples/logging/write_logs.cpp
  include/num_collect/logging/iteration_logger.h
  include/num_collect/ode/solver_base.h
  include/num_collect/util/iterative_solver_base.h
  test/units/catch_event_listner.cpp
  test/units/logging/iteration_logger_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Add log for implicit formula in ode module.
  .vscode/settings.json
  include/num_collect/ode/runge_kutta/semi_implicit_formula_solver.h
Due: clang-format

:books: Update CHANGELOG.
  CHANGELOG.md
Due: none

:bug: Disable CI jobs using MSVC temporarily due to unusable choco command.
  .gitlab-ci.yml
Due: none

:bug: Fix step size value used for logging in ode module.
  include/num_collect/ode/embedded_solver.h
Due: clang-format

:sparkles: Add colored_console_log_sink.
  examples/logging/write_logs.cpp
  include/num_collect/logging/colored_console_log_sink.h
  include/num_collect/logging/impl/colored_log_formatter.h
  include/num_collect/logging/impl/log_formatter.h
  include/num_collect/logging/log_tag_config.h
Due: clang-format

Path conditions:
  clang-format: any of: \.(h|cpp)$
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$
  update-unity-source-in-unit-test: any of: test/units/.*\.cpp$
