Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        exclude: source_list.cmake
        entry: poetry run cmake-format -i
      - id: update-source-list
        name: update-source-list
        description: Update the list of source codes.
        language: system
        files: \.(h|cpp)$
        entry: poetry run python scripts/update_source_list.py
      - id: check-encoding
        name: check-encoding
        description: Check encoding of files.
        language: system
        entry: poetry run python scripts/check_encoding.py
# Automatically generated files should not be checked.
exclude: "\\.approved\\."

:recycle: Change the interpolator used in gaussian_process_optimizer.
  include/num_collect/opt/gaussian_process_optimizer.h
Due: clang-format, update-source-list

:recycle: Remove old classes.
  include/num_collect/rbf/global_exact_rbf_interpolator.h
  include/num_collect/rbf/impl/symmetric_kernel_matrix_solver.h
  include/num_collect/rbf/local_exact_csrbf_interpolator.h
  include/num_collect/rbf/local_exact_rbf_interpolator.h
  test/bench/rbf/interp_1d.cpp
  test/units/rbf/approvals/global_exact_rbf_interpolator.interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/approvals/global_exact_rbf_interpolator.interpolate_with_a_optimal_scale.approved.txt
  test/units/rbf/approvals/local_exact_csrbf_interpolator.interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/approvals/local_exact_rbf_interpolator.interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/global_exact_rbf_interpolator_test.cpp
  test/units/rbf/impl/symmetric_kernel_matrix_solver_test.cpp
  test/units/rbf/local_exact_csrbf_interpolator_test.cpp
  test/units/rbf/local_exact_rbf_interpolator_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Additional function for CSRBF.
  include/num_collect/rbf/concepts/csrbf.h
  include/num_collect/rbf/rbfs/wendland_csrbf.h
  test/units/rbf/rbfs/wendland_csrbf_test.cpp
Due: clang-format, update-source-list

:zap: Use additional function of CSRBF for performance.
  include/num_collect/rbf/compute_kernel_matrix.h
  include/num_collect/rbf/rbf_interpolator.h
Due: clang-format, update-source-list

:sparkles: Function to generate matrices of polynomial terms.
  include/num_collect/rbf/compute_polynomial_term_matrix.h
  test/units/rbf/compute_polynomial_term_matrix_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Solver of linear equations with additional terms in RBF interpolation.
  include/num_collect/rbf/compute_polynomial_term_matrix.h
  include/num_collect/rbf/impl/general_spline_equation_solver.h
  test/units/rbf/impl/general_spline_equation_solver_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: RBF interpolation with polynomial terms for scalar variables.
  include/num_collect/rbf/impl/get_default_scalar_type.h
  include/num_collect/rbf/impl/get_variable_type.h
  include/num_collect/rbf/impl/polynomial_calculator.h
  include/num_collect/rbf/rbf_polynomial_interpolator.h
  test/units/rbf/approvals/global_rbf_polynomial_interpolator.interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/rbf_polynomial_interpolator_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Full implementation of polynomial_calculator class for scalar variables.
  include/num_collect/rbf/polynomial_calculator.h
  include/num_collect/rbf/rbf_polynomial_interpolator.h
  test/units/rbf/polynomial_calculator_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: polynomial_calculator can work with vector variables.
  include/num_collect/rbf/compute_polynomial_term_matrix.h
  include/num_collect/rbf/polynomial_calculator.h
  include/num_collect/rbf/rbf_polynomial_interpolator.h
  test/units/rbf/polynomial_calculator_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Test of rbf_polynomial_interpolator for 2D.
  test/units/rbf/approvals/global_rbf_polynomial_interpolator_(for_scalar_variable).interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/approvals/global_rbf_polynomial_interpolator_(for_vector_variable).interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/rbf_polynomial_interpolator_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Integration tests and benchmarks of the new class.
  test/bench/rbf/interp_1d.cpp
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_gaussian_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_inverse_multi_quadric_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_inverse_quadratic_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_sech_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_wendland_csrbf_double,_3,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/global_rbf_polynomial_interpolator.cpp
  test/integ/rbf_interp_comb/source_list.cmake
  test/integ/rbf_interp_comb/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Automatic length parameter in rbf_polynomial_interpolator.
  include/num_collect/rbf/impl/general_spline_equation_solver.h
  include/num_collect/rbf/rbf_polynomial_interpolator.h
  test/units/rbf/approvals/global_rbf_polynomial_interpolator_(for_scalar_variable).interpolate_with_a_optimal_scale.approved.txt
  test/units/rbf/approvals/global_rbf_polynomial_interpolator_(for_vector_variable).interpolate_with_a_optimal_scale.approved.txt
  test/units/rbf/impl/general_spline_equation_solver_test.cpp
  test/units/rbf/rbf_polynomial_interpolator_test.cpp
Due: clang-format, update-source-list

:sparkles: Functions to generate Halton nodes.
  cspell.json
  include/num_collect/rbf/generate_halton_nodes.h
  test/units/rbf/generate_halton_nodes_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:books: Check distribution of Halton nodes manually.
  examples/CMakeLists.txt
  examples/rbf/CMakeLists.txt
  examples/rbf/generate_2d_halton_nodes.cpp
Due: clang-format, cmake-format, update-source-list

:books: Visualize RBFs in 1D.
  .clang-format
  examples/rbf/CMakeLists.txt
  examples/rbf/visualize_rbf_in_1d.cpp
Due: clang-format, cmake-format, update-source-list

:books: Example to interpolate 2D data.
  examples/rbf/CMakeLists.txt
  examples/rbf/interpolate_2d.cpp
Due: clang-format, cmake-format, update-source-list

:alembic: Add condition of benchmark.
  test/bench/rbf/interp_1d.cpp
Due: clang-format, update-source-list

:white_check_mark: Test of dimensions before benchmark.
  test/integ/rbf_interp_comb/dimensions/approvals/gaussian_process_interpolator_with_dimensions_-_2.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/gaussian_process_interpolator_with_dimensions_-_3.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/gaussian_process_interpolator_with_dimensions_-_4.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/gaussian_process_interpolator_with_dimensions_-_5.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/gaussian_process_interpolator_with_dimensions_-_6.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/global_rbf_polynomial_interpolator_with_dimensions_-_2.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/global_rbf_polynomial_interpolator_with_dimensions_-_3.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/global_rbf_polynomial_interpolator_with_dimensions_-_4.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/global_rbf_polynomial_interpolator_with_dimensions_-_5.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/global_rbf_polynomial_interpolator_with_dimensions_-_6.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_csrbf_interpolator_with_dimensions_-_2.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_csrbf_interpolator_with_dimensions_-_3.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_csrbf_interpolator_with_dimensions_-_4.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_csrbf_interpolator_with_dimensions_-_5.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_csrbf_interpolator_with_dimensions_-_6.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_rbf_interpolator_with_dimensions_-_2.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_rbf_interpolator_with_dimensions_-_3.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_rbf_interpolator_with_dimensions_-_4.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_rbf_interpolator_with_dimensions_-_5.approved.txt
  test/integ/rbf_interp_comb/dimensions/approvals/local_rbf_interpolator_with_dimensions_-_6.approved.txt
  test/integ/rbf_interp_comb/dimensions/gaussian_process_interpolator.cpp
  test/integ/rbf_interp_comb/dimensions/global_rbf_polynomial_interpolator.cpp
  test/integ/rbf_interp_comb/dimensions/local_csrbf_interpolator.cpp
  test/integ/rbf_interp_comb/dimensions/local_rbf_interpolator.cpp
  test/integ/rbf_interp_comb/source_list.cmake
  test/integ/rbf_interp_comb/unity_source.cpp
Due: clang-format, update-source-list

:alembic: Benchmark of RBF interpolation in 2D.
  test/bench/rbf/CMakeLists.txt
  test/bench/rbf/interp_2d.cpp
Due: clang-format, cmake-format, update-source-list

:alembic: Benchmark of RBF interpolation in 3D.
  test/bench/rbf/CMakeLists.txt
  test/bench/rbf/interp_3d.cpp
Due: clang-format, cmake-format, update-source-list

:wrench: Update dependencies.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:sparkles: Calculation of gamma function.
  cspell.json
  include/num_collect/functions/gamma.h
  include/num_collect/functions/impl/gamma_lanczos.h
  test/units/functions/approvals/gamma_-_double.for_complex_numbers.imaginary_part.approved.txt
  test/units/functions/approvals/gamma_-_double.for_complex_numbers.real_part.approved.txt
  test/units/functions/approvals/gamma_-_double.for_real_numbers.approved.txt
  test/units/functions/approvals/gamma_-_float.for_complex_numbers.imaginary_part.approved.txt
  test/units/functions/approvals/gamma_-_float.for_complex_numbers.real_part.approved.txt
  test/units/functions/approvals/gamma_-_float.for_real_numbers.approved.txt
  test/units/functions/approvals/log_gamma_-_double.for_real_numbers.approved.txt
  test/units/functions/approvals/log_gamma_-_float.for_real_numbers.approved.txt
  test/units/functions/gamma_test.cpp
  test/units/functions/impl/approvals/gamma_lanczos.for_complex_numbers.calculate_gamma(x).imaginary_part.approved.txt
  test/units/functions/impl/approvals/gamma_lanczos.for_complex_numbers.calculate_gamma(x).real_part.approved.txt
  test/units/functions/impl/approvals/gamma_lanczos.for_real_numbers.calculate_gamma(x).approved.txt
  test/units/functions/impl/approvals/gamma_lanczos.for_real_numbers.calculate_log(gamma(x)).approved.txt
  test/units/functions/impl/gamma_lanczos_test.cpp
  test/units/functions/source_list.cmake
  test/units/functions/unity_source.cpp
  test/utils/include/comparison_approvals.h
Due: clang-format, update-source-list

:wrench: Update Python and dependencies.
  .devcontainer/setup.bash
  .gitlab-ci.yml
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:wrench: Update dependencies and LLVM.
  .devcontainer/Dockerfile
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:wrench: Update CI configuration.
  .gitlab-ci.yml
Due: none

:wrench: Add setuptools to fix an error in CI.
  poetry.lock
  pyproject.toml
Due: none

:wrench: Ignore warnings which are difficult to fix.
  .clang-tidy
Due: none

:rotating_light: Fixed or ignored some warnings in clang-tidy.
  .clang-tidy
  include/num_collect/auto_diff/backward/variable.h
  include/num_collect/auto_diff/forward/variable.h
  include/num_collect/linear/iterative_solver_base.h
  include/num_collect/logging/log_level.h
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/annealing_downhill_simplex.h
  include/num_collect/opt/downhill_simplex.h
  include/num_collect/rbf/kernel_matrix_type.h
  include/num_collect/util/format_dense_matrix.h
  include/num_collect/util/format_sparse_matrix.h
Due: clang-format, update-source-list

:rotating_light: "inline" is not necessary for "constexpr" functions and variables.
  include/num_collect/functions/gamma.h
  include/num_collect/integration/de_finite_integrator.h
  include/num_collect/integration/tanh_finite_integrator.h
  include/num_collect/logging/impl/is_log_tag_element_char.h
  include/num_collect/logging/iterations/iteration_parameter.h
  include/num_collect/logging/iterations/iteration_parameter_formatter.h
  include/num_collect/logging/logger.h
  include/num_collect/numbers/fraction.h
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/annealing_downhill_simplex.h
  include/num_collect/opt/bfgs_optimizer.h
  include/num_collect/opt/conjugate_gradient_optimizer.h
  include/num_collect/opt/dfp_optimizer.h
  include/num_collect/opt/dividing_rectangles.h
  include/num_collect/opt/downhill_simplex.h
  include/num_collect/opt/gaussian_process_optimizer.h
  include/num_collect/opt/golden_section_search.h
  include/num_collect/opt/heuristic_global_optimizer.h
  include/num_collect/opt/newton_optimizer.h
  include/num_collect/opt/sampling_optimizer.h
  include/num_collect/opt/steepest_descent.h
  include/num_collect/rbf/rbf_interpolator.h
  include/num_collect/rbf/rbf_polynomial_interpolator.h
  include/num_collect/regularization/fista.h
  include/num_collect/roots/newton_raphson.h
  include/num_collect/util/greatest_common_divisor.h
  include/num_collect/util/hash_string.h
  include/num_collect/util/least_common_multiple.h
  include/num_collect/util/multiply_safely.h
Due: clang-format, update-source-list

:wrench: Ignore a warning not working correctly.
  .clang-tidy
Due: none

:wrench: Update Sphinx theme.
  poetry.lock
  pyproject.toml
Due: none

:recycle: Common interface class of classes for regularization.
  include/num_collect/regularization/explicit_regularized_solver_base.h
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/full_gen_tikhonov.h
  include/num_collect/regularization/regularized_solver_base.h
  include/num_collect/regularization/tikhonov.h
Due: clang-format, update-source-list

:books: Fix documentation.
  include/num_collect/regularization/full_gen_tikhonov.h
  include/num_collect/regularization/tikhonov.h
Due: clang-format, update-source-list

:recycle: Use exceptions with informative error messages for user errors instead of assertions.
  include/num_collect/auto_diff/backward/create_diff_variable.h
  include/num_collect/auto_diff/backward/differentiate.h
  include/num_collect/auto_diff/forward/create_diff_variable.h
  include/num_collect/auto_diff/forward/make_jacobian.h
  include/num_collect/auto_diff/forward/variable.h
  include/num_collect/functions/legendre_roots.h
  include/num_collect/integration/de_finite_integrator.h
  include/num_collect/integration/de_infinite_integrator.h
  include/num_collect/integration/de_semi_infinite_integrator.h
  include/num_collect/integration/gauss_legendre_integrator.h
  include/num_collect/integration/gauss_legendre_kronrod_integrator.h
  include/num_collect/integration/tanh_finite_integrator.h
  include/num_collect/interp/kernel/calc_kernel_mat.h
  include/num_collect/interp/kernel/impl/auto_regularizer_wrapper.h
  include/num_collect/interp/kernel/impl/kernel_coeff_solver.h
  include/num_collect/interp/kernel/rbf_kernel.h
  include/num_collect/linear/gauss_seidel_iterative_solver.h
  include/num_collect/linear/parallel_symmetric_successive_over_relaxation.h
  include/num_collect/linear/symmetric_successive_over_relaxation.h
  include/num_collect/ode/avf/avf2_formula.h
  include/num_collect/ode/avf/avf3_formula.h
  include/num_collect/ode/avf/avf4_formula.h
  include/num_collect/ode/basic_step_size_controller.h
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/error_tolerances.h
  include/num_collect/ode/impl/gmres.h
  include/num_collect/ode/pi_step_size_controller.h
  include/num_collect/ode/simple_solver.h
  include/num_collect/ode/step_size_controller_base.h
  include/num_collect/ode/step_size_limits.h
Due: clang-format, update-source-list

:recycle: Use exceptions with informative error messages for user errors instead of assertions.
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/backtracking_line_searcher.h
  include/num_collect/opt/dividing_rectangles.h
  include/num_collect/opt/gaussian_process_optimizer.h
  include/num_collect/opt/sampling_optimizer.h
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/full_gen_tikhonov.h
  include/num_collect/roots/newton_raphson.h
  include/num_collect/util/format_dense_vector.h
Due: clang-format, update-source-list

:recycle: Applying IWYU.
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/implicit_regularized_solver_base.h
  include/num_collect/regularization/iterative_regularized_solver_base.h
  include/num_collect/regularization/regularized_solver_base.h
  problems/include/num_prob_collect/regularization/sparse_blur_matrix.h
  test/units/regularization/fista_test.cpp
  test/units/roots/newton_raphson_test.cpp
  test/units/util/bidirectional_vector_test.cpp
  test/units/util/comparators_test.cpp
  test/units/util/concepts/comparator_test.cpp
  test/units/util/format_dense_matrix_test.cpp
  test/units/util/format_dense_vector_test.cpp
  test/units/util/format_sparse_matrix_test.cpp
  test/units/util/greatest_common_divisor_test.cpp
  test/units/util/hash_string_test.cpp
  test/units/util/is_eigen_matrix_test.cpp
  test/units/util/is_eigen_vector_test.cpp
  test/units/util/iteration_period_checker_test.cpp
  test/units/util/kahan_adder_test.cpp
  test/units/util/least_common_multiple_test.cpp
  test/units/util/multiply_safely_test.cpp
  test/units/util/producer_consumer_circular_queue_test.cpp
  test/units/util/safe_cast_test.cpp
  test/utils/include/gzip_msgpack_output_stream.h
  test/utils/include/table_comparator.h
  test/utils/src/gzip_msgpack_output_stream.cpp
  test/utils/src/table_comparator.cpp
Due: clang-format, update-source-list

:recycle: Applying IWYU.
  examples/linear/laplacian_2d_grid.cpp
  examples/ode/rkf45_solver.cpp
  examples/regularization/sparse_image_regularization.cpp
  iwyu_mappings.imp
  problems/include/num_prob_collect/ode/no_jacobian_implicit_kaps_problem.h
  test/integ/ode_comb/changing_mass_exponential/embedded.cpp
  test/integ/ode_comb/changing_mass_exponential/wrapped_embedded.cpp
  test/integ/ode_comb/changing_mass_quadratic/wrapped_embedded.cpp
  test/integ/ode_comb/exponential/embedded.cpp
  test/integ/ode_comb/exponential/non_embedded.cpp
  test/integ/ode_comb/external_force_vibration_problem.h/embedded.cpp
  test/integ/ode_comb/external_force_vibration_problem.h/non_embedded.cpp
  test/integ/ode_comb/implicit_exponential/embedded.cpp
  test/integ/ode_comb/implicit_kaps/embedded.cpp
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/embedded.cpp
  test/integ/ode_comb/spring_movement/embedded.cpp
  test/integ/ode_comb/spring_movement/non_embedded.cpp
  test/integ/ode_comb/spring_movement/wrapped_non_embedded.cpp
  test/integ/rbf_interp_comb/dimensions/gaussian_process_interpolator.cpp
  test/integ/rbf_interp_comb/dimensions/local_csrbf_interpolator.cpp
  test/integ/rbf_interp_comb/dimensions/local_rbf_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/local_csrbf_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/local_rbf_interpolator.cpp
Due: clang-format, update-source-list

:wrench: Update dependencies.
  poetry.lock
Due: none
