Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: poetry run cmake-format -i

update-source-list:
  name: update-source-list
  description: Update the list of source codes.
  language: system
  entry: poetry run python scripts/update_source_list.py

:alembic: Parameter tuning.
  experiments/pde/rbf_fd_advection_equation_1d.cpp
  experiments/pde/rbf_fd_advection_equation_1d.toml
Due: clang-format, update-source-list

:wrench: Update dependencies to resolve security vulnerabilities.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:wrench: Temporary disable SonarQube
  .gitlab-ci.yml
Due: none

:alembic: Test of hyperviscosity for the advection equation.
  cspell.json
  experiments/pde/rbf_fd_advection_equation_1d.cpp
  experiments/pde/rbf_fd_advection_equation_1d.toml
Due: clang-format, update-source-list

:alembic: Use higher order hyperviscosity.
  experiments/pde/rbf_fd_advection_equation_1d.cpp
Due: clang-format, update-source-list

:books: Rewrite as an example.
  examples/pde/CMakeLists.txt
  examples/pde/rbf_fd_advection_equation_1d.cpp
  examples/pde/rbf_fd_advection_equation_1d.toml
  experiments/pde/CMakeLists.txt
Due: clang-format, cmake-format, update-source-list

:books: Update Doxygen configuration.
  examples/doxygen_specifications.h
Due: clang-format, update-source-list

:wrench: Remove coverage measurement from SonarQube to prevent disk full.
  .gitlab-ci.yml
Due: none

:wrench: Fix command of SonarQube.
  .gitlab-ci.yml
Due: none

:wrench: Update SonarQube.
  .gitlab-ci.yml
Due: none

:construction: Implementing incremental QR decomposition.
  include/num_collect/linear/impl/incremental_qr.h
  test/units/linear/impl/incremental_qr_test.cpp
  test/units/linear/source_list.cmake
  test/units/linear/unity_source.cpp
Due: clang-format, update-source-list

:bug: Fix wrong implementation.
  include/num_collect/linear/impl/incremental_qr.h
Due: clang-format, update-source-list

:sparkles: Solve linear systems using incremental QR decomposition.
  include/num_collect/linear/impl/incremental_qr.h
  test/units/linear/impl/incremental_qr_test.cpp
Due: clang-format, update-source-list

:recycle: Review incremental_qr class.
  include/num_collect/linear/impl/incremental_qr.h
Due: clang-format, update-source-list

:zap: Better performance of GMRES with incremental QR decomposition.
  include/num_collect/linear/functional_gmres.h
  include/num_collect/linear/impl/incremental_qr.h
Due: clang-format, update-source-list

:books: Example of 1D convection-diffusion equation solved using RBF-FD method.
  cspell.json
  examples/pde/CMakeLists.txt
  examples/pde/rbf_fd_convection_diffusion_equation_1d.cpp
  examples/pde/rbf_fd_convection_diffusion_equation_1d.toml
Due: clang-format, cmake-format, update-source-list

:bug: Fix the term "convection" to "advection".
  examples/pde/CMakeLists.txt
  examples/pde/rbf_fd_advection_diffusion_equation_1d.cpp
  examples/pde/rbf_fd_advection_diffusion_equation_1d.toml
Due: clang-format, cmake-format, update-source-list

:recycle: Remove offsets from RBF-FD assembler.
  examples/pde/rbf_fd_advection_diffusion_equation_1d.cpp
  examples/pde/rbf_fd_advection_equation_1d.cpp
  examples/pde/rbf_fd_diffusion_equation_2d_dirichlet.cpp
  examples/pde/rbf_fd_diffusion_equation_2d_neumann.cpp
  examples/pde/rbf_fd_wave_equation_1d_string.cpp
  experiments/pde/linear_equation_solver.cpp
  experiments/pde/rbf_fd_laplacian_matrix_2d.cpp
  experiments/pde/rbf_fd_poisson_equation_1d.cpp
  experiments/pde/rbf_fd_poisson_equation_2d.cpp
  experiments/pde/rbf_fd_poisson_equation_3d.cpp
  experiments/pde/runge_kutta_equation_solver.cpp
  include/num_collect/rbf/impl/rbf_fd_polynomial_row_calculator.h
  include/num_collect/rbf/impl/rbf_fd_row_calculator.h
  include/num_collect/rbf/rbf_fd_assembler.h
  include/num_collect/rbf/rbf_fd_polynomial_assembler.h
  test/bench/linear/rbf_fd_poisson_2d_test.cpp
  test/bench/ode/diffusion2d_dirichlet_test.cpp
  test/bench/ode/diffusion2d_neumann_test.cpp
  test/bench/ode/no_jacobian_diffusion2d_dirichlet_test.cpp
  test/bench/ode/no_jacobian_diffusion2d_neumann_test.cpp
  test/bench/ode/sparse_linear_equation_test.cpp
  test/bench/rbf/rbf_fd_approximate_laplacian_2d.cpp
  test/bench/rbf/rbf_fd_assemble_laplacian_2d.cpp
  test/integ/rbf_fd_comb/dimensions/phs_rbf_fd_polynomial_assembler_poisson.cpp
  test/integ/rbf_fd_comb/dimensions/rbf_fd_assembler_poisson.cpp
  test/integ/rbf_fd_comb/operators/biharmonic_operator.cpp
  test/integ/rbf_fd_comb/operators/laplacian.cpp
  test/integ/rbf_fd_comb/operators/partial_derivative.cpp
  test/integ/rbf_fd_comb/polynomials/phs_rbf_fd_polynomial_assembler_poisson.cpp
  test/integ/rbf_fd_comb/rbfs/phs_degrees.cpp
  test/integ/rbf_fd_equations/diffusion_equation_2d_dirichlet.cpp
  test/integ/rbf_fd_equations/diffusion_equation_2d_neumann.cpp
  test/integ/rbf_fd_equations/poisson_1d.cpp
  test/integ/rbf_fd_equations/poisson_2d.cpp
  test/integ/rbf_fd_equations/poisson_3d.cpp
  test/integ/rbf_fd_equations/wave_equation_1d_string.cpp
  test/units/rbf/impl/rbf_fd_polynomial_row_calculator_test.cpp
  test/units/rbf/impl/rbf_fd_row_calculator_test.cpp
  test/units/rbf/rbf_fd_assembler_test.cpp
  test/units/rbf/rbf_fd_polynomial_assembler_test.cpp
Due: clang-format, update-source-list

:recycle: Try using ranges in processing of triplets.
  examples/pde/rbf_fd_diffusion_equation_2d_neumann.cpp
  include/num_collect/util/concepts/container_compatible_range.h
  include/num_collect/util/trivial_vector.h
  include/num_collect/util/vector.h
  test/units/util/trivial_vector_test.cpp
Due: clang-format, update-source-list

:recycle: Create a utility function for shifting rows of triplets.
  examples/pde/rbf_fd_diffusion_equation_2d_neumann.cpp
  include/num_collect/util/eigen_triplets_util.h
  test/units/util/eigen_triplets_util_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Utility functions for filtering Eigen::triplet.
  examples/pde/rbf_fd_diffusion_equation_2d_dirichlet.cpp
  include/num_collect/util/eigen_triplets_util.h
  test/units/util/eigen_triplets_util_test.cpp
Due: clang-format, update-source-list

:sparkles: Implement a base class of range adaptor closures for compilers that don't support it yet.
  include/num_collect/util/impl/range_adaptor_closure.h
  test/units/util/impl/range_adaptor_closure_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Additional utility functions for Eigen::Triplet.
  examples/pde/rbf_fd_diffusion_equation_2d_dirichlet.cpp
  include/num_collect/util/eigen_triplets_util.h
  test/units/util/eigen_triplets_util_test.cpp
Due: clang-format, update-source-list

:recycle: Simpler implementation of examples using ranges.
  examples/pde/rbf_fd_advection_diffusion_equation_1d.cpp
  examples/pde/rbf_fd_advection_equation_1d.cpp
  examples/pde/rbf_fd_wave_equation_1d_string.cpp
Due: clang-format, update-source-list

:sparkles: An overload of compute_rows function returning triplets.
  examples/pde/rbf_fd_advection_diffusion_equation_1d.cpp
  examples/pde/rbf_fd_advection_equation_1d.cpp
  examples/pde/rbf_fd_diffusion_equation_2d_dirichlet.cpp
  examples/pde/rbf_fd_diffusion_equation_2d_neumann.cpp
  examples/pde/rbf_fd_wave_equation_1d_string.cpp
  include/num_collect/rbf/rbf_fd_assembler.h
  include/num_collect/rbf/rbf_fd_polynomial_assembler.h
Due: clang-format, update-source-list

:recycle: Utility function to create identity matrix.
  examples/pde/rbf_fd_diffusion_equation_2d_neumann.cpp
  examples/pde/rbf_fd_wave_equation_1d_string.cpp
  include/num_collect/util/eigen_triplets_util.h
  test/units/util/eigen_triplets_util_test.cpp
Due: clang-format, update-source-list

:wrench: Update Python packages.
  poetry.lock
  pyproject.toml
Due: none

:wrench: Update compilers in CI.
  .gitlab-ci.yml
  README.md
  doc/sphinx/src/how_to_build_in_repository.md
Due: none

:wrench: Update vcpkg packages.
  vcpkg-configuration.json
Due: none

:wrench: Re-install Ninja to fix CI.
  .gitlab-ci.yml
Due: none

:alembic: Check log files.
  .gitlab-ci.yml
Due: none

:wrench: Try workaround for different versions of GCC
  cspell.json
  scripts/ci_linux_test.py
Due: none

Revert ":wrench: Re-install Ninja to fix CI."
  .gitlab-ci.yml
Due: none

:wrench: Update development environment.
  .devcontainer/Dockerfile
Due: none

:construction: Writing an example of advection equation in 2D.
  examples/pde/CMakeLists.txt
  examples/pde/rbf_fd_advection_equation_2d.cpp
  examples/pde/rbf_fd_advection_equation_2d.toml
Due: clang-format, cmake-format, update-source-list

:construction: Example to solve 2D advection diffusion equation.
  examples/example_common/include/write_vtp_file_with_solution.h
  examples/pde/CMakeLists.txt
  examples/pde/rbf_fd_advection_diffusion_equation_2d.cpp
  examples/pde/rbf_fd_advection_diffusion_equation_2d.toml
Due: clang-format, cmake-format, update-source-list

:recycle: Remove an example that is not working and not necessary.
  examples/pde/CMakeLists.txt
  examples/pde/rbf_fd_advection_equation_2d.cpp
  examples/pde/rbf_fd_advection_equation_2d.toml
Due: clang-format, cmake-format, update-source-list

:recycle: Parameter tuning.
  examples/pde/rbf_fd_advection_diffusion_equation_2d.cpp
  examples/pde/rbf_fd_advection_diffusion_equation_2d.toml
Due: clang-format, update-source-list

:books: Example to solve advection diffusion equation in 2D.
  examples/pde/rbf_fd_advection_diffusion_equation_2d.cpp
Due: clang-format, update-source-list

:books: Add a script to generate a reference solution of advection diffusion equation.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  cspell.json
  examples/pde/common/generate_plot_colors.py
  examples/pde/common/plot_colors.idp
  examples/pde/rbf_fd_advection_diffusion_equation_2d_ref.edp
Due: none

Path conditions:
  clang-format: any of: \.(h|cpp)$, but not: \.approved\.
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$ and not (source_list.cmake) and not (\.approved\.)
  update-source-list: any of: \.(h|cpp)$, but not: \.approved\.
