Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: poetry run cmake-format -i

update-source-list:
  name: update-source-list
  description: Update the list of source codes.
  language: system
  entry: poetry run python scripts/update_source_list.py

:zap: Use relative tolerances of ODE solvers in linear solvers of Rosenbrock methods.
  include/num_collect/ode/error_tolerances.h
  include/num_collect/ode/rosenbrock/bicgstab_rosenbrock_equation_solver.h
  include/num_collect/ode/rosenbrock/default_rosenbrock_equation_solver.h
  include/num_collect/ode/rosenbrock/gmres_rosenbrock_equation_solver.h
  test/units/ode/rosenbrock/default_rosenbrock_equation_solver_test.cpp
Due: clang-format, update-source-list

:bug: Fix the name of the benchmark.
  test/bench/ode/diffusion2d_dirichlet_test.cpp
Due: clang-format, update-source-list

:wrench: Suppress warnings for Jupyter Notebooks.
  .flake8
  pyproject.toml
Due: none

:zap: Change the implementation of linear solvers in Rosenbrock methods.
  include/num_collect/ode/rosenbrock/default_rosenbrock_equation_solver.h
  test/units/ode/rosenbrock/default_rosenbrock_equation_solver_test.cpp
Due: clang-format, update-source-list

:books: Update benchmark results.
  doc/sphinx/src/user_guide/ode/bench/changing_mass_exponential_problem.ipynb
  doc/sphinx/src/user_guide/ode/bench/data/changing_mass_exponential_problem.data
  doc/sphinx/src/user_guide/ode/bench/data/diffusion2d_dirichlet.data
  doc/sphinx/src/user_guide/ode/bench/data/diffusion2d_neumann.data
  doc/sphinx/src/user_guide/ode/bench/data/implicit_kaps_problem0.data
  doc/sphinx/src/user_guide/ode/bench/data/implicit_kaps_problem3.data
  doc/sphinx/src/user_guide/ode/bench/data/implicit_kaps_problem6.data
  doc/sphinx/src/user_guide/ode/bench/data/implicit_kaps_probleminf.data
  doc/sphinx/src/user_guide/ode/bench/data/kaps_problem0.data
  doc/sphinx/src/user_guide/ode/bench/data/kaps_problem3.data
  doc/sphinx/src/user_guide/ode/bench/data/kaps_problem6.data
  doc/sphinx/src/user_guide/ode/bench/diffusion2d.ipynb
  doc/sphinx/src/user_guide/ode/bench/implicit_kaps_problem.ipynb
  doc/sphinx/src/user_guide/ode/bench/kaps_problem.ipynb
Due: none

:sparkles: 6th-order SDIRK.
  cspell.json
  doc/articles.bib
  include/num_collect/ode/runge_kutta/sdirk6_formula.h
  test/integ/ode_comb/changing_mass_exponential/approvals/sdirk6_formula.approved.txt
  test/integ/ode_comb/changing_mass_exponential/embedded.cpp
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_sdirk6_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_sdirk6_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_sdirk6_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/embedded.cpp
  test/units/ode/runge_kutta/approvals/runge_kutta__sdirk6_formula.step.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__sdirk6_formula.step_embedded.approved.txt
  test/units/ode/runge_kutta/sdirk6_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, update-source-list

:alembic: Benchmarks of SDIRK6.
  test/bench/ode/changing_mass_exponential_test.cpp
  test/bench/ode/diagram_common.cpp
  test/bench/ode/diffusion2d_dirichlet_test.cpp
  test/bench/ode/diffusion2d_neumann_test.cpp
  test/bench/ode/implicit_kaps_problem_test.cpp
  test/bench/ode/kaps_problem_test.cpp
  test/bench/ode/no_jacobian_diffusion2d_dirichlet_test.cpp
  test/bench/ode/no_jacobian_diffusion2d_neumann_test.cpp
Due: clang-format, update-source-list

:books: Update documentation of ODE solvers.
  doc/sphinx/src/algorithm_list.md
  doc/sphinx/src/user_guide/ode/formulas.md
  doc/sphinx/src/user_guide/ode/ode_solver_selection.drawio
  doc/sphinx/src/user_guide/ode/ode_solver_selection.svg
Due: none

:zap: Prevent over-solving in iterative linear solvers used in inexact Newton method for fully implicit Runge-Kutta method.
  include/num_collect/ode/runge_kutta/impl/inexact_newton_decomposed_jacobian_complex_eigen_solver.h
  include/num_collect/ode/runge_kutta/impl/inexact_newton_decomposed_jacobian_real_eigen_solver.h
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_slope_equation_solver.h
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_update_equation_solver.h
Due: clang-format, update-source-list

:alembic: Use the same Rosenbrock methods for benchmarks.
  test/bench/ode/diffusion2d_neumann_test.cpp
Due: clang-format, update-source-list

:books: Update benchmark results.
  doc/sphinx/src/user_guide/ode/bench/data/diffusion2d_dirichlet.data
  doc/sphinx/src/user_guide/ode/bench/data/diffusion2d_neumann.data
  doc/sphinx/src/user_guide/ode/bench/diffusion2d.ipynb
  doc/sphinx/src/user_guide/ode/ode_solver_selection.drawio
  doc/sphinx/src/user_guide/ode/ode_solver_selection.svg
Due: none

:sparkles: Preconditioned BiCGSTAB method.
  include/num_collect/linear/functional_bicgstab.h
  test/bench/ode/sparse_linear_equation_test.cpp
  test/units/linear/approvals/functional_bicgstab.solve_with_preconditioner.approved.txt
  test/units/linear/functional_bicgstab_test.cpp
Due: clang-format, update-source-list

:zap: Use preconditioned BiCGSTAB for solving some linear systems in ODE solvers.
  include/num_collect/ode/rosenbrock/bicgstab_rosenbrock_equation_solver.h
  include/num_collect/ode/runge_kutta/inexact_newton_update_equation_solver.h
Due: clang-format, update-source-list

:sparkles: ROS3PRL2 formula in Rosenbrock method.
  include/num_collect/ode/rosenbrock/ros3prl2_formula.h
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_ros3prl2_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_ros3prl2_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_ros3prl2_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/embedded.cpp
  test/units/ode/rosenbrock/approvals/ros3prl2_formula.step.approved.txt
  test/units/ode/rosenbrock/approvals/ros3prl2_formula.step_embedded.approved.txt
  test/units/ode/rosenbrock/ros3prl2_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, update-source-list

:alembic: Add ROS3PRL2 method in benchmarks.
  test/bench/ode/diagram_common.cpp
  test/bench/ode/diffusion2d_dirichlet_test.cpp
  test/bench/ode/diffusion2d_neumann_test.cpp
  test/bench/ode/no_jacobian_diffusion2d_dirichlet_test.cpp
  test/bench/ode/no_jacobian_diffusion2d_neumann_test.cpp
Due: clang-format, update-source-list

:sparkles: ROS3Dw formula in Rosenbrock method.
  include/num_collect/ode/rosenbrock/ros3dw_formula.h
  test/bench/ode/diagram_common.cpp
  test/bench/ode/diffusion2d_dirichlet_test.cpp
  test/bench/ode/diffusion2d_neumann_test.cpp
  test/bench/ode/implicit_kaps_problem_test.cpp
  test/bench/ode/no_jacobian_diffusion2d_dirichlet_test.cpp
  test/bench/ode/no_jacobian_diffusion2d_neumann_test.cpp
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_ros3dw_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_ros3dw_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_ros3dw_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/embedded.cpp
  test/units/ode/rosenbrock/approvals/ros3dw_formula.step.approved.txt
  test/units/ode/rosenbrock/approvals/ros3dw_formula.step_embedded.approved.txt
  test/units/ode/rosenbrock/ros3dw_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, update-source-list

:books: Update documentation.
  doc/sphinx/src/algorithm_list.md
  doc/sphinx/src/user_guide/ode/formulas.md
Due: none

:alembic: Experiment to solve 1D wave equation.
  experiments/pde/CMakeLists.txt
  experiments/pde/rbf_fd_wave_equation_1d_string.cpp
  experiments/pde/rbf_fd_wave_equation_1d_string.toml
Due: clang-format, cmake-format, update-source-list

:wrench: Update packages.
  .gitignore
  poetry.lock
  poetry.toml
  pyproject.toml
Due: none

:white_check_mark: Add test to solve the 1D wave equation using RBF-FD method.
  test/integ/rbf_fd_equations/source_list.cmake
  test/integ/rbf_fd_equations/unity_source.cpp
  test/integ/rbf_fd_equations/wave_equation_1d_string.cpp
Due: clang-format, update-source-list

:white_check_mark: Try to fix the issue in MSVC.
  test/integ/rbf_fd_equations/poisson_2d.cpp
Due: clang-format, update-source-list

:sparkles: Add Bessel functions of the first kind.
  CMakeLists.txt
  include/num_collect/functions/bessel.h
  poetry.lock
  pyproject.toml
  src/CMakeLists.txt
  src/num_collect/functions/bessel.cpp
  src/source_list.cmake
  src/unity_source.cpp
  test/units/functions/bessel_calc.py
  test/units/functions/bessel_test.cpp
  test/units/functions/source_list.cmake
  test/units/functions/unity_source.cpp
  vcpkg.json
Due: clang-format, cmake-format, update-source-list

:sparkles: Implement Bessel RBF.
  cspell.json
  include/num_collect/rbf/rbfs/bessel_rbf.h
  test/integ/rbf_interp_comb/rbfs/approvals/gaussian_process_interpolator_with_different_RBFs_-_bessel_rbf_double,_2_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/gaussian_process_interpolator_with_different_RBFs_-_bessel_rbf_double,_3_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_interpolator_with_different_RBFs_-_bessel_rbf_double,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_interpolator_with_different_RBFs_-_bessel_rbf_double,_2_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_interpolator_with_different_RBFs_-_bessel_rbf_double,_3_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_bessel_rbf_double,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_bessel_rbf_double,_2_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_bessel_rbf_double,_3_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_rbf_interpolator_with_different_RBFs_-_bessel_rbf_double,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_rbf_interpolator_with_different_RBFs_-_bessel_rbf_double,_2_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_rbf_interpolator_with_different_RBFs_-_bessel_rbf_double,_3_.approved.txt
  test/integ/rbf_interp_comb/rbfs/gaussian_process_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/global_rbf_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/global_rbf_polynomial_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/local_rbf_interpolator.cpp
  test/units/rbf/rbfs/bessel_rbf_calc.py
  test/units/rbf/rbfs/bessel_rbf_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Better implementation of Bessel RBF.
  include/num_collect/rbf/rbfs/bessel_rbf.h
  test/units/rbf/rbfs/bessel_rbf_calc.py
  test/units/rbf/rbfs/bessel_rbf_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Update approved files.
  test/integ/rbf_interp_comb/rbfs/approvals/gaussian_process_interpolator_with_different_RBFs_-_bessel_rbf_double,_2_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/gaussian_process_interpolator_with_different_RBFs_-_bessel_rbf_double,_3_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_interpolator_with_different_RBFs_-_bessel_rbf_double,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_interpolator_with_different_RBFs_-_bessel_rbf_double,_2_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_interpolator_with_different_RBFs_-_bessel_rbf_double,_3_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_bessel_rbf_double,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_bessel_rbf_double,_2_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_bessel_rbf_double,_3_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_rbf_interpolator_with_different_RBFs_-_bessel_rbf_double,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_rbf_interpolator_with_different_RBFs_-_bessel_rbf_double,_2_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_rbf_interpolator_with_different_RBFs_-_bessel_rbf_double,_3_.approved.txt
Due: none

:sparkles: Add other Bessel functions (Y, I, K).
  include/num_collect/functions/bessel.h
  src/num_collect/functions/bessel.cpp
  test/units/functions/bessel_calc.py
  test/units/functions/bessel_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Remove an unstable test.
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_interpolator_with_different_RBFs_-_bessel_rbf_double,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/global_rbf_interpolator.cpp
Due: clang-format, update-source-list

:sparkles: Matern RBF.
  cspell.json
  include/num_collect/rbf/rbfs/bessel_rbf.h
  include/num_collect/rbf/rbfs/matern_rbf.h
  test/integ/rbf_interp_comb/rbfs/approvals/gaussian_process_interpolator_with_different_RBFs_-_matern_rbf_double,_1.5_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/gaussian_process_interpolator_with_different_RBFs_-_matern_rbf_double,_2.5_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_interpolator_with_different_RBFs_-_matern_rbf_double,_1.5_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_interpolator_with_different_RBFs_-_matern_rbf_double,_2.5_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_matern_rbf_double,_1.5_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_rbf_polynomial_interpolator_with_different_RBFs_-_matern_rbf_double,_2.5_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_rbf_interpolator_with_different_RBFs_-_matern_rbf_double,_1.5_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_rbf_interpolator_with_different_RBFs_-_matern_rbf_double,_2.5_.approved.txt
  test/integ/rbf_interp_comb/rbfs/gaussian_process_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/global_rbf_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/global_rbf_polynomial_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/local_rbf_interpolator.cpp
  test/units/rbf/rbfs/matern_rbf_calc.py
  test/units/rbf/rbfs/matern_rbf_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:wrench: Fix CI.
  .gitlab-ci.yml
Due: none

:wrench: Update vcpkg and dependencies installed by vcpkg.
  vcpkg-configuration.json
Due: none

:recycle: Refactor PDE solver implementation.
  experiments/pde/rbf_fd_wave_equation_1d_string.cpp
  include/num_collect/rbf/concepts/global_length_parameter_calculator.h
  include/num_collect/rbf/concepts/length_parameter_calculator.h
  include/num_collect/rbf/impl/rbf_fd_polynomial_row_calculator.h
  include/num_collect/rbf/rbf_fd_polynomial_assembler.h
Due: clang-format, update-source-list

:books: Move an experiment to an example.
  examples/doxygen_specifications.h
  examples/pde/CMakeLists.txt
  examples/pde/rbf_fd_wave_equation_1d_string.cpp
  examples/pde/rbf_fd_wave_equation_1d_string.toml
  experiments/pde/CMakeLists.txt
Due: clang-format, cmake-format, update-source-list

:books: Update some comments.
  examples/pde/rbf_fd_wave_equation_1d_string.cpp
  examples/pde/rbf_fd_wave_equation_1d_string.toml
Due: clang-format, update-source-list

:recycle: Refactor the way to write ParaView data files in PDE experiments.
  examples/example_common/include/para_view_time_steps_data_file_writer.h
  experiments/pde/rbf_fd_diffusion_equation_2d_dirichlet.cpp
  experiments/pde/rbf_fd_diffusion_equation_2d_neumann.cpp
  include/num_collect/util/file_wrapper.h
  src/num_collect/logging/sinks/simple_log_sink.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
  test/units/util/file_wrapper_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Refactor PDE experiments and move to examples.
  examples/pde/CMakeLists.txt
  examples/pde/rbf_fd_diffusion_equation_2d_dirichlet.cpp
  examples/pde/rbf_fd_diffusion_equation_2d_dirichlet.toml
  examples/pde/rbf_fd_diffusion_equation_2d_neumann.cpp
  examples/pde/rbf_fd_diffusion_equation_2d_neumann.toml
  examples/pde/rbf_fd_wave_equation_1d_string.cpp
  experiments/pde/CMakeLists.txt
Due: clang-format, cmake-format, update-source-list

:books: Add periods to comments.
  examples/pde/rbf_fd_diffusion_equation_2d_dirichlet.cpp
  examples/pde/rbf_fd_diffusion_equation_2d_neumann.cpp
  examples/pde/rbf_fd_wave_equation_1d_string.cpp
Due: clang-format, update-source-list

:books: Add Doxygen specifications for additional PDE examples.
  examples/doxygen_specifications.h
Due: clang-format, update-source-list

:alembic: Experiment to solve 1D advection equation using RBF-FD method.
  experiments/pde/CMakeLists.txt
  experiments/pde/rbf_fd_advection_equation_1d.cpp
  experiments/pde/rbf_fd_advection_equation_1d.toml
Due: clang-format, cmake-format, update-source-list

Path conditions:
  clang-format: any of: \.(h|cpp)$, but not: \.approved\.
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$ and not (source_list.cmake) and not (\.approved\.)
  update-source-list: any of: \.(h|cpp)$, but not: \.approved\.
