Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: poetry run cmake-format -i

update-source-list:
  name: update-source-list
  description: Update the list of source codes.
  language: system
  entry: poetry run python scripts/update_source_list.py

:zap: Use faster implementation in vectors when possible.
  include/num_collect/util/vector.h
Due: clang-format, update-source-list

:recycle: Use faster implementation in existing implementation of Eigen's triplets.
  include/num_collect/linear/impl/amg/create_prolongation_matrix.h
  include/num_collect/rbf/compute_kernel_matrix.h
  problems/include/num_prob_collect/linear/laplacian_2d_grid.h
  problems/include/num_prob_collect/regularization/sparse_blur_matrix.h
  problems/include/num_prob_collect/regularization/sparse_ct_matrix_2d.h
  problems/include/num_prob_collect/regularization/sparse_diff_matrix.h
  problems/include/num_prob_collect/regularization/sparse_diff_matrix_2d.h
  problems/include/num_prob_collect/regularization/sparse_div_matrix_2d.h
  problems/include/num_prob_collect/regularization/sparse_downsampling_matrix_2d.h
  problems/include/num_prob_collect/regularization/tgv2_second_derivative_matrix_2d.h
  test/bench/ode/sparse_linear_equation_test.cpp
  test/units/linear/impl/amg/compute_strong_connection_list_test.cpp
  test/units/util/format_sparse_matrix_test.cpp
Due: clang-format, update-source-list

:alembic: Benchmark to compute kernel matrices.
  test/bench/rbf/CMakeLists.txt
  test/bench/rbf/compute_kernel_matrix.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Separate serial implementation of kernel matrix computation.
  include/num_collect/rbf/impl/compute_kernel_matrix_serial.h
  test/bench/rbf/compute_kernel_matrix.cpp
  test/units/rbf/impl/compute_kernel_matrix_serial_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Parallel version of kernel matrix computation for global RBFs.
  include/num_collect/rbf/impl/compute_kernel_matrix_parallel.h
  test/bench/rbf/compute_kernel_matrix.cpp
  test/units/rbf/impl/approvals/compute_kernel_matrix_parallel.compute_a_matrix_with_global_length_parameters.approved.txt
  test/units/rbf/impl/approvals/compute_kernel_matrix_serial.compute_a_matrix_with_global_length_parameters.approved.txt
  test/units/rbf/impl/approvals/compute_kernel_matrix_serial.compute_a_matrix_with_local_length_parameters.approved.txt
  test/units/rbf/impl/approvals/compute_kernel_matrix_serial.compute_a_sparse_matrix_with_local_length_parameter.approved.txt
  test/units/rbf/impl/compute_kernel_matrix_parallel_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Parallel version of kernel matrix computation for local RBFs.
  include/num_collect/rbf/impl/compute_kernel_matrix_parallel.h
  test/bench/rbf/compute_kernel_matrix.cpp
  test/units/rbf/impl/approvals/compute_kernel_matrix_parallel.compute_a_matrix_with_local_length_parameters.approved.txt
  test/units/rbf/impl/compute_kernel_matrix_parallel_test.cpp
Due: clang-format, update-source-list

:sparkles: Parallelized compute_kernel_matrix.
  include/num_collect/rbf/compute_kernel_matrix.h
  include/num_collect/rbf/impl/compute_kernel_matrix_parallel.h
  include/num_collect/rbf/impl/parallelized_num_points.h
  test/bench/rbf/compute_kernel_matrix.cpp
  test/units/rbf/impl/approvals/compute_kernel_matrix_parallel.compute_a_sparse_matrix_with_local_length_parameter.approved.txt
  test/units/rbf/impl/compute_kernel_matrix_parallel_test.cpp
Due: clang-format, update-source-list

:zap: Parallelize length parameter calculation.
  include/num_collect/rbf/length_parameter_calculators/global_length_parameter_calculator.h
  include/num_collect/rbf/length_parameter_calculators/local_length_parameter_calculator.h
Due: clang-format, update-source-list

:rotating_light: Remove a warning.
  .clang-tidy
Due: none

:recycle: Use ranges.
  .clang-tidy
  .clang-tidy-checker
  .gitignore
  include/num_collect/opt/dividing_rectangles.h
  test/units/linear/cuthill_mckee_ordering_test.cpp
  test/units/linear/reverse_cuthill_mckee_ordering_test.cpp
  test/units/rbf/generate_halton_nodes_test.cpp
Due: clang-format, update-source-list

:rotating_light: Fix modernize-use-integer-sign-comparison warnings.
  .clang-tidy
  test/units/util/safe_cast_test.cpp
Due: clang-format, update-source-list

:alembic: Experiments to calculate RBF-FD weights for Laplacian in 2D.
  experiments/CMakeLists.txt
  experiments/pde/CMakeLists.txt
  experiments/pde/rbf_fd_weights_2d.cpp
  experiments/pde/rbf_fd_weights_2d.toml
Due: clang-format, cmake-format, update-source-list

:alembic: Use polynomials in RBF-FD weight calculation.
  experiments/pde/rbf_fd_weights_2d.cpp
Due: clang-format, update-source-list

:recycle: Refactor rbf module to decrease the number of static_cast.
  examples/rbf/interpolate_2d.cpp
  include/num_collect/rbf/gaussian_process_interpolator.h
  include/num_collect/rbf/generate_halton_nodes.h
  include/num_collect/rbf/impl/compute_kernel_matrix_parallel.h
  include/num_collect/rbf/impl/compute_kernel_matrix_serial.h
  include/num_collect/rbf/rbf_polynomial_interpolator.h
  profiling/rbf/global_rbf_interpolator_2d.cpp
  profiling/rbf/local_csrbf_interpolator_2d.cpp
  test/bench/linear/csrbf_2d_test.cpp
  test/bench/rbf/compute_kernel_matrix.cpp
  test/bench/rbf/interp_2d.cpp
  test/bench/rbf/interp_3d.cpp
  test/integ/rbf_interp_comb/dimensions/gaussian_process_interpolator.cpp
  test/integ/rbf_interp_comb/dimensions/global_rbf_polynomial_interpolator.cpp
  test/integ/rbf_interp_comb/dimensions/local_csrbf_interpolator.cpp
  test/integ/rbf_interp_comb/dimensions/local_rbf_interpolator.cpp
  test/integ/rbf_interp_comb/dimensions/thin_plate_spline_interpolator.cpp
  test/integ/rbf_interp_comb/operators/derivative.cpp
  test/integ/rbf_interp_comb/operators/fourth_derivative.cpp
  test/integ/rbf_interp_comb/operators/second_derivative.cpp
  test/integ/rbf_interp_comb/operators/third_derivative.cpp
  test/integ/rbf_interp_comb/polynomials/global_rbf_polynomial_interpolator.cpp
  test/units/rbf/generate_halton_nodes_test.cpp
  test/units/rbf/operators/biharmonic_operator_test.cpp
  test/units/rbf/operators/function_value_operator_test.cpp
  test/units/rbf/operators/gradient_operator_test.cpp
  test/units/rbf/operators/hessian_operator_test.cpp
  test/units/rbf/operators/laplacian_gradient_operator_test.cpp
  test/units/rbf/operators/laplacian_operator_test.cpp
  test/units/rbf/operators/partial_derivative_operator_test.cpp
  test/units/rbf/operators/third_order_derivative_operator_test.cpp
Due: clang-format, update-source-list

:rotating_light: Prevent unnecessary copy.
  include/num_collect/util/vector.h
Due: clang-format, update-source-list

:wrench: Update C++ dependencies.
  vcpkg-configuration.json
Due: none

:wrench: Install nanoflann.
  CMakeLists.txt
  cspell.json
  src/CMakeLists.txt
  vcpkg.json
Due: cmake-format

:construction: Simple implementation of nearest neighbor search.
  cspell.json
  include/num_collect/util/nearest_neighbor_searcher.h
  test/units/util/nearest_neighbor_searcher_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Prevent unnecessary copies.
  include/num_collect/util/nearest_neighbor_searcher.h
  include/num_collect/util/vector.h
Due: clang-format, update-source-list

:sparkles: Added nearest neighbor search.
  include/num_collect/util/nearest_neighbor_searcher.h
  test/units/util/nearest_neighbor_searcher_test.cpp
Due: clang-format, update-source-list

:bug: Add forgotten namespace specifier.
  include/num_collect/util/nearest_neighbor_searcher.h
Due: clang-format, update-source-list

:alembic: Benchmark of nearest neighbor search.
  test/bench/util/CMakeLists.txt
  test/bench/util/nearest_neighbors_search_test.cpp
Due: clang-format, cmake-format, update-source-list

:rotating_light: Fixed some warnings.
  include/num_collect/util/nearest_neighbor_searcher.h
Due: clang-format, update-source-list

:recycle: Review util module.
  include/num_collect/rbf/impl/kernel_matrix_solver.h
  include/num_collect/util/assert.h
  include/num_collect/util/cache_line.h
  include/num_collect/util/comparators.h
  include/num_collect/util/concurrent_map.h
  include/num_collect/util/gray_code.h
  include/num_collect/util/iteration_period_checker.h
  include/num_collect/util/object_storage.h
  include/num_collect/util/producer_consumer_circular_queue.h
  include/num_collect/util/scoped_eigen_no_malloc.h
  include/num_collect/util/source_info_view.h
  include/num_collect/util/static_stack.h
  test/units/regularization/impl/apply_shrinkage_operator_test.cpp
  test/units/util/comparators_test.cpp
  test/units/util/object_storage_test.cpp
  test/units/util/producer_consumer_circular_queue_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Use nearest_neighbor_searcher in computation of kernel matrices of CSRBF.
  include/num_collect/rbf/impl/compute_kernel_matrix_parallel.h
  include/num_collect/rbf/impl/compute_kernel_matrix_serial.h
  include/num_collect/rbf/length_parameter_calculators/local_length_parameter_calculator.h
  include/num_collect/util/nearest_neighbor_searcher.h
Due: clang-format, update-source-list

:recycle: Prevent unnecessary sorting.
  include/num_collect/rbf/impl/compute_kernel_matrix_parallel.h
  include/num_collect/rbf/impl/compute_kernel_matrix_serial.h
  include/num_collect/util/nearest_neighbor_searcher.h
Due: clang-format, update-source-list

:white_check_mark: Remove a check.
  test/units/rbf/operators/laplacian_gradient_operator_test.cpp
Due: clang-format, update-source-list

:recycle: Update the update rule of z in tgv2_admm.
  include/num_collect/regularization/tgv2_admm.h
Due: clang-format, update-source-list

:zap: Faster convergence of tgv2_admm by changing constraint coefficients.
  include/num_collect/regularization/tgv2_admm.h
Due: clang-format, update-source-list

:books: Change parameters for examples.
  examples/regularization/image_denoising_config.toml
Due: none

:zap: Move some initializations from init to compute.
  include/num_collect/regularization/tgv2_admm.h
Due: clang-format, update-source-list

:recycle: Change constraints coefficients in tv_admm.
  include/num_collect/regularization/tv_admm.h
Due: clang-format, update-source-list

:zap: Move some initializations from init to compute.
  include/num_collect/regularization/tv_admm.h
  test/units/regularization/approvals/tv_admm.solve.approved.txt
Due: clang-format, update-source-list

:recycle: Prevent too large or too small constraint coefficients.
  include/num_collect/regularization/tgv2_admm.h
  include/num_collect/regularization/tv_admm.h
  test/units/regularization/approvals/tv_admm.solve.approved.txt
Due: clang-format, update-source-list

:books: Change the resolution of the example.
  examples/regularization/image_denoising_config.toml
Due: none

:recycle: Add a transposed version of the first derivative matrix.
  include/num_collect/regularization/tgv2_admm.h
Due: clang-format, update-source-list

:construction: Change update rules of tgv2_admm.
  include/num_collect/regularization/tgv2_admm.h
  test/units/regularization/approvals/tgv2_admm.solve_1D_problem.solve.approved.txt
Due: clang-format, update-source-list

:recycle: Remove unneeded lines.
  include/num_collect/regularization/tgv2_admm.h
Due: clang-format, update-source-list

:white_check_mark: Check memory usage.
  test/units/regularization/tgv2_admm_test.cpp
Due: clang-format, update-source-list

:recycle: Prevent same sampling points in Gaussian process optimization.
  include/num_collect/opt/gaussian_process_optimizer.h
  include/num_collect/regularization/implicit_gcv.h
  problems/include/num_prob_collect/opt/identity_function.h
  problems/include/num_prob_collect/opt/sum_function.h
  test/units/opt/gaussian_process_optimizer_test.cpp
Due: clang-format, update-source-list

Path conditions:
  clang-format: any of: \.(h|cpp)$, but not: \.approved\.
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$ and not (source_list.cmake) and not (\.approved\.)
  update-source-list: any of: \.(h|cpp)$, but not: \.approved\.
