Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        exclude: source_list.cmake
        entry: poetry run cmake-format -i
      - id: update-source-list
        name: update-source-list
        description: Update the list of source codes.
        language: system
        files: \.(h|cpp)$
        entry: poetry run python scripts/update_source_list.py
      - id: check-encoding
        name: check-encoding
        description: Check encoding of files.
        language: system
        entry: poetry run python scripts/check_encoding.py
# Automatically generated files should not be checked.
exclude: "\\.approved\\."

:white_check_mark: Check the property of coefficients of Radau IIA order 5 before use of the property in error estimation.
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_update_equation_solver.h
  test/units/ode/runge_kutta/radau2a5_formula_test.cpp
Due: clang-format, update-source-list

:sparkles: Error estimation of radau2a5_formula.
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_update_equation_solver.h
  include/num_collect/ode/runge_kutta/radau2a5_formula.h
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a5_formula.step_in_multi-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a5_formula.step_in_one-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/radau2a5_formula_test.cpp
Due: clang-format, update-source-list

:recycle: Update implementation of non_embedded_formula_wrapper using Richardson extrapolation for better accuracy of non-embedded formulas.
  include/num_collect/ode/non_embedded_formula_wrapper.h
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_radau2a3_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_radau2a5_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_radau2a3_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_radau2a5_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_radau2a3_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_radau2a5_formula.approved.txt
  test/integ/ode_comb/spring_movement/approvals/auto_avf2_formula.approved.txt
  test/integ/ode_comb/spring_movement/approvals/auto_avf3_formula.approved.txt
  test/integ/ode_comb/spring_movement/approvals/auto_avf4_formula.approved.txt
  test/integ/ode_comb/spring_movement/approvals/auto_rk4_formula.approved.txt
  test/units/ode/approvals/non_embedded_auto_solver_runge_kutta__rk4_formula_num_prob_collect__ode__exponential_problem__.solve_till.approved.txt
Due: clang-format, update-source-list

:sparkles: Implemented Lobatto IIIC methods order 4.
  cspell.json
  include/num_collect/ode/runge_kutta/lobatto3c4_formula.h
  test/units/ode/runge_kutta/approvals/runge_kutta__lobatto3c4_formula.step_in_multi-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__lobatto3c4_formula.step_in_one-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/lobatto3c4_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Refactor the implementation of inexact_newton_decomposed_full_update_equation_solver.
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_update_equation_solver.h
  include/num_collect/ode/runge_kutta/lobatto3c4_formula.h
  include/num_collect/ode/runge_kutta/radau2a3_formula.h
  include/num_collect/ode/runge_kutta/radau2a5_formula.h
  test/bench/ode/full_update_equation_solver_test.cpp
  test/units/ode/runge_kutta/inexact_newton_decomposed_full_update_equation_solver_test.cpp
Due: clang-format, update-source-list

:recycle: Refactor full implicit formulas.
  include/num_collect/ode/runge_kutta/full_implicit_formula_base.h
  include/num_collect/ode/runge_kutta/lobatto3c4_formula.h
  include/num_collect/ode/runge_kutta/radau2a3_formula.h
  include/num_collect/ode/runge_kutta/radau2a5_formula.h
Due: clang-format, update-source-list

:white_check_mark: Tests of lobatto3c4_formula in some problems.
  test/integ/ode_comb/exponential/approvals/lobatto3c4_formula.approved.txt
  test/integ/ode_comb/exponential/non_embedded.cpp
  test/integ/ode_comb/implicit_kaps/wrapped_non_embedded.cpp
Due: clang-format, update-source-list

:sparkles: Lobatto IIIC methods of order 6.
  include/num_collect/ode/runge_kutta/lobatto3c6_formula.h
  test/integ/ode_comb/exponential/approvals/lobatto3c6_formula.approved.txt
  test/integ/ode_comb/exponential/non_embedded.cpp
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_lobatto3c6_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_lobatto3c6_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_lobatto3c6_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/wrapped_non_embedded.cpp
  test/units/ode/runge_kutta/approvals/runge_kutta__lobatto3c6_formula.step_in_multi-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__lobatto3c6_formula.step_in_one-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/lobatto3c6_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, update-source-list

:alembic: Benchmarks of Lobatto IIIC methods.
  test/bench/ode/diagram_common.cpp
  test/bench/ode/implicit_kaps_problem_test.cpp
  test/bench/ode/pendulum_movement_fixed_step_test.cpp
  test/bench/ode/pendulum_movement_test.cpp
Due: clang-format, update-source-list

:books: Update documentation about Runge-Kutta methods.
  doc/sphinx/src/algorithm_list.md
  doc/sphinx/src/user_guide/ode/formula_properties.md
Due: none

:sparkles: Class of polynomials with simple accessors.
  doc/doxygen/namespaces.h
  include/num_collect/polynomials/polynomial.h
  scripts/update_source_list.py
  test/units/CMakeLists.txt
  test/units/polynomials/CMakeLists.txt
  test/units/polynomials/polynomial_test.cpp
  test/units/polynomials/source_list.cmake
  test/units/polynomials/unity_source.cpp
Due: clang-format, cmake-format, update-source-list

:sparkles: Multiplication and differentiation of polynomials.
  include/num_collect/polynomials/polynomial.h
  test/units/polynomials/polynomial_test.cpp
Due: clang-format, update-source-list

:recycle: Review and refactor polynomial class.
  include/num_collect/polynomials/polynomial.h
  test/units/polynomials/polynomial_test.cpp
Due: clang-format, update-source-list

:alembic: Experiment to compute the coefficients of Radau IIA methods.
  experiments/CMakeLists.txt
  experiments/ode/CMakeLists.txt
  experiments/ode/calculate_radau_coefficients.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Use quad class for Radau IIA coefficients calculation.
  experiments/ode/calculate_radau_coefficients.cpp
  include/num_collect/multi_double/quad.h
  include/num_collect/multi_double/quad_eigen.h
Due: clang-format, update-source-list

:bug: Prevent errors in CI.
  experiments/ode/calculate_radau_coefficients.cpp
Due: clang-format, update-source-list

:bug: Fix CI.
  experiments/ode/calculate_radau_coefficients.cpp
Due: clang-format, update-source-list

:recycle: Separate computation of zeros of polynomials.
  experiments/ode/calculate_radau_coefficients.cpp
  include/num_collect/polynomials/compute_polynomial_zeros.h
  test/units/polynomials/compute_polynomial_zeros_test.cpp
  test/units/polynomials/source_list.cmake
  test/units/polynomials/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Class to calculate coefficients of Butcher tableau of Radau IIA method with given stages.
  include/num_collect/ode/runge_kutta/impl/radau2a_table.h
  include/num_collect/ode/runge_kutta/radau2a_formula.h
  test/units/ode/runge_kutta/impl/radau2a_table_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Fix documentation and attributes of radau2a_table.
  include/num_collect/ode/runge_kutta/impl/radau2a_table.h
Due: clang-format, update-source-list

:sparkles: Class to solve ODEs using Radau IIA method of higher order.
  include/num_collect/ode/runge_kutta/impl/radau2a_table.h
  include/num_collect/ode/runge_kutta/radau2a_formula.h
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_5_.step_in_multi-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_5_.step_in_one-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_9_.step_in_multi-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_9_.step_in_one-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/radau2a_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, update-source-list

:white_check_mark: Tests and benchmarks for Radau IIA formulas of high orders.
  include/num_collect/ode/runge_kutta/radau2a_formula.h
  test/bench/ode/diagram_common.cpp
  test/bench/ode/implicit_kaps_problem_test.cpp
  test/integ/ode_comb/exponential/approvals/radau2a13_formula.approved.txt
  test/integ/ode_comb/exponential/approvals/radau2a17_formula.approved.txt
  test/integ/ode_comb/exponential/approvals/radau2a9_formula.approved.txt
  test/integ/ode_comb/exponential/non_embedded.cpp
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_radau2a13_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_radau2a17_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_radau2a9_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_radau2a13_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_radau2a17_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_radau2a9_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_radau2a13_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_radau2a17_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_radau2a9_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/wrapped_non_embedded.cpp
  test/integ/ode_comb/ode_approvals.h
Due: clang-format, update-source-list

:books: Update documentation of compute_polynomial_zeros.h.
  include/num_collect/polynomials/compute_polynomial_zeros.h
Due: clang-format, update-source-list

:bug: Fix CI.
  test/units/ode/runge_kutta/radau2a_formula_test.cpp
Due: clang-format, update-source-list

:books: Update documentation.
  doc/sphinx/src/algorithm_list.md
  doc/sphinx/src/modules.rst
  doc/sphinx/src/user_guide/ode/formula_properties.md
Due: none

:bug: Fix CI.
  test/bench/ode/implicit_kaps_problem_test.cpp
  test/integ/ode_comb/exponential/non_embedded.cpp
  test/integ/ode_comb/implicit_kaps/wrapped_non_embedded.cpp
Due: clang-format, update-source-list

:bug: Remove formulas which are not working at all.
  include/num_collect/ode/runge_kutta/radau2a_formula.h
  test/bench/ode/implicit_kaps_problem_test.cpp
  test/integ/ode_comb/exponential/approvals/radau2a13_formula.approved.txt
  test/integ/ode_comb/exponential/approvals/radau2a17_formula.approved.txt
  test/integ/ode_comb/exponential/non_embedded.cpp
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_radau2a13_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_radau2a17_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_radau2a13_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_radau2a17_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_radau2a13_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_radau2a17_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/wrapped_non_embedded.cpp
Due: clang-format, update-source-list

:bug: Remove formulas which are not working at all.
  test/integ/ode_comb/exponential/approvals/radau2a9_formula.approved.txt
  test/integ/ode_comb/exponential/non_embedded.cpp
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_radau2a9_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_radau2a9_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_radau2a9_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/wrapped_non_embedded.cpp
Due: clang-format, update-source-list

:wrench: Update Python packages.
  poetry.lock
  pyproject.toml
Due: none

:wrench: Update vcpkg.
  vcpkg-configuration.json
Due: none

:recycle: Update existing benchmarks of ODE solvers.
  test/bench/ode/diagram_common.cpp
  test/bench/ode/exponential_test.cpp
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/implicit_kaps_problem_test.cpp
  test/bench/ode/kaps_problem_test.cpp
  test/bench/ode/spring_movement_fixed_step_test.cpp
  test/bench/ode/spring_movement_test.cpp
  test/bench/ode/string_wave_1d_test.cpp
Due: clang-format, update-source-list

:alembic: Add benchmarks of ODE solvers for PDEs.
  test/bench/ode/CMakeLists.txt
  test/bench/ode/diffusion2d_dirichlet_test.cpp
  test/bench/ode/diffusion2d_neumann_test.cpp
Due: clang-format, cmake-format, update-source-list

:zap: Use preconditioned BiCGstab in Rosenbrock methods for faster convergence.
  include/num_collect/ode/rosenbrock/bicgstab_rosenbrock_equation_solver.h
Due: clang-format, update-source-list

:docs: Update tables of properties of formulas.
  doc/sphinx/src/user_guide/ode/formula_properties.md
Due: none

:books: Add a decision tree to select ODE solvers.
  .pre-commit-config.yaml
  doc/sphinx/src/_static/.gitkeep
  doc/sphinx/src/_static/custom.css
  doc/sphinx/src/conf.py
  doc/sphinx/src/user_guide/ode/index.rst
  doc/sphinx/src/user_guide/ode/ode_solver_selection.drawio
  doc/sphinx/src/user_guide/ode/ode_solver_selection.md
  doc/sphinx/src/user_guide/ode/ode_solver_selection.svg
Due: none

:books: Fix documentation.
  doc/sphinx/src/user_guide/ode/formula_properties.md
Due: none

:books: Update decision tree.
  doc/sphinx/src/user_guide/ode/ode_solver_selection.drawio
  doc/sphinx/src/user_guide/ode/ode_solver_selection.svg
Due: none

:alembic: Add solvers in the benchmark of implicit Kaps' problem.
  test/bench/ode/implicit_kaps_problem_test.cpp
Due: clang-format, update-source-list

:books: Update decision tree according to the additional benchmark results.
  doc/sphinx/src/user_guide/ode/ode_solver_selection.drawio
  doc/sphinx/src/user_guide/ode/ode_solver_selection.svg
Due: none

:recycle: Configure loggers of internal solvers in Rosenbrock method to prevent too many logs.
  include/num_collect/ode/rosenbrock/rosenbrock_formula_base.h
Due: clang-format, update-source-list
