Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: pipenv run cmake-format -i

update-unity-source-in-unit-test:
  name: update-unity-source-in-unit-test
  description: Update the source code for the unity build of unit tests.
  language: system
  entry: pipenv run python test/units/create_unity_file.py

:recycle: Use concepts instead of SFINAE in newton_raphson class.
  include/num_collect/roots/concepts/multi_variate_differentiable_function.h
  include/num_collect/roots/concepts/single_variate_differentiable_function.h
  include/num_collect/roots/newton_raphson.h
Due: clang-format

:recycle: Add concepts of formulas in ODE.
  include/num_collect/base/concepts/decayed_to.h
  include/num_collect/base/concepts/reference_of.h
  include/num_collect/base/concepts/same_as.h
  include/num_collect/ode/concepts/embedded_formula.h
  include/num_collect/ode/concepts/formula.h
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/non_embedded_formula_wrapper.h
  include/num_collect/ode/simple_solver.h
  include/num_collect/ode/solver_base.h
Due: clang-format

:recycle: Add concepts of problems.
  .vscode/settings.json
  include/num_collect/ode/avf/avf2_formula.h
  include/num_collect/ode/avf/avf3_formula.h
  include/num_collect/ode/avf/avf4_formula.h
  include/num_collect/ode/avf/impl/avf_integrand.h
  include/num_collect/ode/concepts/differentiable_problem.h
  include/num_collect/ode/concepts/multi_variate_differentiable_problem.h
  include/num_collect/ode/concepts/problem.h
  include/num_collect/ode/concepts/single_variate_differentiable_problem.h
  include/num_collect/ode/formula_base.h
  include/num_collect/ode/runge_kutta/impl/rosenbrock_helper.h
  include/num_collect/ode/runge_kutta/implicit_euler_formula.h
  include/num_collect/ode/runge_kutta/implicit_formula_base.h
  include/num_collect/ode/runge_kutta/rk4_formula.h
  include/num_collect/ode/runge_kutta/rkf45_formula.h
  include/num_collect/ode/runge_kutta/ros34pw3_formula.h
  include/num_collect/ode/runge_kutta/ros3w_formula.h
  include/num_collect/ode/runge_kutta/semi_implicit_formula_solver.h
  include/num_collect/ode/runge_kutta/tanaka1_formula.h
  include/num_collect/ode/runge_kutta/tanaka2_formula.h
  problems/include/num_prob_collect/ode/exponential_problem.h
Due: clang-format

:recycle: Add concept of solvers of implicit formulas.
  include/num_collect/ode/concepts/formula_solver.h
  include/num_collect/ode/runge_kutta/implicit_formula_base.h
Due: clang-format

:bug: Fix source location in MSVC.
  include/num_collect/util/impl/compiler_builtins.h
Due: clang-format

:sparkles: Add comparable concept.
  include/num_collect/base/concepts/comparable.h
  test/units/base/concepts/comparable_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add rhs_comparable concept.
  include/num_collect/base/concepts/rhs_comparable.h
  test/units/base/concepts/rhs_comparable_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:construction: Add assertion_value.
  include/num_collect/base/concepts/convertible_to.h
  include/num_collect/util/impl/assertion_decomposer.h
  test/units/util/impl/assertion_decomposer_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:construction: Add comparator concept.
  include/num_collect/util/concepts/comparator.h
  include/num_collect/util/concepts/kahan_addable.h
  test/units/util/concepts/comparator_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:wrench: Fix configuration of VSCode.
  .vscode/settings.json
Due: none

:sparkles: Add comparators.
  include/num_collect/util/comparators.h
  include/num_collect/util/concepts/comparable.h
  include/num_collect/util/concepts/rhs_comparable.h
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
  test/units/util/comparators_test.cpp
  test/units/util/concepts/comparable_test.cpp
  test/units/util/concepts/rhs_comparable_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:construction: Add assertion_comparison.
  include/num_collect/util/impl/assertion_decomposer.h
  test/units/util/impl/assertion_decomposer_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:books: Change URL of documentation in README.
  README.md
Due: none

:construction: Add operators to create assertion_comparison objects.
  include/num_collect/util/impl/assertion_decomposer.h
  test/units/util/impl/assertion_decomposer_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:construction: Add assertion_decomposer.
  include/num_collect/util/impl/assertion_decomposer.h
  test/units/util/impl/assertion_decomposer_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: :construction: Add NUM_COLLECT_ASSERT_IMPL.
  include/num_collect/util/assert.h
  include/num_collect/util/impl/assertion_decomposer.h
  test/units/util/assert_test.cpp
  test/units/util/impl/assertion_decomposer_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:bug: Remove an unnecessary limitation.
  include/num_collect/util/impl/assertion_decomposer.h
Due: clang-format

:construction: Add assertion_comparison2.
  include/num_collect/util/impl/assertion_decomposer.h
  test/units/util/impl/assertion_decomposer_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Assertions with two operators.
  include/num_collect/util/impl/assertion_decomposer.h
  test/units/util/assert_test.cpp
  test/units/util/impl/assertion_decomposer_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: New version of assertions.
  include/num_collect/auto_diff/backward/differentiate.h
  include/num_collect/auto_diff/backward/graph/node.h
  include/num_collect/auto_diff/backward/graph/node_differentiator.h
  include/num_collect/auto_diff/forward/make_jacobian.h
  include/num_collect/auto_diff/forward/variable.h
  include/num_collect/base/assert.h
  include/num_collect/functions/legendre_roots.h
  include/num_collect/integration/de_finite_integrator.h
  include/num_collect/integration/de_infinite_integrator.h
  include/num_collect/integration/de_semi_infinite_integrator.h
  include/num_collect/integration/gauss_legendre_integrator.h
  include/num_collect/integration/gauss_legendre_kronrod_integrator.h
  include/num_collect/interp/kernel/calc_kernel_mat.h
  include/num_collect/interp/kernel/impl/auto_regularizer_wrapper.h
  include/num_collect/interp/kernel/impl/self_adjoint_kernel_solver.h
  include/num_collect/interp/kernel/rbf_kernel.h
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/runge_kutta/implicit_formula_base.h
  include/num_collect/ode/runge_kutta/semi_implicit_formula_solver.h
  include/num_collect/ode/simple_solver.h
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/backtracking_line_searcher.h
  include/num_collect/opt/dividing_rectangles.h
  include/num_collect/opt/heuristic_1dim_optimizer.h
  include/num_collect/opt/impl/ternary_vector.h
  include/num_collect/opt/sampling_optimizer.h
  include/num_collect/regularization/full_gen_tikhonov.h
  include/num_collect/roots/newton_raphson.h
  include/num_collect/util/assert.h
  include/num_collect/util/bidirectional_vector.h
  problems/include/num_prob_collect/regularization/dense_diff_matrix.h
  test/units/base/assert_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:wrench: Add Pipfile.lock.
  .gitignore
  Pipfile.lock
Due: none

:wrench: Update Pipfile.lock on Ubuntu.
  Pipfile.lock
  doc/sphinx/src/convention.rst
Due: none

:wrench: Use CI cache for venv.
  .gitlab-ci.yml
Due: none

:recycle: Warn use of unsafe math optimization.
  .vscode/settings.json
  include/num_collect/multi_double/impl/basic_operations.h
  include/num_collect/regularization/tikhonov.h
  include/num_collect/util/impl/warn_fast_math_for_bdcsvc.h
Due: clang-format

:wrench: Configure devcontainer.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.bash
  .gitignore
Due: none

:sparkles: Add invocable_as concept.
  include/num_collect/base/concepts/invocable_as.h
  test/units/base/concepts/invocable_as_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:boom: Change API of integrators.
  .gitmessage
  include/num_collect/integration/de_finite_integrator.h
  include/num_collect/integration/de_infinite_integrator.h
  include/num_collect/integration/de_semi_infinite_integrator.h
  include/num_collect/integration/gauss_legendre_integrator.h
  include/num_collect/integration/gauss_legendre_kronrod_integrator.h
  test/units/integration/de_finite_integrator_test.cpp
  test/units/integration/de_infinite_integrator_test.cpp
  test/units/integration/de_semi_infinite_integrator_test.cpp
  test/units/integration/gauss_legendre_integrator_test.cpp
  test/units/integration/gauss_legendre_kronrod_integrator_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:bug: Fix build.
  include/num_collect/ode/avf/avf2_formula.h
  include/num_collect/ode/avf/avf3_formula.h
  include/num_collect/ode/avf/avf4_formula.h
  test/bench/integration/exp_integration_test.cpp
  test/bench/integration/inv_sqrt_1mx2_test.cpp
  test/bench/integration/sqrt_1mx2_test.cpp
Due: clang-format

:wrench: Update Doxyfile.
  doc/doxygen/Doxyfile.in
Due: none

:books: Update CHANGELOG.
  CHANGELOG.md
Due: none

:wrench: Configure CI with LLVM 13.
  .gitlab-ci.yml
Due: none

:wrench: Update Python version for tests using MSVC.
  .gitlab-ci.yml
Due: none

:wrench: Update Devcontainer environment.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

:books: Update document about compilers.
  README.md
  doc/sphinx/src/how_to_build_in_repository.md
Due: none

:recycle: Use concepts in opt module.
  .clang-tidy
  .vscode/settings.json
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/backtracking_line_searcher.h
  include/num_collect/opt/bfgs_optimizer.h
  include/num_collect/opt/concepts/differentiable_objective_function.h
  include/num_collect/opt/concepts/line_searcher.h
  include/num_collect/opt/concepts/multi_variate_differentiable_objective_function.h
  include/num_collect/opt/concepts/multi_variate_objective_function.h
  include/num_collect/opt/concepts/multi_variate_twice_differentiable_objective_function.h
  include/num_collect/opt/concepts/objective_function.h
  include/num_collect/opt/concepts/single_variate_objective_function.h
  include/num_collect/opt/concepts/twice_differentiable_objective_function.h
  include/num_collect/opt/conjugate_gradient_optimizer.h
  include/num_collect/opt/descent_method_base.h
  include/num_collect/opt/dfp_optimizer.h
  include/num_collect/opt/dividing_rectangles.h
  include/num_collect/opt/downhill_simplex.h
  include/num_collect/opt/function_object_wrapper.h
  include/num_collect/opt/golden_section_search.h
  include/num_collect/opt/heuristic_1dim_optimizer.h
  include/num_collect/opt/newton_optimizer.h
  include/num_collect/opt/sampling_optimizer.h
  include/num_collect/opt/steepest_descent.h
  problems/include/num_prob_collect/opt/multi_quadratic_function.h
  problems/include/num_prob_collect/opt/powell4_function.h
  problems/include/num_prob_collect/opt/quadratic_function.h
  problems/include/num_prob_collect/opt/rosenbrock_function.h
  problems/include/num_prob_collect/opt/shekel_function.h
  problems/include/num_prob_collect/opt/vibrated_quadratic_function.h
Due: clang-format

:recycle: Check scalar types of vectors and matrices in multi_variate_twice_differentiable_objective_function concept.
  include/num_collect/opt/concepts/multi_variate_twice_differentiable_objective_function.h
Due: clang-format

:recycle: Check matrix type in dfp_optimizer.
  .vscode/settings.json
  include/num_collect/opt/dfp_optimizer.h
Due: clang-format

:wrench: Allow failure of MSVC jobs.
  .gitlab-ci.yml
Due: none

Path conditions:
  clang-format: any of: \.(h|cpp)$
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$
  update-unity-source-in-unit-test: any of: test/units/.*\.cpp$
