Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        exclude: source_list.cmake
        entry: poetry run cmake-format -i
      - id: update-source-list
        name: update-source-list
        description: Update the list of source codes.
        language: system
        files: \.(h|cpp)$
        entry: poetry run python scripts/update_source_list.py
      - id: check-encoding
        name: check-encoding
        description: Check encoding of files.
        language: system
        entry: poetry run python scripts/check_encoding.py
# Automatically generated files should not be checked.
exclude: "\\.approved\\."

:recycle: Add used headers.
  include/num_collect/regularization/tv_admm.h
Due: clang-format, update-source-list

:sparkles: Function to create sparse matrices to compute derivatives.
  problems/include/num_prob_collect/regularization/sparse_diff_matrix.h
  test/units/regularization/tv_admm_test.cpp
Due: clang-format, update-source-list

:wrench: Fix error in spell check in CI.
  cspell.json
Due: none

:recycle: Tune the implementation of TV regularization using an example.
  examples/regularization/sparse_image_regularization.cpp
  include/num_collect/regularization/tv_admm.h
  problems/include/num_prob_collect/regularization/sparse_diff_matrix_2d.h
Due: clang-format, update-source-list

:books: Larger images in examples.
  examples/regularization/plot_gcv_with_fista.cpp
  examples/regularization/sparse_image_regularization.cpp
Due: clang-format, update-source-list

:zap: Parallelize the computation of derivatives in TV regularization.
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/tv_admm.h
Due: clang-format, update-source-list

:books: Plot L-curve of Tikhonov regularization.
  examples/regularization/blur_sine_tikhonov.cpp
Due: clang-format, update-source-list

:alembic: Plot L-curve with FISTA.
  examples/regularization/CMakeLists.txt
  examples/regularization/blur_sine_tikhonov.cpp
  examples/regularization/plot_l_curve_with_fista.cpp
Due: clang-format, cmake-format, update-source-list

:books: Add citation of the CG method.
  include/num_collect/linear/impl/operator_conjugate_gradient.h
Due: clang-format, update-source-list

:wrench: C++ dependencies.
  vcpkg-configuration.json
Due: none

:sparkles: Multiple noise vectors in approximation of GCV.
  examples/regularization/plot_gcv_with_fista.cpp
  include/num_collect/regularization/implicit_gcv.h
  test/units/regularization/implicit_gcv_test.cpp
Due: clang-format, update-source-list

:recycle: Move max_eigen_aat function to a free function.
  include/num_collect/base/concepts/real_scalar_sparse_matrix.h
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/impl/approximate_max_eigen_aat.h
  include/num_collect/regularization/tv_admm.h
Due: clang-format, update-source-list

:sparkles: Class of type erasure for objective functions.
  include/num_collect/opt/any_objective_function.h
  test/units/opt/any_objective_function_test.cpp
  test/units/opt/source_list.cmake
  test/units/opt/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Prevent to re-create optimizers in implicit_gcv class.
  include/num_collect/opt/any_objective_function.h
  include/num_collect/opt/gaussian_process_optimizer.h
  include/num_collect/regularization/implicit_gcv.h
Due: clang-format, update-source-list

:recycle: Prevent to re-create optimizer in gaussian_process_optimizer.
  include/num_collect/opt/dividing_rectangles.h
  include/num_collect/opt/gaussian_process_optimizer.h
Due: clang-format, update-source-list

:sparkles: Functions to set objective functions after construction of optimizers.
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/annealing_downhill_simplex.h
  include/num_collect/opt/downhill_simplex.h
  include/num_collect/opt/golden_section_search.h
  include/num_collect/opt/heuristic_global_optimizer.h
  include/num_collect/opt/sampling_optimizer.h
Due: clang-format, update-source-list

:recycle: Make the tolerance of CG method in tv_admm class to a variable.
  include/num_collect/linear/impl/operator_conjugate_gradient.h
  include/num_collect/regularization/tv_admm.h
Due: clang-format, update-source-list

:wrench: Update dependencies.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:alembic: Experiment to select fast implementation of shrinkage operator.
  test/bench/regularization/CMakeLists.txt
  test/bench/regularization/shrinkage_operator_test.cpp
Due: clang-format, cmake-format, update-source-list

:sparkles: Implement a free function for shrinkage operator.
  include/num_collect/regularization/impl/apply_shrinkage_operator.h
  test/units/regularization/impl/apply_shrinkage_operator_test.cpp
  test/units/regularization/source_list.cmake
  test/units/regularization/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Rewrite tv_admm using the newly implemented function of shrinkage operator.
  include/num_collect/regularization/tv_admm.h
Due: clang-format, update-source-list

:recycle: Update included headers of logging module.
  include/num_collect/base/concepts/formattable.h
  include/num_collect/logging/config/log_sink_factory_table.h
  include/num_collect/logging/config/toml/toml_log_config_parser.h
  include/num_collect/logging/formatters/colored_compact_log_formatter.h
  include/num_collect/logging/formatters/compact_log_formatter.h
  include/num_collect/logging/formatters/detailed_log_formatter.h
  include/num_collect/logging/iterations/iteration_parameter.h
  include/num_collect/logging/iterations/iteration_parameter_formatter.h
  include/num_collect/logging/log_level.h
  include/num_collect/logging/logger.h
  include/num_collect/logging/logging_macros.h
  include/num_collect/logging/time_stamp.h
  include/num_collect/util/format_errno.h
  iwyu_mappings.imp
  test/bench/logging/log_sinks_test.cpp
  test/bench/logging/write_trace_logs.cpp
  test/integ/logging_test/writer.cpp
  test/units/logging/logging_macros_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Update approved files.
  test/integ/logging_test/approvals/console_log_test.test_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_combined_file_console_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_trace_log.approved.txt
Due: none

:recycle: Updated included headers in base, util, constants modules.
  include/num_collect/util/assert.h
  include/num_collect/util/format_dense_matrix.h
  include/num_collect/util/format_dense_vector.h
  include/num_collect/util/format_sparse_matrix.h
  include/num_collect/util/producer_consumer_circular_queue.h
  test/units/util/format_dense_matrix_test.cpp
  test/units/util/format_dense_vector_test.cpp
  test/units/util/format_sparse_matrix_test.cpp
  test/units/util/producer_consumer_circular_queue_test.cpp
Due: clang-format, update-source-list

:recycle: Update implementation of formatters, and fix compile errors due to the order of included headers.
  include/num_collect/numbers/fraction.h
  include/num_collect/util/format_dense_matrix.h
  include/num_collect/util/format_dense_vector.h
  include/num_collect/util/format_sparse_matrix.h
  iwyu_mappings.imp
  test/integ/ode_comb/ode_approvals.h
  test/integ/test_main.cpp
  test/units/linear/cuthill_mckee_ordering_test.cpp
  test/units/linear/impl/amg/build_first_coarse_grid_candidate_test.cpp
  test/units/linear/impl/amg/create_coarse_grid_test.cpp
  test/units/linear/impl/amg/create_prolongation_matrix_test.cpp
  test/units/linear/impl/amg/tune_coarse_grid_selection_test.cpp
  test/units/linear/reverse_cuthill_mckee_ordering_test.cpp
  test/units/logging/formatters/colored_compact_log_formatter_test.cpp
  test/units/logging/formatters/compact_log_formatter_test.cpp
  test/units/logging/formatters/detailed_log_formatter_test.cpp
  test/units/logging/iterations/iteration_logger_test.cpp
  test/units/ode/impl/bicgstab_test.cpp
  test/units/ode/impl/gmres_test.cpp
  test/units/ode/initial_step_size_calculator_test.cpp
  test/units/rbf/compute_kernel_matrix_test.cpp
  test/units/regularization/fista_test.cpp
  test/units/regularization/tv_admm_test.cpp
  test/units/test_main.cpp
  test/units/util/format_dense_matrix_test.cpp
  test/units/util/format_sparse_matrix_test.cpp
  test/utils/include/comparison_approvals.h
  test/utils/include/fmt_approval_tests.h
  test/utils/include/table_comparator.h
Due: clang-format, update-source-list

:recycle: Update included headers of remaining files.
  include/num_collect/base/concepts/signed_integral.h
  include/num_collect/numbers/fraction.h
  include/num_collect/regularization/impl/approximate_max_eigen_aat.h
  iwyu_mappings.imp
  test/bench/auto_diff/quadratic_test.cpp
  test/bench/auto_diff/simple_jacobian_test.cpp
  test/bench/auto_diff/sum_test.cpp
  test/bench/integration/exp_integration_test.cpp
  test/bench/integration/inv_sqrt_1mx2_test.cpp
  test/bench/integration/sqrt_1mx2_test.cpp
  test/bench/multi_double/two_prod_test.cpp
  test/bench/ode/exponential_test.cpp
  test/bench/ode/spring_movement_fixed_step_test.cpp
  test/bench/util/stack_test.cpp
  test/bench/util/summation_test.cpp
  test/integ/rbf_interp_comb/dimensions/global_rbf_polynomial_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/gaussian_process_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/global_rbf_polynomial_interpolator.cpp
  test/units/catch_event_listner.cpp
  test/units/numbers/fraction_test.cpp
  test/units/opt/impl/ternary_vector_test.cpp
  test/units/regularization/implicit_gcv_test.cpp
  test/utils/include/comparison_approvals.h
  test/utils/include/fmt_approval_tests.h
Due: clang-format, update-source-list

:wrench: Decrease the number of compilers in CI.
  .gitlab-ci.yml
  README.md
  doc/sphinx/src/how_to_build_in_repository.md
Due: none

:wrench: Update packages.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:wrench: Update compiler flags for vectorization.
  cmake/CppFlags.cmake
Due: cmake-format

:rotating_light: Fix a warning.
  include/num_collect/rbf/polynomial_calculator.h
Due: clang-format, update-source-list

:wrench: Update development environment.
  .devcontainer/Dockerfile
  .gitlab-ci.yml
  .pre-commit-config.yaml
  README.md
  doc/sphinx/src/how_to_build_in_repository.md
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:wrench: Remove too many warnings.
  .clang-tidy
Due: none

:wrench: Fix some warnings.
  .clang-tidy
  include/num_collect/ode/implicit_problem_wrapper.h
Due: clang-format, update-source-list

:wrench: Fix configuration.
  .clang-tidy
Due: none

:wrench: Update development environment.
  .devcontainer/devcontainer.json
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:wrench: Prevent warnings in VSCode.
  .devcontainer/Dockerfile
Due: none

:alembic: Add more plots in benchmarks.
  test/bench/auto_diff/sum_test.cpp
  test/bench/linear/laplacian_2d_grid_main.cpp
  test/bench/opt/multi_variate_difficult_multi_optima_function_test.cpp
  test/bench/opt/multi_variate_multi_optima_function_test.cpp
  test/bench/opt/random_multi_quadratic_function_test.cpp
  test/bench/opt/shekel_function_test.cpp
  test/bench/rbf/interp_1d.cpp
  test/bench/rbf/interp_2d.cpp
  test/bench/rbf/interp_3d.cpp
  test/bench/regularization/blur_sine_test.cpp
  test/bench/regularization/shrinkage_operator_test.cpp
Due: clang-format, update-source-list
