Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        exclude: source_list.cmake
        entry: poetry run cmake-format -i
      - id: update-source-list
        name: update-source-list
        description: Update the list of source codes.
        language: system
        files: \.(h|cpp)$
        entry: poetry run python scripts/update_source_list.py
      - id: check-encoding
        name: check-encoding
        description: Check encoding of files.
        language: system
        entry: poetry run python scripts/check_encoding.py
# Automatically generated files should not be checked.
exclude: "\\.approved\\."

:sparkles: Optimization of scales of length parameters in RBF interpolation.
  include/num_collect/rbf/global_exact_rbf_interpolator.h
  test/units/rbf/approvals/global_exact_rbf_interpolator.interpolate.approved.txt
  test/units/rbf/approvals/global_exact_rbf_interpolator.interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/approvals/global_exact_rbf_interpolator.interpolate_with_a_optimal_scale.approved.txt
  test/units/rbf/global_exact_rbf_interpolator_test.cpp
Due: clang-format, update-source-list

:zap: Change the algorithm to use in optimization of scales of length parameters.
  include/num_collect/rbf/global_exact_rbf_interpolator.h
  test/units/rbf/approvals/global_exact_rbf_interpolator.interpolate_with_a_optimal_scale.approved.txt
  test/units/rbf/global_exact_rbf_interpolator_test.cpp
Due: clang-format, update-source-list

:wrench: Temporarily disable JUnit outputs.
  scripts/ci_linux_test.py
  scripts/ci_win.cmd
Due: none

:bug: Prevent segmentation fault when the function values in optimization is not a finite value.
  include/num_collect/opt/dividing_rectangles.h
Due: clang-format, update-source-list

:bug: Prevent division by zero in RBF interpolation.
  include/num_collect/rbf/impl/symmetric_kernel_matrix_solver.h
Due: clang-format, update-source-list

Revert ":wrench: Temporarily disable JUnit outputs."
  scripts/ci_linux_test.py
  scripts/ci_win.cmd
Due: none

:bug: Fixed the word for degrees of Legendre functions.
  include/num_collect/functions/legendre.h
  include/num_collect/functions/legendre_roots.h
  include/num_collect/integration/gauss_legendre_integrator.h
  include/num_collect/integration/gauss_legendre_kronrod_integrator.h
  include/num_collect/ode/avf/avf2_formula.h
  include/num_collect/ode/avf/avf3_formula.h
  include/num_collect/ode/avf/avf4_formula.h
  test/units/functions/legendre_roots_test.cpp
  test/units/integration/gauss_legendre_integrator_test.cpp
  test/units/integration/gauss_legendre_kronrod_integrator_test.cpp
Due: clang-format, update-source-list

:wrench: Limit the number of entries in metrics.
  .gitlab-ci.yml
Due: none

:wrench: Update version of Windows in CI.
  .gitlab-ci.yml
Due: none

:wrench: Update version of Visual Studio in CI.
  scripts/ci_win.cmd
Due: none

:wrench: Update dependencies.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:wrench: Try Clang 18 in CI.
  .gitlab-ci.yml
Due: none

:rotating_light: Fix warnings for implicit conversions.
  cmake/CppWarningFlags.cmake
  cspell.json
  include/num_collect/functions/legendre.h
  include/num_collect/integration/gauss_legendre_kronrod_integrator.h
  include/num_collect/interp/kernel/impl/self_adjoint_kernel_solver.h
  include/num_collect/linear/cuthill_mckee_ordering.h
  include/num_collect/linear/reverse_cuthill_mckee_ordering.h
  include/num_collect/logging/impl/is_log_tag_element_char.h
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/dividing_rectangles.h
  include/num_collect/rbf/impl/symmetric_kernel_matrix_solver.h
  include/num_collect/util/static_stack.h
  src/num_collect/logging/time_stamp.cpp
  test/bench/opt/multi_variate_difficult_multi_optima_function_test.cpp
  test/bench/opt/multi_variate_multi_optima_function_test.cpp
  test/bench/opt/random_multi_quadratic_function_test.cpp
  test/bench/opt/random_quadratic_function_test.cpp
  test/bench/opt/single_variate_multi_optima_function_test.cpp
  test/integ/ode_comb/ode_approvals.h
  test/integ/ode_comb/solve_and_check.h
  test/units/auto_diff/backward/create_diff_variable_test.cpp
  test/units/auto_diff/backward/variable_math_test.cpp
  test/units/auto_diff/forward/create_diff_variable_test.cpp
  test/units/auto_diff/forward/make_jacobian_test.cpp
  test/units/auto_diff/forward/variable_math_test.cpp
  test/units/constants/root_test.cpp
  test/units/numbers/fraction_test.cpp
  test/units/util/kahan_adder_test.cpp
Due: clang-format, cmake-format, update-source-list

:sparkles: Gaussian process optimization.
  .vscode/settings.json
  cspell.json
  doc/articles.bib
  include/num_collect/opt/gaussian_process_optimizer.h
  test/units/opt/gaussian_process_optimizer_test.cpp
  test/units/opt/source_list.cmake
  test/units/opt/unity_source.cpp
Due: clang-format, update-source-list

:zap: Benchmark of Gaussian process optimization.
  include/num_collect/opt/gaussian_process_optimizer.h
  test/bench/opt/single_variate_multi_optima_function_test.cpp
Due: clang-format, update-source-list

:wrench: Fix error in spell checker.
  cspell.json
Due: none

:recycle: Change the formula of coefficients for variance in Gaussian process optimization.
  include/num_collect/opt/gaussian_process_optimizer.h
Due: clang-format, update-source-list

:wrench: Installed mimalloc.
  .devcontainer/Dockerfile
Due: none

:sparkles: Implemented a version of downhill simplex method with simulated annealing.
  include/num_collect/opt/annealing_downhill_simplex.h
  test/units/opt/annealing_downhill_simplex_test.cpp
  test/units/opt/source_list.cmake
  test/units/opt/unity_source.cpp
Due: clang-format, update-source-list

:books: Update documentation.
  include/num_collect/opt/annealing_downhill_simplex.h
Due: clang-format, update-source-list

:alembic: Benchmark of the new optimizer.
  test/bench/opt/multi_variate_multi_optima_function_test.cpp
Due: clang-format, update-source-list

:bug: Fix sizes of buffers in downhill simplex method.
  include/num_collect/opt/downhill_simplex.h
Due: clang-format, update-source-list

:sparkles: Multi-quadric RBF and inverse multi-quadric RBF.
  cspell.json
  doc/articles.bib
  include/num_collect/rbf/rbfs/inverse_multi_quadric_rbf.h
  include/num_collect/rbf/rbfs/multi_quadric_rbf.h
  scripts/update_source_list.py
  test/integ/CMakeLists.txt
  test/integ/rbf_interp_comb/CMakeLists.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_gaussian_rbf_double_.interpolate_with_a_fixed_scale.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_gaussian_rbf_double_.interpolate_with_a_optimal_scale.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_inverse_multi_quadric_rbf_double_.interpolate_with_a_fixed_scale.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_inverse_multi_quadric_rbf_double_.interpolate_with_a_optimal_scale.approved.txt
  test/integ/rbf_interp_comb/rbfs/test_global_exact_rbf_interpolator.cpp
  test/integ/rbf_interp_comb/source_list.cmake
  test/integ/rbf_interp_comb/unity_source.cpp
  test/units/rbf/rbfs/inverse_multi_quadric_rbf_test.cpp
  test/units/rbf/rbfs/multi_quadric_rbf_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, cmake-format, update-source-list

:sparkles: Inverse quadratic RBF.
  include/num_collect/rbf/rbfs/inverse_quadratic_rbf.h
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_inverse_quadratic_rbf_double_.interpolate_with_a_fixed_scale.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_inverse_quadratic_rbf_double_.interpolate_with_a_optimal_scale.approved.txt
  test/integ/rbf_interp_comb/rbfs/test_global_exact_rbf_interpolator.cpp
  test/units/rbf/rbfs/inverse_quadratic_rbf_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:white_check_mark: Shorter test name is required in MSVC.
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_gaussian_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_gaussian_rbf_double_.interpolate_with_a_fixed_scale.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_inverse_multi_quadric_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_inverse_multi_quadric_rbf_double_.interpolate_with_a_fixed_scale.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_inverse_quadratic_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_inverse_quadratic_rbf_double_.interpolate_with_a_fixed_scale.approved.txt
  test/integ/rbf_interp_comb/rbfs/global_exact_rbf_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/test_global_exact_rbf_interpolator.cpp
  test/integ/rbf_interp_comb/source_list.cmake
  test/integ/rbf_interp_comb/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: sech RBF.
  include/num_collect/rbf/rbfs/gaussian_rbf.h
  include/num_collect/rbf/rbfs/inverse_multi_quadric_rbf.h
  include/num_collect/rbf/rbfs/inverse_quadratic_rbf.h
  include/num_collect/rbf/rbfs/sech_rbf.h
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_sech_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/global_exact_rbf_interpolator.cpp
  test/units/rbf/rbfs/sech_rbf_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:white_check_mark: Change log level in tests to check internal parameters written in logs.
  test/integ/catch_event_listner.cpp
Due: clang-format, update-source-list

:sparkles: Calculation of localized length parameters.
  include/num_collect/rbf/length_parameter_calculators/local_length_parameter_calculator.h
  test/units/rbf/length_parameter_calculators/local_length_parameter_calculator_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: RBF interpolation using localized length parameters.
  include/num_collect/rbf/compute_kernel_matrix.h
  include/num_collect/rbf/global_exact_rbf_interpolator.h
  include/num_collect/rbf/impl/symmetric_kernel_matrix_solver.h
  include/num_collect/rbf/local_exact_rbf_interpolator.h
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_inverse_multi_quadric_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_inverse_quadratic_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_sech_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/global_exact_rbf_interpolator.cpp
  test/units/rbf/approvals/compute_kernel_matrix.compute_a_matrix_with_global_length_parameters.approved.txt
  test/units/rbf/approvals/compute_kernel_matrix.compute_a_matrix_with_local_length_parameters.approved.txt
  test/units/rbf/approvals/global_exact_rbf_interpolator.interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/approvals/local_exact_rbf_interpolator.interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/compute_kernel_matrix_test.cpp
  test/units/rbf/global_exact_rbf_interpolator_test.cpp
  test/units/rbf/local_exact_rbf_interpolator_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:white_check_mark: Check of local_exact_rbf_interpolator using multiple RBFs.
  test/integ/rbf_interp_comb/rbfs/approvals/local_exact_rbf_interpolator_with_different_RBFs_-_gaussian_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_exact_rbf_interpolator_with_different_RBFs_-_inverse_multi_quadric_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_exact_rbf_interpolator_with_different_RBFs_-_inverse_quadratic_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_exact_rbf_interpolator_with_different_RBFs_-_sech_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/local_exact_rbf_interpolator.cpp
  test/integ/rbf_interp_comb/source_list.cmake
  test/integ/rbf_interp_comb/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Implementation of Wendland's CSRBF.
  cspell.json
  doc/articles.bib
  include/num_collect/rbf/rbfs/wendland_csrbf.h
  test/units/rbf/rbfs/wendland_csrbf_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:white_check_mark: Check whether CSRBF works in local_exact_rbf_interpolator class.
  test/integ/rbf_interp_comb/rbfs/approvals/local_exact_rbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_1,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/local_exact_rbf_interpolator.cpp
Due: clang-format, update-source-list

:sparkles: Calculation of sparse kernel matrix for CSRBF.
  include/num_collect/rbf/compute_kernel_matrix.h
  test/units/rbf/approvals/compute_kernel_matrix.compute_a_sparse_matrix_with_local_length_parameter.approved.txt
  test/units/rbf/compute_kernel_matrix_test.cpp
Due: clang-format, update-source-list

:sparkles: RBF interpolation using CSRBF.
  include/num_collect/rbf/local_exact_csrbf_interpolator.h
  test/units/rbf/approvals/local_exact_csrbf_interpolator.interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/local_exact_csrbf_interpolator_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:white_check_mark: Test for different parameters in CSRBF.
  test/integ/rbf_interp_comb/rbfs/approvals/local_exact_csrbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_1,_0_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_exact_csrbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_2,_0_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_exact_csrbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_2,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_exact_csrbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_3,_0_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_exact_csrbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_3,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_exact_csrbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_3,_2_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_exact_rbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_1,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_exact_rbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_3,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/local_exact_csrbf_interpolator.cpp
  test/integ/rbf_interp_comb/source_list.cmake
  test/integ/rbf_interp_comb/unity_source.cpp
Due: clang-format, update-source-list

:zap: Benchmark of RBF interpolation in 1D.
  test/bench/CMakeLists.txt
  test/bench/rbf/CMakeLists.txt
  test/bench/rbf/interp_1d.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Solver of kernel matrices configurable using template parameters.
  include/num_collect/rbf/impl/kernel_matrix_solver.h
  include/num_collect/rbf/kernel_matrix_type.h
  test/units/rbf/impl/kernel_matrix_solver_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Refactored version of the class of RBF interpolation.
  include/num_collect/rbf/rbf_interpolator.h
  test/units/rbf/approvals/global_rbf_interpolator.interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/approvals/global_rbf_interpolator.interpolate_with_a_optimal_scale.approved.txt
  test/units/rbf/approvals/local_csrbf_interpolator.interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/approvals/local_rbf_interpolator.interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/impl/kernel_matrix_solver_test.cpp
  test/units/rbf/rbf_interpolator_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Refactored version of implementation of Gaussian process.
  include/num_collect/rbf/gaussian_process_interpolator.h
  include/num_collect/rbf/rbf_interpolator.h
  test/units/rbf/approvals/gaussian_process_interpolator.interpolate_with_a_fixed_scale.approved.txt
  test/units/rbf/approvals/gaussian_process_interpolator.interpolate_with_a_optimal_scale.approved.txt
  test/units/rbf/gaussian_process_interpolator_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Rewrite integration tests of RBF interpolation using new classes.
  test/integ/rbf_interp_comb/rbfs/approvals/gaussian_process_interpolator_with_different_RBFs_-_gaussian_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/gaussian_process_interpolator_with_different_RBFs_-_inverse_multi_quadric_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/gaussian_process_interpolator_with_different_RBFs_-_inverse_quadratic_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/gaussian_process_interpolator_with_different_RBFs_-_sech_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/global_exact_rbf_interpolator_with_different_RBFs_-_gaussian_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_csrbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_1,_0_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_csrbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_2,_0_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_csrbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_2,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_csrbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_3,_0_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_csrbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_3,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_csrbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_3,_2_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_rbf_interpolator_with_different_RBFs_-_gaussian_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_rbf_interpolator_with_different_RBFs_-_inverse_multi_quadric_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_rbf_interpolator_with_different_RBFs_-_inverse_quadratic_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_rbf_interpolator_with_different_RBFs_-_sech_rbf_double_.approved.txt
  test/integ/rbf_interp_comb/rbfs/approvals/local_rbf_interpolator_with_different_RBFs_-_wendland_csrbf_double,_3,_1_.approved.txt
  test/integ/rbf_interp_comb/rbfs/gaussian_process_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/local_csrbf_interpolator.cpp
  test/integ/rbf_interp_comb/rbfs/local_rbf_interpolator.cpp
  test/integ/rbf_interp_comb/source_list.cmake
  test/integ/rbf_interp_comb/unity_source.cpp
Due: clang-format, update-source-list
