Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: poetry run cmake-format -i

update-source-list:
  name: update-source-list
  description: Update the list of source codes.
  language: system
  entry: poetry run python scripts/update_source_list.py

:books: Update Doxygen documentation.
  examples/doxygen_specifications.h
Due: clang-format, update-source-list

:books: Update colors in Doxygen documentation.
  doc/doxygen/custom.css
  scripts/num_collect_colors/color_pallets.yaml
Due: none

:books: Fix the link of Doxygen documentation.
  doc/sphinx/src/index.rst
Due: none

:sparkles: Function to generate rectangle boundary nodes without corners.
  examples/pde/rbf_fd_advection_diffusion_equation_2d.cpp
  examples/pde/rbf_fd_diffusion_equation_2d_neumann.cpp
  include/num_collect/util/generate_rectangle_boundary_nodes_without_corners.h
  test/units/util/generate_rectangle_boundary_nodes_without_corners_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, update-source-list

:books: Example to solve 2D Burgers equation using RBF-FD method.
  examples/pde/CMakeLists.txt
  examples/pde/rbf_fd_burgers_equation_2d.cpp
  examples/pde/rbf_fd_burgers_equation_2d.toml
Due: clang-format, cmake-format, update-source-list

:books: Script to generate a reference solution for Burgers' equation.
  examples/pde/rbf_fd_burgers_equation_2d_ref.edp
Due: none

:books: Update documentation.
  examples/doxygen_specifications.h
Due: clang-format, update-source-list

:wrench: Update Python packages.
  poetry.lock
  pyproject.toml
Due: none

:wrench: Fix warnings.
  doc/sphinx/src/conf.py
Due: none

:wrench: Update dependencies.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:books: Prepare for release v0.14.0.
  doc/sphinx/src/release_notes/index.rst
  doc/sphinx/src/release_notes/v0.14.0.md
  include/num_collect/version.h
Due: clang-format, update-source-list

:bug: Fix configurations for installation of this project.
  CMakeLists.txt
  cmake/num-collect-config.cmake.in
Due: cmake-format

Path conditions:
  clang-format: any of: \.(h|cpp)$, but not: \.approved\.
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$ and not (source_list.cmake) and not (\.approved\.)
  update-source-list: any of: \.(h|cpp)$, but not: \.approved\.
