Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        exclude: source_list.cmake
        entry: poetry run cmake-format -i
      - id: update-source-list
        name: update-source-list
        description: Update the list of source codes.
        language: system
        files: \.(h|cpp)$
        entry: poetry run python scripts/update_source_list.py
      - id: check-encoding
        name: check-encoding
        description: Check encoding of files.
        language: system
        entry: poetry run python scripts/check_encoding.py
# Automatically generated files should not be checked.
exclude: "\\.approved\\."

:wrench: Update dependencies.
  vcpkg-configuration.json
Due: none

:recycle: Applying IWYU.
  examples/auto_diff/backward.cpp
  examples/interp/kernel/rbf_1dim.cpp
  examples/linear/ordering_methods.cpp
  examples/ode/rk4_solver.cpp
  examples/pde/fd_rodasp_wave1d.cpp
  examples/rbf/generate_2d_halton_nodes.cpp
  examples/rbf/interpolate_2d.cpp
  examples/rbf/visualize_rbf_in_1d.cpp
  examples/regularization/blur_sine_tikhonov.cpp
  include/num_collect/regularization/concepts/explicit_regularized_solver.h
  include/num_collect/regularization/tikhonov.h
  iwyu_mappings.imp
Due: clang-format, update-source-list

:recycle: Changed assertions to abort on failures.
  include/num_collect/util/assert.h
  test/integ/CMakeLists.txt
  test/integ/assertions/CMakeLists.txt
  test/integ/assertions/conftest.py
  test/integ/assertions/test_assertions.py
  test/integ/assertions/test_constexpr_success.cpp
  test/integ/assertions/test_integer_failure.cpp
  test/integ/assertions/test_integer_success.cpp
  test/units/auto_diff/backward/graph/node_differentiator_test.cpp
  test/units/auto_diff/backward/graph/node_test.cpp
  test/units/base/assert_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
  test/units/opt/impl/ternary_vector_test.cpp
  test/units/util/assert_test.cpp
  test/units/util/bidirectional_vector_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Remove unneeded files.
  include/num_collect/util/impl/assertion_decomposer.h
  test/units/util/impl/assertion_decomposer_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Class to calculate function values of GCV.
  examples/regularization/CMakeLists.txt
  examples/regularization/plot_gcv_with_fista.cpp
  include/num_collect/regularization/concepts/implicit_regularized_solver.h
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/implicit_gcv.h
  include/num_collect/regularization/implicit_regularized_solver_base.h
  test/units/regularization/implicit_gcv_test.cpp
  test/units/regularization/source_list.cmake
  test/units/regularization/unity_source.cpp
Due: clang-format, cmake-format, update-source-list

:sparkles: GCV for implicit solvers.
  examples/regularization/sparse_image_regularization.cpp
  include/num_collect/regularization/explicit_gcv.h
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/impl/weak_coeff_param.h
  include/num_collect/regularization/implicit_gcv.h
  test/units/regularization/implicit_gcv_test.cpp
Due: clang-format, update-source-list

:recycle: Change the condition of regularization parameters in FISTA for better selection of regularization parameters.
  include/num_collect/regularization/fista.h
Due: clang-format, update-source-list

:sparkles: Function to create prolongation matrix in AMG.
  include/num_collect/linear/impl/amg/create_prolongation_matrix.h
  include/num_collect/util/vector.h
  test/units/linear/impl/amg/approvals/create_prolongation_matrix.create_a_prolongation_matrix.approved.txt
  test/units/linear/impl/amg/create_prolongation_matrix_test.cpp
  test/units/linear/source_list.cmake
  test/units/linear/unity_source.cpp
Due: clang-format, update-source-list

:wrench: Update dependencies.
  .vscode/extensions.json
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:sparkles: Implementation of algebraic multigrid method.
  include/num_collect/linear/algebraic_multigrid_solver.h
  include/num_collect/linear/gauss_seidel_iterative_solver.h
  test/units/linear/algebraic_multigrid_solver_test.cpp
  test/units/linear/source_list.cmake
  test/units/linear/unity_source.cpp
Due: clang-format, update-source-list

:alembic: Benchmark and parameter tuning.
  include/num_collect/linear/algebraic_multigrid_solver.h
  include/num_collect/linear/impl/amg/build_first_coarse_grid_candidate.h
  include/num_collect/linear/impl/amg/create_prolongation_matrix.h
  include/num_collect/linear/parallel_symmetric_successive_over_relaxation.h
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
Due: clang-format, update-source-list

:recycle: Fix included headers.
  include/num_collect/linear/algebraic_multigrid_solver.h
  include/num_collect/linear/impl/amg/create_prolongation_matrix.h
  test/units/linear/algebraic_multigrid_solver_test.cpp
  test/units/linear/impl/amg/create_prolongation_matrix_test.cpp
Due: clang-format, update-source-list

:bug: Prevent nodes not interpolated in prolongation matrices.
  include/num_collect/linear/algebraic_multigrid_solver.h
  include/num_collect/linear/impl/amg/create_coarse_grid.h
  include/num_collect/linear/impl/amg/create_prolongation_matrix.h
  include/num_collect/linear/impl/amg/tune_coarse_grid_selection.h
  test/units/linear/impl/amg/tune_coarse_grid_selection_test.cpp
Due: clang-format, update-source-list

:books: Prepare for release.
  doc/sphinx/src/release_notes/index.rst
  doc/sphinx/src/release_notes/v0.9.0.md
  include/num_collect/version.h
Due: clang-format, update-source-list

:wrench: Update dependencies.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:wrench: Configuration for the list of algorithms.
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  cspell.json
  doc/sphinx/src/algorithm_list.md
  doc/sphinx/src/bibliography.rst
  doc/sphinx/src/conf.py
  doc/sphinx/src/index.rst
  poetry.lock
  pyproject.toml
Due: none

:books: List of currently implemented algorithms.
  doc/articles.bib
  doc/doxygen/namespaces.h
  doc/sphinx/src/algorithm_list.md
  doc/sphinx/src/index.rst
  doc/sphinx/src/modules.rst
  include/num_collect/opt/downhill_simplex.h
Due: clang-format, update-source-list

:books: Change grouping of algorithms for readability.
  cspell.json
  doc/sphinx/src/algorithm_list.md
Due: none

:sparkles: Macro to write an error log and throw an exception.
  include/num_collect/logging/logging_macros.h
  test/units/logging/logging_macros_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Remove old version of log_and_throw function.
  include/num_collect/logging/log_and_throw.h
  include/num_collect/util/format_dense_matrix.h
  include/num_collect/util/format_sparse_matrix.h
Due: clang-format, update-source-list

:recycle: Remove unnecessary repeated logs.
  include/num_collect/ode/inexact_newton_slope_equation_solver.h
  include/num_collect/ode/inexact_newton_update_equation_solver.h
  include/num_collect/ode/rosenbrock/mixed_broyden_rosenbrock_equation_solver.h
Due: clang-format, update-source-list

:books: Update document for log levels.
  doc/sphinx/src/user_guide/logging/log_levels.rst
Due: none

:recycle: Remove old version of RBF interpolation.
  doc/doxygen/namespaces.h
  doc/sphinx/src/basic_design/index.rst
  doc/sphinx/src/basic_design/interp.rst
  examples/CMakeLists.txt
  examples/interp/kernel/CMakeLists.txt
  examples/interp/kernel/rbf_1dim.cpp
  include/num_collect/interp/kernel/calc_kernel_mat.h
  include/num_collect/interp/kernel/concepts/distance.h
  include/num_collect/interp/kernel/concepts/kernel.h
  include/num_collect/interp/kernel/concepts/rbf.h
  include/num_collect/interp/kernel/euclidean_distance.h
  include/num_collect/interp/kernel/gaussian_rbf.h
  include/num_collect/interp/kernel/impl/auto_regularizer.h
  include/num_collect/interp/kernel/impl/auto_regularizer_wrapper.h
  include/num_collect/interp/kernel/impl/kernel_coeff_solver.h
  include/num_collect/interp/kernel/impl/kernel_parameter_optimizer.h
  include/num_collect/interp/kernel/impl/self_adjoint_kernel_solver.h
  include/num_collect/interp/kernel/kernel_interpolator.h
  include/num_collect/interp/kernel/rbf_kernel.h
  scripts/update_source_list.py
  test/units/CMakeLists.txt
  test/units/interp/CMakeLists.txt
  test/units/interp/kernel/calc_kernel_mat_test.cpp
  test/units/interp/kernel/euclidean_distance_test.cpp
  test/units/interp/kernel/gaussian_rbf_test.cpp
  test/units/interp/kernel/impl/auto_regularizer_test.cpp
  test/units/interp/kernel/impl/auto_regularizer_wrapper_test.cpp
  test/units/interp/kernel/impl/kernel_parameter_optimizer_test.cpp
  test/units/interp/kernel/impl/self_adjoint_kernel_solver_test.cpp
  test/units/interp/kernel/kernel_interpolator_test.cpp
  test/units/interp/kernel/rbf_kernel_test.cpp
  test/units/interp/source_list.cmake
  test/units/interp/unity_source.cpp
Due: clang-format, cmake-format, update-source-list

:books: Fix documentation.
  include/num_collect/logging/logger.h
  include/num_collect/logging/logging_macros.h
Due: clang-format, update-source-list

:sparkles: Macros to write logs.
  .clang-tidy
  include/num_collect/logging/log_level.h
  include/num_collect/logging/logger.h
  include/num_collect/logging/logging_macros.h
  test/integ/logging_test/approvals/console_log_test.test_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_combined_file_console_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_trace_log.approved.txt
  test/integ/logging_test/writer.cpp
  test/units/logging/logging_macros_test.cpp
Due: clang-format, update-source-list

:books: Update documentation of log levels.
  doc/sphinx/src/user_guide/logging/log_levels.md
  doc/sphinx/src/user_guide/logging/log_levels.rst
  include/num_collect/logging/log_level.h
Due: clang-format, update-source-list

:recycle: Use the new logging macros in existing source codes.
  examples/logging/write_logs.cpp
  examples/pde/fd_rodasp_wave1d.cpp
  include/num_collect/integration/de_finite_integrator.h
  include/num_collect/integration/tanh_finite_integrator.h
  include/num_collect/linear/algebraic_multigrid_solver.h
  include/num_collect/linear/parallel_symmetric_successive_over_relaxation.h
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/impl/bicgstab.h
  include/num_collect/ode/initial_step_size_calculator.h
  include/num_collect/ode/rosenbrock/mixed_broyden_rosenbrock_equation_solver.h
  include/num_collect/ode/step_size_controller_base.h
  include/num_collect/rbf/rbf_interpolator.h
  include/num_collect/rbf/rbf_polynomial_interpolator.h
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/implicit_gcv.h
  profiling/logging/ignore_logs.cpp
  profiling/logging/write_trace_logs.cpp
  test/bench/logging/write_trace_logs.cpp
Due: clang-format, update-source-list

:books: Use Doxygen Awesome.
  .gitmodules
  .vscode/settings.json
  doc/doxygen/Doxyfile.in
  doc/doxygen/custom.css
Due: none

:books: Configure colors of code fragments in Doxygen output.
  doc/doxygen/custom.css
Due: none

:books: Update colors for code blocks.
  doc/doxygen/custom.css
Due: none

:wrench: Update packages.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:wrench: Update mimalloc.
  .devcontainer/Dockerfile
Due: none

:bug: Fixed build with the latest version of fmt library.
  include/num_collect/logging/log_level.h
  include/num_collect/logging/time_stamp.h
  include/num_collect/numbers/fraction.h
  include/num_collect/util/format_dense_matrix.h
  include/num_collect/util/format_dense_vector.h
  include/num_collect/util/format_sparse_matrix.h
  test/integ/logging_test/approvals/console_log_test.test_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_combined_file_console_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_trace_log.approved.txt
  test/integ/logging_test/writer.cpp
  vcpkg-configuration.json
Due: clang-format, update-source-list

:books: Prepare for release v0.10.0.
  doc/sphinx/src/release_notes/index.rst
  doc/sphinx/src/release_notes/v0.10.0.md
  include/num_collect/version.h
Due: clang-format, update-source-list

:wrench: Update Python environment.
  .devcontainer/devcontainer.json
  .flake8
  .pre-commit-config.yaml
  .vscode/extensions.json
  config_schema/tests/config_validator.py
  config_schema/tests/conftest.py
  config_schema/tests/test_example_configs.py
  config_schema/tests/test_log_sink_config.py
  config_schema/tests/test_log_tag_configs.py
  cspell.json
  poetry.lock
  pyproject.toml
  scripts/create_cpp_file.py
  scripts/perform_profiling.py
  test/integ/logging_test/conftest.py
Due: none

:wrench: Updated C++ dependencies.
  vcpkg-configuration.json
Due: none

:sparkles: Add conjugate gradient solver for TV regularization.
  include/num_collect/linear/impl/operator_conjugate_gradient.h
  test/units/linear/impl/operator_conjugate_gradient_test.cpp
  test/units/linear/source_list.cmake
  test/units/linear/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Implemented solver for TV regularization.
  cspell.json
  doc/articles.bib
  include/num_collect/linear/impl/operator_conjugate_gradient.h
  include/num_collect/regularization/tv_admm.h
  test/units/regularization/approvals/tv_admm.solve.approved.txt
  test/units/regularization/source_list.cmake
  test/units/regularization/tv_admm_test.cpp
  test/units/regularization/unity_source.cpp
Due: clang-format, update-source-list

:white_check_mark: Parameter tuning.
  test/units/regularization/approvals/tv_admm.solve.approved.txt
  test/units/regularization/tv_admm_test.cpp
Due: clang-format, update-source-list
