Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: poetry run cmake-format -i

update-source-list:
  name: update-source-list
  description: Update the list of source codes.
  language: system
  entry: poetry run python scripts/update_source_list.py

:recycle: Separate data class to a header.
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_equation_solver_data.h
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_update_equation_solver.h
  include/num_collect/ode/runge_kutta/lobatto3c4_formula.h
  include/num_collect/ode/runge_kutta/lobatto3c6_formula.h
  include/num_collect/ode/runge_kutta/radau2a3_formula.h
  include/num_collect/ode/runge_kutta/radau2a5_formula.h
  include/num_collect/ode/runge_kutta/radau2a_formula.h
  test/bench/ode/full_update_equation_solver_test.cpp
  test/units/ode/runge_kutta/inexact_newton_decomposed_full_update_equation_solver_test.cpp
Due: clang-format, update-source-list

:bug: Fix lack of memory in compilation.
  include/num_collect/ode/runge_kutta/impl/decompose_slope_coeffs.h
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_equation_solver_data.h
  src/num_collect/ode/runge_kutta/impl/decompose_slope_coeffs.cpp
  src/source_list.cmake
  src/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Safer implementation of decompose_slope_coeffs.
  include/num_collect/ode/runge_kutta/impl/decompose_slope_coeffs.h
  src/num_collect/ode/runge_kutta/impl/decompose_slope_coeffs.cpp
Due: clang-format, update-source-list

:bug: Fix spell.
  .gitlab-ci.yml
  cspell.json
  include/num_collect/linear/algebraic_multigrid_solver.h
  include/num_collect/linear/parallel_symmetric_successive_over_relaxation.h
  include/num_collect/linear/symmetric_successive_over_relaxation.h
  include/num_collect/ode/rosenbrock/rodasp_formula.h
  include/num_collect/ode/rosenbrock/rodaspr_formula.h
  include/num_collect/ode/rosenbrock/ros34prw_formula.h
  include/num_collect/ode/rosenbrock/ros34pw3_formula.h
  include/num_collect/ode/rosenbrock/ros3w_formula.h
  include/num_collect/ode/runge_kutta/ark43_erk_formula.h
  include/num_collect/ode/runge_kutta/ark43_esdirk_formula.h
  include/num_collect/ode/runge_kutta/ark54_esdirk_formula.h
  include/num_collect/ode/runge_kutta/dopri5_formula.h
  include/num_collect/ode/runge_kutta/esdirk45_formula.h
  include/num_collect/ode/runge_kutta/impl/inexact_newton_decomposed_jacobian_complex_eigen_solver.h
  include/num_collect/ode/runge_kutta/impl/inexact_newton_decomposed_jacobian_real_eigen_solver.h
  include/num_collect/ode/runge_kutta/impl/radau2a_table.h
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_equation_solver_data.h
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_update_equation_solver.h
  include/num_collect/ode/runge_kutta/inexact_newton_full_update_equation_solver.h
  include/num_collect/ode/runge_kutta/lobatto3c4_formula.h
  include/num_collect/ode/runge_kutta/lobatto3c6_formula.h
  include/num_collect/ode/runge_kutta/radau2a3_formula.h
  include/num_collect/ode/runge_kutta/radau2a5_formula.h
  include/num_collect/ode/runge_kutta/radau2a_formula.h
  include/num_collect/ode/runge_kutta/rk4_formula.h
  include/num_collect/ode/runge_kutta/rkf45_formula.h
  include/num_collect/ode/runge_kutta/sdirk4_formula.h
  include/num_collect/ode/runge_kutta/tanaka1_formula.h
  include/num_collect/ode/runge_kutta/tanaka2_formula.h
Due: clang-format, update-source-list

:books: Fix some documentation.
  include/num_collect/ode/runge_kutta/impl/decompose_slope_coeffs.h
Due: clang-format, update-source-list

:construction: Equation solver of slopes of fully implicit Runge-Kutta methods for scalar problems.
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_equation_solver_data.h
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_slope_equation_solver.h
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_decomposed_full_slope_equation_solver.solve_a_scalar_problem_without_mass.approved.txt
  test/units/ode/runge_kutta/inexact_newton_decomposed_full_slope_equation_solver_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, update-source-list

:white_check_mark: Separate tests of separated headers.
  test/units/ode/runge_kutta/inexact_newton_decomposed_full_equation_solver_data_test.cpp
  test/units/ode/runge_kutta/inexact_newton_decomposed_full_update_equation_solver_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, update-source-list

:white_check_mark: Tests of masses in scalar problems.
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_decomposed_full_slope_equation_solver.solve_a_scalar_problem_with_changing_mass.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_decomposed_full_slope_equation_solver.solve_a_scalar_problem_with_mass.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_slope_equation_solver(scalar).use_changing_mass.approved.txt
  test/units/ode/runge_kutta/inexact_newton_decomposed_full_slope_equation_solver_test.cpp
  test/units/ode/runge_kutta/inexact_newton_slope_equation_solver_test.cpp
Due: clang-format, update-source-list

:sparkles: Implemented a variant of equation solvers to compute slopes for fully implicit Runge-Kutta methods.
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_slope_equation_solver.h
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_decomposed_full_slope_equation_solver.solve_a_multi-variate_problem_with_mass_(dense).approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_decomposed_full_slope_equation_solver.solve_a_multi-variate_problem_with_mass_(sparse).approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_decomposed_full_slope_equation_solver.solve_a_multi-variate_problem_without_mass_(dense).approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_decomposed_full_slope_equation_solver.solve_a_multi-variate_without_mass_sparse.approved.txt
  test/units/ode/runge_kutta/inexact_newton_decomposed_full_slope_equation_solver_test.cpp
Due: clang-format, update-source-list

:sparkles: Radau IIA order 5 formula with changing mass matrices.
  include/num_collect/linear/algebraic_multigrid_solver.h
  include/num_collect/linear/impl/operator_conjugate_gradient.h
  include/num_collect/linear/parallel_symmetric_successive_over_relaxation.h
  include/num_collect/linear/symmetric_successive_over_relaxation.h
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_slope_equation_solver.h
  include/num_collect/ode/runge_kutta/lobatto3c4_formula.h
  include/num_collect/ode/runge_kutta/lobatto3c6_formula.h
  include/num_collect/ode/runge_kutta/radau2a3_formula.h
  include/num_collect/ode/runge_kutta/radau2a5_formula.h
  include/num_collect/ode/runge_kutta/radau2a_formula.h
  test/integ/ode_comb/changing_mass_exponential/approvals/radau2a5_changing_mass_formula.approved.txt
  test/integ/ode_comb/changing_mass_exponential/approvals/rodasp_formula.approved.txt
  test/integ/ode_comb/changing_mass_exponential/approvals/rodaspr_formula.approved.txt
  test/integ/ode_comb/changing_mass_exponential/approvals/ros34prw_formula.approved.txt
  test/integ/ode_comb/changing_mass_exponential/approvals/ros3w_formula.approved.txt
  test/integ/ode_comb/changing_mass_exponential/auto_non_embedded.cpp
  test/integ/ode_comb/changing_mass_quadratic/approvals/radau2a5_changing_mass_formula.approved.txt
  test/integ/ode_comb/changing_mass_quadratic/auto_non_embedded.cpp
  test/integ/ode_comb/implicit_exponential/approvals/ark43_esdirk_formula.approved.txt
  test/integ/ode_comb/implicit_exponential/approvals/esdirk45_formula.approved.txt
  test/integ/ode_comb/implicit_exponential/approvals/ros34prw_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_ros34prw_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_sdirk4_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_rodasp_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_rodaspr_formula.approved.txt
  test/integ/ode_comb/source_list.cmake
  test/integ/ode_comb/unity_source.cpp
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a5_changing_mass_formula.step_in_multi-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a5_changing_mass_formula.step_in_one-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/radau2a5_formula_test.cpp
Due: clang-format, update-source-list

:rotating_light: Suppress false positive.
  include/num_collect/ode/runge_kutta/impl/decompose_slope_coeffs.h
Due: clang-format, update-source-list

:bug: Fix too long CI.
  test/integ/rbf_fd_equations/diffusion_equation_2d_dirichlet.cpp
Due: clang-format, update-source-list

:alembic: Benchmarks of changing mass matrices in ODE solvers.
  doc/sphinx/src/user_guide/ode/ode_solver_selection.drawio
  doc/sphinx/src/user_guide/ode/ode_solver_selection.svg
  test/bench/ode/CMakeLists.txt
  test/bench/ode/changing_mass_exponential_test.cpp
  test/bench/ode/changing_mass_quadratic_test.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Change default limits of step sizes to stabilize implicit solvers.
  include/num_collect/ode/step_size_limits.h
  test/integ/ode_comb/exponential/approvals/ark54_esdirk_formula.approved.txt
  test/integ/ode_comb/exponential/approvals/esdirk45_formula.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/ark43_esdirk_formula.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/esdirk45_formula.approved.txt
  test/integ/ode_comb/implicit_exponential/approvals/ark43_esdirk_formula.approved.txt
  test/integ/ode_comb/implicit_exponential/approvals/esdirk45_formula.approved.txt
  test/integ/ode_comb/spring_movement/approvals/ark43_erk_formula.approved.txt
  test/integ/ode_comb/spring_movement/approvals/ark43_esdirk_formula.approved.txt
  test/integ/ode_comb/spring_movement/approvals/ark54_esdirk_formula.approved.txt
  test/integ/ode_comb/spring_movement/approvals/auto_avf3_formula.approved.txt
  test/integ/ode_comb/spring_movement/approvals/esdirk45_formula.approved.txt
  test/units/ode/approvals/embedded_solver_runge_kutta__rkf45_formula_num_prob_collect__ode__exponential_problem__.solve_till.approved.txt
  test/units/ode/approvals/embedded_solver_runge_kutta__rkf45_formula_num_prob_collect__ode__spring_movement_problem__.solve_till.approved.txt
  test/units/ode/step_size_limits_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Fix the error rate in tests.
  test/integ/rbf_fd_equations/diffusion_equation_2d_dirichlet.cpp
Due: clang-format, update-source-list

:recycle: Tune step size limits.
  include/num_collect/ode/step_size_limits.h
  test/bench/ode/changing_mass_quadratic_test.cpp
  test/integ/ode_comb/exponential/approvals/ark54_esdirk_formula.approved.txt
  test/integ/ode_comb/exponential/approvals/esdirk45_formula.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/ark43_esdirk_formula.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/esdirk45_formula.approved.txt
  test/integ/ode_comb/implicit_exponential/approvals/ark43_esdirk_formula.approved.txt
  test/integ/ode_comb/implicit_exponential/approvals/esdirk45_formula.approved.txt
  test/integ/ode_comb/spring_movement/approvals/ark43_erk_formula.approved.txt
  test/integ/ode_comb/spring_movement/approvals/ark43_esdirk_formula.approved.txt
  test/integ/ode_comb/spring_movement/approvals/ark54_esdirk_formula.approved.txt
  test/integ/ode_comb/spring_movement/approvals/auto_avf3_formula.approved.txt
  test/integ/ode_comb/spring_movement/approvals/esdirk45_formula.approved.txt
  test/units/ode/approvals/embedded_solver_runge_kutta__rkf45_formula_num_prob_collect__ode__exponential_problem__.solve_till.approved.txt
  test/units/ode/approvals/embedded_solver_runge_kutta__rkf45_formula_num_prob_collect__ode__spring_movement_problem__.solve_till.approved.txt
  test/units/ode/step_size_limits_test.cpp
Due: clang-format, update-source-list

:alembic: Try to fix Radau IIA coefficients computation.
  experiments/ode/calculate_radau_coefficients.cpp
Due: clang-format, update-source-list

:recycle: Update computation of RadauIIA coefficient computation in radau2a_table.h.
  include/num_collect/ode/runge_kutta/impl/radau2a_table.h
  test/units/ode/runge_kutta/radau2a_formula_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Test RadauIIA formulas without automatic step sizes.
  include/num_collect/ode/runge_kutta/radau2a_formula.h
  test/integ/ode_comb/exponential/approvals/radau2a7_formula.approved.txt
  test/integ/ode_comb/exponential/approvals/radau2a9_formula.approved.txt
  test/integ/ode_comb/exponential/non_embedded.cpp
Due: clang-format, update-source-list

:alembic: Benchmark of RadauIIA formulas with fixed step sizes.
  test/bench/ode/diagram_common.cpp
  test/bench/ode/pendulum_movement_fixed_step_test.cpp
Due: clang-format, update-source-list

:wrench: Update dependencies.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:wrench: Update development environment.
  .vscode/cmake-variants.yaml
Due: none

:wrench: Suppress false positives in LeakSanitizer.
  .devcontainer/devcontainer.json
  cspell.json
  lsan.supp
Due: none

:bug: Fix too many logs in some Runge-Kutta formulas.
  include/num_collect/ode/non_embedded_formula_wrapper.h
Due: clang-format, update-source-list

:recycle: Change the log level for debugging.
  include/num_collect/ode/step_size_controller_base.h
Due: clang-format, update-source-list

:bug: Prevent division by zero or too small values in step size controllers.
  include/num_collect/ode/basic_step_size_controller.h
  include/num_collect/ode/pi_step_size_controller.h
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_radau2a7_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_radau2a9_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_radau2a7_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_radau2a9_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_radau2a7_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_radau2a9_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/wrapped_non_embedded.cpp
  test/units/ode/pi_step_size_controller_test.cpp
Due: clang-format, update-source-list

:zap: Faster and more memory efficient compilation of Radau IIA coefficients generation.
  include/num_collect/ode/runge_kutta/impl/generate_radau2a_coeffs_impl.h
  include/num_collect/ode/runge_kutta/impl/radau2a_table.h
  src/num_collect/ode/runge_kutta/impl/generate_radau2a_coeffs_impl.cpp
  src/source_list.cmake
  src/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Prepare as precise coefficients as possible for Radau IIA methods.
  include/num_collect/ode/runge_kutta/impl/radau2a_table.h
  include/num_collect/ode/runge_kutta/radau2a_formula.h
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_-_4.step_in_multi-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_-_4.step_in_one-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_-_5.step_in_multi-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_-_5.step_in_one-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_-_6.step_in_multi-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_-_6.step_in_one-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_-_7.step_in_multi-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_-_7.step_in_one-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_-_8.step_in_multi-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_-_8.step_in_one-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_-_9.step_in_multi-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__radau2a_formula_-_9.step_in_one-dimensional_problem.approved.txt
  test/units/ode/runge_kutta/radau2a_formula_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Add Radau IIA formulas of higher orders.
  include/num_collect/ode/runge_kutta/radau2a_formula.h
  test/integ/ode_comb/exponential/approvals/radau2a11_formula.approved.txt
  test/integ/ode_comb/exponential/approvals/radau2a13_formula.approved.txt
  test/integ/ode_comb/exponential/approvals/radau2a15_formula.approved.txt
  test/integ/ode_comb/exponential/approvals/radau2a17_formula.approved.txt
  test/integ/ode_comb/exponential/non_embedded.cpp
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_radau2a11_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_radau2a13_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_radau2a15_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon0_radau2a17_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_radau2a11_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_radau2a13_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_radau2a15_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_radau2a17_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_radau2a11_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_radau2a13_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_radau2a15_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_radau2a17_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/wrapped_non_embedded.cpp
Due: clang-format, update-source-list

:alembic: Benchmarks of Radau IIA formulas of higher orders.
  test/bench/ode/diffusion2d_dirichlet_test.cpp
  test/bench/ode/diffusion2d_neumann_test.cpp
  test/bench/ode/implicit_kaps_problem_test.cpp
Due: clang-format, update-source-list

:recycle: Reduce memory allocation in equation solvers for Rosenbrock methods.
  include/num_collect/ode/rosenbrock/bicgstab_rosenbrock_equation_solver.h
  problems/include/num_prob_collect/ode/no_jacobian_linear_first_order_dae_problem.h
  problems/include/num_prob_collect/ode/no_jacobian_linear_first_order_ode_problem.h
  test/bench/ode/CMakeLists.txt
  test/bench/ode/no_jacobian_diffusion2d_dirichlet_test.cpp
  test/bench/ode/no_jacobian_diffusion2d_neumann_test.cpp
Due: clang-format, cmake-format, update-source-list

:white_check_mark: Prepare test problems without Jacobian.
  problems/include/num_prob_collect/ode/no_jacobian_kaps_problem.h
  test/units/ode/rosenbrock/approvals/bicgstab_rosenbrock_equation_solver.solve_without_Jacobian.approved.txt
  test/units/ode/rosenbrock/approvals/bicgstab_rosenbrock_equation_solver.solve_without_Jacobian_but_with_mass.approved.txt
  test/units/ode/rosenbrock/bicgstab_rosenbrock_equation_solver_test.cpp
Due: clang-format, update-source-list

:sparkles: Inexact Newton method without Jacobians for Runge-Kutta methods.
  include/num_collect/ode/impl/bicgstab.h
  include/num_collect/ode/runge_kutta/inexact_newton_slope_equation_solver.h
  include/num_collect/ode/runge_kutta/inexact_newton_update_equation_solver.h
  test/bench/ode/diffusion2d_dirichlet_test.cpp
  test/bench/ode/diffusion2d_neumann_test.cpp
  test/bench/ode/no_jacobian_diffusion2d_dirichlet_test.cpp
  test/bench/ode/no_jacobian_diffusion2d_neumann_test.cpp
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/epsilon0_sdirk4_formula.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/epsilon1_sdirk4_formula.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/epsilon1e-4_sdirk4_formula.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/embedded.cpp
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_slope_equation_solver(vector).solve_without_Jacobian.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_slope_equation_solver(vector).solve_without_Jacobian_but_with_mass.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_update_equation_solver(vector).solve_without_Jacobian.approved.txt
  test/units/ode/runge_kutta/approvals/runge_kutta__inexact_newton_update_equation_solver(vector).solve_without_Jacobian_but_with_mass.approved.txt
  test/units/ode/runge_kutta/inexact_newton_slope_equation_solver_test.cpp
  test/units/ode/runge_kutta/inexact_newton_update_equation_solver_test.cpp
Due: clang-format, update-source-list

:recycle: Use matrix products for simpler implementation of inexact Newton method for Runge-Kutta methods.
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_slope_equation_solver.h
  include/num_collect/ode/runge_kutta/inexact_newton_decomposed_full_update_equation_solver.h
Due: clang-format, update-source-list

:sparkles: Class to approximate slopes of ODEs.
  include/num_collect/ode/impl/approx_slope_calculator.h
  test/units/ode/impl/approx_slope_calculator_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, update-source-list

:bug: Fix error in GCC.
  test/units/ode/impl/approx_slope_calculator_test.cpp
Due: clang-format, update-source-list

:sparkles: Support of mass matrices in initial step size calculation in ODE solvers.
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/initial_step_size_calculator.h
  test/integ/ode_comb/changing_mass_exponential/approvals/rodasp_formula.approved.txt
  test/integ/ode_comb/changing_mass_exponential/approvals/rodaspr_formula.approved.txt
  test/integ/ode_comb/changing_mass_exponential/approvals/ros34prw_formula.approved.txt
  test/integ/ode_comb/changing_mass_exponential/approvals/ros3w_formula.approved.txt
  test/integ/ode_comb/implicit_exponential/approvals/ark43_esdirk_formula.approved.txt
  test/integ/ode_comb/implicit_exponential/approvals/esdirk45_formula.approved.txt
  test/integ/ode_comb/implicit_exponential/approvals/ros34prw_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_ros34prw_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1_sdirk4_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_rodasp_formula.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/epsilon1e-4_rodaspr_formula.approved.txt
  test/units/ode/approvals/initial_step_size_calculator(actual_problem).Kaps_problem_with_RODASP_formula.approved.txt
  test/units/ode/approvals/initial_step_size_calculator(actual_problem).implicit_Kaps_problem_with_RODASP_formula.approved.txt
  test/units/ode/initial_step_size_calculator_test.cpp
Due: clang-format, update-source-list

:books: Writing benchmark results of ODE solvers.
  .devcontainer/devcontainer.json
  .gitignore
  .pre-commit-config.yaml
  .vscode/extensions.json
  doc/sphinx/src/conf.py
  doc/sphinx/src/user_guide/ode/bench/data/implicit_kaps_problem0.data
  doc/sphinx/src/user_guide/ode/bench/data/implicit_kaps_problem3.data
  doc/sphinx/src/user_guide/ode/bench/data/implicit_kaps_problem6.data
  doc/sphinx/src/user_guide/ode/bench/data/implicit_kaps_probleminf.data
  doc/sphinx/src/user_guide/ode/bench/implicit_kaps_problem.ipynb
  doc/sphinx/src/user_guide/ode/bench/index.rst
  doc/sphinx/src/user_guide/ode/index.rst
  poetry.lock
  pyproject.toml
Due: none

:books: Add problem description.
  doc/sphinx/src/conf.py
  doc/sphinx/src/user_guide/ode/bench/implicit_kaps_problem.ipynb
  poetry.lock
  pyproject.toml
Due: none

:books: Refactor scripts to show plots.
  doc/sphinx/src/user_guide/ode/bench/implicit_kaps_problem.ipynb
  mypy.ini
  pyproject.toml
  scripts/num_collect_docs_utils/__init__.py
  scripts/num_collect_docs_utils/plot_common.py
  scripts/num_collect_docs_utils/py.typed
Due: none

Path conditions:
  clang-format: any of: \.(h|cpp)$, but not: \.approved\.
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$ and not (source_list.cmake) and not (\.approved\.)
  update-source-list: any of: \.(h|cpp)$, but not: \.approved\.
