Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: poetry run cmake-format -i

update-source-list:
  name: update-source-list
  description: Update the list of source codes.
  language: system
  entry: poetry run python scripts/update_source_list.py

:white_check_mark: Add tests of concepts in base module.
  test/units/base/concepts/convertible_to_test.cpp
  test/units/base/concepts/decayed_to_test.cpp
  test/units/base/concepts/dense_matrix_of_test.cpp
  test/units/base/concepts/invocable_test.cpp
  test/units/base/concepts/iterative_solver_test.cpp
  test/units/base/concepts/real_scalar_sparse_matrix_test.cpp
  test/units/base/concepts/reference_of_test.cpp
  test/units/base/concepts/same_as_test.cpp
  test/units/base/concepts/signed_integral_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Refactor exception classes.
  include/num_collect/base/exception.h
  test/units/base/exception_test.cpp
Due: clang-format, update-source-list

:recycle: Refactor some functions and classes in base module.
  include/num_collect/base/get_size.h
  include/num_collect/base/isfinite.h
  include/num_collect/base/iterative_solver_base.h
  include/num_collect/base/norm.h
  test/units/base/norm_test.cpp
Due: clang-format, update-source-list

:recycle: Add functions to calculate absolute values usable for some types.
  include/num_collect/base/abs.h
  include/num_collect/base/concepts/unsigned_integral.h
  include/num_collect/numbers/fraction.h
  test/units/base/abs_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
Due: clang-format, update-source-list

:wrench: Update C++ dependencies.
  vcpkg-configuration.json
Due: none

:alembic: Add profiling of AMG solver.
  profiling/CMakeLists.txt
  profiling/linear/CMakeLists.txt
  profiling/linear/algebraic_multigrid_solver_compute.cpp
Due: clang-format, cmake-format, update-source-list

:zap: Reduce complexity of build_first_coarse_grid_candidate in AMG solver.
  include/num_collect/linear/impl/amg/build_first_coarse_grid_candidate.h
  include/num_collect/linear/impl/amg/index_score_table.h
  test/units/linear/impl/amg/build_first_coarse_grid_candidate_test.cpp
  test/units/linear/impl/amg/index_score_table_test.cpp
  test/units/linear/source_list.cmake
  test/units/linear/unity_source.cpp
Due: clang-format, update-source-list

:zap: Make tune_coarse_grid_selection in AMG solver faster using faster sets.
  cspell.json
  include/num_collect/linear/impl/amg/tune_coarse_grid_selection.h
  test/units/linear/impl/amg/tune_coarse_grid_selection_test.cpp
Due: clang-format, update-source-list

:zap: Some optimizations of internal implementation.
  include/num_collect/linear/impl/amg/tune_coarse_grid_selection.h
Due: clang-format, update-source-list

:alembic: Change profiling program for further analysis.
  profiling/linear/algebraic_multigrid_solver_compute.cpp
Due: clang-format, update-source-list

:rotating_light: Fix a warning.
  include/num_collect/linear/impl/amg/index_score_table.h
Due: clang-format, update-source-list

:wrench: Change configuration of line count.
  .gitlab-ci.yml
  cspell.json
Due: none

:wrench: Update matrix in CI.
  .gitlab-ci.yml
  scripts/ci_linux_test.py
  scripts/ci_win.cmd
Due: none

:wrench: Fix CI script.
  scripts/ci_linux_test.py
Due: none

:sparkles: Implemented AMG preconditioner.
  cspell.json
  include/num_collect/linear/amg_preconditioner.h
  test/units/linear/amg_preconditioner_test.cpp
  test/units/linear/source_list.cmake
  test/units/linear/unity_source.cpp
Due: clang-format, update-source-list

:alembic: Benchmark of AMG-CG method.
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
Due: clang-format, update-source-list

:alembic: Benchmark of BiCGstab for CSRBF.
  test/bench/linear/CMakeLists.txt
  test/bench/linear/csrbf_2d_test.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Making compute function compatible with Eigen.
  include/num_collect/linear/algebraic_multigrid_solver.h
  include/num_collect/linear/gauss_seidel_iterative_solver.h
  include/num_collect/linear/iterative_solver_base.h
  include/num_collect/linear/parallel_symmetric_successive_over_relaxation.h
  include/num_collect/linear/symmetric_successive_over_relaxation.h
Due: clang-format, update-source-list

:bug: Remove unexpected copy of matrices.
  include/num_collect/linear/gauss_seidel_iterative_solver.h
  include/num_collect/linear/parallel_symmetric_successive_over_relaxation.h
  include/num_collect/linear/symmetric_successive_over_relaxation.h
Due: clang-format, update-source-list

:recycle: Refactor implementation of AMG to fix a TODO.
  include/num_collect/base/concepts/sparse_matrix.h
  include/num_collect/linear/algebraic_multigrid_solver.h
  include/num_collect/linear/amg_preconditioner.h
  test/units/linear/algebraic_multigrid_solver_test.cpp
  test/units/linear/amg_preconditioner_test.cpp
Due: clang-format, update-source-list

:zap: Enable more parallelization by Eigen.
  include/num_collect/linear/algebraic_multigrid_solver.h
Due: clang-format, update-source-list

:rotating_light: Fix a warning.
  include/num_collect/linear/algebraic_multigrid_solver.h
Due: clang-format, update-source-list

:recycle: Use concepts in C++ standard library.
  include/num_collect/base/concepts/integral.h
  include/num_collect/base/concepts/signed_integral.h
  include/num_collect/base/concepts/unsigned_integral.h
Due: clang-format, update-source-list

:books: Prepare for release v0.11.0
  doc/sphinx/src/release_notes/index.rst
  doc/sphinx/src/release_notes/v0.11.0.md
  include/num_collect/version.h
Due: clang-format, update-source-list

:books: Update the list of algorithms.
  doc/sphinx/src/algorithm_list.md
Due: none

:books: Update README.
  README.md
  doc/doxygen/Doxyfile.in
  doc/doxygen/DoxygenREADME.md
Due: none

:recycle: Remove convertible_to.
  include/num_collect/base/concepts/convertible_to.h
  test/units/base/concepts/convertible_to_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Remove integer-related concepts.
  include/num_collect/base/abs.h
  include/num_collect/base/concepts/integral.h
  include/num_collect/base/concepts/signed_integral.h
  include/num_collect/base/concepts/unsigned_integral.h
  include/num_collect/base/isfinite.h
  include/num_collect/base/norm.h
  include/num_collect/constants/pow.h
  include/num_collect/constants/root.h
  include/num_collect/constants/sqrt.h
  include/num_collect/functions/legendre.h
  include/num_collect/numbers/custom_float.h
  include/num_collect/numbers/fraction.h
  include/num_collect/util/greatest_common_divisor.h
  include/num_collect/util/least_common_multiple.h
  include/num_collect/util/multiply_safely.h
  include/num_collect/util/safe_cast.h
  test/units/base/concepts/integral_test.cpp
  test/units/base/concepts/signed_integral_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Remove invocable.
  include/num_collect/base/concepts/invocable.h
  include/num_collect/linear/impl/operator_conjugate_gradient.h
  include/num_collect/ode/impl/bicgstab.h
  include/num_collect/regularization/implicit_gcv.h
  test/bench/logging/log_sinks_test.cpp
  test/bench/opt/function_value_history_writer.h
  test/units/base/concepts/invocable_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Remove same_as.
  include/num_collect/base/concepts/same_as.h
  include/num_collect/opt/concepts/optimizer.h
  include/num_collect/rbf/concepts/csrbf.h
  include/num_collect/rbf/concepts/distance_function.h
  include/num_collect/rbf/concepts/rbf.h
  include/num_collect/util/concepts/hash_function.h
  test/units/base/concepts/same_as_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Refactored some existing implementations of logging module.
  include/num_collect/logging/concepts/formattable_iteration_parameter_value.h
  include/num_collect/logging/concepts/formattable_real_scalar.h
  include/num_collect/logging/concepts/getter_of.h
  include/num_collect/logging/concepts/iteration_parameter_value.h
  include/num_collect/logging/concepts/member_getter_of.h
  include/num_collect/logging/formatters/colored_compact_log_formatter.h
  include/num_collect/logging/log_level.h
  include/num_collect/logging/time_stamp.h
  src/num_collect/logging/time_stamp.cpp
  test/units/logging/time_stamp_test.cpp
Due: clang-format, update-source-list

:recycle: Stop use of fmt::gmtime.
  src/num_collect/logging/time_stamp.cpp
Due: clang-format, update-source-list

:recycle: Newer version of logging configurations.
  include/num_collect/logging/log_tag_config.h
  include/num_collect/logging/log_tag_config_node.h
  src/num_collect/logging/log_tag_config_node.cpp
  src/source_list.cmake
  src/unity_source.cpp
  test/units/logging/log_tag_config_node_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Replace existing usage of logging configurations.
  examples/configure_logging.h
  examples/logging/write_logs.cpp
  experiments/regularization/plot_gcv_with_fista.cpp
  include/num_collect/logging/config/toml/toml_log_config_parser.h
  include/num_collect/logging/impl/log_tag_config_tree.h
  include/num_collect/logging/log_config.h
  include/num_collect/logging/log_tag_config.h
  include/num_collect/logging/log_tag_config_node.h
  include/num_collect/logging/logger.h
  profiling/logging/ignore_logs.cpp
  profiling/logging/write_trace_logs.cpp
  src/num_collect/logging/log_config.cpp
  src/num_collect/logging/log_tag_config_node.cpp
  src/source_list.cmake
  src/unity_source.cpp
  test/bench/logging/iteration_logger.cpp
  test/bench/logging/write_trace_logs.cpp
  test/bench/ode/diagram_common.cpp
  test/integ/catch_event_listner.cpp
  test/units/catch_event_listner.cpp
  test/units/logging/config/toml/toml_log_config_parser_test.cpp
  test/units/logging/impl/log_tag_config_tree_test.cpp
  test/units/logging/load_logging_config_test.cpp
  test/units/logging/log_config_test.cpp
  test/units/logging/log_tag_config_node_test.cpp
  test/units/logging/logger_test.cpp
  test/units/logging/logging_mixin_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, update-source-list

:books: Update documentation of log levels.
  doc/sphinx/src/user_guide/logging/log_levels.md
Due: none

:white_check_mark: Fix tests to check more lines.
  test/units/logging/log_tag_config_node_test.cpp
Due: clang-format, update-source-list

:recycle: Refactor existing concepts in regularization module.
  include/num_collect/regularization/concepts/explicit_regularized_solver.h
  include/num_collect/regularization/concepts/implicit_regularized_solver.h
  include/num_collect/regularization/concepts/regularized_solver.h
Due: clang-format, update-source-list

:sparkles: Added calculation of norms from solutions in explicit solvers in regularization module.
  include/num_collect/regularization/concepts/implicit_regularized_solver.h
  include/num_collect/regularization/concepts/regularized_solver.h
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/full_gen_tikhonov.h
  include/num_collect/regularization/implicit_regularized_solver_base.h
  include/num_collect/regularization/regularized_solver_base.h
  include/num_collect/regularization/tgv2_admm.h
  include/num_collect/regularization/tikhonov.h
  include/num_collect/regularization/tv_admm.h
  test/units/regularization/full_gen_tikhonov_test.cpp
  test/units/regularization/tikhonov_test.cpp
Due: clang-format, update-source-list

:books: Update some documentation.
  include/num_collect/regularization/full_gen_tikhonov.h
  include/num_collect/regularization/tikhonov.h
Due: clang-format, update-source-list

:recycle: Move change_data from implicit_regularized_solver to regularized_solver.
  include/num_collect/regularization/concepts/implicit_regularized_solver.h
  include/num_collect/regularization/concepts/regularized_solver.h
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/full_gen_tikhonov.h
  include/num_collect/regularization/implicit_regularized_solver_base.h
  include/num_collect/regularization/regularized_solver_base.h
  include/num_collect/regularization/tgv2_admm.h
  include/num_collect/regularization/tikhonov.h
  include/num_collect/regularization/tv_admm.h
  test/units/regularization/full_gen_tikhonov_test.cpp
  test/units/regularization/tikhonov_test.cpp
Due: clang-format, update-source-list

Path conditions:
  clang-format: any of: \.(h|cpp)$, but not: \.approved\.
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$ and not (source_list.cmake) and not (\.approved\.)
  update-source-list: any of: \.(h|cpp)$, but not: \.approved\.
