Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: pipenv run cmake-format -i

update-unity-source-in-unit-test:
  name: update-unity-source-in-unit-test
  description: Update the source code for the unity build of unit tests.
  language: system
  entry: pipenv run python test/units/create_unity_file.py

refactor: add solve function to explicit_regularized_solver_base class
  include/num_collect/regularization/explicit_regularized_solver_base.h
Due: clang-format

refactor: refactor regularization module
  doc/sphinx/src/basic_design/regularization.rst
  examples/regularization/blur_sine_tikhonov.cpp
  include/num_collect/regularization/explicit_gcv.h
  include/num_collect/regularization/explicit_l_curve.h
  include/num_collect/regularization/explicit_param_searcher_base.h
  include/num_collect/regularization/explicit_regularized_solver_base.h
  include/num_collect/regularization/full_gen_tikhonov.h
  include/num_collect/regularization/tikhonov.h
Due: clang-format

feat: add a wrapper class to make ordinary function objects to objective functions in optimization
  include/num_collect/opt/function_object_wrapper.h
  test/units/opt/function_object_wrapper_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

chore: execute examples in ctest
  examples/CMakeLists.txt
  examples/auto_diff/CMakeLists.txt
  examples/ode/CMakeLists.txt
  examples/opt/CMakeLists.txt
  examples/regularization/CMakeLists.txt
  examples/roots/CMakeLists.txt
  examples/util/CMakeLists.txt
Due: cmake-format

chore: execute examples in CI
  .gitlab-ci.yml
Due: none

chore: change cmake-format to cmakelang
  Pipfile
Due: none

chore: collect images in CI
  .gitlab-ci.yml
Due: none

chore: use function_object_wrapper in L-curve and GCV
  include/num_collect/regularization/explicit_gcv.h
  include/num_collect/regularization/explicit_l_curve.h
Due: clang-format

test: parameter tuning of benchmark of regularization
  test/bench/regularization/blur_sine_test.cpp
Due: clang-format

doc: update change log
  CHANGELOG.md
Due: none

doc: abstract model of RBF interpolation
  doc/sphinx/src/basic_design/index.rst
  doc/sphinx/src/basic_design/interp.rst
Due: none

doc: rewrite abstract model of kernel interpolation
  doc/sphinx/src/basic_design/interp.rst
Due: none

feat: add euclidean_distance
  doc/doxygen/namespaces.h
  doc/sphinx/src/modules.rst
  include/num_collect/interp/kernel/euclidean_distance.h
  test/units/interp/kernel/euclidean_distance_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

feat: add Gaussian RBF
  include/num_collect/interp/kernel/gaussian_rbf.h
  test/units/interp/kernel/euclidean_distance_test.cpp
  test/units/interp/kernel/gaussian_rbf_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

feat: kernel using RBF
  include/num_collect/interp/kernel/euclidean_distance.h
  include/num_collect/interp/kernel/gaussian_rbf.h
  include/num_collect/interp/kernel/rbf_kernel.h
  test/units/interp/kernel/rbf_kernel_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

feat: function to calculate kernel matrix
  include/num_collect/interp/kernel/calc_kernel_mat.h
  include/num_collect/interp/kernel/euclidean_distance.h
  include/num_collect/interp/kernel/gaussian_rbf.h
  include/num_collect/interp/kernel/rbf_kernel.h
  include/num_collect/multi_double/impl/basic_operations.h
  include/num_collect/multi_double/quad.h
  test/units/interp/kernel/calc_kernel_mat_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

feat: add class to solver linear equations of kernel matrices
  include/num_collect/interp/kernel/self_adjoint_kernel_solver.h
  test/include/is_finite.h
  test/units/interp/kernel/self_adjoint_kernel_solver_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

refactor: move self_adjoint_kernel_solver to impl namespace
  doc/doxygen/namespaces.h
  include/num_collect/interp/kernel/impl/self_adjoint_kernel_solver.h
  test/units/interp/kernel/impl/self_adjoint_kernel_solver_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

style: fix warnings
  include/num_collect/interp/kernel/calc_kernel_mat.h
  include/num_collect/interp/kernel/rbf_kernel.h
Due: clang-format

refactor: builder-like API in rbf_kernel
  include/num_collect/interp/kernel/rbf_kernel.h
Due: clang-format

feat: class to determine regularization parameter
  include/num_collect/interp/kernel/impl/auto_regularizer.h
  include/num_collect/interp/kernel/impl/self_adjoint_kernel_solver.h
  test/units/interp/kernel/impl/auto_regularizer_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

feat: helper class for interpolation
  include/num_collect/interp/kernel/impl/kernel_interpolator_impl.h
  test/units/interp/kernel/impl/kernel_interpolator_impl_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

feat: calculate coefficient of kernel common in variables
  include/num_collect/interp/kernel/impl/kernel_interpolator_impl.h
  include/num_collect/interp/kernel/impl/self_adjoint_kernel_solver.h
  test/units/interp/kernel/impl/kernel_interpolator_impl_test.cpp
  test/units/interp/kernel/impl/self_adjoint_kernel_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: class to determine kernel parameters
  include/num_collect/interp/kernel/impl/kernel_parameter_optimizer.h
  include/num_collect/interp/kernel/impl/self_adjoint_kernel_solver.h
  test/units/interp/kernel/impl/kernel_parameter_optimizer_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

feat: class of kernel interpolation
  doc/sphinx/src/basic_design/interp.rst
  include/num_collect/interp/kernel/kernel_interpolator.h
  test/units/interp/kernel/kernel_interpolator_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

style: remove warning
  include/num_collect/interp/kernel/kernel_interpolator.h
Due: clang-format

feat: function to get stack trace
  CMakeLists.txt
  conanfile.py
  include/num_collect/util/get_stack_trace.h
  test/units/source_list.cmake
  test/units/unity_source.cpp
  test/units/util/get_stack_trace_test.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

refactor: change class name
  include/num_collect/interp/kernel/impl/auto_regularizer_wrapper.h
  include/num_collect/interp/kernel/impl/kernel_parameter_optimizer.h
  include/num_collect/interp/kernel/kernel_interpolator.h
  test/units/interp/kernel/impl/auto_regularizer_wrapper_test.cpp
  test/units/interp/kernel/impl/kernel_parameter_optimizer_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

refactor: separate kernel_interpolator class
  include/num_collect/interp/kernel/impl/kernel_coeff_solver.h
  include/num_collect/interp/kernel/kernel_interpolator.h
Due: clang-format

feat: computation of variance in kernel_interpolator
  include/num_collect/interp/kernel/impl/auto_regularizer_wrapper.h
  include/num_collect/interp/kernel/impl/kernel_coeff_solver.h
  include/num_collect/interp/kernel/impl/self_adjoint_kernel_solver.h
  include/num_collect/interp/kernel/kernel_interpolator.h
  test/units/interp/kernel/impl/self_adjoint_kernel_solver_test.cpp
  test/units/interp/kernel/kernel_interpolator_test.cpp
Due: clang-format, update-unity-source-in-unit-test

doc: add citation
  doc/articles.bib
  include/num_collect/interp/kernel/impl/auto_regularizer_wrapper.h
  include/num_collect/interp/kernel/impl/kernel_coeff_solver.h
  include/num_collect/interp/kernel/impl/self_adjoint_kernel_solver.h
  include/num_collect/interp/kernel/kernel_interpolator.h
Due: clang-format

test: fix assertion in test
  test/units/interp/kernel/impl/self_adjoint_kernel_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

doc: add example of RBF interpolation
  examples/CMakeLists.txt
  examples/interp/kernel/CMakeLists.txt
  examples/interp/kernel/rbf_1dim.cpp
Due: clang-format, cmake-format

feat: helper class to save data with indices which can be positive or negative.
  include/num_collect/util/bidirectional_vector.h
  test/units/source_list.cmake
  test/units/unity_source.cpp
  test/units/util/bidirectional_vector_test.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

doc: documentation of modules
  doc/doxygen/namespaces.h
  doc/sphinx/src/modules.rst
Due: clang-format

test: complete test of bidirectional_vector
  include/num_collect/util/bidirectional_vector.h
  test/units/util/bidirectional_vector_test.cpp
Due: clang-format, update-unity-source-in-unit-test

test: cover a case in bidirectional_vector::prepare_for function
  test/units/util/bidirectional_vector_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: add custom_float class
  include/num_collect/numbers/custom_float.h
  test/units/number/custom_float_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

Path conditions:
  clang-format: any of: \.(h|cpp)$
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$
  update-unity-source-in-unit-test: any of: test/units/.*\.cpp$
