Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        entry: pipenv run cmake-format -i
      - id: update-unity-source-in-unit-test
        name: update-unity-source-in-unit-test
        description: Update the source code for the unity build of unit tests.
        language: system
        files: test/units/.*\.cpp$
        entry: pipenv run python test/units/create_unity_file.py

:sparkles: Add more getter functions in gauss_seidel_iterative_solver.
  include/num_collect/linear/gauss_seidel_iterative_solver.h
  test/units/linear/gauss_seidel_iterative_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:alembic: Benchmark with iteration counts.
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
Due: clang-format

:alembic: Benchmark with better condition.
  cspell.json
  test/bench/linear/CMakeLists.txt
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
  test/bench/linear/laplacian_2d_grid_main.cpp
Due: clang-format, cmake-format

:bug: Return exit code of benchmark.
  test/bench/linear/laplacian_2d_grid_main.cpp
Due: clang-format

:recycle: Change of function names for future development.
  include/num_collect/linear/gauss_seidel_iterative_solver.h
  include/num_collect/linear/iterative_solver_base.h
  test/units/linear/gauss_seidel_iterative_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Implement SSOR method.
  include/num_collect/linear/symmetric_successive_over_relaxation.h
  test/units/linear/source_list.cmake
  test/units/linear/symmetric_successive_over_relaxation.cpp
  test/units/linear/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Prevent unnecessary assertion.
  include/num_collect/linear/gauss_seidel_iterative_solver.h
  include/num_collect/linear/symmetric_successive_over_relaxation.h
Due: clang-format

:alembic: Benchmark of SSOR method.
  cspell.json
  test/bench/linear/laplacian_2d_grid_dense_test.cpp
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
  test/bench/linear/laplacian_2d_grid_sparse_direct_test.cpp
Due: clang-format

:sparkles: Parallel version of SSOR method.
  .clang-tidy
  include/num_collect/linear/parallel_symmetric_successive_over_relaxation.h
  include/num_collect/linear/symmetric_successive_over_relaxation.h
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
  test/units/linear/parallel_symmetric_successive_over_relaxation.cpp
  test/units/linear/source_list.cmake
  test/units/linear/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Small refactoring of parallelization.
  include/num_collect/linear/parallel_symmetric_successive_over_relaxation.h
Due: clang-format

:white_check_mark: Test of both parallel and non-parallel case.
  test/units/linear/parallel_symmetric_successive_over_relaxation.cpp
Due: clang-format, update-unity-source-in-unit-test

:wrench: Use vcpkg triplets in CI.
  .clang-tidy-checker
  .gitlab-ci.yml
  cspell.json
Due: none

:wrench: Update environment.
  .clang-tidy-checker
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitlab-ci.yml
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:rotating_light: Resolve warnings in clang-tidy.
  .clang-tidy
  include/num_collect/ode/evaluation_type.h
Due: clang-format

:sparkles: Implemented Cuthill-McKee ordering.
  cspell.json
  doc/articles.bib
  include/num_collect/linear/cuthill_mckee_ordering.h
  test/include/format_non_zeros.h
  test/units/linear/approvals/cuthill_mckee_ordering_test.num_collect__linear__cuthill_mckee_ordering.perform_ordering.approved.txt
  test/units/linear/cuthill_mckee_ordering_test.cpp
  test/units/linear/source_list.cmake
  test/units/linear/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:white_check_mark: Check profile of ordered matrix.
  test/include/calculate_sparse_matrix_profile.h
  test/units/linear/approvals/cuthill_mckee_ordering_test.num_collect__linear__cuthill_mckee_ordering.perform_ordering.approved.txt
  test/units/linear/cuthill_mckee_ordering_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:books: Example of ordering.
  cspell.json
  examples/linear/CMakeLists.txt
  examples/linear/ordering_methods.cpp
Due: clang-format, cmake-format

:wrench: Fix error in spell check.
  cspell.json
Due: none

:recycle: Better implementation of Cuthill-McKee method.
  include/num_collect/linear/cuthill_mckee_ordering.h
  test/units/linear/approvals/cuthill_mckee_ordering_test.num_collect__linear__cuthill_mckee_ordering.perform_ordering.approved.txt
  test/units/linear/cuthill_mckee_ordering_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Implement RCM.
  include/num_collect/linear/cuthill_mckee_ordering.h
  include/num_collect/linear/reverse_cuthill_mckee_ordering.h
  test/bench/linear/laplacian_2d_grid_sparse_direct_test.cpp
  test/bench/ode/sparse_linear_equation_test.cpp
  test/units/linear/approvals/reverse_cuthill_mckee_ordering_test.num_collect__linear__reverse_cuthill_mckee_ordering.perform_ordering.approved.txt
  test/units/linear/reverse_cuthill_mckee_ordering_test.cpp
  test/units/linear/source_list.cmake
  test/units/linear/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:white_check_mark: Test of CM / RCM methods for other scalar types.
  test/units/linear/approvals/cuthill_mckee_ordering_test.num_collect__linear__cuthill_mckee_ordering_-_double.perform_ordering.approved.txt
  test/units/linear/approvals/cuthill_mckee_ordering_test.num_collect__linear__cuthill_mckee_ordering_-_float.perform_ordering.approved.txt
  test/units/linear/approvals/cuthill_mckee_ordering_test.num_collect__linear__cuthill_mckee_ordering_-_long_double.perform_ordering.approved.txt
  test/units/linear/approvals/reverse_cuthill_mckee_ordering_test.num_collect__linear__reverse_cuthill_mckee_ordering_-_double.perform_ordering.approved.txt
  test/units/linear/approvals/reverse_cuthill_mckee_ordering_test.num_collect__linear__reverse_cuthill_mckee_ordering_-_float.perform_ordering.approved.txt
  test/units/linear/approvals/reverse_cuthill_mckee_ordering_test.num_collect__linear__reverse_cuthill_mckee_ordering_-_long_double.perform_ordering.approved.txt
  test/units/linear/cuthill_mckee_ordering_test.cpp
  test/units/linear/reverse_cuthill_mckee_ordering_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:books: Use RCM in example.
  examples/linear/ordering_methods.cpp
Due: clang-format

:white_check_mark: Add test for an existing implementation.
  test/units/ode/rosenbrock/lu_rosenbrock_equation_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Support of mass matrices in bicgstab.
  include/num_collect/ode/rosenbrock/bicgstab_rosenbrock_equation_solver.h
  test/units/ode/integ/approvals/implicit_kaps_problem_test.implicit_kaps_problem_+_bicgstab_rosenbrock_equation_solver_+_RODASPR.epsilon_=_0.0001.approved.txt
  test/units/ode/integ/approvals/implicit_kaps_problem_test.implicit_kaps_problem_+_bicgstab_rosenbrock_equation_solver_+_RODASPR.epsilon_=_0.1.approved.txt
  test/units/ode/integ/approvals/implicit_kaps_problem_test.implicit_kaps_problem_+_bicgstab_rosenbrock_equation_solver_+_RODASPR.epsilon_=_0_(index_=_1.approved.txt
  test/units/ode/integ/approvals/implicit_kaps_problem_test.implicit_kaps_problem_+_bicgstab_rosenbrock_equation_solver_+_RODASPR.epsilon_=_1.approved.txt
  test/units/ode/integ/implicit_kaps_problem_test.cpp
  test/units/ode/rosenbrock/approvals/bicgstab_rosenbrock_equation_solver_test.num_collect__ode__rosenbrock__bicgstab_rosenbrock_equation_solver.use_mass_if_exists.approved.txt
  test/units/ode/rosenbrock/bicgstab_rosenbrock_equation_solver_test.cpp
  test/units/ode/rosenbrock/lu_rosenbrock_equation_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:white_check_mark: First pattern of the combinatorial test of ODE solvers.
  .clang-tidy-checker
  scripts/update_source_list.py
  test/integ/CMakeLists.txt
  test/integ/catch_event_listner.cpp
  test/integ/ode_comb/CMakeLists.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__rkf45_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/embedded.cpp
  test/integ/ode_comb/ode_approvals.h
  test/integ/ode_comb/solve_and_check.h
  test/integ/ode_comb/source_list.cmake
  test/integ/ode_comb/unity_source.cpp
  test/integ/test_main.cpp
Due: clang-format, cmake-format

:white_check_mark: Add solvers.
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__ark43_erk_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__ark43_esdirk_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__ark54_esdirk_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__dopri5_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__esdirk45_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__sdirk4_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__tanaka1_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__tanaka2_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/embedded.cpp
Due: clang-format

:recycle: Implement proper handling of next step size in solve_till function.
  include/num_collect/ode/solver_base.h
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__ark43_erk_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__ark43_esdirk_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__ark54_esdirk_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__dopri5_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__esdirk45_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__rkf45_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__tanaka1_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_solvers_-_num_collect__ode__runge_kutta__tanaka2_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
Due: clang-format

:white_check_mark: Add non-embedded formulas.
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__ark43_erk_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__ark43_esdirk_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__ark54_esdirk_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__dopri5_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__esdirk45_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__rkf45_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__sdirk4_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__tanaka1_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/embedded.exponential_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__tanaka2_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/non_embedded.exponential_problem_with_non-embedded_formulas_-_num_collect__ode__runge_kutta__implicit_euler_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/approvals/non_embedded.exponential_problem_with_non-embedded_formulas_-_num_collect__ode__runge_kutta__rk4_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/non_embedded.cpp
  test/integ/ode_comb/source_list.cmake
  test/integ/ode_comb/unity_source.cpp
Due: clang-format, cmake-format

:white_check_mark: Add tests of spring movement.
  test/integ/ode_comb/exponential/approvals/non_embedded.exponential_problem_with_non-embedded_formulas_-_num_collect__ode__runge_kutta__implicit_euler_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/ode_approvals.h
  test/integ/ode_comb/source_list.cmake
  test/integ/ode_comb/spring_movement/approvals/embedded.spring_movement_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/embedded.spring_movement_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/embedded.spring_movement_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/embedded.spring_movement_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/embedded.spring_movement_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__ark43_erk_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/embedded.spring_movement_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__ark43_esdirk_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/embedded.spring_movement_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__ark54_esdirk_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/embedded.spring_movement_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__dopri5_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/embedded.spring_movement_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__esdirk45_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/embedded.spring_movement_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__rkf45_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/embedded.spring_movement_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__sdirk4_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/embedded.spring_movement_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__tanaka1_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/embedded.spring_movement_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__tanaka2_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/non_embedded.spring_movement_problem_with_non-embedded_formulas_-_num_collect__ode__avf__avf2_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/non_embedded.spring_movement_problem_with_non-embedded_formulas_-_num_collect__ode__avf__avf3_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/non_embedded.spring_movement_problem_with_non-embedded_formulas_-_num_collect__ode__avf__avf4_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/non_embedded.spring_movement_problem_with_non-embedded_formulas_-_num_collect__ode__runge_kutta__implicit_euler_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/non_embedded.spring_movement_problem_with_non-embedded_formulas_-_num_collect__ode__runge_kutta__rk4_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/non_embedded.spring_movement_problem_with_non-embedded_formulas_-_num_collect__ode__symplectic__leap_frog_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/non_embedded.spring_movement_problem_with_non-embedded_formulas_-_num_collect__ode__symplectic__symplectic_forest4_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/embedded.cpp
  test/integ/ode_comb/spring_movement/non_embedded.cpp
  test/integ/ode_comb/unity_source.cpp
Due: clang-format, cmake-format

:white_check_mark: Parameter tuning of tests.
  test/integ/ode_comb/exponential/approvals/non_embedded.exponential_problem_with_non-embedded_formulas_-_num_collect__ode__runge_kutta__implicit_euler_solver_num_prob_collect__ode__exponential_problem_.solve.approved.txt
  test/integ/ode_comb/exponential/non_embedded.cpp
  test/integ/ode_comb/spring_movement/approvals/non_embedded.spring_movement_problem_with_non-embedded_formulas_-_num_collect__ode__avf__avf2_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/non_embedded.spring_movement_problem_with_non-embedded_formulas_-_num_collect__ode__avf__avf3_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/non_embedded.spring_movement_problem_with_non-embedded_formulas_-_num_collect__ode__avf__avf4_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/non_embedded.spring_movement_problem_with_non-embedded_formulas_-_num_collect__ode__runge_kutta__implicit_euler_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/non_embedded.spring_movement_problem_with_non-embedded_formulas_-_num_collect__ode__symplectic__leap_frog_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/non_embedded.spring_movement_problem_with_non-embedded_formulas_-_num_collect__ode__symplectic__symplectic_forest4_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/non_embedded.cpp
Due: clang-format

:white_check_mark: Add tests of some implicit problems.
  test/integ/ode_comb/implicit_exponential/approvals/embedded.implicit_exponential_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__implicit_exponential_problem_.solve.approved.txt
  test/integ/ode_comb/implicit_exponential/approvals/embedded.implicit_exponential_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__implicit_exponential_problem_.solve.approved.txt
  test/integ/ode_comb/implicit_exponential/approvals/embedded.implicit_exponential_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__implicit_exponential_problem_.solve.approved.txt
  test/integ/ode_comb/implicit_exponential/approvals/embedded.implicit_exponential_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__implicit_exponential_problem_.solve.approved.txt
  test/integ/ode_comb/implicit_exponential/embedded.cpp
  test/integ/ode_comb/implicit_kaps/approvals/embedded.implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__implicit_kaps_problem_.epsilon_=_0.0001.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/embedded.implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__implicit_kaps_problem_.epsilon_=_0.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/embedded.implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__implicit_kaps_problem_.epsilon_=_1.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/embedded.implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__implicit_kaps_problem_.epsilon_=_0.0001.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/embedded.implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__implicit_kaps_problem_.epsilon_=_0.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/embedded.implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__implicit_kaps_problem_.epsilon_=_1.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/embedded.implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__implicit_kaps_problem_.epsilon_=_0.0001.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/embedded.implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__implicit_kaps_problem_.epsilon_=_0.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/embedded.implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__implicit_kaps_problem_.epsilon_=_1.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/embedded.implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__implicit_kaps_problem_.epsilon_=_0.0001.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/embedded.implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__implicit_kaps_problem_.epsilon_=_0.approved.txt
  test/integ/ode_comb/implicit_kaps/approvals/embedded.implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__implicit_kaps_problem_.epsilon_=_1.approved.txt
  test/integ/ode_comb/implicit_kaps/embedded.cpp
  test/integ/ode_comb/source_list.cmake
  test/integ/ode_comb/unity_source.cpp
Due: clang-format, cmake-format

:white_check_mark: Add test of vibration with external forces.
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/embedded.external_force_vibration_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__external_force_vibration_problem_.solve.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/embedded.external_force_vibration_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__external_force_vibration_problem_.solve.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/embedded.external_force_vibration_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__external_force_vibration_problem_.solve.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/embedded.external_force_vibration_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__external_force_vibration_problem_.solve.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/embedded.external_force_vibration_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__ark43_erk_solver_num_prob_collect__ode__external_force_vibration_problem_.solve.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/embedded.external_force_vibration_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__ark43_esdirk_solver_num_prob_collect__ode__external_force_vibration_problem_.solve.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/embedded.external_force_vibration_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__ark54_esdirk_solver_num_prob_collect__ode__external_force_vibration_problem_.solve.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/embedded.external_force_vibration_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__dopri5_solver_num_prob_collect__ode__external_force_vibration_problem_.solve.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/embedded.external_force_vibration_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__esdirk45_solver_num_prob_collect__ode__external_force_vibration_problem_.solve.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/embedded.external_force_vibration_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__rkf45_solver_num_prob_collect__ode__external_force_vibration_problem_.solve.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/embedded.external_force_vibration_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__sdirk4_solver_num_prob_collect__ode__external_force_vibration_problem_.solve.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/embedded.external_force_vibration_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__tanaka1_solver_num_prob_collect__ode__external_force_vibration_problem_.solve.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/embedded.external_force_vibration_problem_with_embedded_formulas_-_num_collect__ode__runge_kutta__tanaka2_solver_num_prob_collect__ode__external_force_vibration_problem_.solve.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/non_embedded.external_force_vibration_problem_with_non-embedded_formulas_-_num_collect__ode__runge_kutta__implicit_euler_solver_num_prob_collect__ode__external_force_vibration_problem_.solve.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/approvals/non_embedded.external_force_vibration_problem_with_non-embedded_formulas_-_num_collect__ode__runge_kutta__rk4_solver_num_prob_collect__ode__external_force_vibration_problem_.solve.approved.txt
  test/integ/ode_comb/external_force_vibration_problem.h/embedded.cpp
  test/integ/ode_comb/external_force_vibration_problem.h/non_embedded.cpp
  test/integ/ode_comb/source_list.cmake
  test/integ/ode_comb/unity_source.cpp
Due: clang-format, cmake-format

:white_check_mark: Test of Rosenbrock method using bicgstab_rosenbrock_equation_solver.
  problems/include/num_prob_collect/ode/no_jacobian_implicit_kaps_problem.h
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.0001.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_1.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.0001.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_1.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.0001.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_1.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.0001.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_1.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/embedded.cpp
  test/integ/ode_comb/source_list.cmake
  test/integ/ode_comb/unity_source.cpp
Due: clang-format, cmake-format

:white_check_mark: Test of wrapper of non-embedded formulas for automatic step sizes.
  include/num_collect/ode/runge_kutta/rk4_formula.h
  test/integ/ode_comb/source_list.cmake
  test/integ/ode_comb/spring_movement/approvals/wrapped_non_embedded.spring_movement_problem_with_non-embedded_formulas_with_automatic_step_sizes_-_num_collect__ode__avf__avf2_auto_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/wrapped_non_embedded.spring_movement_problem_with_non-embedded_formulas_with_automatic_step_sizes_-_num_collect__ode__avf__avf3_auto_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/wrapped_non_embedded.spring_movement_problem_with_non-embedded_formulas_with_automatic_step_sizes_-_num_collect__ode__avf__avf4_auto_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/approvals/wrapped_non_embedded.spring_movement_problem_with_non-embedded_formulas_with_automatic_step_sizes_-_num_collect__ode__runge_kutta__rk4_auto_solver_num_prob_collect__ode__spring_movement_problem_.solve.approved.txt
  test/integ/ode_comb/spring_movement/wrapped_non_embedded.cpp
  test/integ/ode_comb/unity_source.cpp
Due: clang-format, cmake-format

:bug: Prevent error in GCC.
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.0001.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_1.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.0001.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_1.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.0001.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_1.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.0001.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_0.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/approvals/embedded.no_jacobian_implicit_kaps_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__no_jacobian_implicit_kaps_problem_.epsilon_=_1.approved.txt
  test/integ/ode_comb/no_jacobian_implicit_kaps_problem/embedded.cpp
  test/integ/ode_comb/solve_and_check.h
Due: clang-format

:alembic: Example of an ODE with changing mass.
  problems/include/num_prob_collect/ode/changing_mass_exponential_problem.h
  test/integ/ode_comb/changing_mass_exponential/approvals/embedded.changing_mass_exponential_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__changing_mass_exponential_problem_.solve.approved.txt
  test/integ/ode_comb/changing_mass_exponential/approvals/embedded.changing_mass_exponential_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__changing_mass_exponential_problem_.solve.approved.txt
  test/integ/ode_comb/changing_mass_exponential/approvals/embedded.changing_mass_exponential_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__changing_mass_exponential_problem_.solve.approved.txt
  test/integ/ode_comb/changing_mass_exponential/approvals/embedded.changing_mass_exponential_problem_with_embedded_formulas_-_num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__changing_mass_exponential_problem_.solve.approved.txt
  test/integ/ode_comb/changing_mass_exponential/embedded.cpp
  test/integ/ode_comb/source_list.cmake
  test/integ/ode_comb/unity_source.cpp
Due: clang-format, cmake-format

:sparkles: Implemented implicit_problem_wrapper.
  include/num_collect/ode/concepts/single_variate_problem.h
  include/num_collect/ode/implicit_problem_wrapper.h
  test/integ/ode_comb/changing_mass_exponential/approvals/wrapped_embedded.changing_mass_exponential_problem_with_embedded_formulas_with_implicit_problem_wrapper_-_num_collect__ode__runge_kutta__ark43_erk_solver_wrapped_changing_mass_exponential_problem_.solve.approved.txt
  test/integ/ode_comb/changing_mass_exponential/approvals/wrapped_embedded.changing_mass_exponential_problem_with_embedded_formulas_with_implicit_problem_wrapper_-_num_collect__ode__runge_kutta__dopri5_solver_wrapped_changing_mass_exponential_problem_.solve.approved.txt
  test/integ/ode_comb/changing_mass_exponential/approvals/wrapped_embedded.changing_mass_exponential_problem_with_embedded_formulas_with_implicit_problem_wrapper_-_num_collect__ode__runge_kutta__rkf45_solver_wrapped_changing_mass_exponential_problem_.solve.approved.txt
  test/integ/ode_comb/changing_mass_exponential/wrapped_embedded.cpp
  test/integ/ode_comb/source_list.cmake
  test/integ/ode_comb/unity_source.cpp
Due: clang-format, cmake-format

:sparkles: Wrapper of implicit ODEs for multi-variate ODEs.
  include/num_collect/ode/implicit_problem_wrapper.h
  problems/include/num_prob_collect/ode/changing_mass_quadratic_problem.h
  test/integ/ode_comb/changing_mass_quadratic/approvals/wrapped_embedded.changing_mass_quadratic_problem_with_embedded_formulas_with_implicit_problem_wrapper_-_num_collect__ode__runge_kutta__ark43_erk_solver_wrapped_changing_mass_quadratic_problem_.solve.approved.txt
  test/integ/ode_comb/changing_mass_quadratic/approvals/wrapped_embedded.changing_mass_quadratic_problem_with_embedded_formulas_with_implicit_problem_wrapper_-_num_collect__ode__runge_kutta__dopri5_solver_wrapped_changing_mass_quadratic_problem_.solve.approved.txt
  test/integ/ode_comb/changing_mass_quadratic/wrapped_embedded.cpp
  test/integ/ode_comb/source_list.cmake
  test/integ/ode_comb/unity_source.cpp
  test/units/ode/implicit_problem_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test
