Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: pipenv run cmake-format -i

update-unity-source-in-unit-test:
  name: update-unity-source-in-unit-test
  description: Update the source code for the unity build of unit tests.
  language: system
  entry: pipenv run python test/units/create_unity_file.py

:white_check_mark: Test of asynchronous log sinks.
  include/num_collect/logging/config/toml/toml_async_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_log_config_parser.h
  test/integ/logging_test/CMakeLists.txt
  test/integ/logging_test/approvals/console_log_test.test_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_async_queue_full.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_async_trace_log.approved.txt
  test/integ/logging_test/config/async_file_log_trace.toml
  test/integ/logging_test/file_log_test.py
  test/integ/logging_test/writer.cpp
  test/integ/logging_test/writer_async_queue_full.cpp
Due: clang-format, cmake-format

:sparkles: Add combined_log_sink.
  include/num_collect/logging/sinks/combined_log_sink.h
  test/units/logging/sinks/combined_log_sink_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add toml_combined_log_sink_factory, toml_combined_log_sink_config_parser.
  include/num_collect/logging/config/toml/toml_combined_log_sink_config_parser.h
  include/num_collect/logging/config/toml/toml_combined_log_sink_factory.h
  test/units/logging/config/toml/toml_combined_log_sink_config_parser_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Enable combined log sinks in configurations.
  include/num_collect/logging/config/toml/toml_combined_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_log_config_parser.h
  include/num_collect/logging/sinks/combined_log_sink.h
  test/integ/logging_test/approvals/file_log_test.test_combined_file_console_log.approved.txt
  test/integ/logging_test/config/combined_file_console_log.toml
  test/integ/logging_test/file_log_test.py
  test/units/logging/config/toml/toml_async_log_sink_config_parser_test.cpp
  test/units/logging/config/toml/toml_combined_log_sink_config_parser_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:bug: Fix typo.
  test/units/logging/config/toml/toml_combined_log_sink_config_parser_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:books: Updated documentation of configurations.
  doc/sphinx/src/user_guide/logging.rst
Due: none

:white_check_mark: Test of parameters in logs.
  test/integ/logging_test/approvals/console_log_test.test_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_async_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_combined_file_console_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_trace_log.approved.txt
  test/integ/logging_test/writer.cpp
Due: clang-format

:rotating_light: Remove functions nonnecessary and causing warnings.
  include/num_collect/logging/logger.h
  include/num_collect/logging/sinks/async_log_sink.h
  include/num_collect/logging/sinks/combined_log_sink.h
  include/num_collect/logging/sinks/log_sink_base.h
  include/num_collect/logging/sinks/simple_log_sink.h
  test/units/logging/mock_log_sink.h
Due: clang-format

:recycle: Use of likely / unlikely attributes in logging module.
  include/num_collect/logging/iteration_logger.h
  include/num_collect/logging/logger.h
  include/num_collect/logging/sinks/async_log_sink.h
  include/num_collect/logging/sinks/async_logging_worker.h
  include/num_collect/logging/sinks/file_wrapper.h
  include/num_collect/logging/sinks/simple_log_sink.h
Due: clang-format

:zap: Use likely in assertions.
  include/num_collect/util/assert.h
Due: clang-format

:rotating_light: Suppress a warning which cannot be fixed.
  test/units/auto_diff/backward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:zap: Benchmark of synchronous and asynchronous log sinks.
  test/bench/logging/CMakeLists.txt
  test/bench/logging/log_sinks_test.cpp
Due: clang-format, cmake-format

:books: Update documents.
  README.md
  doc/sphinx/src/how_to_build_in_repository.md
  doc/sphinx/src/how_to_use.md
Due: none

:wrench: Add a function to load TOML configuration from in-memory texts.
  doc/sphinx/src/basic_design/uml/logging/config.puml
  examples/pde/fd_rodasp_wave1d.cpp
  include/num_collect/logging/config/log_config_parser_base.h
  include/num_collect/logging/config/toml/toml_log_config_parser.h
  include/num_collect/logging/load_logging_config.h
  test/bench/logging/log_sinks_test.cpp
  test/integ/logging_test/writer.cpp
  test/integ/logging_test/writer_async_queue_full.cpp
  test/units/logging/load_logging_config_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:books: Update release note.
  doc/sphinx/src/release_notes/v0.6.0.md
Due: none

:recycle: Remove unused .gitmodule file.
  .gitmodules
Due: none

:recycle: Remove unused NOTICE file.
  NOTICE.txt
Due: none

:white_check_mark: Test of the new function.
  test/units/logging/config/toml/toml_log_config_parser_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Check loop of references of log sinks to prevent stack overflow.
  include/num_collect/logging/config/log_sink_factory_table.h
  test/units/logging/config/log_sink_factory_table_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:wrench: Update Python packages.
  Pipfile
  Pipfile.lock
Due: none

:books: Example of loggign configurations.
  doc/sphinx/src/user_guide/logging.rst
  doc/sphinx/start_auto_build.sh.in
  examples/logging/CMakeLists.txt
  examples/logging/configs/async_write_to_console_and_file.toml
  examples/logging/configs/use_async_log_sink.toml
  examples/logging/configs/use_default_log_sink.toml
  examples/logging/configs/write_to_console_and_file.toml
  examples/logging/configs/write_to_single_file.toml
  examples/logging/write_logs.cpp
Due: clang-format, cmake-format

:books: Update logging documentation.
  doc/sphinx/src/user_guide/logging.rst
Due: none

:books: Refactor logging documentation.
  .vscode/settings.json
  doc/sphinx/src/user_guide/index.rst
  doc/sphinx/src/user_guide/logging.rst
  doc/sphinx/src/user_guide/logging/config_example.rst
  doc/sphinx/src/user_guide/logging/config_reference.rst
  doc/sphinx/src/user_guide/logging/index.rst
  doc/sphinx/src/user_guide/logging/log_levels.rst
Due: none

:books: Add table of contents.
  doc/sphinx/src/user_guide/logging/config_example.rst
  doc/sphinx/src/user_guide/logging/config_reference.rst
Due: none

:bug: Fix handling of logs at the end of the program.
  examples/logging/write_logs.cpp
  include/num_collect/logging/sinks/async_logging_worker.h
  test/integ/logging_test/writer.cpp
  test/units/logging/sinks/async_logging_worker_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Fix the position of sleep.
  include/num_collect/logging/sinks/async_logging_worker.h
Due: clang-format

:recycle: Apply IWYU.
  include/num_collect/logging/sinks/async_logging_worker.h
Due: clang-format

:white_check_mark: Wait for asynchronous logging in integration tests.
  test/integ/logging_test/writer.cpp
Due: clang-format

:books: Add comment of thread-safety for logging module.
  include/num_collect/logging/config/default_log_sink_factory.h
  include/num_collect/logging/config/log_sink_factory_table.h
  include/num_collect/logging/config/toml/toml_async_log_sink_config_parser.h
  include/num_collect/logging/config/toml/toml_async_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_combined_log_sink_config_parser.h
  include/num_collect/logging/config/toml/toml_combined_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_console_log_sink_config_parser.h
  include/num_collect/logging/config/toml/toml_console_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_log_config_parser.h
  include/num_collect/logging/config/toml/toml_single_file_log_sink_config_parser.h
  include/num_collect/logging/config/toml/toml_single_file_log_sink_factory.h
  include/num_collect/logging/formatters/colored_compact_log_formatter.h
  include/num_collect/logging/formatters/compact_log_formatter.h
  include/num_collect/logging/formatters/detailed_log_formatter.h
  include/num_collect/logging/formatters/iso8601_time.h
  include/num_collect/logging/impl/log_tag_config_tree.h
  include/num_collect/logging/impl/log_tag_element.h
  include/num_collect/logging/iteration_logger.h
  include/num_collect/logging/log_config.h
  include/num_collect/logging/log_tag.h
  include/num_collect/logging/log_tag_config.h
  include/num_collect/logging/log_tag_view.h
  include/num_collect/logging/sinks/async_log_sink.h
  include/num_collect/logging/sinks/async_logging_worker.h
  include/num_collect/logging/sinks/combined_log_sink.h
  include/num_collect/logging/sinks/file_wrapper.h
  include/num_collect/logging/sinks/simple_log_sink.h
Due: clang-format

:books: Modeling of iteration logger.
  doc/sphinx/src/basic_design/logging.rst
  doc/sphinx/src/basic_design/uml/logging/iterations.puml
  doc/sphinx/src/basic_design/uml/logging/logger.puml
Due: none

:recycle: Fix handling of iteration layers in copy and move operations.
  include/num_collect/logging/impl/iteration_layer_handler.h
Due: clang-format

:construction: Add variable_iteration_parameter_value.
  doc/doxygen/namespaces.h
  include/num_collect/logging/concepts/iteration_parameter_value.h
  include/num_collect/logging/iterations/impl/variable_iteration_parameter_value.h
  test/units/logging/iterations/impl/variable_iteration_parameter_value_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:construction: Add iteration_parameter_formatter.
  include/num_collect/logging/concepts/formattable_iteration_parameter_value.h
  include/num_collect/logging/concepts/getter_of.h
  include/num_collect/logging/concepts/iteration_parameter_value.h
  include/num_collect/logging/iterations/impl/variable_iteration_parameter_value.h
  include/num_collect/logging/iterations/iteration_paramter_formatter.h
  test/units/logging/iterations/iteration_paramter_formatter_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Move the place of a header.
  include/num_collect/logging/iterations/variable_iteration_parameter_value.h
  test/units/logging/iterations/variable_iteration_parameter_value_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:construction: Add iteration_parameter.
  include/num_collect/logging/concepts/iteration_parameter_value.h
  include/num_collect/logging/iterations/iteration_parameter.h
  include/num_collect/logging/iterations/iteration_paramter_formatter.h
  include/num_collect/logging/iterations/variable_iteration_parameter_value.h
  test/units/logging/iterations/iteration_parameter_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Add specialization to std::optional.
  include/num_collect/logging/concepts/formattable_iteration_parameter_value.h
  include/num_collect/logging/iterations/iteration_paramter_formatter.h
  include/num_collect/logging/iterations/iteration_paramter_formatter_decl.h
  test/units/logging/iterations/iteration_paramter_formatter_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:construction: Add member_variable_iteration_parameter_value.
  include/num_collect/logging/iterations/member_variable_iteration_parameter_value.h
  test/units/logging/iterations/member_variable_iteration_parameter_value_test.cpp
  test/units/logging/iterations/mock_algorithm.h
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:construction: Add member_function_iteration_parameter_value.
  include/num_collect/logging/iterations/member_function_iteration_parameter_value.h
  test/units/logging/iterations/member_function_iteration_parameter_value_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:white_check_mark: Add tests of iteration_parameter class for other patterns.
  test/units/logging/iterations/iteration_parameter_test.cpp
Due: clang-format, update-unity-source-in-unit-test

Path conditions:
  clang-format: any of: \.(h|cpp)$
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$
  update-unity-source-in-unit-test: any of: test/units/.*\.cpp$
