Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        exclude: source_list.cmake
        entry: poetry run cmake-format -i
      - id: update-source-list
        name: update-source-list
        description: Update the list of source codes.
        language: system
        files: \.(h|cpp)$
        entry: poetry run python scripts/update_source_list.py
      - id: check-encoding
        name: check-encoding
        description: Check encoding of files.
        language: system
        entry: poetry run python scripts/check_encoding.py
# Automatically generated files should not be checked.
exclude: "\\.approved\\."

:recycle: Change plotting of an example.
  examples/rbf/CMakeLists.txt
  examples/rbf/generate_2d_halton_nodes.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Change plotting in an example.
  examples/rbf/CMakeLists.txt
  examples/rbf/interpolate_2d.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Change plotting in an example.
  examples/rbf/CMakeLists.txt
  examples/rbf/visualize_rbf_in_1d.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Change plotting in an example.
  examples/regularization/CMakeLists.txt
  examples/regularization/blur_sine_tikhonov.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Change plotting in an example.
  examples/regularization/CMakeLists.txt
  examples/regularization/plot_gcv_with_fista.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Change plotting in an example.
  examples/regularization/CMakeLists.txt
  examples/regularization/plot_l_curve_with_fista.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Remove a function which became not needed.
  examples/CMakeLists.txt
Due: cmake-format

:bug: Prevent errors in examples.
  examples/rbf/generate_2d_halton_nodes.cpp
  examples/rbf/interpolate_2d.cpp
  examples/rbf/visualize_rbf_in_1d.cpp
  examples/regularization/blur_sine_tikhonov.cpp
  examples/regularization/plot_gcv_with_fista.cpp
  examples/regularization/plot_l_curve_with_fista.cpp
Due: clang-format, update-source-list

:recycle: Change plotting in a benchmark.
  CMakeLists.txt
  test/bench/logging/CMakeLists.txt
  test/bench/logging/log_sinks_test.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Change plotting in benchmarks of ODE solvers.
  test/bench/ode/CMakeLists.txt
  test/bench/ode/diagram_common.cpp
  test/bench/ode/fixed_step_bench_executor.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Remove Pybind11.
  CMakeLists.txt
  iwyu_mappings.imp
  poetry.lock
  pyproject.toml
  test/bench/CMakeLists.txt
Due: cmake-format

:bug: Prevent errors in CI.
  test/bench/logging/log_sinks_test.cpp
  test/bench/ode/diagram_common.cpp
  test/bench/ode/fixed_step_bench_executor.cpp
Due: clang-format, update-source-list

:recycle: Remove non-necessary configurations.
  .gitlab-ci.yml
Due: none

:wrench: Configure sanitizer.
  cmake/ConfigureSanitizer.cmake
  src/CMakeLists.txt
Due: cmake-format

:bug: Fix errors in CI.
  .gitlab-ci.yml
Due: none

:bug: Fix errors in CI.
  test/bench/CMakeLists.txt
  test/bench/logging/CMakeLists.txt
  test/bench/ode/CMakeLists.txt
Due: cmake-format

:wrench: Update C++ dependencies.
  vcpkg-configuration.json
Due: none

:books: Fix TODOs.
  examples/rbf/visualize_rbf_in_1d.cpp
Due: clang-format, update-source-list

:recycle: Separate implementation of ADC into several headers.
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/impl/adc_group.h
  include/num_collect/opt/impl/adc_rectangle.h
  include/num_collect/opt/impl/adc_sample_dict.h
  include/num_collect/opt/impl/adc_ternary_vector.h
  test/units/opt/adaptive_diagonal_curves_test.cpp
  test/units/opt/impl/adc_group_test.cpp
  test/units/opt/impl/adc_rectangle_test.cpp
  test/units/opt/impl/adc_sample_dict_test.cpp
  test/units/opt/impl/adc_ternary_vector_test.cpp
  test/units/opt/source_list.cmake
  test/units/opt/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Refactor implementation of ADC using fixed-size arrays.
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/impl/adc_group.h
  include/num_collect/opt/impl/adc_rectangle.h
  include/num_collect/opt/impl/adc_sample_dict.h
  include/num_collect/opt/impl/adc_ternary_vector.h
  test/units/opt/impl/adc_group_test.cpp
  test/units/opt/impl/adc_rectangle_test.cpp
  test/units/opt/impl/adc_sample_dict_test.cpp
  test/units/opt/impl/adc_ternary_vector_test.cpp
Due: clang-format, update-source-list

:zap: Parameter tuning.
  include/num_collect/opt/adaptive_diagonal_curves.h
Due: clang-format, update-source-list

:zap: Reserve memory space.
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/impl/adc_group.h
  include/num_collect/opt/impl/adc_sample_dict.h
  test/units/opt/impl/adc_group_test.cpp
Due: clang-format, update-source-list

:recycle: Small fix for better performance.
  include/num_collect/opt/impl/adc_ternary_vector.h
Due: clang-format, update-source-list

:zap: Remove shared_ptr from DIRECT.
  include/num_collect/opt/dividing_rectangles.h
Due: clang-format, update-source-list

:bug: Make ADC work with small MaxDigits values.
  include/num_collect/opt/adaptive_diagonal_curves.h
  test/units/opt/adaptive_diagonal_curves_test.cpp
Due: clang-format, update-source-list

Update development environment.
  .devcontainer/setup.bash
  .gitlab-ci.yml
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:wrench: Update development environment.
  .github/copilot-instructions.md
  .vscode/tasks.json
  doc/sphinx/src/convention.rst
  doc/sphinx/src/conventions.md
  doc/sphinx/src/index.rst
  poetry.lock
  vcpkg-configuration.json
Due: none

:wrench: Remove an accidentally added file.
  .vscode/tasks.json
Due: none

:wrench: Change GitLab runner for Windows.
  .gitlab-ci.yml
  scripts/ci_win.cmd
Due: none

:wrench: Update dependencies
  vcpkg-configuration.json
Due: none

:books: Updated conventions.
  .clang-tidy
  cspell.json
  doc/sphinx/src/conventions.md
Due: none

:wrench: Update test names according to conventions.
  config_schema/CMakeLists.txt
  test/integ/assertions/CMakeLists.txt
  test/integ/linear_solvers/CMakeLists.txt
  test/integ/logging_test/CMakeLists.txt
  test/integ/ode_comb/CMakeLists.txt
  test/integ/rbf_interp_comb/CMakeLists.txt
  test/units/CMakeLists.txt
Due: cmake-format

:wrench: Updated benchmark names according to conventions.
  test/bench/auto_diff/CMakeLists.txt
  test/bench/integration/CMakeLists.txt
  test/bench/linear/CMakeLists.txt
  test/bench/logging/CMakeLists.txt
  test/bench/multi_double/CMakeLists.txt
  test/bench/ode/CMakeLists.txt
  test/bench/opt/CMakeLists.txt
  test/bench/rbf/CMakeLists.txt
  test/bench/regularization/CMakeLists.txt
  test/bench/util/CMakeLists.txt
Due: cmake-format

:books: Update directory structure documentation.
  doc/sphinx/src/directories.rst
Due: none

:books: Update documentation of examples.
  doc/doxygen/Doxyfile.in
  examples/auto_diff/backward.cpp
  examples/doxygen_specifications.h
  examples/ode/rk4_solver.cpp
  examples/ode/rkf45_solver.cpp
  examples/opt/adaptive_diagonal_curves.cpp
  examples/opt/dividing_rectangles.cpp
  examples/opt/downhill_simplex.cpp
  examples/opt/golden_section_search.cpp
  examples/opt/steepest_descent.cpp
  examples/rbf/interpolate_2d.cpp
  examples/regularization/sparse_image_regularization.cpp
  examples/roots/newton_raphson.cpp
  examples/util/kahan_adder.cpp
Due: clang-format, update-source-list

:wrench: Fix the script to measure coverage.
  scripts/collect_gcc_coverage.sh
  scripts/collect_llvm_coverage.sh
Due: none

:recycle: Use heatmaps in examples of image denoising with some refacroring.
  .github/copilot-instructions.md
  cspell.json
  doc/sphinx/src/conventions.md
  examples/doxygen_specifications.h
  examples/regularization/CMakeLists.txt
  examples/regularization/image_denoising_common.h
  examples/regularization/image_denoising_fista.cpp
  examples/regularization/image_denoising_tv_admm.cpp
  examples/regularization/sparse_image_regularization.cpp
  problems/include/num_prob_collect/regularization/add_noise.h
  problems/include/num_prob_collect/regularization/generate_sparse_sample_image.h
Due: clang-format, cmake-format, update-source-list

:recycle: Tune visualization.
  examples/regularization/image_denoising_common.h
Due: clang-format, update-source-list

:alembic: Additional sample images.
  examples/regularization/image_denoising_common.h
  problems/include/num_prob_collect/regularization/generate_sparse_sample_image.h
Due: clang-format, update-source-list
