Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: pipenv run cmake-format -i

update-unity-source-in-unit-test:
  name: update-unity-source-in-unit-test
  description: Update the source code for the unity build of unit tests.
  language: system
  entry: pipenv run python test/units/create_unity_file.py

feat: division operator for variable class
  include/num_collect/auto_diff/backward/variable.h
  test/units/auto_diff/backward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: negating operator for variable class
  include/num_collect/auto_diff/backward/variable.h
  test/units/auto_diff/backward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: Eigen support for variable class
  include/num_collect/auto_diff/backward/variable.h
  test/units/auto_diff/backward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

style: fix warning in test
  test/units/auto_diff/backward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

style: fix a warning in test
  test/units/auto_diff/backward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: function to differentiate a variable by another variable
  include/num_collect/auto_diff/backward/differentiate.h
  test/units/auto_diff/CMakeLists.txt
  test/units/auto_diff/backward/differentiate_test.cpp
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

feat: function to differentiate a variable by a vector or matrix of variables
  include/num_collect/auto_diff/backward/differentiate.h
  include/num_collect/auto_diff/backward/graph/node_differentiator.h
  test/units/auto_diff/backward/differentiate_test.cpp
Due: clang-format, update-unity-source-in-unit-test

doc: add a comment
  include/num_collect/auto_diff/backward/differentiate.h
Due: clang-format

test: merge all unit tests to a single binary
  test/units/CMakeLists.txt
  test/units/create_unity_file.py
  test/units/source_list.cmake
Due: cmake-format

test: remove files currently unused
  test/units/auto_diff/CMakeLists.txt
  test/units/constants/CMakeLists.txt
  test/units/functions/CMakeLists.txt
  test/units/integration/CMakeLists.txt
  test/units/multi_double/CMakeLists.txt
  test/units/ode/CMakeLists.txt
  test/units/opt/CMakeLists.txt
  test/units/roots/CMakeLists.txt
  test/units/util/CMakeLists.txt
Due: cmake-format

fix: prevent error in pre-commit
  .pre-commit-config.yaml
  test/units/create_unity_file.py
  test/units/source_list.cmake
Due: cmake-format

fix: fix error in CI
  scripts/collect_llvm_coverage.sh
Due: none

fix: sort files in source_list to prevent failure in pre-commit
  test/units/create_unity_file.py
  test/units/source_list.cmake
Due: cmake-format

doc: update changelog
  CHANGELOG.md
Due: none

doc: introduce adr-tools
  Pipfile
  doc/adr/0001-record-architecture-decisions.md
  doc/adr/README.md
Due: none

doc: add existing ADR
  doc/adr/0000-README.md
  doc/adr/0002-Remove-API-reference-from-documentation-generated-by-Sphinx.md
Due: none

doc: add existing ADR
  doc/adr/0002-Remove-API-reference-from-documentation-generated-by-Sphinx.md
  doc/adr/0003-use-unity-build-to-speed-up-clang-tidy.md
Due: none

doc: update change log
  CHANGELOG.md
Due: none

test: benchmark of automatic differentiation
  test/bench/CMakeLists.txt
  test/bench/auto_diff/CMakeLists.txt
  test/bench/auto_diff/auto_diff_fixture.h
  test/bench/auto_diff/error_udm.h
  test/bench/auto_diff/quadratic_test.cpp
Due: clang-format, cmake-format

perf: use NullaryExpr for differentiate function to prevent memory reallocation
  include/num_collect/auto_diff/backward/differentiate.h
  include/num_collect/auto_diff/backward/graph/node_differentiator.h
Due: clang-format

fix: fix file contents of quadratic_test.cpp
  test/bench/auto_diff/CMakeLists.txt
  test/bench/auto_diff/quadratic_test.cpp
  test/bench/auto_diff/sum_test.cpp
Due: clang-format, cmake-format

refactor: change diff_ member variable to optional
  include/num_collect/auto_diff/forward/variable.h
  test/units/auto_diff/forward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

perf: some refactoring for performance
  include/num_collect/auto_diff/forward/variable.h
Due: clang-format

feat: differentiate function to calculate Jacobian in backward-mode automatic differentiation
  include/num_collect/auto_diff/backward/differentiate.h
  test/units/auto_diff/backward/differentiate_test.cpp
Due: clang-format, update-unity-source-in-unit-test

style: fix warning
  test/units/auto_diff/forward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

refactor: move create_diff_variable function to a header
  include/num_collect/auto_diff/forward/create_diff_variable.h
  include/num_collect/auto_diff/forward/variable.h
  test/bench/auto_diff/quadratic_test.cpp
  test/bench/auto_diff/sum_test.cpp
  test/units/auto_diff/forward/create_diff_variable_test.cpp
  test/units/auto_diff/forward/variable_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

refactor: simpler implementation of create_diff_variable function
  include/num_collect/auto_diff/forward/create_diff_variable.h
  include/num_collect/auto_diff/forward/variable.h
Due: clang-format

feat: add a function to create vector of variables in forward-mode automatic differentiation
  include/num_collect/auto_diff/forward/create_diff_variable.h
  test/units/auto_diff/forward/create_diff_variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: type of vectors of variables
  include/num_collect/auto_diff/forward/create_diff_variable.h
  test/units/auto_diff/forward/create_diff_variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

fix: use of create_diff_variable_vector with constant expression
  include/num_collect/auto_diff/forward/create_diff_variable.h
  test/bench/auto_diff/sum_test.cpp
  test/units/auto_diff/forward/create_diff_variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: create_diff_variable functions for backward-mode automatic differentiation
  include/num_collect/auto_diff/backward/create_diff_variable.h
  test/units/auto_diff/backward/create_diff_variable_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

test: simpler implementation of tests
  test/bench/auto_diff/sum_test.cpp
Due: clang-format

style: fix warning
  test/units/auto_diff/backward/create_diff_variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: function to make Jacobian from vector of variables
  include/num_collect/auto_diff/forward/make_jacobian.h
  test/units/auto_diff/forward/make_jacobian_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

test: benchmark of calculation of Jacobian
  test/bench/auto_diff/CMakeLists.txt
  test/bench/auto_diff/simple_jacobian_test.cpp
Due: clang-format, cmake-format

test: remove unnecessary variables
  test/bench/auto_diff/quadratic_test.cpp
Due: clang-format

feat: add exp, log functions for variable class
  include/num_collect/auto_diff/backward/variable_math.h
  test/units/auto_diff/backward/variable_math_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

feat: add sqrt function for variable class
  include/num_collect/auto_diff/backward/variable_math.h
  test/units/auto_diff/backward/variable_math_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: add some functions for variable class
  include/num_collect/auto_diff/forward/variable_math.h
  test/units/auto_diff/forward/variable_math_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

doc: example of automatic differentiation
  examples/CMakeLists.txt
  examples/auto_diff/CMakeLists.txt
  examples/auto_diff/backward.cpp
  examples/auto_diff/forward.cpp
  examples/auto_diff/xexp.h
Due: clang-format, cmake-format

Path conditions:
  clang-format: any of: \.(h|cpp)$
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$
  update-unity-source-in-unit-test: any of: test/units/.*\.cpp$
