Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: poetry run cmake-format -i

update-source-list:
  name: update-source-list
  description: Update the list of source codes.
  language: system
  entry: poetry run python scripts/update_source_list.py

:wrench: Update development environment.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:books: Add a logo for dark theme.
  .gitignore
  doc/icon_logo/design/design_note.md
  doc/icon_logo/design/logo-dark.svg
  doc/icon_logo/logo-dark.svg
  doc/sphinx/src/conf.py
Due: none

:wrench: Update development environment.
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:recycle: Update examples using old APIs.
  examples/rbf/interpolate_2d.cpp
  examples/regularization/ct_simulation_common.h
  examples/regularization/image_denoising_common.h
  examples/regularization/upsampling_common.h
  experiments/linear/laplacian_2d_grid.cpp
  experiments/regularization/calculate_derivatives_of_2d_images.cpp
  experiments/regularization/calculate_tgv2_derivatives_of_2d_images.cpp
Due: clang-format, update-source-list

:bug: Update Python packages to prevent errors due to virtualenv.
  poetry.lock
Due: none

:wrench: Update dependencies.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:sparkles: Implemented calculation of rows of the system matrix in RBF-FD method.
  .vscode/settings.json
  include/num_collect/rbf/impl/rbf_fd_row_calculator.h
  test/units/rbf/impl/rbf_fd_row_calculator_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:construction: Add some notes for tests which should be implemented in the future.
  test/units/rbf/impl/rbf_fd_row_calculator_test.cpp
Due: clang-format, update-source-list

:white_check_mark: More tests of rbf_fd_row_calculator.
  include/num_collect/rbf/impl/rbf_fd_row_calculator.h
  test/units/rbf/impl/rbf_fd_row_calculator_test.cpp
Due: clang-format, update-source-list

:alembic: An experiment to compute the whole system matrix using RBF-FD.
  experiments/pde/CMakeLists.txt
  experiments/pde/rbf_fd_laplacian_matrix_2d.cpp
  experiments/pde/rbf_fd_laplacian_matrix_2d.toml
Due: clang-format, cmake-format, update-source-list

:white_check_mark: Ignore errors in some environments.
  cspell.json
  test/units/rbf/impl/rbf_fd_row_calculator_test.cpp
Due: clang-format, update-source-list

:sparkles: Class to assemble the system matrix for RBF-FD method without polynomials.
  experiments/pde/rbf_fd_laplacian_matrix_2d.cpp
  include/num_collect/rbf/rbf_fd_assembler.h
  test/units/rbf/approvals/rbf_fd_assembler.compute_a_matrix.approved.txt
  test/units/rbf/rbf_fd_assembler_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Remove an unnecessary optional parameter.
  include/num_collect/rbf/impl/rbf_fd_row_calculator.h
  test/units/rbf/impl/rbf_fd_row_calculator_test.cpp
Due: clang-format, update-source-list

:zap: Change the solver of matrices.
  include/num_collect/rbf/impl/rbf_fd_row_calculator.h
Due: clang-format, update-source-list

:recycle: Replace an unsuccessful test with a TODO comment.
  test/units/rbf/impl/rbf_fd_row_calculator_test.cpp
Due: clang-format, update-source-list

:recycle: Separate a long function.
  include/num_collect/rbf/impl/rbf_fd_row_calculator.h
Due: clang-format, update-source-list

:sparkles: Class to calculate rows of system matrices using RBF-FD with polynomial terms.
  experiments/pde/rbf_fd_laplacian_matrix_2d.cpp
  include/num_collect/rbf/impl/rbf_fd_polynomial_row_calculator.h
  test/units/rbf/impl/rbf_fd_polynomial_row_calculator_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Add a class to assemble system matrices using RBF-FD with polynomial terms.
  experiments/pde/rbf_fd_laplacian_matrix_2d.cpp
  include/num_collect/rbf/rbf_fd_polynomial_assembler.h
  test/units/rbf/approvals/rbf_fd_polynomial_assembler.compute_a_matrix.approved.txt
  test/units/rbf/rbf_fd_polynomial_assembler_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Introduce VTK for visualization in experiments.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .gitlab-ci.yml
  CMakeLists.txt
  cspell.json
  experiments/pde/CMakeLists.txt
  experiments/pde/rbf_fd_laplacian_matrix_2d.cpp
Due: clang-format, cmake-format, update-source-list

:wrench: Prevent errors due to different C++ standard libraries in VTK and others.
  .vscode/cmake-variants.yaml
  scripts/ci_linux_test.py
Due: none

:wrench: Update Python packages to remove some vulnerabilities.
  poetry.lock
  pyproject.toml
Due: none

:sparkles: Add some functions to vector_view for easier implementation.
  include/num_collect/util/vector_view.h
  test/units/util/vector_view_test.cpp
Due: clang-format, update-source-list

:sparkles: Add some functions forgotten to be added.
  include/num_collect/util/vector_view.h
  test/units/util/vector_view_test.cpp
Due: clang-format, update-source-list

:sparkles: Function to create nodes at boundary of rectangles.
  include/num_collect/util/generate_rectangle_boundary_nodes.h
  test/units/util/generate_rectangle_boundary_nodes_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, update-source-list

:alembic: Experiment to solve the Poisson equation in 2D using RBF-FD method.
  experiments/pde/CMakeLists.txt
  experiments/pde/rbf_fd_poisson_equation_2d.cpp
  experiments/pde/rbf_fd_poisson_equation_2d.toml
  include/num_collect/util/trivial_vector.h
  include/num_collect/util/vector.h
  test/units/util/trivial_vector_test.cpp
Due: clang-format, cmake-format, update-source-list

:alembic: Tune scale of length parameters in RBF-FD for Poisson equation experiment.
  experiments/pde/rbf_fd_poisson_equation_2d.cpp
  experiments/pde/rbf_fd_poisson_equation_2d.toml
  include/num_collect/rbf/impl/rbf_fd_polynomial_row_calculator.h
  include/num_collect/rbf/impl/rbf_fd_row_calculator.h
  include/num_collect/rbf/rbf_fd_assembler.h
  include/num_collect/rbf/rbf_fd_polynomial_assembler.h
Due: clang-format, update-source-list

:alembic: Use thin plate spline RBF in RBF-FD.
  experiments/pde/rbf_fd_poisson_equation_2d.cpp
Due: clang-format, update-source-list

:recycle: Add a type alias for RBF-FD with thin plate spline RBF.
  experiments/pde/rbf_fd_poisson_equation_2d.cpp
  experiments/pde/rbf_fd_poisson_equation_2d.toml
  include/num_collect/rbf/rbf_fd_assembler.h
  include/num_collect/rbf/rbf_fd_polynomial_assembler.h
Due: clang-format, update-source-list

:bug: Fix the condition for the number of neighbors in RBF-FD with polynomial terms.
  include/num_collect/rbf/rbf_fd_polynomial_assembler.h
  test/units/rbf/rbf_fd_polynomial_assembler_test.cpp
Due: clang-format, update-source-list

:alembic: Experiment to solve 1D Poisson equation using RBF-FD method.
  experiments/pde/CMakeLists.txt
  experiments/pde/rbf_fd_poisson_equation_1d.cpp
  experiments/pde/rbf_fd_poisson_equation_1d.toml
Due: clang-format, cmake-format, update-source-list

:alembic: Experiment to solve 3D Poisson equation using RBF-FD.
  .gitignore
  CMakeLists.txt
  experiments/pde/CMakeLists.txt
  experiments/pde/rbf_fd_poisson_equation_3d.cpp
  experiments/pde/rbf_fd_poisson_equation_3d.toml
  include/num_collect/util/generate_cuboid_boundary_nodes.h
  test/units/util/generate_cuboid_boundary_nodes_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-source-list

:sparkles: Derivatives of polyharmonic splines for odd degrees.
  include/num_collect/rbf/rbfs/polyharmonic_spline_rbf.h
  test/units/rbf/rbfs/polyharmonic_spline_rbf_calc.py
  test/units/rbf/rbfs/polyharmonic_spline_rbf_test.cpp
Due: clang-format, update-source-list

:sparkles: First order derivatives of polyharmonic spline RBFs for even degrees.
  include/num_collect/rbf/rbfs/polyharmonic_spline_rbf.h
  test/units/rbf/rbfs/polyharmonic_spline_rbf_test.cpp
Due: clang-format, update-source-list

:sparkles: Second derivatives of polyharmonic spline RBFs for even degrees.
  include/num_collect/rbf/rbfs/polyharmonic_spline_rbf.h
  test/units/rbf/rbfs/polyharmonic_spline_rbf_test.cpp
Due: clang-format, update-source-list

:sparkles: Calculate coefficients of derivatives of polyharmonic spline RBFs of even degrees at compile time to make higher orders available.
  include/num_collect/rbf/rbfs/polyharmonic_spline_rbf.h
  test/units/rbf/rbfs/polyharmonic_spline_rbf_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Add tests for more degrees of polyharmonic spline RBFs.
  test/units/rbf/rbfs/polyharmonic_spline_rbf_test.cpp
Due: clang-format, update-source-list

:recycle: Implement thin plate spline RBF as a wrapper of polyharmonic spline RBF.
  include/num_collect/rbf/rbfs/thin_plate_spline_rbf.h
  test/integ/rbf_interp_comb/operators/approvals/derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_0.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_1.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_2.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/derivative_of_thin_plate_spline_interpolator_with_different_degrees_-_2.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/derivative_of_thin_plate_spline_interpolator_with_different_degrees_-_3.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/fourth-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_0.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/fourth-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_1.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/fourth-order_derivative_of_thin_plate_spline_interpolator_with_different_degrees_-_4.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/second-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_0.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/second-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_1.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/second-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_2.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/second-order_derivative_of_thin_plate_spline_interpolator_with_different_degrees_-_2.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/second-order_derivative_of_thin_plate_spline_interpolator_with_different_degrees_-_3.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/third-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_0.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/third-order_derivative_of_global_rbf_polynomial_interpolator_with_different_degrees_-_1.approved.txt
  test/integ/rbf_interp_comb/operators/approvals/third-order_derivative_of_thin_plate_spline_interpolator_with_different_degrees_-_3.approved.txt
  test/integ/rbf_interp_comb/operators/fourth_derivative.cpp
  test/integ/rbf_interp_comb/operators/third_derivative.cpp
Due: clang-format, update-source-list

:recycle: Use polyharmonic splines in rbf_fd_polynomial_assembler.
  include/num_collect/rbf/rbf_fd_polynomial_assembler.h
Due: clang-format, update-source-list

:white_check_mark: Add benchmark of assembly of matrices using RBF-FD method.
  test/bench/rbf/CMakeLists.txt
  test/bench/rbf/rbf_fd_assemble_laplacian_2d.cpp
Due: clang-format, cmake-format, update-source-list

:zap: Parallelization of RBF-FD assembly.
  include/num_collect/rbf/rbf_fd_assembler.h
  include/num_collect/rbf/rbf_fd_polynomial_assembler.h
  test/units/rbf/rbf_fd_assembler_test.cpp
  test/units/rbf/rbf_fd_polynomial_assembler_test.cpp
Due: clang-format, update-source-list

Path conditions:
  clang-format: any of: \.(h|cpp)$, but not: \.approved\.
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$ and not (source_list.cmake) and not (\.approved\.)
  update-source-list: any of: \.(h|cpp)$, but not: \.approved\.
