Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        exclude: source_list.cmake
        entry: poetry run cmake-format -i
      - id: update-source-list
        name: update-source-list
        description: Update the list of source codes.
        language: system
        files: \.(h|cpp)$
        entry: poetry run python scripts/update_source_list.py
      - id: check-encoding
        name: check-encoding
        description: Check encoding of files.
        language: system
        entry: poetry run python scripts/check_encoding.py
# Automatically generated files should not be checked.
exclude: "\\.approved\\."

:zap: Faster computation of RBF interpolation using CSRBF.
  include/num_collect/rbf/impl/kernel_matrix_solver.h
  profiling/CMakeLists.txt
  profiling/rbf/CMakeLists.txt
  profiling/rbf/local_csrbf_interpolator_2d.cpp
  test/bench/rbf/interp_1d.cpp
  test/bench/rbf/interp_2d.cpp
  test/bench/rbf/interp_3d.cpp
  test/units/rbf/impl/kernel_matrix_solver_test.cpp
Due: clang-format, cmake-format, update-source-list

:sparkles: Macro to check preconditions in functions.
  include/num_collect/base/precondition.h
  test/units/base/precondition_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
Due: clang-format, update-source-list

:wrench: Add issue templates.
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Feasure.md
  .gitlab/issue_templates/Improvement.md
Due: none

:recycle: Update included headers.
  include/num_collect/base/precondition.h
  test/units/base/precondition_test.cpp
Due: clang-format, update-source-list

:bug: Fix compile error.
  include/num_collect/integration/de_infinite_integrator.h
Due: clang-format, update-source-list

:wrench: Disable benchmarks in CI.
  .gitlab-ci.yml
Due: none

:wrench: Decrease the number of jobs in CI for now.
  .gitlab-ci.yml
Due: none

:wrench: Update dependencies.
  poetry.lock
  vcpkg-configuration.json
Due: none

:wrench: Restore some CI jobs.
  .gitlab-ci.yml
Due: none

:wrench: Update development environment.
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:recycle: Apply the new version of formatters.
  scripts/check_encoding.py
  scripts/check_iwyu.py
  scripts/create_cpp_file.py
  scripts/perform_profiling.py
  scripts/update_source_list.py
  test/integ/assertions/conftest.py
  test/integ/logging_test/conftest.py
  test/integ/logging_test/console_log_test.py
  test/integ/logging_test/create_scrubber.py
  test/integ/logging_test/file_log_test.py
  test/integ/logging_test/invalid_config_test.py
Due: none

:alembic: Plot of function values in a benchmark of optimization.
  cspell.json
  mypy.ini
  poetry.lock
  pyproject.toml
  scripts/perform_profiling.py
  test/bench/CMakeLists.txt
  test/bench/opt/CMakeLists.txt
  test/bench/opt/function_value_history_writer.cpp
  test/bench/opt/function_value_history_writer.h
  test/bench/opt/rosenbrock_function_test.cpp
  test/bench/opt/run_with_function_value_history.py
Due: clang-format, cmake-format, update-source-list

:alembic: Add plots for a benchmark with random functions.
  cspell.json
  test/bench/opt/CMakeLists.txt
  test/bench/opt/function_value_history_writer.h
  test/bench/opt/multi_variate_multi_optima_function_test.cpp
  test/bench/opt/run_with_function_value_history.py
Due: clang-format, cmake-format, update-source-list

:recycle: Refactor code to prevent duplication.
  test/bench/opt/rosenbrock_function_test.cpp
Due: clang-format, update-source-list

:recycle: Separate plots for different problems.
  test/bench/opt/function_value_history_writer.cpp
  test/bench/opt/function_value_history_writer.h
  test/bench/opt/multi_variate_multi_optima_function_test.cpp
  test/bench/opt/rosenbrock_function_test.cpp
  test/bench/opt/run_with_function_value_history.py
Due: clang-format, update-source-list

:alembic: Parameter tuning for lighter problems.
  problems/include/num_prob_collect/opt/multi_variate_multi_optima_function.h
  test/bench/opt/function_value_history_writer.h
  test/bench/opt/multi_variate_multi_optima_function_test.cpp
Due: clang-format, update-source-list

:alembic: Add plots for remaining benchmarks.
  test/bench/opt/CMakeLists.txt
  test/bench/opt/function_value_history_writer.h
  test/bench/opt/multi_variate_difficult_multi_optima_function_test.cpp
  test/bench/opt/powell4_function_test.cpp
  test/bench/opt/random_multi_quadratic_function_test.cpp
  test/bench/opt/random_quadratic_function_test.cpp
  test/bench/opt/shekel_function_test.cpp
  test/bench/opt/single_variate_multi_optima_function_test.cpp
Due: clang-format, cmake-format, update-source-list

:alembic: Additional benchmarks.
  test/bench/opt/multi_variate_difficult_multi_optima_function_test.cpp
Due: clang-format, update-source-list

:bug: Fix the command to execute benchmarks in CI.
  test/bench/opt/CMakeLists.txt
Due: cmake-format

:bug: Fix errors in GCC.
  test/bench/opt/function_value_history_writer.cpp
  test/bench/opt/function_value_history_writer.h
Due: clang-format, update-source-list

:sparkles: Class of genetic algorithm.
  include/num_collect/opt/real_value_genetic_optimizer.h
  test/units/opt/real_value_genetic_optimizer_test.cpp
  test/units/opt/source_list.cmake
  test/units/opt/unity_source.cpp
Due: clang-format, update-source-list

:alembic: Add benchmarks.
  test/bench/opt/multi_variate_multi_optima_function_test.cpp
  test/bench/opt/shekel_function_test.cpp
Due: clang-format, update-source-list

:zap: Parameter tuning using benchmarks.
  include/num_collect/opt/real_value_genetic_optimizer.h
  test/bench/opt/function_value_history_writer.cpp
  test/bench/opt/function_value_history_writer.h
  test/bench/opt/multi_variate_difficult_multi_optima_function_test.cpp
  test/bench/opt/shekel_function_test.cpp
Due: clang-format, update-source-list

:rotating_light: Fix warnings.
  include/num_collect/opt/real_value_genetic_optimizer.h
  test/units/opt/real_value_genetic_optimizer_test.cpp
Due: clang-format, update-source-list

:books: Add citation.
  doc/articles.bib
  doc/sphinx/src/algorithm_list.md
  include/num_collect/opt/real_value_genetic_optimizer.h
Due: clang-format, update-source-list

:recycle: Separate the function to calculate Gray code.
  doc/articles.bib
  include/num_collect/opt/real_value_genetic_optimizer.h
  include/num_collect/util/gray_code.h
  test/units/util/gray_code_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, update-source-list

:bug: Fix compile error in GCC.
  include/num_collect/opt/real_value_genetic_optimizer.h
Due: clang-format, update-source-list

:sparkles: Implemented Firefly algorithm.
  doc/articles.bib
  doc/sphinx/src/algorithm_list.md
  include/num_collect/opt/firefly_optimizer.h
  test/units/opt/firefly_optimizer_test.cpp
  test/units/opt/source_list.cmake
  test/units/opt/unity_source.cpp
Due: clang-format, update-source-list

:rotating_light: Suppress false positives.
  cspell.json
Due: none

:zap: Performance tuning.
  include/num_collect/opt/firefly_optimizer.h
  test/bench/opt/multi_variate_multi_optima_function_test.cpp
  test/units/opt/firefly_optimizer_test.cpp
Due: clang-format, update-source-list

:wrench: Update development environment.
  .devcontainer/Dockerfile
  .devcontainer/setup.bash
  .gitlab-ci.yml
  poetry.lock
  pyproject.toml
  scripts/perform_profiling.py
  vcpkg-configuration.json
Due: none

:wrench: Update dependencies.
  poetry.lock
  pyproject.toml
  test/bench/linear/laplacian_2d_grid_main.cpp
  vcpkg-configuration.json
Due: clang-format, update-source-list

:wrench: Update setuptools.
  poetry.lock
  pyproject.toml
Due: none

:wrench: Update mimalloc.
  .devcontainer/Dockerfile
Due: none

:recycle: Changed implementation of plotting in an example.
  CMakeLists.txt
  examples/linear/CMakeLists.txt
  examples/linear/laplacian_2d_grid.cpp
Due: clang-format, cmake-format, update-source-list

:recycle: Output in PNG format.
  .devcontainer/devcontainer.json
  .devcontainer/setup.bash
  .gitlab-ci.yml
  examples/linear/laplacian_2d_grid.cpp
  poetry.lock
  pyproject.toml
Due: clang-format, update-source-list

:recycle: Change implementation of plotting in fd_rodasp_wave1d.cpp.
  examples/pde/CMakeLists.txt
  examples/pde/fd_rodasp_wave1d.cpp
Due: clang-format, cmake-format, update-source-list

:bug: Fix errors in CI.
  .devcontainer/setup.bash
  .gitlab-ci.yml
Due: none
