Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        entry: pipenv run cmake-format -i
      - id: update-unity-source-in-unit-test
        name: update-unity-source-in-unit-test
        description: Update the source code for the unity build of unit tests.
        language: system
        files: test/units/.*\.cpp$
        entry: pipenv run python test/units/create_unity_file.py

doc: Update CHANGELOG.
  CHANGELOG.md
Due: none

fix: fix filepath
  test/units/numbers/custom_float_test.cpp
  test/units/source_list.cmake
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

Update dependency.
  conanfile.py
Due: none

Remove currently unusable stack trace implementation.
  CMakeLists.txt
  conanfile.py
  include/num_collect/util/get_stack_trace.h
  test/units/source_list.cmake
  test/units/unity_source.cpp
  test/units/util/get_stack_trace_test.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

Update CHANGELOG.
  CHANGELOG.md
Due: none

Update version.
  .gitlab-ci.yml
  CHANGELOG.md
  CMakeLists.txt
  conanfile.py
Due: cmake-format

:wrench: Add .gitmessage and GitLab templates.
  .gitignore
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Task.md
  .gitmessage
  .vscode/README.md
  .vscode/settings.json
Due: none

:books: Update documentation.
  .vscode/settings.json
  CHANGELOG.md
  NOTICE.txt
Due: none

:wrench: Option to use OpemMP.
  cmake/CppFlags.cmake
Due: cmake-format

:wrench: Add option to build using sanitizers.
  .vscode/cmake-variants.yaml
Due: none

:books: Update CHANGELOG.
  CHANGELOG.md
Due: none

:wrench: Update CI image.
  .gitlab-ci.yml
  .vscode/settings.json
  doc/sphinx/src/how_to_build_in_repository.md
Due: none

:wrench: Use Doxyfile to configure Doxygen.
  doc/doxygen/CMakeLists.txt
  doc/doxygen/Doxyfile.in
  doc/sphinx/CMakeLists.txt
Due: cmake-format

:bug: Fix error in MSVC.
  include/num_collect/ode/avf/avf2_formula.h
  include/num_collect/ode/avf/avf3_formula.h
  include/num_collect/ode/avf/avf4_formula.h
Due: clang-format

:wrench: Add CI job using MSVC.
  .gitlab-ci.yml
  .vscode/settings.json
Due: none

:bug: Prevent errors in MSVC.
  include/num_collect/interp/kernel/kernel_interpolator.h
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/runge_kutta/implicit_formula_base.h
  include/num_collect/opt/impl/ternary_vector.h
Due: clang-format

:wrench: Disable too time-consuming benchmarks of MSVC in CI.
  .gitlab-ci.yml
Due: none

:wrench: Remove coverage configuration not working with Clang 12.
  .gitlab-ci.yml
  scripts/collect_llvm_coverage.sh
Due: none

:wrench: Configure debug build in CI.
  .gitlab-ci.yml
Due: none

:wrench: Try Ninja.
  .gitlab-ci.yml
Due: none

Revert ":wrench: Try Ninja."
  .gitlab-ci.yml
Due: none

:wrench: Fix option.
  .gitlab-ci.yml
Due: none

:wrench: Try parallel build of MSVC to make build faster.
  .gitlab-ci.yml
Due: none

:wrench: Update build option to C++20.
  CMakeLists.txt
Due: cmake-format

:wrench: Workaround too old MSVC installation in CI environment.
  .gitlab-ci.yml
Due: none

:wrench: Update script to collect coverage.
  scripts/collect_llvm_coverage.sh
Due: none

:wrench: Configure number of processes for parallel build.
  .gitlab-ci.yml
  .vscode/settings.json
Due: none

:wrench: Try Codecov.
  .gitlab-ci.yml
  .vscode/settings.json
Due: none

:books: Update documentation.
  .vscode/settings.json
  README.md
  doc/sphinx/src/how_to_build_in_repository.md
Due: none

:books: Update documentation.
  README.md
Due: none

:wrench: Update .clang-tidy.
  .clang-tidy
  .vscode/settings.json
Due: none

:sparkles: Add source_info_view.
  include/num_collect/util/source_info_view.h
  test/units/util/source_info_view_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:white_check_mark: Test of source_info_view with indirection.
  test/units/util/source_info_view_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:bug: Fix CI.
  .vscode/settings.json
  include/num_collect/util/source_info_view.h
  test/units/util/source_info_view_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Use source_info_view in exceptions.
  include/num_collect/util/exception.h
  test/units/util/exception_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Add hash function for strings to use in tags of logs.
  doc/articles.bib
  include/num_collect/util/hash_string.h
  test/units/util/hash_string_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add log_tag_view.
  include/num_collect/logging/log_tag_view.h
  include/num_collect/util/hash_string.h
  scripts/update_source_list.py
  test/units/CMakeLists.txt
  test/units/constants/napier_test.cpp
  test/units/constants/pi_test.cpp
  test/units/logging/CMakeLists.txt
  test/units/logging/log_tag_view_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
  test/units/multi_double/basic_operations_test.cpp
  test/units/multi_double/quad_test.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:books: Update module documentation.
  .vscode/settings.json
  doc/doxygen/.clang-tidy
  doc/doxygen/namespaces.h
  doc/sphinx/src/modules.rst
Due: clang-format
