Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        entry: pipenv run cmake-format -i
      - id: update-unity-source-in-unit-test
        name: update-unity-source-in-unit-test
        description: Update the source code for the unity build of unit tests.
        language: system
        files: test/units/.*\.cpp$
        entry: pipenv run python test/units/create_unity_file.py

:wrench: Ignore .conan directory when processing coverage data.
  scripts/collect_llvm_coverage.sh
Due: none

:sparkles: Add pi_step_size_controller.
  .vscode/settings.json
  doc/articles.bib
  include/num_collect/ode/pi_step_size_controller.h
  test/bench/ode/CMakeLists.txt
  test/bench/ode/step_size_controllers_test.cpp
  test/units/ode/non_embedded_formula_wrapper_test.cpp
  test/units/ode/pi_step_size_controller_test.cpp
  test/units/ode/runge_kutta/ros3w_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Use pi_step_size_controller as the default controller.
  include/num_collect/ode/embedded_solver.h
Due: clang-format

:recycle: Applied IWYU to ode module.
  include/num_collect/ode/basic_step_size_controller.h
  include/num_collect/ode/pi_step_size_controller.h
  include/num_collect/ode/step_size_controller_base.h
Due: clang-format

:books: Update documentation of namespaces.
  doc/doxygen/namespaces.h
Due: clang-format

:white_check_mark: Check the result of AVF2 formula with ApprovalTests.
  test/include/comparison_approvals.h
  test/units/ode/avf/approvals/avf2_formula_test.num_collect__ode__avf__avf2_auto_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/avf/approvals/avf2_formula_test.num_collect__ode__avf__avf2_formula.step.approved.txt
  test/units/ode/avf/approvals/avf2_formula_test.num_collect__ode__avf__avf2_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/avf/approvals/avf2_formula_test.num_collect__ode__avf__avf2_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/avf/avf2_formula_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:white_check_mark: Use ApprovalTests in AVF formulas.
  test/units/ode/avf/approvals/avf3_formula_test.num_collect__ode__avf__avf3_auto_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/avf/approvals/avf3_formula_test.num_collect__ode__avf__avf3_formula.step.approved.txt
  test/units/ode/avf/approvals/avf3_formula_test.num_collect__ode__avf__avf3_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/avf/approvals/avf4_formula_test.num_collect__ode__avf__avf4_auto_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/avf/approvals/avf4_formula_test.num_collect__ode__avf__avf4_formula.step.approved.txt
  test/units/ode/avf/approvals/avf4_formula_test.num_collect__ode__avf__avf4_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/avf/avf2_formula_test.cpp
  test/units/ode/avf/avf3_formula_test.cpp
  test/units/ode/avf/avf4_formula_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:white_check_mark: Use ApprovalTests in Runge-Kutta methods.
  test/include/comparison_approvals.h
  test/units/ode/runge_kutta/approvals/implicit_euler_formula_test.num_collect__ode__runge_kutta__implicit_euler_formula.step.approved.txt
  test/units/ode/runge_kutta/approvals/implicit_euler_formula_test.num_collect__ode__runge_kutta__implicit_euler_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/implicit_euler_formula_test.num_collect__ode__runge_kutta__implicit_euler_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/rk4_formula_test.num_collect__ode__runge_kutta__rk4_formula.step.approved.txt
  test/units/ode/runge_kutta/approvals/rk4_formula_test.num_collect__ode__runge_kutta__rk4_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/rk4_formula_test.num_collect__ode__runge_kutta__rk4_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/rk4_formula_test.num_collect__ode__runge_kutta__rk4_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/rkf45_formula_test.num_collect__ode__runge_kutta__rkf45_formula.step.approved.txt
  test/units/ode/runge_kutta/approvals/rkf45_formula_test.num_collect__ode__runge_kutta__rkf45_formula.step_embedded.approved.txt
  test/units/ode/runge_kutta/approvals/rkf45_formula_test.num_collect__ode__runge_kutta__rkf45_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/rkf45_formula_test.num_collect__ode__runge_kutta__rkf45_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/rkf45_formula_test.num_collect__ode__runge_kutta__rkf45_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/ros34pw3_formula_test.num_collect__ode__runge_kutta__ros34pw3_formula.step.approved.txt
  test/units/ode/runge_kutta/approvals/ros34pw3_formula_test.num_collect__ode__runge_kutta__ros34pw3_formula.step_embedded.approved.txt
  test/units/ode/runge_kutta/approvals/ros34pw3_formula_test.num_collect__ode__runge_kutta__ros34pw3_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/ros34pw3_formula_test.num_collect__ode__runge_kutta__ros34pw3_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/ros34pw3_formula_test.num_collect__ode__runge_kutta__ros34pw3_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/ros3w_formula_test.num_collect__ode__runge_kutta__ros3w_formula.step.approved.txt
  test/units/ode/runge_kutta/approvals/ros3w_formula_test.num_collect__ode__runge_kutta__ros3w_formula.step_embedded.approved.txt
  test/units/ode/runge_kutta/approvals/ros3w_formula_test.num_collect__ode__runge_kutta__ros3w_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/ros3w_formula_test.num_collect__ode__runge_kutta__ros3w_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/ros3w_formula_test.num_collect__ode__runge_kutta__ros3w_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/tanaka1_formula_test.num_collect__ode__runge_kutta__tanaka1_formula.step.approved.txt
  test/units/ode/runge_kutta/approvals/tanaka1_formula_test.num_collect__ode__runge_kutta__tanaka1_formula.step_embedded.approved.txt
  test/units/ode/runge_kutta/approvals/tanaka1_formula_test.num_collect__ode__runge_kutta__tanaka1_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/tanaka1_formula_test.num_collect__ode__runge_kutta__tanaka1_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/tanaka1_formula_test.num_collect__ode__runge_kutta__tanaka1_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/tanaka2_formula_test.num_collect__ode__runge_kutta__tanaka2_formula.step.approved.txt
  test/units/ode/runge_kutta/approvals/tanaka2_formula_test.num_collect__ode__runge_kutta__tanaka2_formula.step_embedded.approved.txt
  test/units/ode/runge_kutta/approvals/tanaka2_formula_test.num_collect__ode__runge_kutta__tanaka2_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/tanaka2_formula_test.num_collect__ode__runge_kutta__tanaka2_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/approvals/tanaka2_formula_test.num_collect__ode__runge_kutta__tanaka2_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/runge_kutta/implicit_euler_formula_test.cpp
  test/units/ode/runge_kutta/rk4_formula_test.cpp
  test/units/ode/runge_kutta/rkf45_formula_test.cpp
  test/units/ode/runge_kutta/ros34pw3_formula_test.cpp
  test/units/ode/runge_kutta/ros3w_formula_test.cpp
  test/units/ode/runge_kutta/tanaka1_formula_test.cpp
  test/units/ode/runge_kutta/tanaka2_formula_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:white_check_mark: Use ApprovalTests in ode module.
  test/units/ode/approvals/embedded_solver_test.num_collect__ode__embedded_solver_num_collect__ode__runge_kutta__rkf45_formula_num_prob_collect__ode__exponential_problem__.solve_till.approved.txt
  test/units/ode/approvals/embedded_solver_test.num_collect__ode__embedded_solver_num_collect__ode__runge_kutta__rkf45_formula_num_prob_collect__ode__exponential_problem__.step.approved.txt
  test/units/ode/approvals/embedded_solver_test.num_collect__ode__embedded_solver_num_collect__ode__runge_kutta__rkf45_formula_num_prob_collect__ode__spring_movement_problem__.solve_till.approved.txt
  test/units/ode/approvals/embedded_solver_test.num_collect__ode__embedded_solver_num_collect__ode__runge_kutta__rkf45_formula_num_prob_collect__ode__spring_movement_problem__.step.approved.txt
  test/units/ode/approvals/non_embedded_formula_wrapper_test.num_collect__ode__non_embedded_auto_solver_num_collect__ode__runge_kutta__rk4_formula_num_prob_collect__ode__exponential_problem__.solve_till.approved.txt
  test/units/ode/approvals/non_embedded_formula_wrapper_test.num_collect__ode__non_embedded_auto_solver_num_collect__ode__runge_kutta__rk4_formula_num_prob_collect__ode__exponential_problem__.step.approved.txt
  test/units/ode/approvals/non_embedded_formula_wrapper_test.num_collect__ode__non_embedded_formula_wrapper_num_collect__ode__runge_kutta__rk4_formula_num_prob_collect__ode__exponential_problem__.step.approved.txt
  test/units/ode/approvals/non_embedded_formula_wrapper_test.num_collect__ode__non_embedded_formula_wrapper_num_collect__ode__runge_kutta__rk4_formula_num_prob_collect__ode__exponential_problem__.step_embedded.approved.txt
  test/units/ode/approvals/simple_solver_test.num_collect__ode__simple_solver_num_collect__ode__runge_kutta__rk4_formula_num_prob_collect__ode__exponential_problem__.solve_till.approved.txt
  test/units/ode/approvals/simple_solver_test.num_collect__ode__simple_solver_num_collect__ode__runge_kutta__rk4_formula_num_prob_collect__ode__exponential_problem__.step.approved.txt
  test/units/ode/approvals/simple_solver_test.num_collect__ode__simple_solver_num_collect__ode__runge_kutta__rk4_formula_num_prob_collect__ode__spring_movement_problem__.solve_till.approved.txt
  test/units/ode/approvals/simple_solver_test.num_collect__ode__simple_solver_num_collect__ode__runge_kutta__rk4_formula_num_prob_collect__ode__spring_movement_problem__.step.approved.txt
  test/units/ode/embedded_solver_test.cpp
  test/units/ode/non_embedded_formula_wrapper_test.cpp
  test/units/ode/simple_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:books: Update CHANGELOG.
  CHANGELOG.md
Due: none

:white_check_mark: Add test of the case not tested.
  test/units/ode/basic_step_size_controller_test.cpp
  test/units/ode/pi_step_size_controller_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:white_check_mark: Check of coefficients in Runge-Kutta methods.
  test/units/ode/runge_kutta/rk4_formula_test.cpp
  test/units/ode/runge_kutta/rkf45_formula_test.cpp
  test/units/ode/runge_kutta/tanaka1_formula_test.cpp
  test/units/ode/runge_kutta/tanaka2_formula_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:white_check_mark: Check coefficients of Rosenbrock methods.
  test/units/ode/runge_kutta/ros34pw3_formula_test.cpp
  test/units/ode/runge_kutta/ros3w_formula_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Add lu_rosenbrock_equation_solver.
  .clang-tidy
  doc/sphinx/src/basic_design/ode.rst
  doc/sphinx/src/basic_design/uml/ode/embedded_formulas.puml
  doc/sphinx/src/basic_design/uml/ode/formula_and_problems.puml
  doc/sphinx/src/basic_design/uml/ode/rosenbrock_formula.puml
  doc/sphinx/src/basic_design/uml/ode/runge-kutta/implicit_formulas.puml
  include/num_collect/ode/concepts/rosenbrock_equation_solver.h
  include/num_collect/ode/rosenbrock/lu_rosenbrock_equation_solver.h
  test/units/ode/rosenbrock/lu_rosenbrock_equation_solver_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add scalar_rosenbrock_equation_solver.
  include/num_collect/ode/rosenbrock/scalar_rosenbrock_equation_solver.h
  test/units/ode/rosenbrock/scalar_rosenbrock_equation_solver_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:white_check_mark: Test for bad conditions.
  include/num_collect/ode/rosenbrock/lu_rosenbrock_equation_solver.h
  test/units/ode/rosenbrock/lu_rosenbrock_equation_solver_test.cpp
  test/units/ode/rosenbrock/scalar_rosenbrock_equation_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Add default_rosenbrock_equation_solver.
  include/num_collect/ode/rosenbrock/default_rosenbrock_equation_solver.h
  test/units/ode/rosenbrock/default_rosenbrock_equation_solver_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Move ros3w_formula to rosenbrock namespace.
  doc/sphinx/src/basic_design/uml/ode/rosenbrock_formula.puml
  include/num_collect/ode/concepts/rosenbrock_equation_solver.h
  include/num_collect/ode/rosenbrock/lu_rosenbrock_equation_solver.h
  include/num_collect/ode/rosenbrock/ros3w_formula.h
  include/num_collect/ode/rosenbrock/scalar_rosenbrock_equation_solver.h
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/pendulum_movement_test.cpp
  test/bench/ode/spring_movement_test.cpp
  test/bench/ode/step_size_controllers_test.cpp
  test/units/ode/initial_step_size_calculator_test.cpp
  test/units/ode/rosenbrock/approvals/ros3w_formula_test.num_collect__ode__rosenbrock__ros3w_formula.step.approved.txt
  test/units/ode/rosenbrock/approvals/ros3w_formula_test.num_collect__ode__rosenbrock__ros3w_formula.step_embedded.approved.txt
  test/units/ode/rosenbrock/approvals/ros3w_formula_test.num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/approvals/ros3w_formula_test.num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/approvals/ros3w_formula_test.num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/lu_rosenbrock_equation_solver_test.cpp
  test/units/ode/rosenbrock/ros3w_formula_test.cpp
  test/units/ode/rosenbrock/scalar_rosenbrock_equation_solver_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Moved ros23pw3_formula to rosenbrock namespace.
  doc/doxygen/namespaces.h
  include/num_collect/ode/rosenbrock/ros34pw3_formula.h
  include/num_collect/ode/runge_kutta/impl/rosenbrock_helper.h
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/pendulum_movement_test.cpp
  test/bench/ode/spring_movement_test.cpp
  test/units/ode/rosenbrock/approvals/ros34pw3_formula_test.num_collect__ode__rosenbrock__ros34pw3_formula.step.approved.txt
  test/units/ode/rosenbrock/approvals/ros34pw3_formula_test.num_collect__ode__rosenbrock__ros34pw3_formula.step_embedded.approved.txt
  test/units/ode/rosenbrock/approvals/ros34pw3_formula_test.num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/approvals/ros34pw3_formula_test.num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/approvals/ros34pw3_formula_test.num_collect__ode__rosenbrock__ros34pw3_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/ros34pw3_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:construction: Wrote coefficients of RODASP formula.
  .vscode/settings.json
  doc/articles.bib
  include/num_collect/ode/rosenbrock/rodasp_formula.h
Due: clang-format

:white_check_mark: Check coefficients.
  test/units/ode/rosenbrock/rodasp_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Implemented RODASP formula.
  include/num_collect/ode/rosenbrock/rodasp_formula.h
  test/units/ode/rosenbrock/approvals/rodasp_formula_test.num_collect__ode__rosenbrock__rodasp_formula.step.approved.txt
  test/units/ode/rosenbrock/approvals/rodasp_formula_test.num_collect__ode__rosenbrock__rodasp_formula.step_embedded.approved.txt
  test/units/ode/rosenbrock/rodasp_formula_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:white_check_mark: Test of RODASP formula using solvers.
  test/units/ode/rosenbrock/approvals/rodasp_formula_test.num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/approvals/rodasp_formula_test.num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/approvals/rodasp_formula_test.num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/rodasp_formula_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:zap: Benchmark of RODASP.
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/pendulum_movement_test.cpp
  test/bench/ode/spring_movement_test.cpp
Due: clang-format

:recycle: Use better coefficients for RODASP.
  .vscode/settings.json
  doc/articles.bib
  include/num_collect/ode/rosenbrock/rodasp_formula.h
  test/units/ode/rosenbrock/approvals/rodasp_formula_test.num_collect__ode__rosenbrock__rodasp_formula.step_embedded.approved.txt
  test/units/ode/rosenbrock/approvals/rodasp_formula_test.num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/approvals/rodasp_formula_test.num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/approvals/rodasp_formula_test.num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/rodasp_formula_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Assumption of lesser_order.
  include/num_collect/ode/rosenbrock/rodasp_formula.h
  test/units/ode/rosenbrock/approvals/rodasp_formula_test.num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/approvals/rodasp_formula_test.num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
Due: clang-format

:recycle: Change the name of a function to suggest its function.
  doc/sphinx/src/basic_design/uml/ode/rosenbrock_formula.puml
  include/num_collect/ode/concepts/rosenbrock_equation_solver.h
  include/num_collect/ode/rosenbrock/lu_rosenbrock_equation_solver.h
  include/num_collect/ode/rosenbrock/rodasp_formula.h
  include/num_collect/ode/rosenbrock/ros34pw3_formula.h
  include/num_collect/ode/rosenbrock/ros3w_formula.h
  include/num_collect/ode/rosenbrock/scalar_rosenbrock_equation_solver.h
  test/units/ode/rosenbrock/lu_rosenbrock_equation_solver_test.cpp
  test/units/ode/rosenbrock/scalar_rosenbrock_equation_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Change the way to multiply Jacobians.
  doc/sphinx/src/basic_design/uml/ode/rosenbrock_formula.puml
  include/num_collect/ode/concepts/rosenbrock_equation_solver.h
  include/num_collect/ode/rosenbrock/lu_rosenbrock_equation_solver.h
  include/num_collect/ode/rosenbrock/rodasp_formula.h
  include/num_collect/ode/rosenbrock/ros34pw3_formula.h
  include/num_collect/ode/rosenbrock/ros3w_formula.h
  include/num_collect/ode/rosenbrock/scalar_rosenbrock_equation_solver.h
  test/units/ode/rosenbrock/lu_rosenbrock_equation_solver_test.cpp
  test/units/ode/rosenbrock/scalar_rosenbrock_equation_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:zap: Check RODASP with autonomous version of external_force_vibration.
  problems/include/num_prob_collect/ode/autonomous_external_force_vibration_problem.h
  test/bench/ode/external_force_vibration_test.cpp
  test/units/ode/rosenbrock/approvals/rodasp_formula_test.num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__autonomous_external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/rodasp_formula_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Add time_derivative to the non-autonomous problem.
  doc/sphinx/src/basic_design/uml/ode/formula_and_problems.puml
  include/num_collect/ode/concepts/time_differentiable_problem.h
  include/num_collect/ode/evaluation_type.h
  problems/include/num_prob_collect/ode/external_force_vibration_problem.h
  test/units/ode/evaluation_type_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Use time derivative term in RODASP.
  doc/sphinx/src/basic_design/uml/ode/rosenbrock_formula.puml
  include/num_collect/ode/concepts/rosenbrock_equation_solver.h
  include/num_collect/ode/rosenbrock/lu_rosenbrock_equation_solver.h
  include/num_collect/ode/rosenbrock/rodasp_formula.h
  include/num_collect/ode/rosenbrock/scalar_rosenbrock_equation_solver.h
  test/units/ode/rosenbrock/approvals/rodasp_formula_test.num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/lu_rosenbrock_equation_solver_test.cpp
  test/units/ode/rosenbrock/scalar_rosenbrock_equation_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Revert temporary change in benchmark.
  test/bench/ode/external_force_vibration_test.cpp
Due: clang-format

:recycle: Use time derivative term in other Rosenbrock methods.
  include/num_collect/ode/rosenbrock/ros34pw3_formula.h
  include/num_collect/ode/rosenbrock/ros3w_formula.h
  test/units/ode/rosenbrock/approvals/ros3w_formula_test.num_collect__ode__rosenbrock__ros3w_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
Due: clang-format

:white_check_mark: Test of scalar_rosenbrock_equation_solver for non-autonomous problem.
  problems/include/num_prob_collect/ode/external_exponential_problem.h
  test/units/ode/rosenbrock/scalar_rosenbrock_equation_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Applied IWYU to rosenbrock directory.
  include/num_collect/ode/rosenbrock/lu_rosenbrock_equation_solver.h
  include/num_collect/ode/rosenbrock/scalar_rosenbrock_equation_solver.h
  problems/include/num_prob_collect/ode/external_exponential_problem.h
  problems/include/num_prob_collect/ode/external_force_vibration_problem.h
  test/units/ode/rosenbrock/default_rosenbrock_equation_solver_test.cpp
  test/units/ode/rosenbrock/lu_rosenbrock_equation_solver_test.cpp
  test/units/ode/rosenbrock/rodasp_formula_test.cpp
  test/units/ode/rosenbrock/ros34pw3_formula_test.cpp
  test/units/ode/rosenbrock/ros3w_formula_test.cpp
  test/units/ode/rosenbrock/scalar_rosenbrock_equation_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:zap: Profiling of RODASP formula.
  .devcontainer/Dockerfile
  profiling/CMakeLists.txt
  profiling/ode/CMakeLists.txt
  profiling/ode/rodasp_solver.cpp
  scripts/perform_profiling.py
Due: clang-format, cmake-format

:sparkles: Add RODASPR formula.
  .devcontainer/devcontainer.json
  .vscode/settings.json
  doc/articles.bib
  include/num_collect/ode/rosenbrock/rodaspr_formula.h
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/pendulum_movement_test.cpp
  test/bench/ode/spring_movement_test.cpp
  test/units/ode/rosenbrock/approvals/rodaspr_formula_test.num_collect__ode__rosenbrock__rodaspr_formula.step.approved.txt
  test/units/ode/rosenbrock/approvals/rodaspr_formula_test.num_collect__ode__rosenbrock__rodaspr_formula.step_embedded.approved.txt
  test/units/ode/rosenbrock/approvals/rodaspr_formula_test.num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__autonomous_external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/approvals/rodaspr_formula_test.num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__exponential_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/approvals/rodaspr_formula_test.num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__external_force_vibration_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/approvals/rodaspr_formula_test.num_collect__ode__rosenbrock__rodaspr_solver_num_prob_collect__ode__spring_movement_problem_.solve_till.approved.txt
  test/units/ode/rosenbrock/rodaspr_formula_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:zap: Benchmark of ODE solvers with diagrams.
  .gitignore
  .vscode/settings.json
  CMakeLists.txt
  examples/CMakeLists.txt
  test/bench/CMakeLists.txt
  test/bench/ode/CMakeLists.txt
  test/bench/ode/diagrams/CMakeLists.txt
  test/bench/ode/diagrams/diagram_common.h
  test/bench/ode/diagrams/exponential_test.cpp
  test/bench/ode/diagrams/external_force_vibration_test.cpp
  test/bench/ode/diagrams/free_fall_in_resistance_test.cpp
  test/bench/ode/diagrams/spring_movement_test.cpp
Due: clang-format, cmake-format

:wrench: Update Python packages.
  Pipfile.lock
Due: none

:bug: Fix CMakeLists.txt.
  test/bench/CMakeLists.txt
Due: cmake-format
