Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: poetry run cmake-format -i

update-source-list:
  name: update-source-list
  description: Update the list of source codes.
  language: system
  entry: poetry run python scripts/update_source_list.py

:sparkles: oct / double operation.
  include/num_collect/multi_double/oct.h
  test/units/multi_double/oct_calc/oct_divided_by_double_calc.py
  test/units/multi_double/oct_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Test of special cases of division.
  test/units/multi_double/oct_test.cpp
Due: clang-format, update-source-list

:bug: Fix check of FMA in MSVC.
  include/num_collect/multi_double/impl/basic_operations.h
Due: clang-format, update-source-list

:wrench: Update dependencies.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:rotating_light: Suppress wrong warning.
  scripts/check_iwyu.py
Due: none

:wrench: Configure SonarQube
  .gitlab-ci.yml
  cspell.json
  sonar-project.properties
Due: none

:wrench: Fix configuration
  sonar-project.properties
Due: none

:wrench: Remove example files from SonarQube configuration
  sonar-project.properties
Due: none

:wrench: Check headers by SonarQube
  sonar-project.properties
Due: none

:wrench: Fix commands for SonarQube
  .gitlab-ci.yml
  cspell.json
Due: none

:wrench: Fix configuration of SonarQube
  sonar-project.properties
Due: none

:books: Output PNG files of CT simulation using TGV2 regularization.
  examples/regularization/CMakeLists.txt
  examples/regularization/ct_simulation_tgv2_admm.cpp
  examples/regularization/ct_simulation_write_png.h
Due: clang-format, cmake-format, update-source-list

:wrench: Update dependencies
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:wrench: Remove openblas to solve build error.
  CMakeLists.txt
  cspell.json
  test/bench/linear/CMakeLists.txt
  test/bench/linear/csrbf_2d_test.cpp
  vcpkg.json
Due: clang-format, cmake-format, update-source-list

:rotating_light: Fix use of deprecated API.
  include/num_collect/regularization/tikhonov.h
Due: clang-format, update-source-list

:books: Fix errors of Doxygen
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/simple_solver.h
Due: clang-format, update-source-list

:white_check_mark: Fix a non-stable test.
  test/units/util/nearest_neighbor_searcher_test.cpp
Due: clang-format, update-source-list

:books: Prepare for release v0.13.0.
  doc/sphinx/src/release_notes/index.rst
  doc/sphinx/src/release_notes/v0.13.0.md
  include/num_collect/version.h
Due: clang-format, update-source-list

:recycle: Separate existing helper functions of examples into a directory.
  examples/CMakeLists.txt
  examples/example_common/CMakeLists.txt
  examples/example_common/include/configure_logging.h
  examples/example_common/src/configure_logging.cpp
  examples/ode/rk4_solver.cpp
  examples/ode/rkf45_solver.cpp
  examples/opt/dividing_rectangles.cpp
  examples/opt/downhill_simplex.cpp
  examples/opt/golden_section_search.cpp
  examples/opt/steepest_descent.cpp
  examples/roots/newton_raphson.cpp
Due: clang-format, cmake-format, update-source-list

:sparkles: Helper function to write PNG files.
  cspell.json
  examples/example_common/CMakeLists.txt
  examples/example_common/include/write_png.h
  examples/example_common/src/write_png.cpp
  examples/regularization/image_denoising_write_png.h
Due: clang-format, cmake-format, update-source-list

:recycle: Replaced use of pngpp library with helper functions to write PNG files.
  CMakeLists.txt
  cspell.json
  examples/regularization/CMakeLists.txt
  examples/regularization/ct_simulation_write_png.h
  examples/regularization/image_denoising_write_png.h
  experiments/CMakeLists.txt
  experiments/linear/CMakeLists.txt
  experiments/linear/ordering_methods.cpp
  vcpkg.json
Due: clang-format, cmake-format, update-source-list

:wrench: Add some Python packages for color pallette
  poetry.lock
  pyproject.toml
Due: none

:books: Color pallet for the icon and the logo.
  cspell.json
  poetry.lock
  pyproject.toml
  scripts/num_collect_colors/__init__.py
  scripts/num_collect_colors/color_pallets.py
  scripts/num_collect_colors/color_pallets.yaml
  scripts/num_collect_colors/plot_color_pallets.py
  scripts/num_collect_colors/py.typed
Due: none

:books: Create a logo of this project.
  README.md
  doc/icon_logo/design/design_note.md
  doc/icon_logo/design/logo.svg
  doc/icon_logo/logo.svg
  scripts/num_collect_colors/color_pallets.yaml
Due: none

:books: Change the logo and name of this project.
  CMakeLists.txt
  README.md
  config_schema/v1/config_schema4.json
  config_schema/v1/config_schema7.json
  config_schema/v2/config_schema.json
  config_schema/v3/config_schema.json
  doc/doxygen/Doxyfile.in
  doc/doxygen/DoxygenREADME.md
  doc/sphinx/src/conf.py
  doc/sphinx/src/index.rst
  examples/CMakeLists.txt
  examples/regularization/ct_simulation_config.toml
  examples/regularization/ct_simulation_config_small.toml
  examples/regularization/image_denoising_config.toml
  examples/regularization/image_denoising_config_small.toml
  examples/regularization/upsampling_config.toml
  examples/regularization/upsampling_config_small.toml
  experiments/CMakeLists.txt
  include/num_collect/version.h
Due: clang-format, cmake-format, update-source-list

:books: Fix README.
  README.md
Due: none

:books: Create icons of this project.
  doc/icon_logo/design/design_note.md
  doc/icon_logo/design/icon16.svg
  doc/icon_logo/design/icon32.svg
  doc/icon_logo/icon16.png
  doc/icon_logo/icon192.png
  doc/icon_logo/icon32.png
  doc/icon_logo/icon64.png
Due: none

:books: Add icon in SVG format.
  doc/icon_logo/icon32.svg
Due: none

:books: Add another size of icon.
  doc/icon_logo/design/design_note.md
  doc/icon_logo/design/icon48.svg
  doc/icon_logo/icon48.png
Due: none

:books: Create favicon.
  .devcontainer/Dockerfile
  .pre-commit-config.yaml
  doc/icon_logo/icon.ico
  scripts/create_icon_file.sh
Due: none

:books: Configure favicon in HTML.
  doc/CMakeLists.txt
  doc/sphinx/src/conf.py
Due: cmake-format

:books: Fix copyright configuration.
  doc/sphinx/src/conf.py
Due: none

:books: Configure favicon in Doxygen.
  doc/doxygen/Doxyfile.in
Due: none

:books: Fix coordinates of icons.
  doc/icon_logo/design/icon16.svg
Due: none

:books: Fix coordinates of icons.
  doc/icon_logo/design/icon32.svg
Due: none

:books: Fix coordinates of icons.
  doc/icon_logo/design/icon48.svg
Due: none

:books: Fix coordinates of the logo.
  doc/icon_logo/design/logo.svg
Due: none

:books: Re-generate PNG files and SVG files of icon and logo.
  doc/icon_logo/icon32.svg
  doc/icon_logo/icon48.png
  doc/icon_logo/logo.svg
Due: none

:books: Re-generate icon file.
  doc/icon_logo/icon.ico
Due: none

:books: Fix the size of the logo in README.
  README.md
Due: none

Path conditions:
  clang-format: any of: \.(h|cpp)$, but not: \.approved\.
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$ and not (source_list.cmake) and not (\.approved\.)
  update-source-list: any of: \.(h|cpp)$, but not: \.approved\.
