Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        exclude: source_list.cmake
        entry: poetry run cmake-format -i
      - id: update-source-list
        name: update-source-list
        description: Update the list of source codes.
        language: system
        files: \.(h|cpp)$
        entry: poetry run python scripts/update_source_list.py
      - id: check-encoding
        name: check-encoding
        description: Check encoding of files.
        language: system
        entry: poetry run python scripts/check_encoding.py
# Automatically generated files should not be checked.
exclude: "\\.approved\\."

:wrench: Update LLVM version in configuration files.
  .clang-tidy-checker
  scripts/check_iwyu.py
Due: none

:wrench: Remove warnings in clang-tidy.
  .clang-tidy
  cspell.json
Due: none

:recycle: Re-apply clang-format.
  include/num_collect/ode/concepts/embedded_formula.h
  include/num_collect/ode/concepts/ode_equation_solver.h
  include/num_collect/ode/concepts/slope_equation_solver.h
  include/num_collect/ode/concepts/time_differentiable_problem.h
  include/num_collect/ode/concepts/update_equation_solver.h
  include/num_collect/opt/concepts/box_constrained_optimizer.h
  include/num_collect/opt/concepts/descent_method.h
  include/num_collect/opt/concepts/optimizer.h
Due: clang-format, update-source-list

:wrench: Remove warnings of clang-tidy.
  .clang-tidy
Due: none

:wrench: Update clang-tidy-checker for better caching.
  poetry.lock
  pyproject.toml
Due: none

:recycle: Change the way to specify include directory of tests before writing .cpp files.
  test/CMakeLists.txt
  test/integ/linear_solvers/CMakeLists.txt
  test/integ/ode_comb/CMakeLists.txt
  test/units/CMakeLists.txt
Due: cmake-format

:wrench: Prevent build errors due to non-exported functions in MSVC.
  test/utils/CMakeLists.txt
Due: cmake-format

:rotating_light: Fix a warning in Release build.
  src/num_collect/logging/time_stamp.cpp
Due: clang-format, update-source-list

:recycle: Refactor existing implementation of benchmarks.
  test/bench/ode/CMakeLists.txt
  test/bench/ode/diagram_common.cpp
  test/bench/ode/diagram_common.h
  test/bench/ode/fixed_step_bench_executor.cpp
  test/bench/ode/fixed_step_bench_executor.h
Due: clang-format, cmake-format, update-source-list

:white_check_mark: Write results of benchmarks in MessagePack format.
  .gitignore
  CMakeLists.txt
  test/bench/CMakeLists.txt
  test/bench/ode/diagram_common.cpp
  test/bench/ode/fixed_step_bench_executor.cpp
  test/utils/CMakeLists.txt
  test/utils/include/gzip_msgpack_output_stream.h
  test/utils/src/gzip_msgpack_output_stream.cpp
  vcpkg.json
Due: clang-format, cmake-format, update-source-list

:white_check_mark: Test more difficult problem in benchmarks of optimization.
  problems/include/num_prob_collect/opt/random_multi_quadratic_function.h
  test/bench/opt/random_multi_quadratic_function_test.cpp
Due: clang-format, update-source-list

:alembic: Tune parameter selection in benchmarks of numerical integraion.
  test/bench/integration/exp_integration_test.cpp
  test/bench/integration/fixtures.h
  test/bench/integration/inv_sqrt_1mx2_test.cpp
  test/bench/integration/sqrt_1mx2_test.cpp
Due: clang-format, update-source-list

:sparkles: Implemented numerical integration using tanh rule for comparison.
  include/num_collect/integration/tanh_finite_integrator.h
  test/bench/integration/exp_integration_test.cpp
  test/bench/integration/fixtures.h
  test/bench/integration/inv_sqrt_1mx2_test.cpp
  test/bench/integration/sqrt_1mx2_test.cpp
  test/units/integration/source_list.cmake
  test/units/integration/tanh_finite_integrator_test.cpp
  test/units/integration/unity_source.cpp
Due: clang-format, update-source-list

:zap: Prepare coefficients in advance in de_finite_integrator class.
  include/num_collect/integration/de_finite_integrator.h
Due: clang-format, update-source-list

:sparkles: Numerical integration of functions which has poles at boundaries.
  include/num_collect/integration/de_finite_integrator.h
  test/bench/integration/inv_sqrt_1mx2_test.cpp
  test/units/integration/de_finite_integrator_test.cpp
Due: clang-format, update-source-list

:bug: Check infinity and NAN in de_finite_integrator.
  include/num_collect/base/isfinite.h
  include/num_collect/integration/de_finite_integrator.h
  test/bench/integration/exp_integration_test.cpp
  test/bench/integration/inv_sqrt_1mx2_test.cpp
  test/bench/integration/sqrt_1mx2_test.cpp
  test/units/integration/de_finite_integrator_test.cpp
Due: clang-format, update-source-list

:zap: Prepare coefficients of tanh_finite_integrator in advance.
  include/num_collect/integration/tanh_finite_integrator.h
Due: clang-format, update-source-list

:sparkles: Interate functions which has poles at boundaries in tanh_finite_integrator.
  include/num_collect/integration/tanh_finite_integrator.h
  test/bench/integration/exp_integration_test.cpp
  test/bench/integration/fixtures.h
  test/bench/integration/inv_sqrt_1mx2_test.cpp
  test/bench/integration/sqrt_1mx2_test.cpp
  test/units/integration/tanh_finite_integrator_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Test of isfinite function.
  test/units/base/isfinite_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
Due: clang-format, update-source-list

:wrench: Fix error in CI.
  cspell.json
Due: none

:wrench: Configuration to disable benchmaks taking long time even in Release build.
  test/bench/CMakeLists.txt
  test/bench/integration/fixtures.h
  test/bench/linear/laplacian_2d_grid_dense_test.cpp
  test/bench/linear/laplacian_2d_grid_iterative_test.cpp
  test/bench/linear/laplacian_2d_grid_sparse_direct_test.cpp
  test/bench/ode/exponential_test.cpp
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/implicit_kaps_problem_test.cpp
  test/bench/ode/kaps_problem_test.cpp
  test/bench/ode/pendulum_movement_fixed_step_test.cpp
  test/bench/ode/pendulum_movement_test.cpp
  test/bench/ode/rosenbrock_equation_solvers_test.cpp
  test/bench/ode/sparse_linear_equation_test.cpp
  test/bench/ode/spring_movement_fixed_step_test.cpp
  test/bench/ode/spring_movement_test.cpp
  test/bench/ode/step_size_controllers_test.cpp
  test/bench/ode/string_wave_1d_test.cpp
  test/bench/opt/multi_variate_difficult_multi_optima_function_test.cpp
  test/bench/opt/multi_variate_multi_optima_function_test.cpp
  test/bench/opt/random_multi_quadratic_function_test.cpp
  test/bench/opt/shekel_function_test.cpp
  test/bench/regularization/blur_sine_test.cpp
  test/bench/util/summation_test.cpp
Due: clang-format, cmake-format, update-source-list

:wrench: Disable benchmarks taking long time in CI.
  .gitlab-ci.yml
  scripts/ci_linux_test.py
Due: none

:wrench: Fix CI.
  cspell.json
Due: none

:sparkles: Class of stacks works using static arrays.
  include/num_collect/util/static_stack.h
  test/units/util/source_list.cmake
  test/units/util/static_stack_test.cpp
  test/units/util/unity_source.cpp
Due: clang-format, update-source-list

:rotating_light: Fix warnings.
  include/num_collect/util/static_stack.h
Due: clang-format, update-source-list

:zap: Benchmark of the new class of stacks.
  test/bench/util/CMakeLists.txt
  test/bench/util/stack_test.cpp
Due: clang-format, cmake-format, update-source-list

:zap: Use faster stacks in gauss_legendre_kronrod_integrator class.
  include/num_collect/integration/gauss_legendre_kronrod_integrator.h
Due: clang-format, update-source-list

:wrench: Enable chrt command.
  .devcontainer/devcontainer.json
Due: none

:wrench: Update dependencies.
  .gitlab-ci.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:sparkles: Computation of kernel matrix using RBF.
  include/num_collect/rbf/compute_kernel_matrix.h
  include/num_collect/rbf/concepts/distance_function.h
  include/num_collect/rbf/concepts/length_parameter_calculator.h
  include/num_collect/rbf/concepts/rbf.h
  include/num_collect/rbf/distance_functions/euclidean_distance_function.h
  include/num_collect/rbf/length_parameter_calculators/global_length_parameter_calculator.h
  include/num_collect/rbf/rbfs/gaussian_rbf.h
  scripts/update_source_list.py
  test/units/CMakeLists.txt
  test/units/rbf/CMakeLists.txt
  test/units/rbf/approvals/compute_kernel_matrix.compute_a_matrix.approved.txt
  test/units/rbf/compute_kernel_matrix_test.cpp
  test/units/rbf/distance_functions/euclidean_distance_function_test.cpp
  test/units/rbf/length_parameter_calculators/global_length_parameter_calculator_test.cpp
  test/units/rbf/rbfs/gaussian_rbf_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, cmake-format, update-source-list

:sparkles: Check whether a matrix is symmetric.
  include/num_collect/rbf/compute_kernel_matrix.h
  include/num_collect/rbf/length_parameter_calculators/global_length_parameter_calculator.h
Due: clang-format, update-source-list

:recycle: Add type limitations.
  include/num_collect/rbf/concepts/distance_function.h
  include/num_collect/rbf/concepts/length_parameter_calculator.h
  include/num_collect/rbf/concepts/rbf.h
  include/num_collect/rbf/rbfs/gaussian_rbf.h
Due: clang-format, update-source-list

:sparkles: Implemented RBF interpolation.
  include/num_collect/rbf/concepts/length_parameter_calculator.h
  include/num_collect/rbf/exact_rbf_interpolator.h
  include/num_collect/rbf/symmetric_kernel_matrix_solver.h
  test/units/rbf/approvals/exact_rbf_interpolator.interpolate.approved.txt
  test/units/rbf/exact_rbf_interpolator_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Calculation of mean and variance in Gaussian process.
  include/num_collect/rbf/exact_rbf_interpolator.h
  include/num_collect/rbf/symmetric_kernel_matrix_solver.h
  test/units/rbf/approvals/exact_rbf_interpolator.interpolate.approved.txt
  test/units/rbf/exact_rbf_interpolator_test.cpp
  test/utils/include/comparison_approvals.h
Due: clang-format, update-source-list

:white_check_mark: Fix the function to compare values.
  test/utils/include/comparison_approvals.h
Due: clang-format, update-source-list

:white_check_mark: Change test problem for stability.
  test/units/rbf/approvals/exact_rbf_interpolator.interpolate.approved.txt
  test/units/rbf/exact_rbf_interpolator_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Test of symmetric_kernel_matrix_solver class.
  include/num_collect/base/concepts/dense_matrix_of.h
  include/num_collect/rbf/concepts/kernel_matrix_solver.h
  include/num_collect/rbf/exact_rbf_interpolator.h
  include/num_collect/rbf/symmetric_kernel_matrix_solver.h
  test/units/rbf/source_list.cmake
  test/units/rbf/symmetric_kernel_matrix_solver_test.cpp
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list

:recycle: Refactor existing implementation.
  include/num_collect/rbf/concepts/kernel_matrix_solver.h
  include/num_collect/rbf/global_exact_rbf_interpolator.h
  include/num_collect/rbf/impl/symmetric_kernel_matrix_solver.h
  test/units/rbf/approvals/global_exact_rbf_interpolator.interpolate.approved.txt
  test/units/rbf/global_exact_rbf_interpolator_test.cpp
  test/units/rbf/impl/symmetric_kernel_matrix_solver_test.cpp
  test/units/rbf/source_list.cmake
  test/units/rbf/unity_source.cpp
Due: clang-format, update-source-list
