Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        entry: pipenv run cmake-format -i
      - id: update-unity-source-in-unit-test
        name: update-unity-source-in-unit-test
        description: Update the source code for the unity build of unit tests.
        language: system
        files: test/units/.*\.cpp$
        entry: pipenv run python test/units/create_unity_file.py

:sparkles: Add dense_matrix concept.
  doc/doxygen/namespaces.h
  doc/sphinx/src/modules.rst
  include/num_collect/concepts/dense_matrix.h
  scripts/update_source_list.py
  test/units/CMakeLists.txt
  test/units/concepts/CMakeLists.txt
  test/units/concepts/dense_matrix_test.cpp
  test/units/concepts/source_list.cmake
  test/units/concepts/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:white_check_mark: Test floating_point concept.
  test/units/concepts/floating_point_test.cpp
  test/units/concepts/source_list.cmake
  test/units/concepts/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add floating_point_dense_matrix concept.
  include/num_collect/concepts/floating_point_dense_matrix.h
  test/units/concepts/floating_point_dense_matrix_test.cpp
  test/units/concepts/source_list.cmake
  test/units/concepts/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add dense_vector, floating_point_dense_vector concepts.
  include/num_collect/concepts/dense_vector.h
  include/num_collect/concepts/floating_point_dense_vector.h
  test/units/concepts/dense_vector_test.cpp
  test/units/concepts/floating_point_dense_vector_test.cpp
  test/units/concepts/source_list.cmake
  test/units/concepts/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add formattable concept.
  include/num_collect/concepts/formattable.h
  test/units/concepts/formattable_test.cpp
  test/units/concepts/source_list.cmake
  test/units/concepts/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:bug: Fix wrong results of formattable.
  conanfile.py
  test/units/concepts/formattable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Change concept names.
  include/num_collect/concepts/real_scalar.h
  include/num_collect/concepts/real_scalar_dense_matrix.h
  include/num_collect/concepts/real_scalar_dense_vector.h
  include/num_collect/logging/iteration_logger.h
  test/units/concepts/real_scalar_dense_matrix_test.cpp
  test/units/concepts/real_scalar_dense_vector_test.cpp
  test/units/concepts/real_scalar_test.cpp
  test/units/concepts/source_list.cmake
  test/units/concepts/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:books: Update CHANGELOG.
  CHANGELOG.md
Due: none

:wrench: Re-enable CI on MSVC.
  .gitlab-ci.yml
Due: none

:recycle: Use concepts in base module.
  include/num_collect/base/assert.h
  include/num_collect/base/concepts/assertion_condition.h
  include/num_collect/base/get_size.h
  include/num_collect/base/norm.h
  test/units/base/concepts/assertion_condition_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Use concepts in util module.
  include/num_collect/base/concepts/integral.h
  include/num_collect/util/concepts/kahan_addable.h
  include/num_collect/util/kahan_adder.h
  include/num_collect/util/safe_cast.h
  test/units/base/concepts/integral_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
  test/units/util/concepts/kahan_addable_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Use of concepts in logging module.
  doc/doxygen/namespaces.h
  include/num_collect/logging/concepts/formattable_real_scalar.h
  include/num_collect/logging/concepts/getter_of.h
  include/num_collect/logging/iteration_logger.h
  test/units/logging/concepts/getter_of_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Use concepts in functions module.
  doc/sphinx/src/modules.rst
  include/num_collect/functions/legendre.h
  include/num_collect/functions/legendre_roots.h
Due: clang-format

:recycle: Use concepts in numbers module.
  include/num_collect/numbers/custom_float.h
Due: clang-format

:recycle: Use concepts in integration module.
  .vscode/settings.json
  doc/sphinx/src/modules.rst
  include/num_collect/integration/de_finite_integrator.h
  include/num_collect/integration/de_infinite_integrator.h
  include/num_collect/integration/de_semi_infinite_integrator.h
  include/num_collect/integration/gauss_legendre_integrator.h
  include/num_collect/integration/gauss_legendre_kronrod_integrator.h
Due: clang-format

:wrench: Proper configuration of standard libraries.
  CMakeLists.txt
  conanfile.py
Due: cmake-format

:recycle: Use builtins for source_info_view.
  doc/doxygen/namespaces.h
  include/num_collect/util/impl/compiler_builtins.h
  include/num_collect/util/source_info_view.h
  test/units/util/impl/compiler_builtins_test.cpp
  test/units/util/source_info_view_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Compatibility with libc++ 12.
  include/num_collect/base/concepts/invocable.h
  include/num_collect/base/concepts/signed_integral.h
  include/num_collect/functions/legendre.h
  include/num_collect/integration/de_finite_integrator.h
  include/num_collect/integration/de_infinite_integrator.h
  include/num_collect/integration/de_semi_infinite_integrator.h
  include/num_collect/integration/gauss_legendre_integrator.h
  include/num_collect/integration/gauss_legendre_kronrod_integrator.h
  include/num_collect/logging/impl/log_formatter.h
  include/num_collect/logging/iteration_logger.h
  include/num_collect/numbers/custom_float.h
Due: clang-format

:books: Update CHANGELOG.
  .vscode/settings.json
  CHANGELOG.md
Due: none

:wrench: CI job using libc++.
  .gitlab-ci.yml
Due: none

:bug: Fix CI.
  .gitlab-ci.yml
Due: none

:white_check_mark: Rewrite benchmark of util module.
  CMakeLists.txt
  conanfile.py
  test/bench/CMakeLists.txt
  test/bench/util/log_error_udm.h
  test/bench/util/summation_test.cpp
Due: clang-format, cmake-format

:recycle: Rewrite benchmarks in auto_diff module.
  test/bench/CMakeLists.txt
  test/bench/auto_diff/auto_diff_fixture.h
  test/bench/auto_diff/error_udm.h
  test/bench/auto_diff/quadratic_test.cpp
  test/bench/auto_diff/simple_jacobian_test.cpp
  test/bench/auto_diff/sum_test.cpp
Due: clang-format, cmake-format

:recycle: Rewrite benchmarks in opt module.
  test/bench/CMakeLists.txt
  test/bench/auto_diff/auto_diff_fixture.h
  test/bench/opt/evaluations_udm.h
  test/bench/opt/iterations_udm.h
  test/bench/opt/multi_quadratic_function_test.cpp
  test/bench/opt/powell4_function_test.cpp
  test/bench/opt/quadratic_function_test.cpp
  test/bench/opt/rosenbrock_function_test.cpp
  test/bench/opt/shekel_function_test.cpp
  test/bench/opt/vibrated_quadratic_function_test.cpp
Due: clang-format, cmake-format

:bug: Fix name of algorithm.
  test/bench/opt/multi_quadratic_function_test.cpp
Due: clang-format

:bug: Fix command of benchmarks.
  test/bench/CMakeLists.txt
Due: cmake-format

:white_check_mark: Rewrite benchmarks of multi_double module.
  test/bench/CMakeLists.txt
  test/bench/multi_double/two_prod_test.cpp
Due: clang-format, cmake-format

:white_check_mark: Rewrite benchmarks in integration module.
  test/bench/CMakeLists.txt
  test/bench/integration/exp_integration_test.cpp
  test/bench/integration/inv_sqrt_1mx2_test.cpp
  test/bench/integration/log_error_udm.h
  test/bench/integration/sqrt_1mx2_test.cpp
Due: clang-format, cmake-format

:white_check_mark: Rewrite benchmarks in ode module.
  test/bench/CMakeLists.txt
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/log_energy_change.h
  test/bench/ode/log_error_udm.h
  test/bench/ode/pendulum_movement_test.cpp
  test/bench/ode/spring_movement_test.cpp
  test/bench/ode/steps_udm.h
Due: clang-format, cmake-format

:white_check_mark: Rewrite benchmarks in regularization module.
  test/bench/CMakeLists.txt
  test/bench/regularization/blur_sine_test.cpp
  test/bench/regularization/log_error_udm.h
  test/bench/regularization/log_param_udm.h
Due: clang-format, cmake-format

:wrench: Update cpp-stat-bench.
  conanfile.py
Due: none

:white_check_mark: Benchmark of logging.
  test/bench/CMakeLists.txt
  test/bench/logging/CMakeLists.txt
  test/bench/logging/iteration_logger.cpp
Due: clang-format, cmake-format

:recycle: Use concepts in rbf_kernel class.
  include/num_collect/base/concepts/implicitly_convertible_to.h
  include/num_collect/interp/kernel/concepts/distance.h
  include/num_collect/interp/kernel/concepts/rbf.h
  include/num_collect/interp/kernel/rbf_kernel.h
  test/units/base/concepts/implicitly_convertible_to_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
  test/units/interp/kernel/euclidean_distance_test.cpp
  test/units/interp/kernel/gaussian_rbf_test.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Use of concepts in kernel_interpolator class.
  .vscode/settings.json
  include/num_collect/interp/kernel/calc_kernel_mat.h
  include/num_collect/interp/kernel/concepts/kernel.h
  include/num_collect/interp/kernel/impl/auto_regularizer_wrapper.h
  include/num_collect/interp/kernel/impl/kernel_coeff_solver.h
  include/num_collect/interp/kernel/impl/kernel_parameter_optimizer.h
  include/num_collect/interp/kernel/impl/self_adjoint_kernel_solver.h
  include/num_collect/interp/kernel/kernel_interpolator.h
  test/units/interp/kernel/rbf_kernel_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Use concepts in forward automatic differentiation.
  .vscode/settings.json
  include/num_collect/auto_diff/forward/create_diff_variable.h
  include/num_collect/auto_diff/forward/make_jacobian.h
  include/num_collect/auto_diff/forward/variable.h
Due: clang-format

:recycle: Use of concepts in backward automatic differentiation.
  .vscode/settings.json
  include/num_collect/auto_diff/backward/create_diff_variable.h
  include/num_collect/auto_diff/backward/graph/node.h
  include/num_collect/auto_diff/backward/graph/node_differentiator.h
  include/num_collect/auto_diff/backward/variable.h
Due: clang-format

:recycle: Add concepts of functions in roots module.
  include/num_collect/base/concepts/const_reference_of.h
  include/num_collect/roots/concepts/differentiable_function.h
  include/num_collect/roots/concepts/function.h
  include/num_collect/roots/function_root_finder_base.h
  include/num_collect/roots/newton_raphson.h
  test/units/base/concepts/const_reference_of_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test
