Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        entry: pipenv run cmake-format -i
      - id: update-unity-source-in-unit-test
        name: update-unity-source-in-unit-test
        description: Update the source code for the unity build of unit tests.
        language: system
        files: test/units/.*\.cpp$
        entry: pipenv run python test/units/create_unity_file.py

:recycle: Applied IWYU to integration tests.
  test/integ/logging/write_logs_test.cpp
  test/integ/logging/writer.cpp
Due: clang-format

:recycle: Applied IWYU to benchmarks.
  test/bench/auto_diff/quadratic_test.cpp
  test/bench/auto_diff/simple_jacobian_test.cpp
  test/bench/auto_diff/sum_test.cpp
  test/bench/integration/exp_integration_test.cpp
  test/bench/integration/inv_sqrt_1mx2_test.cpp
  test/bench/integration/sqrt_1mx2_test.cpp
  test/bench/logging/iteration_logger.cpp
  test/bench/logging/write_trace_logs.cpp
  test/bench/multi_double/two_prod_test.cpp
  test/bench/ode/external_force_vibration_test.cpp
  test/bench/ode/free_fall_in_resistance_test.cpp
  test/bench/ode/pendulum_movement_test.cpp
  test/bench/ode/spring_movement_test.cpp
  test/bench/opt/multi_quadratic_function_test.cpp
  test/bench/opt/powell4_function_test.cpp
  test/bench/opt/quadratic_function_test.cpp
  test/bench/opt/rosenbrock_function_test.cpp
  test/bench/opt/shekel_function_test.cpp
  test/bench/opt/vibrated_quadratic_function_test.cpp
  test/bench/util/summation_test.cpp
Due: clang-format

:recycle: Applied IWYU to examples.
  examples/auto_diff/backward.cpp
  examples/auto_diff/forward.cpp
  examples/interp/kernel/rbf_1dim.cpp
  examples/logging/write_logs.cpp
  examples/ode/rk4_solver.cpp
  examples/ode/rkf45_solver.cpp
  examples/opt/adaptive_diagonal_curves.cpp
  examples/opt/dividing_rectangles.cpp
  examples/opt/downhill_simplex.cpp
  examples/opt/golden_section_search.cpp
  examples/opt/steepest_descent.cpp
  examples/roots/newton_raphson.cpp
  examples/util/kahan_adder.cpp
  iwyu_mappings.imp
Due: clang-format

:books: Modeling for ODE with mass matrices.
  doc/sphinx/src/basic_design/ode.rst
Due: none

:recycle: Changed arguments of evalute_on functions in ODE problems.
  doc/sphinx/src/basic_design/ode.rst
  include/num_collect/ode/avf/avf2_formula.h
  include/num_collect/ode/avf/avf3_formula.h
  include/num_collect/ode/avf/avf4_formula.h
  include/num_collect/ode/avf/impl/avf_integrand.h
  include/num_collect/ode/concepts/differentiable_problem.h
  include/num_collect/ode/concepts/problem.h
  include/num_collect/ode/evaluation_type.h
  include/num_collect/ode/runge_kutta/implicit_euler_formula.h
  include/num_collect/ode/runge_kutta/implicit_formula_base.h
  include/num_collect/ode/runge_kutta/rk4_formula.h
  include/num_collect/ode/runge_kutta/rkf45_formula.h
  include/num_collect/ode/runge_kutta/ros34pw3_formula.h
  include/num_collect/ode/runge_kutta/ros3w_formula.h
  include/num_collect/ode/runge_kutta/semi_implicit_formula_solver.h
  include/num_collect/ode/runge_kutta/tanaka1_formula.h
  include/num_collect/ode/runge_kutta/tanaka2_formula.h
  problems/include/num_prob_collect/ode/exponential_problem.h
  problems/include/num_prob_collect/ode/external_force_vibration_problem.h
  problems/include/num_prob_collect/ode/free_fall_in_resistance_problem.h
  problems/include/num_prob_collect/ode/pendulum_movement_problem.h
  problems/include/num_prob_collect/ode/spring_movement_problem.h
  test/units/ode/embedded_solver_test.cpp
  test/units/ode/evaluation_type_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Applied IWYU to ode module.
  include/num_collect/ode/concepts/differentiable_problem.h
  include/num_collect/ode/concepts/problem.h
  test/units/ode/evaluation_type_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:books: Modeling of classes for automatic step size calculation.
  doc/sphinx/src/basic_design/ode.rst
Due: none

:books: Separate files of UMLs for ODE module.
  .devcontainer/devcontainer.json
  doc/sphinx/src/basic_design/ode.rst
  doc/sphinx/src/basic_design/uml/ode/runge-kutta/embedded_formulas.puml
  doc/sphinx/src/basic_design/uml/ode/runge-kutta/formula_and_problems.puml
  doc/sphinx/src/basic_design/uml/ode/runge-kutta/implicit_formulas.puml
Due: none

:sparkles: Add error_tolerances.
  .vscode/settings.json
  doc/articles.bib
  include/num_collect/ode/runge_kutta/error_tolerances.h
  test/units/ode/runge_kutta/error_tolerances_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:wrench: Refactor CI configuration.
  .gitlab-ci.yml
  .vscode/settings.json
Due: none

:recycle: Change namespace of error_tolerances.
  include/num_collect/ode/error_tolerances.h
  test/units/ode/error_tolerances_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add step_size_limit.
  .vscode/settings.json
  doc/sphinx/src/basic_design/uml/ode/runge-kutta/embedded_formulas.puml
  include/num_collect/ode/error_tolerances.h
  include/num_collect/ode/step_size_limits.h
  test/units/ode/source_list.cmake
  test/units/ode/step_size_limits_test.cpp
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add scalar verison of error_tolerances.
  include/num_collect/ode/error_tolerances.h
  test/units/ode/error_tolerances_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Add step_size_controller concept.
  doc/sphinx/src/basic_design/uml/ode/runge-kutta/embedded_formulas.puml
  include/num_collect/ode/concepts/step_size_controller.h
Due: clang-format

:sparkles: Add basic_step_size_controller.
  include/num_collect/base/exception.h
  include/num_collect/ode/basic_step_size_controller.h
  include/num_collect/ode/concepts/embedded_formula.h
  include/num_collect/ode/concepts/step_size_controller.h
  test/units/base/exception_test.cpp
  test/units/ode/basic_step_size_controller_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Safer implementation.
  include/num_collect/ode/basic_step_size_controller.h
  test/units/ode/basic_step_size_controller_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Use the new controller of step sizes.
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/error_tolerances.h
  test/units/ode/error_tolerances_test.cpp
  test/units/ode/runge_kutta/rkf45_formula_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Add some logs.
  include/num_collect/ode/basic_step_size_controller.h
  include/num_collect/ode/concepts/embedded_formula.h
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/error_tolerances.h
  include/num_collect/ode/step_size_limits.h
  test/units/ode/basic_step_size_controller_test.cpp
  test/units/ode/error_tolerances_test.cpp
  test/units/ode/step_size_limits_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:zap: Check that stiff equations can be solved using the controller of step sizes.
  test/bench/ode/free_fall_in_resistance_test.cpp
Due: clang-format

:recycle: Use better exceptions.
  include/num_collect/logging/impl/load_logging_config_toml.h
  include/num_collect/logging/iteration_logger.h
  include/num_collect/logging/log_tag_config.h
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/regularization/full_gen_tikhonov.h
  include/num_collect/util/bidirectional_vector.h
  include/num_collect/util/format_dense_matrix.h
  include/num_collect/util/format_sparse_matrix.h
Due: clang-format

:bug: Remove accidentally added file.
  include/num_collect/ode/runge_kutta/error_tolerances.h
Due: clang-format

:recycle: Separate large function.
  include/num_collect/ode/basic_step_size_controller.h
Due: clang-format

:recycle: Check size of inputs.
  include/num_collect/ode/error_tolerances.h
Due: clang-format

:recycle: Remove unnecessary assignment.
  include/num_collect/ode/step_size_limits.h
Due: clang-format

:wrench: Reduce the size of artifacts in CI.
  .gitlab-ci.yml
Due: none

:wrench: Output coverage data in lcov's format.
  scripts/collect_llvm_coverage.sh
Due: none

:wrench: Remove unnecessary reinstallation of ccache.
  .gitlab-ci.yml
Due: none

:wrench: Try to use coverage report from clang build.
  .gitlab-ci.yml
Due: none

:wrench: Try to extract coverage value from CI log.
  .gitlab-ci.yml
Due: none

:wrench: Change the regular expression.
  .gitlab-ci.yml
Due: none

:wrench: Re-enable commntted-out code.
  .gitlab-ci.yml
Due: none

:wrench: Update packages.
  Pipfile.lock
Due: none

:sparkles: Add initial_step_size_calculator.
  include/num_collect/ode/basic_step_size_controller.h
  include/num_collect/ode/impl/get_least_known_order.h
  include/num_collect/ode/initial_step_size_calculator.h
  test/units/ode/approvals/initial_step_size_calculator_test.num_collect__ode__initial_step_size_calculator(actual_problem).exponential_problem_with_RKF45_formula.approved.txt
  test/units/ode/approvals/initial_step_size_calculator_test.num_collect__ode__initial_step_size_calculator(actual_problem).pendulum_problem_with_ROS3w_formula.approved.txt
  test/units/ode/basic_step_size_controller_test.cpp
  test/units/ode/impl/get_least_known_order_test.cpp
  test/units/ode/initial_step_size_calculator_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Use initial_step_size_calculator to remove a magic number for default initial step sizes.
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/non_embedded_formula_wrapper.h
Due: clang-format

:recycle: Applied IWYU to ode module.
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/impl/get_least_known_order.h
  include/num_collect/ode/initial_step_size_calculator.h
  test/units/ode/basic_step_size_controller_test.cpp
  test/units/ode/impl/get_least_known_order_test.cpp
  test/units/ode/initial_step_size_calculator_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Prevent unnecessary copy.
  include/num_collect/ode/initial_step_size_calculator.h
Due: clang-format

:books: Show coverage in CI using clang.
  .gitlab-ci.yml
  README.md
Due: none

:wrench: Include all tests in coverage.
  scripts/collect_llvm_coverage.sh
Due: none
