Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        entry: pipenv run cmake-format -i
      - id: update-unity-source-in-unit-test
        name: update-unity-source-in-unit-test
        description: Update the source code for the unity build of unit tests.
        language: system
        files: test/units/.*\.cpp$
        entry: pipenv run python test/units/create_unity_file.py

:wrench: Fix CI commands.
  .devcontainer/devcontainer.json
  .devcontainer/setup.bash
  .gitlab-ci.yml
Due: none

:wrench: Fix CI commands.
  .gitlab-ci.yml
Due: none

:books: Update CHANGELOG.
  CHANGELOG.md
Due: none

:recycle: Faster implementation of should_log function.
  include/num_collect/logging/logger.h
Due: clang-format

:recycle: Faster implementation of log_tag_config.
  Pipfile.lock
  conanfile.py
  include/num_collect/logging/impl/log_tag_config_tree.h
Due: clang-format

:wrench: Use Conan package of Catch2 3.0.1 newly added to Conan Center.
  conanfile.py
Due: none

:wrench: Change location of .conan directory in CI on MSVC.
  .gitlab-ci.yml
Due: none

:wrench: Try different procedure to ignore errors.
  .gitlab-ci.yml
Due: none

:wrench: :construction: Try to install Ccache in CI for MSVC.
  .gitlab-ci.yml
Due: none

:wrench: Use Ccache in CI with MSVC.
  .gitlab-ci.yml
Due: none

:wrench: Use cache of build directory for CI with MSVC.
  .gitlab-ci.yml
Due: none

:wrench: Remove unnecessary lines.
  .gitlab-ci.yml
Due: none

:wrench: Update Docker images.
  .devcontainer/Dockerfile
  .gitlab-ci.yml
Due: none

:wrench: Update Python packages.
  Pipfile.lock
Due: none

:wrench: Add bibtex for sphinx to parse .bib files.
  .devcontainer/Dockerfile
Due: none

:sparkles: Add concept of optimizers.
  include/num_collect/base/concepts/iterative_solver.h
  include/num_collect/opt/concepts/optimizer.h
  test/units/opt/adaptive_diagonal_curves_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Check concept of optimizers.
  include/num_collect/opt/bfgs_optimizer.h
  include/num_collect/opt/descent_method_base.h
  include/num_collect/opt/golden_section_search.h
  include/num_collect/opt/heuristic_global_optimizer.h
  test/units/opt/backtracking_line_searcher_test.cpp
  test/units/opt/bfgs_optimizer_test.cpp
  test/units/opt/conjugate_gradient_optimizer_test.cpp
  test/units/opt/dfp_optimizer_test.cpp
  test/units/opt/dividing_rectangles_test.cpp
  test/units/opt/downhill_simplex_test.cpp
  test/units/opt/golden_section_search_test.cpp
  test/units/opt/heuristic_global_optimizer_test.cpp
  test/units/opt/newton_optimizer_test.cpp
  test/units/opt/sampling_optimizer_test.cpp
  test/units/opt/steepest_descent_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:sparkles: Add box_constrained_optimizer, descent_method concepts.
  include/num_collect/opt/concepts/box_constrained_optimizer.h
  include/num_collect/opt/concepts/descent_method.h
  include/num_collect/opt/concepts/optimizer.h
  test/units/opt/adaptive_diagonal_curves_test.cpp
  test/units/opt/bfgs_optimizer_test.cpp
  test/units/opt/conjugate_gradient_optimizer_test.cpp
  test/units/opt/dfp_optimizer_test.cpp
  test/units/opt/dividing_rectangles_test.cpp
  test/units/opt/golden_section_search_test.cpp
  test/units/opt/heuristic_global_optimizer_test.cpp
  test/units/opt/newton_optimizer_test.cpp
  test/units/opt/sampling_optimizer_test.cpp
  test/units/opt/steepest_descent_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:white_check_mark: Add test of Legendre function on runtime.
  test/units/functions/compile_time_legendre_test.cpp
  test/units/functions/source_list.cmake
  test/units/functions/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:white_check_mark: Add test of invalid condition.
  test/units/functions/legendre_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:bug: Add required include.
  test/units/functions/legendre_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:wrench: Temporarily disable CI with MSVC.
  .gitlab-ci.yml
Due: none

:recycle: Faster execution of unit test of ode module.
  test/units/ode/runge_kutta/implicit_euler_formula_test.cpp
  test/units/ode/runge_kutta/tanaka1_formula_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:wrench: Add Covertuna coverage report in CI.
  .gitlab-ci.yml
Due: none

:wrench: Add a script to run IWYU.
  .vscode/settings.json
  Pipfile
  Pipfile.lock
  scripts/check_iwyu.py
Due: none

:recycle: Apply IWYU to constants module.
  .vscode/settings.json
  include/num_collect/constants/ceil.h
  include/num_collect/constants/exp.h
  include/num_collect/constants/expm1.h
  include/num_collect/constants/floor.h
  include/num_collect/constants/impl/exp_maclaurin.h
  include/num_collect/constants/impl/expm1_maclaurin.h
  include/num_collect/constants/impl/log1m_maclaurin.h
  include/num_collect/constants/impl/pow_pos_int.h
  include/num_collect/constants/log.h
  include/num_collect/constants/log1p.h
  include/num_collect/constants/pow.h
  include/num_collect/constants/root.h
  include/num_collect/constants/sqrt.h
  include/num_collect/constants/trunc.h
  iwyu_mappings.imp
  scripts/check_iwyu.py
  test/units/constants/cbrt_test.cpp
  test/units/constants/ceil_test.cpp
  test/units/constants/exp_test.cpp
  test/units/constants/expm1_test.cpp
  test/units/constants/floor_test.cpp
  test/units/constants/half_test.cpp
  test/units/constants/impl/exp_maclaurin_test.cpp
  test/units/constants/impl/expm1_maclaurin_test.cpp
  test/units/constants/impl/log1m_maclaurin_test.cpp
  test/units/constants/impl/pow_pos_int_test.cpp
  test/units/constants/log1p_test.cpp
  test/units/constants/log_test.cpp
  test/units/constants/napier_test.cpp
  test/units/constants/one_test.cpp
  test/units/constants/pi_test.cpp
  test/units/constants/pow_test.cpp
  test/units/constants/root_test.cpp
  test/units/constants/sqrt_test.cpp
  test/units/constants/trunc_test.cpp
  test/units/constants/zero_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Apply IWYU to logging module.
  include/num_collect/logging/impl/iteration_layer_handler.h
  include/num_collect/logging/impl/load_logging_config_toml.h
  include/num_collect/logging/impl/log_formatter.h
  include/num_collect/logging/impl/log_tag_config_tree.h
  include/num_collect/logging/impl/separate_top_log_tag_element.h
  include/num_collect/logging/iteration_logger.h
  include/num_collect/logging/load_logging_config.h
  include/num_collect/logging/log_tag_config.h
  include/num_collect/logging/log_tag_view.h
  include/num_collect/logging/logger.h
  include/num_collect/logging/simple_log_sink.h
  iwyu_mappings.imp
  scripts/check_iwyu.py
  test/include/trompeloeil_catch2.h
  test/units/logging/impl/iteration_layer_handler_test.cpp
  test/units/logging/impl/load_logging_config_toml_test.cpp
  test/units/logging/impl/log_formatter_test.cpp
  test/units/logging/impl/log_tag_config_tree_test.cpp
  test/units/logging/impl/separate_top_log_tag_element_test.cpp
  test/units/logging/iteration_logger_test.cpp
  test/units/logging/load_logging_config_test.cpp
  test/units/logging/log_config_test.cpp
  test/units/logging/log_level_test.cpp
  test/units/logging/log_tag_config_test.cpp
  test/units/logging/logger_test.cpp
  test/units/logging/logging_mixin_test.cpp
  test/units/logging/simple_log_sink_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Applied IWYU to auto_diff module.
  .vscode/settings.json
  include/num_collect/auto_diff/backward/create_diff_variable.h
  include/num_collect/auto_diff/backward/differentiate.h
  include/num_collect/auto_diff/backward/graph/node.h
  include/num_collect/auto_diff/backward/graph/node_differentiator.h
  include/num_collect/auto_diff/backward/variable.h
  include/num_collect/auto_diff/backward/variable_math.h
  include/num_collect/auto_diff/forward/create_diff_variable.h
  include/num_collect/auto_diff/forward/make_jacobian.h
  include/num_collect/auto_diff/forward/variable.h
  include/num_collect/auto_diff/forward/variable_math.h
  iwyu_mappings.imp
  scripts/check_iwyu.py
  test/units/auto_diff/backward/create_diff_variable_test.cpp
  test/units/auto_diff/backward/differentiate_test.cpp
  test/units/auto_diff/backward/graph/node_differentiator_test.cpp
  test/units/auto_diff/backward/graph/node_test.cpp
  test/units/auto_diff/backward/variable_math_test.cpp
  test/units/auto_diff/backward/variable_test.cpp
  test/units/auto_diff/forward/create_diff_variable_test.cpp
  test/units/auto_diff/forward/make_jacobian_test.cpp
  test/units/auto_diff/forward/variable_math_test.cpp
  test/units/auto_diff/forward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Applied IWYU to opt module.
  include/num_collect/opt/adaptive_diagonal_curves.h
  include/num_collect/opt/backtracking_line_searcher.h
  include/num_collect/opt/bfgs_optimizer.h
  include/num_collect/opt/conjugate_gradient_optimizer.h
  include/num_collect/opt/dfp_optimizer.h
  include/num_collect/opt/dividing_rectangles.h
  include/num_collect/opt/downhill_simplex.h
  include/num_collect/opt/golden_section_search.h
  include/num_collect/opt/heuristic_global_optimizer.h
  include/num_collect/opt/impl/ternary_vector.h
  include/num_collect/opt/newton_optimizer.h
  include/num_collect/opt/sampling_optimizer.h
  include/num_collect/opt/steepest_descent.h
  iwyu_mappings.imp
  test/units/opt/adaptive_diagonal_curves_test.cpp
  test/units/opt/backtracking_line_searcher_test.cpp
  test/units/opt/bfgs_optimizer_test.cpp
  test/units/opt/conjugate_gradient_optimizer_test.cpp
  test/units/opt/dfp_optimizer_test.cpp
  test/units/opt/dividing_rectangles_test.cpp
  test/units/opt/downhill_simplex_test.cpp
  test/units/opt/function_object_wrapper_test.cpp
  test/units/opt/golden_section_search_test.cpp
  test/units/opt/heuristic_global_optimizer_test.cpp
  test/units/opt/impl/ternary_vector_test.cpp
  test/units/opt/newton_optimizer_test.cpp
  test/units/opt/sampling_optimizer_test.cpp
  test/units/opt/steepest_descent_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:wrench: Include other headers in this project in checks.
  scripts/check_iwyu.py
Due: none

:recycle: Re-applied IWYU to base, util, logging modules.
  include/num_collect/logging/colored_console_log_sink.h
  include/num_collect/logging/concepts/formattable_real_scalar.h
  include/num_collect/logging/impl/colored_log_formatter.h
  include/num_collect/logging/log_sink_base.h
  include/num_collect/util/assert.h
  include/num_collect/util/impl/assertion_decomposer.h
  include/num_collect/util/impl/compiler_builtins.h
  problems/include/num_prob_collect/opt/vibrated_quadratic_function.h
Due: clang-format

:recycle: Re-applied IWYU to auto_diff module.
  include/num_collect/auto_diff/backward/differentiate.h
  include/num_collect/util/safe_cast.h
Due: clang-format

:recycle: Re-applied IWYU to opt module.
  include/num_collect/base/concepts/iterative_solver.h
  include/num_collect/base/concepts/reference_of.h
  include/num_collect/base/concepts/same_as.h
  include/num_collect/base/iterative_solver_base.h
  include/num_collect/opt/concepts/box_constrained_optimizer.h
  include/num_collect/opt/concepts/descent_method.h
  include/num_collect/opt/concepts/differentiable_objective_function.h
  include/num_collect/opt/concepts/line_searcher.h
  include/num_collect/opt/concepts/multi_variate_differentiable_objective_function.h
  include/num_collect/opt/concepts/multi_variate_objective_function.h
  include/num_collect/opt/concepts/multi_variate_twice_differentiable_objective_function.h
  include/num_collect/opt/concepts/objective_function.h
  include/num_collect/opt/concepts/optimizer.h
  include/num_collect/opt/concepts/single_variate_objective_function.h
  include/num_collect/opt/concepts/twice_differentiable_objective_function.h
  include/num_collect/opt/descent_method_base.h
  include/num_collect/opt/optimizer_base.h
  problems/include/num_prob_collect/opt/vibrated_quadratic_function.h
Due: clang-format

:recycle: Applied IWYU to interp module.
  include/num_collect/interp/kernel/calc_kernel_mat.h
  include/num_collect/interp/kernel/concepts/distance.h
  include/num_collect/interp/kernel/concepts/kernel.h
  include/num_collect/interp/kernel/concepts/rbf.h
  include/num_collect/interp/kernel/euclidean_distance.h
  include/num_collect/interp/kernel/impl/auto_regularizer.h
  include/num_collect/interp/kernel/impl/auto_regularizer_wrapper.h
  include/num_collect/interp/kernel/impl/kernel_coeff_solver.h
  include/num_collect/interp/kernel/impl/kernel_parameter_optimizer.h
  include/num_collect/interp/kernel/impl/self_adjoint_kernel_solver.h
  include/num_collect/interp/kernel/kernel_interpolator.h
  include/num_collect/interp/kernel/rbf_kernel.h
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/implicit_regularized_solver_base.h
  include/num_collect/regularization/iterative_regularized_solver_base.h
  iwyu_mappings.imp
  problems/include/num_prob_collect/regularization/sparse_blur_matrix.h
  scripts/check_iwyu.py
  test/units/interp/kernel/calc_kernel_mat_test.cpp
  test/units/interp/kernel/euclidean_distance_test.cpp
  test/units/interp/kernel/gaussian_rbf_test.cpp
  test/units/interp/kernel/impl/auto_regularizer_test.cpp
  test/units/interp/kernel/impl/auto_regularizer_wrapper_test.cpp
  test/units/interp/kernel/impl/kernel_parameter_optimizer_test.cpp
  test/units/interp/kernel/impl/self_adjoint_kernel_solver_test.cpp
  test/units/interp/kernel/kernel_interpolator_test.cpp
  test/units/interp/kernel/rbf_kernel_test.cpp
  test/units/regularization/fista_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Applied IWYU to numbers, multi_double modules.
  include/num_collect/base/concepts/signed_integral.h
  include/num_collect/multi_double/impl/basic_operations.h
  include/num_collect/multi_double/quad.h
  include/num_collect/numbers/custom_float.h
  test/units/multi_double/basic_operations_test.cpp
  test/units/multi_double/quad_test.cpp
  test/units/numbers/custom_float_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Applied IWYU to roots module.
  include/num_collect/roots/concepts/differentiable_function.h
  include/num_collect/roots/concepts/function.h
  include/num_collect/roots/concepts/multi_variate_differentiable_function.h
  include/num_collect/roots/concepts/single_variate_differentiable_function.h
  include/num_collect/roots/function_root_finder_base.h
  include/num_collect/roots/newton_raphson.h
  iwyu_mappings.imp
  problems/include/num_prob_collect/roots/cubic_root_test_function.h
  problems/include/num_prob_collect/roots/double_cubic_test_function.h
  test/units/roots/newton_raphson_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Applied IWYU to functions module.
  .vscode/settings.json
  include/num_collect/functions/legendre.h
  include/num_collect/functions/legendre_roots.h
  iwyu_mappings.imp
  test/units/functions/compile_time_legendre_test.cpp
  test/units/functions/legendre_roots_test.cpp
  test/units/functions/legendre_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Applied IWYU to integration module.
  include/num_collect/integration/de_finite_integrator.h
  include/num_collect/integration/de_infinite_integrator.h
  include/num_collect/integration/de_semi_infinite_integrator.h
  include/num_collect/integration/gauss_legendre_integrator.h
  include/num_collect/integration/gauss_legendre_kronrod_integrator.h
  test/units/integration/de_finite_integrator_test.cpp
  test/units/integration/de_infinite_integrator_test.cpp
  test/units/integration/de_semi_infinite_integrator_test.cpp
  test/units/integration/gauss_legendre_integrator_test.cpp
  test/units/integration/gauss_legendre_kronrod_integrator_test.cpp
Due: clang-format, update-unity-source-in-unit-test
