Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        entry: pipenv run cmake-format -i
      - id: update-unity-source-in-unit-test
        name: update-unity-source-in-unit-test
        description: Update the source code for the unity build of unit tests.
        language: system
        files: test/units/.*\.cpp$
        entry: pipenv run python test/units/create_unity_file.py

doc: update README
  README.md
Due: none

doc: add documentation for building this library
  Pipfile
  doc/sphinx/src/conf.py
  doc/sphinx/src/how_to_build_in_repository.md
  doc/sphinx/src/how_to_use.md
  doc/sphinx/src/index.rst
Due: none

doc: add a URL for Git repository
  doc/sphinx/src/index.rst
Due: none

doc: add module documentation
  doc/sphinx/src/modules.rst
Due: none

doc: update version
  .gitlab-ci.yml
  CMakeLists.txt
  conanfile.py
Due: cmake-format

doc: add change log
  CHANGELOG.md
Due: none

chore: remove CDash from CI
  .gitlab-ci.yml
  CTestConfig.cmake
Due: cmake-format

chore: option to build documentation of doxygen only in cmake-tools for faster build
  .vscode/cmake-variants.yaml
Due: none

feat: write basic structure of variable
  doc/doxygen/namespaces.h
  include/num_collect/auto_diff/forward/variable.h
  test/units/CMakeLists.txt
  test/units/auto_diff/CMakeLists.txt
  test/units/auto_diff/forward/variable_test.cpp
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

doc: update documentation
  doc/sphinx/src/api/auto_diff/forward.rst
  doc/sphinx/src/api/auto_diff/index.rst
  doc/sphinx/src/api/index.rst
  doc/sphinx/src/modules.rst
Due: none

feat: create_diff_variable helper function
  include/num_collect/auto_diff/forward/variable.h
  test/units/auto_diff/forward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

doc: add a citation
  doc/articles.bib
  include/num_collect/auto_diff/forward/variable.h
Due: clang-format

doc: update module relation
  doc/sphinx/src/modules.rst
Due: none

style: fix warnings in clang-tidy
  test/units/auto_diff/forward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: in-place addition and subtraction of variable class
  include/num_collect/auto_diff/forward/variable.h
  test/units/auto_diff/forward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: in-place multiplication of variable class
  include/num_collect/auto_diff/forward/variable.h
  test/units/auto_diff/forward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: in-place division of variable class
  include/num_collect/auto_diff/forward/variable.h
  test/units/auto_diff/forward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: arithmetic operations of variables
  include/num_collect/auto_diff/forward/variable.h
  test/units/auto_diff/forward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: in-place arithmetic operands of variable and value
  include/num_collect/auto_diff/forward/variable.h
  test/units/auto_diff/forward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: arithmetic operations of variable and value
  include/num_collect/auto_diff/forward/variable.h
  test/units/auto_diff/forward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

test: test of arithmetic operations of variable with vectors
  test/units/auto_diff/forward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: support of use of variable class in Eigen's matrices
  include/num_collect/auto_diff/forward/variable.h
  test/units/auto_diff/forward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

doc: remove API reference of Sphinx and use one of Doxygen
  .vscode/cmake-variants.yaml
  Pipfile
  doc/CMakeLists.txt
  doc/doxygen/CMakeLists.txt
  doc/sphinx/CMakeLists.txt
  doc/sphinx/src/api/auto_diff/forward.rst
  doc/sphinx/src/api/auto_diff/index.rst
  doc/sphinx/src/api/base.rst
  doc/sphinx/src/api/constants.rst
  doc/sphinx/src/api/functions.rst
  doc/sphinx/src/api/index.rst
  doc/sphinx/src/api/integration.rst
  doc/sphinx/src/api/multi_double.rst
  doc/sphinx/src/api/ode/avf.rst
  doc/sphinx/src/api/ode/index.rst
  doc/sphinx/src/api/ode/runge_kutta.rst
  doc/sphinx/src/api/opt.rst
  doc/sphinx/src/api/reference.rst
  doc/sphinx/src/api/roots.rst
  doc/sphinx/src/conf.py
  doc/sphinx/src/index.rst
  doc/sphinx/start_auto_build.sh.in
Due: cmake-format

chore: update GitLab page
  .gitlab-ci.yml
  README.md
Due: none

doc: fix link
  doc/sphinx/src/index.rst
Due: none

doc: basic design of backward-mode automatic differentiation
  doc/sphinx/src/basic_design/auto_diff.rst
  doc/sphinx/src/basic_design/index.rst
Due: none

doc: documentation of namespaces for backward-mode automatic differentiation
  doc/doxygen/namespaces.h
Due: clang-format

feat: write node class for backward-mode automatic differentiation
  doc/sphinx/src/basic_design/auto_diff.rst
  include/num_collect/auto_diff/backward/graph/node.h
  test/units/auto_diff/CMakeLists.txt
  test/units/auto_diff/backward/graph/node_test.cpp
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

feat: implement node_differentiator class to compute differential coefficients for nodes
  include/num_collect/auto_diff/backward/graph/node.h
  include/num_collect/auto_diff/backward/graph/node_differentiator.h
  test/units/auto_diff/CMakeLists.txt
  test/units/auto_diff/backward/graph/node_differentiator_test.cpp
  test/units/auto_diff/backward/graph/node_test.cpp
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

feat: helper function to create nodes
  include/num_collect/auto_diff/backward/graph/node.h
  test/units/auto_diff/backward/graph/node_differentiator_test.cpp
  test/units/auto_diff/backward/graph/node_test.cpp
Due: clang-format, update-unity-source-in-unit-test

test: additional tests of node_differentiator class
  test/units/auto_diff/backward/graph/node_differentiator_test.cpp
Due: clang-format, update-unity-source-in-unit-test

fix: assertion to check nullptr
  include/num_collect/auto_diff/backward/graph/node.h
  include/num_collect/auto_diff/backward/graph/node_differentiator.h
  include/num_collect/auto_diff/backward/variable.h
  test/units/auto_diff/backward/graph/node_differentiator_test.cpp
  test/units/auto_diff/backward/graph/node_test.cpp
Due: clang-format, update-unity-source-in-unit-test

refactor: remove unused function
  include/num_collect/auto_diff/backward/graph/node_differentiator.h
Due: clang-format

feat: basic structure of variable class
  include/num_collect/auto_diff/backward/graph/node_differentiator.h
  include/num_collect/auto_diff/backward/variable.h
  test/units/auto_diff/CMakeLists.txt
  test/units/auto_diff/backward/variable_test.cpp
  test/units/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

feat: addition of variables
  include/num_collect/auto_diff/backward/variable.h
  test/units/auto_diff/backward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

refactor: use implicit convertion to ease implementation
  include/num_collect/auto_diff/backward/variable.h
Due: clang-format

feat: subtraction of variable class
  include/num_collect/auto_diff/backward/variable.h
  test/units/auto_diff/backward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

feat: multiplication operator for variable class
  include/num_collect/auto_diff/backward/variable.h
  test/units/auto_diff/backward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

test: self-assignment test of variable class
  test/units/auto_diff/backward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

perf: self-assigment in variable class
  include/num_collect/auto_diff/backward/variable.h
  test/units/auto_diff/backward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test
