Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: poetry run cmake-format -i

update-source-list:
  name: update-source-list
  description: Update the list of source codes.
  language: system
  entry: poetry run python scripts/update_source_list.py

:books: Add some logging to examples.
  examples/regularization/ct_simulation_common.h
Due: clang-format, update-source-list

:books: Update README.
  README.md
Due: none

:recycle: Remove is_eigen_vector, is_eigen_matrix classes.
  include/num_collect/ode/embedded_solver.h
  include/num_collect/opt/dividing_rectangles.h
  include/num_collect/opt/gaussian_process_optimizer.h
  include/num_collect/util/is_eigen_matrix.h
  include/num_collect/util/is_eigen_vector.h
  test/units/util/is_eigen_matrix_test.cpp
  test/units/util/is_eigen_vector_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, update-source-list

:wrench: Update dependencies.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:books: Document what kind of matrices can be solved in linear solvers.
  doc/sphinx/src/algorithm_list.md
  include/num_collect/linear/algebraic_multigrid_solver.h
  include/num_collect/linear/amg_preconditioner.h
  include/num_collect/linear/cuthill_mckee_ordering.h
  include/num_collect/linear/gauss_seidel_iterative_solver.h
  include/num_collect/linear/impl/operator_conjugate_gradient.h
  include/num_collect/linear/parallel_symmetric_successive_over_relaxation.h
  include/num_collect/linear/reverse_cuthill_mckee_ordering.h
  include/num_collect/linear/symmetric_successive_over_relaxation.h
Due: clang-format, update-source-list

:alembic: Tune benchmark of sparse linear equations in ODE.
  test/bench/ode/sparse_linear_equation_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Add tests of quick_two_sum function with random numbers.
  cspell.json
  test/units/multi_double/basic_operations_test.cpp
  test/units/multi_double/quick_two_sum_calc.py
Due: clang-format, update-source-list

:white_check_mark: Test of two_sum function with random numbers.
  test/units/multi_double/basic_operations_test.cpp
  test/units/multi_double/quad_test_utils.py
  test/units/multi_double/two_sum_calc.py
Due: clang-format, update-source-list

:white_check_mark: Test of two_prod function with random numbers.
  test/units/multi_double/basic_operations_test.cpp
  test/units/multi_double/two_prod_calc.py
Due: clang-format, update-source-list

:white_check_mark: Tests of addition and subtraction of quad class with random numbers.
  cspell.json
  test/units/multi_double/generate_random_quad.py
  test/units/multi_double/quad_minus_quad_calc.py
  test/units/multi_double/quad_plus_quad_calc.py
  test/units/multi_double/quad_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Add tests of remaining arithmetic operations of quad class with random numbers.
  include/num_collect/multi_double/quad.h
  test/units/multi_double/quad_divided_by_quad_calc.py
  test/units/multi_double/quad_test.cpp
  test/units/multi_double/quad_times_quad_calc.py
Due: clang-format, update-source-list

:recycle: Review multi_double module.
  cspell.json
  doc/articles.bib
  include/num_collect/multi_double/impl/basic_operations.h
  include/num_collect/multi_double/quad.h
  test/bench/multi_double/two_prod_test.cpp
  test/units/multi_double/basic_operations_test.cpp
Due: clang-format, update-source-list

:sparkles: Move utility functions for tests to scripts/num_collect_test_utils.
  pyproject.toml
  scripts/num_collect_test_utils/__init__.py
  scripts/num_collect_test_utils/multi_double/__init__.py
  scripts/num_collect_test_utils/multi_double/generate_random_quad.py
  scripts/num_collect_test_utils/multi_double/py.typed
  scripts/num_collect_test_utils/multi_double/split_quad.py
  scripts/num_collect_test_utils/py.typed
  test/units/multi_double/quad_divided_by_quad_calc.py
  test/units/multi_double/quad_minus_quad_calc.py
  test/units/multi_double/quad_plus_quad_calc.py
  test/units/multi_double/quad_times_quad_calc.py
  test/units/multi_double/quick_two_sum_calc.py
  test/units/multi_double/two_prod_calc.py
  test/units/multi_double/two_sum_calc.py
Due: none

:recycle: Move tests to corresponding impl directory.
  test/units/multi_double/impl/basic_operations_test.cpp
  test/units/multi_double/impl/quick_two_sum_calc.py
  test/units/multi_double/impl/two_prod_calc.py
  test/units/multi_double/impl/two_sum_calc.py
  test/units/multi_double/source_list.cmake
  test/units/multi_double/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Addition and subtraction of quad and other scalars.
  include/num_collect/multi_double/quad.h
  scripts/num_collect_test_utils/multi_double/generate_random_double.py
  test/units/multi_double/quad_minus_double_calc.py
  test/units/multi_double/quad_plus_double_calc.py
  test/units/multi_double/quad_test.cpp
Due: clang-format, update-source-list

:sparkles: Multiply and divide quad number with other scalars.
  include/num_collect/multi_double/quad.h
  test/units/multi_double/double_divided_by_quad_calc.py
  test/units/multi_double/quad_divided_by_double_calc.py
  test/units/multi_double/quad_test.cpp
  test/units/multi_double/quad_times_double_calc.py
Due: clang-format, update-source-list

:sparkles: Compare quad numbers.
  include/num_collect/multi_double/quad.h
  test/units/multi_double/impl/basic_operations_test.cpp
  test/units/multi_double/quad_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Test to compare quad numbers and double numbers.
  test/units/multi_double/quad_test.cpp
Due: clang-format, update-source-list

:sparkles: abs function for quad class.
  include/num_collect/multi_double/quad_math.h
  test/units/multi_double/quad_math_test.cpp
  test/units/multi_double/source_list.cmake
  test/units/multi_double/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: Add sqrt function for quad class.
  include/num_collect/multi_double/quad_math.h
  test/units/multi_double/format_quad_for_test.h
  test/units/multi_double/quad_approx.h
  test/units/multi_double/quad_math_test.cpp
  test/units/multi_double/quad_math_test_calc/quad_sqrt_calc.py
  test/units/multi_double/quad_test.cpp
  test/units/multi_double/quad_test_calc/double_divided_by_quad_calc.py
  test/units/multi_double/quad_test_calc/quad_divided_by_double_calc.py
  test/units/multi_double/quad_test_calc/quad_divided_by_quad_calc.py
  test/units/multi_double/quad_test_calc/quad_minus_double_calc.py
  test/units/multi_double/quad_test_calc/quad_minus_quad_calc.py
  test/units/multi_double/quad_test_calc/quad_plus_double_calc.py
  test/units/multi_double/quad_test_calc/quad_plus_quad_calc.py
  test/units/multi_double/quad_test_calc/quad_times_double_calc.py
  test/units/multi_double/quad_test_calc/quad_times_quad_calc.py
Due: clang-format, update-source-list

:construction: Add expm1, exp using Maclaurin series for quad.
  include/num_collect/multi_double/impl/quad_exp_impl.h
  include/num_collect/multi_double/quad.h
  test/units/multi_double/impl/basic_operations_calc/quick_two_sum_calc.py
  test/units/multi_double/impl/basic_operations_calc/two_prod_calc.py
  test/units/multi_double/impl/basic_operations_calc/two_sum_calc.py
  test/units/multi_double/impl/basic_operations_test.cpp
  test/units/multi_double/impl/quad_exp_impl_calc/quad_exp_maclaurin_calc.py
  test/units/multi_double/impl/quad_exp_impl_calc/quad_expm1_maclaurin_calc.py
  test/units/multi_double/impl/quad_exp_impl_test.cpp
  test/units/multi_double/quad_math_test.cpp
  test/units/multi_double/quad_test.cpp
  test/units/multi_double/source_list.cmake
  test/units/multi_double/unity_source.cpp
Due: clang-format, update-source-list

:sparkles: exp, expm1 functions for quad class.
  include/num_collect/multi_double/impl/quad_exp_impl.h
  include/num_collect/multi_double/impl/quad_internal_constants.h
  include/num_collect/multi_double/impl/quad_ldexp_impl.h
  include/num_collect/multi_double/quad_math.h
  scripts/num_collect_test_utils/multi_double/calculate_internal_constants.py
  test/units/multi_double/impl/quad_exp_impl_test.cpp
  test/units/multi_double/impl/quad_internal_constants_test.cpp
  test/units/multi_double/impl/quad_ldexp_impl_test.cpp
  test/units/multi_double/quad_approx.h
  test/units/multi_double/quad_math_test.cpp
  test/units/multi_double/quad_math_test_calc/quad_exp_calc.py
  test/units/multi_double/quad_math_test_calc/quad_expm1_calc.py
  test/units/multi_double/source_list.cmake
  test/units/multi_double/unity_source.cpp
Due: clang-format, update-source-list

:white_check_mark: Try to fix CI error in MSVC.
  test/units/multi_double/quad_math_test.cpp
Due: clang-format, update-source-list

:recycle: Fix an error in spell checker.
  cspell.json
Due: none

:white_check_mark: Change tolerance only for MSVC.
  test/units/multi_double/quad_math_test.cpp
Due: clang-format, update-source-list

:white_check_mark: Quit unstable tests.
  test/units/multi_double/quad_math_test.cpp
  test/units/multi_double/quad_math_test_calc/quad_exp_calc.py
Due: clang-format, update-source-list

:white_check_mark: Add tests for too large and small values in exponential.
  test/units/multi_double/quad_math_test.cpp
Due: clang-format, update-source-list

:bug: Fix the implementation of sum of quad according to the original paper.
  include/num_collect/multi_double/quad.h
Due: clang-format, update-source-list

:sparkles: Add log function for quad class.
  include/num_collect/multi_double/impl/quad_log_impl.h
  include/num_collect/multi_double/quad_math.h
  test/units/multi_double/quad_math_test.cpp
  test/units/multi_double/quad_math_test_calc/quad_log_calc.py
Due: clang-format, update-source-list

:sparkles: Add log10 function for quad class.
  include/num_collect/multi_double/impl/quad_internal_constants.h
  include/num_collect/multi_double/impl/quad_log_impl.h
  include/num_collect/multi_double/quad_math.h
  scripts/num_collect_test_utils/multi_double/calculate_internal_constants.py
  test/units/multi_double/impl/quad_internal_constants_test.cpp
  test/units/multi_double/quad_math_test.cpp
  test/units/multi_double/quad_math_test_calc/quad_log10_calc.py
Due: clang-format, update-source-list

:sparkles: Add log1p function for quad class.
  include/num_collect/multi_double/impl/quad_log_impl.h
  include/num_collect/multi_double/quad_math.h
  test/units/multi_double/quad_math_test.cpp
  test/units/multi_double/quad_math_test_calc/quad_log1p_calc.py
Due: clang-format, update-source-list

:white_check_mark: Check errors of result of calculation with quad class.
  cspell.json
  test/integ/CMakeLists.txt
  test/integ/quad_math/.gitignore
  test/integ/quad_math/CMakeLists.txt
  test/integ/quad_math/calculate_quad.cpp
  test/integ/quad_math/test_quad_math.py
Due: clang-format, cmake-format, update-source-list

:white_check_mark: Add test in CTest.
  test/integ/quad_math/CMakeLists.txt
Due: cmake-format

:recycle: Fix poetry configuration to fix CI.
  poetry.lock
  pyproject.toml
Due: none

:recycle: Check whether parsing succeeded.
  test/integ/quad_math/calculate_quad.cpp
Due: clang-format, update-source-list

:bug: Fix wrong implementation.
  test/integ/quad_math/calculate_quad.cpp
Due: clang-format, update-source-list

:recycle: Fix poetry configuration for CI.
  poetry.lock
  pyproject.toml
Due: none

:recycle: Reuse input data when specified.
  test/integ/quad_math/test_quad_math.py
Due: none

:recycle: Better precision of expm1 for quad class.
  include/num_collect/multi_double/impl/quad_exp_impl.h
  include/num_collect/multi_double/impl/quad_internal_constants.h
  scripts/num_collect_test_utils/multi_double/calculate_internal_constants.py
  test/units/multi_double/quad_math_test.cpp
  test/units/multi_double/quad_math_test_calc/quad_exp_calc.py
Due: clang-format, update-source-list

:recycle: Better precision in log and log1p for quad.
  include/num_collect/multi_double/impl/quad_internal_constants.h
  include/num_collect/multi_double/impl/quad_log_impl.h
  scripts/num_collect_test_utils/multi_double/calculate_internal_constants.py
  test/units/multi_double/quad_math_test.cpp
  test/units/multi_double/quad_math_test_calc/quad_log_calc.py
Due: clang-format, update-source-list

Path conditions:
  clang-format: any of: \.(h|cpp)$, but not: \.approved\.
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$ and not (source_list.cmake) and not (\.approved\.)
  update-source-list: any of: \.(h|cpp)$, but not: \.approved\.
