Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        entry: pipenv run cmake-format -i
      - id: update-unity-source-in-unit-test
        name: update-unity-source-in-unit-test
        description: Update the source code for the unity build of unit tests.
        language: system
        files: test/units/.*\.cpp$
        entry: pipenv run python test/units/create_unity_file.py

:recycle: Add a concept of Eigen's solvers.
  .vscode/settings.json
  include/num_collect/base/concepts/eigen_solver_of.h
  include/num_collect/ode/implicit_problem_wrapper.h
  test/units/base/concepts/eigen_solver_of_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Apply eigen_solver_of concept to the existing classes.
  include/num_collect/opt/bfgs_optimizer.h
  include/num_collect/opt/dfp_optimizer.h
Due: clang-format

:recycle: Separate a static variable to pre-built module.
  .vscode/cmake-variants.yaml
  CMakeLists.txt
  cspell.json
  examples/configure_logging.h
  examples/logging/write_logs.cpp
  include/num_collect/logging/config/toml/toml_log_config_parser.h
  include/num_collect/logging/log_config.h
  include/num_collect/logging/logger.h
  profiling/logging/write_trace_logs.cpp
  scripts/update_source_list.py
  src/CMakeLists.txt
  src/num_collect/logging/log_config.cpp
  src/source_list.cmake
  src/unity_source.cpp
  test/bench/logging/iteration_logger.cpp
  test/bench/logging/write_trace_logs.cpp
  test/bench/ode/diagram_common.h
  test/integ/catch_event_listner.cpp
  test/units/catch_event_listner.cpp
  test/units/logging/config/toml/toml_log_config_parser_test.cpp
  test/units/logging/load_logging_config_test.cpp
  test/units/logging/log_config_test.cpp
  test/units/logging/logger_test.cpp
  test/units/logging/logging_mixin_test.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:wrench: Configuration to install with shared libraries.
  CMakeLists.txt
Due: cmake-format

:recycle: Separate build of log sinks.
  .clang-tidy-checker
  examples/linear/laplacian_2d_grid.cpp
  include/num_collect/logging/config/toml/toml_async_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_combined_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_console_log_sink_factory.h
  include/num_collect/logging/sinks/async_log_sink.h
  include/num_collect/logging/sinks/combined_log_sink.h
  include/num_collect/logging/sinks/simple_log_sink.h
  src/num_collect/logging/sinks/async_log_sink.cpp
  src/num_collect/logging/sinks/combined_log_sink.cpp
  src/num_collect/logging/sinks/simple_log_sink.cpp
  src/source_list.cmake
  src/unity_source.cpp
  test/bench/logging/log_sinks_test.cpp
  test/units/logging/sinks/async_log_sink_test.cpp
  test/units/logging/sinks/combined_log_sink_test.cpp
  test/units/logging/sinks/simple_log_sink_test.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:wrench: Separate the internal implementation of asynchronous logging.
  examples/logging/write_logs.cpp
  include/num_collect/logging/sinks/async_logging_worker_config.h
  src/num_collect/logging/sinks/async_log_sink.cpp
  src/num_collect/logging/sinks/async_logging_worker.cpp
  src/num_collect/logging/sinks/async_logging_worker_internal.h
  src/source_list.cmake
  src/unity_source.cpp
  test/integ/logging_test/writer_async_queue_full.cpp
  test/units/logging/sinks/async_log_sink_test.cpp
  test/units/logging/sinks/async_logging_worker_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:white_check_mark: Update approved file.
  test/integ/logging_test/approvals/file_log_test.test_async_queue_full.approved.txt
Due: none

:recycle: Make compilation of main functions faster.
  examples/linear/laplacian_2d_grid.cpp
  src/num_collect/logging/load_logging_config.cpp
  src/source_list.cmake
  src/unity_source.cpp
Due: clang-format, cmake-format

:wrench: Check use of shared libraries in CI.
  .gitlab-ci.yml
  cspell.json
Due: none

:recycle: Applied IWYU to logging module.
  examples/logging/write_logs.cpp
  include/num_collect/logging/config/toml/toml_combined_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_console_log_sink_factory.h
  include/num_collect/logging/impl/log_tag_config_tree.h
  include/num_collect/logging/impl/separate_top_log_tag_element.h
  include/num_collect/logging/iterations/function_iteration_parameter_value.h
  include/num_collect/logging/iterations/iteration_logger.h
  include/num_collect/logging/iterations/member_function_iteration_parameter_value.h
  include/num_collect/logging/sinks/async_logging_worker_config.h
  include/num_collect/logging/sinks/combined_log_sink.h
  include/num_collect/logging/sinks/file_wrapper.h
  iwyu_mappings.imp
  src/num_collect/logging/sinks/async_logging_worker.cpp
  src/num_collect/logging/sinks/simple_log_sink.cpp
  test/bench/logging/iteration_logger.cpp
  test/bench/logging/log_sinks_test.cpp
  test/bench/logging/write_trace_logs.cpp
  test/integ/logging_test/approvals/console_log_test.test_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_async_trace_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_combined_file_console_log.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_trace_log.approved.txt
  test/integ/logging_test/writer.cpp
  test/integ/logging_test/writer_async_queue_full.cpp
  test/units/logging/config/toml/toml_console_log_sink_config_parser_test.cpp
  test/units/logging/config/toml/toml_single_file_log_sink_config_parser_test.cpp
  test/units/logging/impl/is_log_tag_element_char_test.cpp
  test/units/logging/impl/iteration_layer_handler_test.cpp
  test/units/logging/impl/log_tag_config_tree_test.cpp
  test/units/logging/impl/separate_top_log_tag_element_test.cpp
  test/units/logging/iterations/function_iteration_parameter_value_test.cpp
  test/units/logging/iterations/iteration_logger_test.cpp
  test/units/logging/iterations/member_function_iteration_parameter_value_test.cpp
  test/units/logging/iterations/member_variable_iteration_parameter_value_test.cpp
  test/units/logging/iterations/variable_iteration_parameter_value_test.cpp
  test/units/logging/log_config_test.cpp
  test/units/logging/log_tag_config_test.cpp
  test/units/logging/logging_mixin_test.cpp
  test/units/logging/sinks/async_log_sink_test.cpp
  test/units/logging/sinks/combined_log_sink_test.cpp
  test/units/logging/sinks/simple_log_sink_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:recycle: Combine headers of log sinks.
  include/num_collect/logging/config/toml/toml_async_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_combined_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_console_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_single_file_log_sink_factory.h
  include/num_collect/logging/log_tag_config.h
  include/num_collect/logging/sinks/async_log_sink.h
  include/num_collect/logging/sinks/combined_log_sink.h
  include/num_collect/logging/sinks/log_sinks.h
  profiling/logging/write_trace_logs.cpp
  src/num_collect/logging/sinks/async_log_sink.cpp
  src/num_collect/logging/sinks/combined_log_sink.cpp
  src/num_collect/logging/sinks/simple_log_sink.cpp
  test/bench/logging/iteration_logger.cpp
  test/bench/logging/write_trace_logs.cpp
  test/integ/catch_event_listner.cpp
  test/units/catch_event_listner.cpp
  test/units/logging/sinks/async_log_sink_test.cpp
  test/units/logging/sinks/combined_log_sink_test.cpp
  test/units/logging/sinks/simple_log_sink_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:bug: Fix build error in CI.
  examples/logging/write_logs.cpp
Due: clang-format

:white_check_mark: Add test of async_logging_worker_config.
  test/units/logging/sinks/async_logging_worker_config_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:wrench: Update Python packages.
  poetry.lock
  pyproject.toml
Due: none

:wrench: Update vcpkg.
  vcpkg-configuration.json
Due: none

:books: Fixed "how to use".
  README.md
  doc/sphinx/src/how_to_use.md
Due: none

:wrench: Update Python packages.
  poetry.lock
Due: none

:wrench: Configure cache of vcpkg in CI.
  .gitlab-ci.yml
Due: none

:wrench: Fix CI configuration.
  .gitlab-ci.yml
Due: none

:wrench: Ignore a type of warnings added in clang-tidy which prevents expression templates.
  .clang-tidy
Due: none

:wrench: Fix build error in MSVC.
  CMakeLists.txt
  vcpkg.json
Due: cmake-format

:wrench: Update dependencies and refactor CMakeLists.txt.
  CMakeLists.txt
  poetry.lock
  vcpkg-configuration.json
Due: cmake-format

:wrench: Update environment.
  .devcontainer/Dockerfile
  .vscode/settings.json
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:wrench: Change the default branch name.
  .gitlab-ci.yml
  README.md
  vcpkg-configuration.json
Due: none

:books: Update document using sphinx-orange-book-theme.
  cspell.json
  doc/sphinx/src/conf.py
  doc/sphinx/src/directories.rst
  poetry.lock
  pyproject.toml
Due: none

:wrench: Fix installation via vcpkg.
  cmake/num-collect-config.cmake.in
Due: none

:wrench: Prepare for release v0.8.0.
  doc/sphinx/src/release_notes/index.rst
  doc/sphinx/src/release_notes/v0.8.0.md
  include/num_collect/version.h
Due: clang-format

:wrench: Update pre-commit configuration.
  .pre-commit-config.yaml
Due: none

:boom: Removed asynchronous log sink.
  config_schema/tests/conftest.py
  config_schema/tests/constants.py
  config_schema/tests/test_example_configs.py
  config_schema/tests/test_log_sink_config.py
  config_schema/v2/config_schema.json
  doc/sphinx/src/user_guide/logging/config_example.rst
  doc/sphinx/src/user_guide/logging/config_reference.rst
  examples/logging/configs/async_write_to_console_and_file.toml
  examples/logging/configs/use_async_log_sink.toml
  include/num_collect/logging/config/toml/toml_async_log_sink_config_parser.h
  include/num_collect/logging/config/toml/toml_async_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_log_config_parser.h
  include/num_collect/logging/sinks/async_logging_worker.h
  include/num_collect/logging/sinks/async_logging_worker_config.h
  include/num_collect/logging/sinks/log_sinks.h
  src/num_collect/logging/sinks/async_log_sink.cpp
  src/num_collect/logging/sinks/async_logging_worker.cpp
  src/num_collect/logging/sinks/async_logging_worker_internal.h
  src/source_list.cmake
  src/unity_source.cpp
  test/bench/logging/log_sinks_test.cpp
  test/integ/logging_test/CMakeLists.txt
  test/integ/logging_test/approvals/file_log_test.test_async_queue_full.approved.txt
  test/integ/logging_test/approvals/file_log_test.test_async_trace_log.approved.txt
  test/integ/logging_test/config/async_file_log_trace.toml
  test/integ/logging_test/file_log_test.py
  test/integ/logging_test/writer_async_queue_full.cpp
  test/units/logging/config/toml/toml_async_log_sink_config_parser_test.cpp
  test/units/logging/sinks/async_log_sink_test.cpp
  test/units/logging/sinks/async_logging_worker_config_test.cpp
  test/units/logging/sinks/combined_log_sink_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:wrench: Use updated schemas.
  config_schema/CMakeLists.txt
  examples/logging/configs/use_default_log_sink.toml
  examples/logging/configs/write_to_console_and_file.toml
  examples/logging/configs/write_to_single_file.toml
Due: cmake-format

:sparkles: Add time_stamp for use in log sinks.
  .clang-format
  include/num_collect/logging/time_stamp.h
  src/num_collect/logging/time_stamp.cpp
  src/source_list.cmake
  src/unity_source.cpp
  test/units/logging/source_list.cmake
  test/units/logging/time_stamp_test.cpp
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Implemented log_sink class.
  include/num_collect/logging/sinks/log_sink.h
  src/num_collect/logging/sinks/log_sink.cpp
  src/source_list.cmake
  src/unity_source.cpp
  test/units/logging/sinks/log_sink_test.cpp
  test/units/logging/source_list.cmake
  test/units/logging/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: :boom: Change the class of log sink to log_sink class.
  include/num_collect/logging/config/default_log_sink_factory.h
  include/num_collect/logging/config/log_sink_factory_base.h
  include/num_collect/logging/config/log_sink_factory_table.h
  include/num_collect/logging/config/toml/toml_combined_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_console_log_sink_factory.h
  include/num_collect/logging/config/toml/toml_single_file_log_sink_factory.h
  include/num_collect/logging/formatters/colored_compact_log_formatter.h
  include/num_collect/logging/formatters/compact_log_formatter.h
  include/num_collect/logging/formatters/detailed_log_formatter.h
  include/num_collect/logging/formatters/log_formatter_base.h
  include/num_collect/logging/iterations/iteration_logger.h
  include/num_collect/logging/log_tag_config.h
  include/num_collect/logging/logger.h
  include/num_collect/logging/sinks/default_log_sink.h
  include/num_collect/logging/sinks/log_sink.h
  include/num_collect/logging/sinks/log_sink_base.h
  include/num_collect/logging/sinks/log_sinks.h
  src/num_collect/logging/sinks/combined_log_sink.cpp
  src/num_collect/logging/sinks/default_log_sink.cpp
  src/num_collect/logging/sinks/simple_log_sink.cpp
  src/source_list.cmake
  src/unity_source.cpp
  test/integ/logging_test/create_scrubber.py
  test/units/logging/config/log_sink_factory_table_test.cpp
  test/units/logging/config/mock_log_sink_factory.h
  test/units/logging/config/toml/toml_combined_log_sink_config_parser_test.cpp
  test/units/logging/config/toml/toml_log_config_parser_test.cpp
  test/units/logging/formatters/approvals/colored_compact_log_formatter_test.num_collect__logging__formatters__colored_compact_log_formatter.format.approved.txt
  test/units/logging/formatters/approvals/compact_log_formatter_test.num_collect__logging__formatters__compact_log_formatter.format.approved.txt
  test/units/logging/formatters/approvals/detailed_log_formatter_test.num_collect__logging__formatters__detailed_log_formatter.format.approved.txt
  test/units/logging/formatters/colored_compact_log_formatter_test.cpp
  test/units/logging/formatters/compact_log_formatter_test.cpp
  test/units/logging/formatters/detailed_log_formatter_test.cpp
  test/units/logging/iterations/iteration_logger_test.cpp
  test/units/logging/log_tag_config_test.cpp
  test/units/logging/logger_test.cpp
  test/units/logging/mock_log_sink.h
  test/units/logging/sinks/combined_log_sink_test.cpp
  test/units/logging/sinks/simple_log_sink_test.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Change the place to implement combined_log_sink to prevent unstable ABI.
  include/num_collect/logging/sinks/combined_log_sink.h
  src/num_collect/logging/sinks/combined_log_sink.cpp
  src/source_list.cmake
  src/unity_source.cpp
Due: clang-format, cmake-format
