Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: pipenv run cmake-format -i

update-unity-source-in-unit-test:
  name: update-unity-source-in-unit-test
  description: Update the source code for the unity build of unit tests.
  language: system
  entry: pipenv run python test/units/create_unity_file.py

:recycle: Use C++ concepts in solvers in regularization module.
  include/num_collect/regularization/explicit_regularized_solver_base.h
  include/num_collect/regularization/full_gen_tikhonov.h
  include/num_collect/regularization/tikhonov.h
Due: clang-format

:recycle: Use of C++ concepts in regularization module.
  .vscode/settings.json
  include/num_collect/regularization/concepts/explicit_regularized_solver.h
  include/num_collect/regularization/explicit_gcv.h
  include/num_collect/regularization/explicit_l_curve.h
  include/num_collect/regularization/explicit_param_searcher_base.h
  include/num_collect/regularization/explicit_regularized_solver_base.h
  include/num_collect/regularization/full_gen_tikhonov.h
  include/num_collect/regularization/tikhonov.h
  test/units/regularization/full_gen_tikhonov_test.cpp
  test/units/regularization/tikhonov_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:books: Update version string.
  .gitlab-ci.yml
  CHANGELOG.md
  CMakeLists.txt
  conanfile.py
Due: cmake-format

:wrench: Separate unit tests and benchmarks in CI.
  .devcontainer/devcontainer.json
  .gitlab-ci.yml
  test/CMakeLists.txt
Due: cmake-format

:wrench: Reconfigure CI of MSVC temporarily disabling benchmarks.
  .gitlab-ci.yml
Due: none

:books: Update CHANGELOG.
  CHANGELOG.md
Due: none

:books: Update version string.
  .gitlab-ci.yml
  CMakeLists.txt
  conanfile.py
Due: cmake-format

:bug: Fix configuration of Conan package.
  .gitlab-ci.yml
Due: none

:sparkles: Add format_dense_matrix function.
  .gitignore
  .pre-commit-config.yaml
  CMakeLists.txt
  conanfile.py
  include/num_collect/util/format_dense_matrix.h
  test/CMakeLists.txt
  test/include/catch2/catch.hpp
  test/units/CMakeLists.txt
  test/units/test_main.cpp
  test/units/util/approvals/format_dense_matrix_test.num_collect__util__format_dense_matrix.format_dynamic_matrix.multiple_line.approved.txt
  test/units/util/approvals/format_dense_matrix_test.num_collect__util__format_dense_matrix.format_dynamic_matrix.one_line.approved.txt
  test/units/util/format_dense_matrix_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add format_dense_vector function.
  include/num_collect/util/format_dense_vector.h
  test/units/util/approvals/format_dense_vector_test.num_collect__util__format_dense_vector.format_dynamic_vector.approved.txt
  test/units/util/format_dense_vector_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Add format_sparse_matrix function.
  include/num_collect/base/concepts/sparse_matrix.h
  include/num_collect/util/format_dense_vector.h
  include/num_collect/util/format_sparse_matrix.h
  test/units/base/concepts/sparse_matrix_test.cpp
  test/units/base/source_list.cmake
  test/units/base/unity_source.cpp
  test/units/util/approvals/format_sparse_matrix_test.num_collect__util__format_sparse_matrix.format.multiple_line.approved.txt
  test/units/util/approvals/format_sparse_matrix_test.num_collect__util__format_sparse_matrix.format.one_line.approved.txt
  test/units/util/format_sparse_matrix_test.cpp
  test/units/util/source_list.cmake
  test/units/util/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:wrench: Update issue template.
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Feature.md
  .gitlab/issue_templates/Task.md
Due: none

:books: Fix existing documents.
  .vscode/settings.json
  doc/doxygen/namespaces.h
  doc/sphinx/start_auto_build.sh.in
  include/num_collect/regularization/concepts/explicit_regularized_solver.h
Due: clang-format

:books: Design of classes for regularization using L1 norm.
  doc/sphinx/src/basic_design/regularization.rst
Due: none

:sparkles: Implement FISTA.
  doc/articles.bib
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/implicit_regularized_solver_base.h
  include/num_collect/regularization/iterative_regularized_solver_base.h
Due: clang-format

:recycle: Minor fixes.
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/implicit_regularized_solver_base.h
  include/num_collect/regularization/iterative_regularized_solver_base.h
Due: clang-format

:white_check_mark: Configure OpenMP in unit tests.
  test/units/catch_event_listner.cpp
Due: clang-format, update-unity-source-in-unit-test

:books: Fix documentation.
  include/num_collect/regularization/fista.h
Due: clang-format

:white_check_mark: Test of fista class.
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/iterative_regularized_solver_base.h
  problems/include/num_prob_collect/regularization/sparse_blur_matrix.h
  test/units/regularization/approvals/fista_test.num_collect__regularization__fista.solve.approved.txt
  test/units/regularization/fista_test.cpp
  test/units/regularization/source_list.cmake
  test/units/regularization/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:recycle: Refactor test.
  test/units/regularization/fista_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:bug: Stop use of thread sanitizer.
  .gitlab-ci.yml
  doc/adr/0005-Remove-thread-sanitizer.md
Due: none

:recycle: Update logs of iterations in fista.
  include/num_collect/regularization/fista.h
  include/num_collect/regularization/implicit_regularized_solver_base.h
  include/num_collect/regularization/iterative_regularized_solver_base.h
Due: clang-format

:wrench: Update dependencies.
  Pipfile.lock
  conanfile.py
Due: none

:wrench: Tune VSCode configuration.
  .vscode/cmake-variants.yaml
  .vscode/settings.json
Due: none

:wrench: Fix CMake configuration.
  .vscode/cmake-variants.yaml
Due: none

:rotating_light: Fixed warnings on MSVC.
  problems/include/num_prob_collect/regularization/sparse_blur_matrix.h
  test/units/auto_diff/forward/variable_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:wrench: Update Docker image for development.
  .devcontainer/Dockerfile
Due: none

:wrench: Update Python packages.
  Pipfile.lock
Due: none

:wrench: Update Docker images in CI.
  .gitlab-ci.yml
Due: none

:wrench: Update ApprovalTests.
  conanfile.py
Due: none

:wrench: Tune VSCode configuration.
  .vscode/settings.json
Due: none

:wrench: Install Conan packages for tests only if needed.
  .gitlab-ci.yml
  conanfile.py
  scripts/install_conan_dependencies.py
Due: none

:wrench: Enable sanitizers only in unit tests.
  .gitlab-ci.yml
  .vscode/cmake-variants.yaml
  .vscode/settings.json
  CMakeLists.txt
  cmake/ConfigureSanitizer.cmake
  test/units/CMakeLists.txt
Due: cmake-format

:sparkles: Introduce png++ and implement a program to write an image.
  CMakeLists.txt
  conanfile.py
  examples/regularization/CMakeLists.txt
  examples/regularization/sparse_image_regularization.cpp
Due: clang-format, cmake-format

:books: Example of regularization of noizy image using FISTA.
  examples/regularization/sparse_image_regularization.cpp
Due: clang-format

:zap: Introduce profiling using gperftools.
  .devcontainer/Dockerfile
  .gitignore
  .vscode/cmake-variants.yaml
  .vscode/settings.json
  CMakeLists.txt
  README.md
  profiling/CMakeLists.txt
  profiling/opt/CMakeLists.txt
  profiling/opt/adaptive_diagonal_curves.cpp
Due: clang-format, cmake-format

:bug: Prevent errors due to libunwind.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  profiling/opt/CMakeLists.txt
  profiling/opt/adaptive_diagonal_curves.cpp
Due: clang-format, cmake-format

Path conditions:
  clang-format: any of: \.(h|cpp)$
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$
  update-unity-source-in-unit-test: any of: test/units/.*\.cpp$
