Repository MusicScience37/numerical-collection-cpp: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-unity-source-in-unit-test

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: pipenv run cmake-format -i

update-unity-source-in-unit-test:
  name: update-unity-source-in-unit-test
  description: Update the source code for the unity build of unit tests.
  language: system
  entry: pipenv run python test/units/create_unity_file.py

:wrench: Prevent multiple tries of static analysis in CI.
  .gitlab-ci.yml
Due: none

:recycle: Applied IWYU to ode module.
  include/num_collect/ode/impl/bicgstab.h
  include/num_collect/ode/impl/gmres.h
  include/num_collect/ode/rosenbrock/bicgstab_rosenbrock_equation_solver.h
  include/num_collect/ode/runge_kutta/ark43_esdirk_formula.h
  include/num_collect/ode/runge_kutta/ark54_esdirk_formula.h
  include/num_collect/ode/runge_kutta/esdirk45_formula.h
  include/num_collect/ode/runge_kutta/sdirk4_formula.h
  scripts/check_iwyu.py
  test/units/ode/impl/bicgstab_test.cpp
  test/units/ode/impl/gmres_test.cpp
  test/units/ode/runge_kutta/ark43_erk_formula_test.cpp
  test/units/ode/runge_kutta/dopri5_formula_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:books: Fix in/out specification.
  include/num_collect/ode/impl/bicgstab.h
Due: clang-format

:recycle: Common base class of Rosenbrock formulas.
  include/num_collect/ode/formula_base.h
  include/num_collect/ode/rosenbrock/rodasp_formula.h
  include/num_collect/ode/rosenbrock/rodaspr_formula.h
  include/num_collect/ode/rosenbrock/ros34pw3_formula.h
  include/num_collect/ode/rosenbrock/ros3w_formula.h
  include/num_collect/ode/rosenbrock/rosenbrock_formula_base.h
Due: clang-format

:books: Update CHANGELOG.
  CHANGELOG.md
Due: none

:rotating_light: Removed warnings.
  .clang-tidy
  .vscode/cmake-variants.yaml
  CMakeLists.txt
  include/num_collect/interp/kernel/rbf_kernel.h
  include/num_collect/ode/embedded_solver.h
  include/num_collect/ode/initial_step_size_calculator.h
  include/num_collect/ode/solver_base.h
  include/num_collect/regularization/fista.h
  problems/include/num_prob_collect/ode/autonomous_external_force_vibration_problem.h
  test/bench/regularization/blur_sine_test.cpp
  test/units/base/concepts/invocable_as_test.cpp
  test/units/logging/iteration_logger_test.cpp
  test/units/ode/inexact_newton_update_equation_solver_test.cpp
  test/units/util/comparators_test.cpp
  test/units/util/concepts/comparable_test.cpp
  test/units/util/concepts/rhs_comparable_test.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:wrench: Configure CI for releases.
  .gitlab-ci.yml
  CMakeLists.txt
  conanfile.py
  doc/sphinx/src/release_notes/v0.5.0a1.md
Due: cmake-format

:books: Fix error of sphinx.
  doc/sphinx/src/index.rst
  doc/sphinx/src/release_notes/index.rst
Due: none

:bug: Fix CI configuration.
  .gitlab-ci.yml
Due: none

:books: Update version string.
  .gitlab-ci.yml
  conanfile.py
  doc/sphinx/src/release_notes/index.rst
  doc/sphinx/src/release_notes/v0.5.0a2.md
Due: none

:books: Move existing release notes.
  doc/sphinx/src/release_notes/index.rst
  doc/sphinx/src/release_notes/old.md
  doc/sphinx/src/release_notes/v0.5.0.md
Due: none

:books: Write a link to release notes.
  CHANGELOG.md
Due: none

:books: Update release note.
  doc/sphinx/src/release_notes/v0.5.0.md
Due: none

:wrench: Refactor CI configuration.
  .gitlab-ci.yml
Due: none

:wrench: Change CI configuration to require static analysis to succeed.
  .gitlab-ci.yml
Due: none

:wrench: Remove old configuration for clang-tidy.
  .cmake-format.py
  CMakeLists.txt
  cmake/ConfigureClangTidy.cmake
  cmake/clang-tidy-tee.bat
  test/units/CMakeLists.txt
Due: cmake-format

:construction: Implementing an example to solve 1-dimensional wave equation.
  examples/CMakeLists.txt
  examples/pde/CMakeLists.txt
  examples/pde/fd_rodasp_wave1d.cpp
  examples/pde/fd_rodasp_wave1d.toml
  include/num_collect/ode/concepts/multi_variate_problem.h
  include/num_collect/ode/rosenbrock/rodasp_formula.h
  include/num_collect/ode/rosenbrock/rodaspr_formula.h
  include/num_collect/ode/rosenbrock/ros34pw3_formula.h
  include/num_collect/ode/rosenbrock/ros3w_formula.h
Due: clang-format, cmake-format

:books: Plot of the result.
  examples/interp/kernel/rbf_1dim.cpp
  examples/pde/fd_rodasp_wave1d.cpp
  examples/pde/fd_rodasp_wave1d.toml
Due: clang-format

:recycle: Move the problem to problems directory.
  .vscode/settings.json
  examples/pde/fd_rodasp_wave1d.cpp
  problems/include/num_prob_collect/ode/string_wave_1d_problem.h
Due: clang-format

:recycle: Support of ODE problems without Jacobians in default_rosenbrock_equation_solver.
  examples/pde/fd_rodasp_wave1d.cpp
  include/num_collect/ode/rosenbrock/default_rosenbrock_equation_solver.h
  test/units/ode/rosenbrock/default_rosenbrock_equation_solver_test.cpp
Due: clang-format, update-unity-source-in-unit-test

:zap: Benchmark of solving PDE.
  problems/include/num_prob_collect/ode/string_wave_1d_problem.h
  test/bench/ode/CMakeLists.txt
  test/bench/ode/string_wave_1d_test.cpp
Due: clang-format, cmake-format

:zap: Prevent large step sizes in benchmarks of wave equation.
  test/bench/ode/diagram_common.h
  test/bench/ode/string_wave_1d_test.cpp
Due: clang-format

:wrench: Refactored CI configuration.
  .gitlab-ci.yml
Due: none

:wrench: Add GCC12 in CI.
  .gitlab-ci.yml
Due: none

:wrench: Update Python packages.
  .devcontainer/Dockerfile
  .gitlab-ci.yml
  Pipfile.lock
Due: none

:bug: Workaround of error when building documents.
  Pipfile
  Pipfile.lock
Due: none

:sparkles: Support mass in scalar_rosenbrock_equation_solver.
  doc/sphinx/src/basic_design/uml/ode/formula_and_problems.puml
  include/num_collect/ode/concepts/mass_problem.h
  include/num_collect/ode/rosenbrock/scalar_rosenbrock_equation_solver.h
  problems/include/num_prob_collect/ode/implicit_exponential_problem.h
  test/units/ode/integ/approvals/implicit_exponential_problem_test.num_collect__ode__rosenbrock__rodasp_solver_num_prob_collect__ode__implicit_exponential_problem_.solve_till.approved.txt
  test/units/ode/integ/implicit_exponential_problem_test.cpp
  test/units/ode/rosenbrock/scalar_rosenbrock_equation_solver_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:sparkles: Support of mass in lu_rosenbrock_equation_solver.
  include/num_collect/ode/rosenbrock/lu_rosenbrock_equation_solver.h
  problems/include/num_prob_collect/ode/implicit_kaps_problem.h
  test/units/ode/integ/approvals/implicit_kaps_problem_test.implicit_kaps_problem_+_lu_rosenbrock_equation_solver_+_RODASP.epsilon_=_0.0001.approved.txt
  test/units/ode/integ/approvals/implicit_kaps_problem_test.implicit_kaps_problem_+_lu_rosenbrock_equation_solver_+_RODASP.epsilon_=_0.1.approved.txt
  test/units/ode/integ/approvals/implicit_kaps_problem_test.implicit_kaps_problem_+_lu_rosenbrock_equation_solver_+_RODASP.epsilon_=_0_(index_=_1.approved.txt
  test/units/ode/integ/approvals/implicit_kaps_problem_test.implicit_kaps_problem_+_lu_rosenbrock_equation_solver_+_RODASP.epsilon_=_1.approved.txt
  test/units/ode/integ/approvals/implicit_kaps_problem_test.implicit_kaps_problem_+_lu_rosenbrock_equation_solver_+_RODASPR.epsilon_=_0.0001.approved.txt
  test/units/ode/integ/approvals/implicit_kaps_problem_test.implicit_kaps_problem_+_lu_rosenbrock_equation_solver_+_RODASPR.epsilon_=_0.1.approved.txt
  test/units/ode/integ/approvals/implicit_kaps_problem_test.implicit_kaps_problem_+_lu_rosenbrock_equation_solver_+_RODASPR.epsilon_=_0_(index_=_1.approved.txt
  test/units/ode/integ/approvals/implicit_kaps_problem_test.implicit_kaps_problem_+_lu_rosenbrock_equation_solver_+_RODASPR.epsilon_=_1.approved.txt
  test/units/ode/integ/implicit_kaps_problem_test.cpp
  test/units/ode/source_list.cmake
  test/units/ode/unity_source.cpp
Due: clang-format, cmake-format, update-unity-source-in-unit-test

:books: Remove a wrong comment.
  include/num_collect/ode/rosenbrock/mixed_broyden_rosenbrock_equation_solver.h
Due: clang-format

:zap: Benchmark of Rosenbrock method for implicit problem.
  test/bench/ode/CMakeLists.txt
  test/bench/ode/implicit_kaps_problem_test.cpp
Due: clang-format, cmake-format

:books: Updated release note for release.
  doc/sphinx/src/release_notes/v0.5.0.md
Due: none

:books: Update version in repository.
  .gitlab-ci.yml
  conanfile.py
Due: none

:books: Make release note for the next release.
  doc/sphinx/src/release_notes/index.rst
  doc/sphinx/src/release_notes/v0.6.0.md
Due: none

:recycle: Change format of console log.
  include/num_collect/logging/impl/colored_log_formatter.h
  test/integ/logging/approvals/write_logs_test.write_logs.to_console.approved.txt
Due: clang-format

:books: Update release note.
  doc/sphinx/src/release_notes/v0.6.0.md
Due: none

:white_check_mark: Rewrite test of console logs.
  .vscode/settings.json
  Pipfile
  Pipfile.lock
  test/CMakeLists.txt
  test/integ/CMakeLists.txt
  test/integ/logging/CMakeLists.txt
  test/integ/logging/approvals/write_logs_test.write_logs.to_console.approved.txt
  test/integ/logging/approvals/write_logs_test.write_logs.to_file.approved.txt
  test/integ/logging/write_logs_test.cpp
  test/integ/logging_test/CMakeLists.txt
  test/integ/logging_test/__init__.py
  test/integ/logging_test/approvals/console_log_test.test_trace_log.approved.txt
  test/integ/logging_test/approvaltests_config.json
  test/integ/logging_test/config/console_log_trace.toml
  test/integ/logging_test/conftest.py
  test/integ/logging_test/console_log_test.py
  test/integ/logging_test/create_timestamp_scrubber.py
  test/integ/logging_test/writer.cpp
Due: clang-format, cmake-format

:bug: Directory path was somehow parsed as a configuration file.
  include/num_collect/logging/load_logging_config.h
  test/integ/logging_test/approvals/console_log_test.test_trace_log.approved.txt
  test/integ/logging_test/approvals/invalid_config_test.test_directory.approved.txt
  test/integ/logging_test/create_scrubber.py
  test/integ/logging_test/create_timestamp_scrubber.py
  test/integ/logging_test/invalid_config_test.py
  test/integ/logging_test/writer.cpp
Due: clang-format

:bug: Ignore columns in file location because of poor support of them.
  test/integ/logging_test/approvals/invalid_config_test.test_directory.approved.txt
  test/integ/logging_test/create_scrubber.py
Due: none

:white_check_mark: Test of file logs.
  test/integ/logging_test/approvals/file_log_test.test_trace_log.approved.txt
  test/integ/logging_test/config/file_log_trace.toml
  test/integ/logging_test/create_scrubber.py
  test/integ/logging_test/file_log_test.py
  test/integ/logging_test/invalid_config_test.py
Due: none

:wrench: Remove Boost dependency.
  CMakeLists.txt
  conanfile.py
  scripts/install_conan_dependencies.py
Due: cmake-format

Path conditions:
  clang-format: any of: \.(h|cpp)$
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$
  update-unity-source-in-unit-test: any of: test/units/.*\.cpp$
